[2015-02-06 18:46] benplumley commented on #5438
The following doesn't work now or before I changed `editor` to `atom-text-editor`.

    .atom-text-editor .cursor {
      border-color: lime;
      border-left-width: 2px;
      margin-left: -1px;
    }

    .bracket-matcher {
      background-color: #49483E;
      border: 1px dotted lime;
    }

    .atom-text-editor.is-focused .cursor {
      transition: opacity .2s;
      &.blink-off {

[2015-02-06 18:50] valsamakis commented on #3869
Yes I think this is the case. Brackets is a little better

[2015-02-06 19:18] Arcath commented on #5416
Yeah I've opened a pull request with a fix in, seems pretty easy to fix with settings-view

https://github.com/atom/settings-view/pull/371

[2015-02-06 20:00] 50Wliu commented on #5438
`atom-text-editor`, not `.atom-text-editor`.

[2015-02-06 20:12] GeoffreyPlitt commented on #4710
Happens to me all the time. How best to capture logs/debug info and share here?

[2015-02-06 20:20] jonathandelgado commented on #2887
I had the same issue with this, doing something like the following fixes it.

[code]

[2015-02-06 20:49] curtiszimmerman commented on #5121
And just to follow up. This morning when I got into the office, I fired up Atom and I'm not getting the error any longer (and can open files and use the editor as normal). I tried disabling a bunch of packages, rebooting a couple of times in the process, and still had this error. The only thing I can think of is that here at the office I'm using an external laptop dock that feeds four monitors, an

[2015-02-06 20:52] kevinsawicki commented on #5438
Good :eyes: @50Wliu, yeah, it needs to be an element selector, `atom-text-editor`.

Closing this out.

[2015-02-06 20:52] #5438 closed

[2015-02-06 20:53] kevinsawicki commented on #5434
Duplicate of #4806

[2015-02-06 20:53] #5434 closed

[2015-02-06 21:09] benplumley commented on #5438
Good spot, but no fix. Removing the dots does nothing, and `.bracket-matcher` shouldn't be affected because it's not inside `atom-text-editor`.

[2015-02-06 21:10] kevinsawicki commented on #5438
Try this:

[code]

[2015-02-06 21:11] kevinsawicki commented on #5438
And this:

[code]

[2015-02-06 21:12] kevinsawicki commented on #5438
This is related to https://github.com/atom/deprecation-cop/issues/18

[2015-02-06 21:17] benplumley commented on #5438
What about

    atom-text-editor .wrap-guide {
        background-color: #282828;
    }

I've tried sticking `::shadow` in there but it doesn't change. This has also given the bracket matcher some funky formatting but that's another issue.

[2015-02-06 21:18] jessegrosjean commented on #3695
I think maybe related is the fact that serialization happens before packages are activated. In Atom.startEditorWindow the sequence is:

[code]

This creates some problems. Since for example I register my viewProviders when my package activates. So as things currently stand deserialization fails for my view since it's not yet registered when deserialization takes place.

[2015-02-06 21:23] kevinsawicki commented on #5438
This wrap-guide CSS works for me:

[code]

[2015-02-06 21:25] icewind opened #5439 "Cannot delete files from mounted volume"
Hi. I have faced a problem deleting a files located on a folder mounted through the sshfs. Atom wants to move files to trash and it is, obviously, not possible.
Is there an option to enable permanent deleting when moving to trash is unavailable or just force to delete permanently every time.
Thanks.

[2015-02-06 21:29] benplumley commented on #5438
Funny, I replaced mine with that in case there was a subtle difference and it didn't change. If it's not reproducible then I'm not too worried, it'll probably fix itself after an update.

[2015-02-06 21:31] kevinsawicki commented on #5438
I wonder if this could be at all related to https://github.com/atom/atom/issues/5337

[2015-02-06 21:38] kevinsawicki commented on #5409
This will be added as part of https://github.com/atom/atom/issues/770

[2015-02-06 21:38] #5409 closed

[2015-02-06 22:17] mark-hahn commented on #5433
The second part of what you are asking for is in my package
`find-selection`.  I'm pretty sure the first part is available because I
used to use it in Atom.

On Fri, Feb 6, 2015 at 7:02 AM, Wliu <notifications@github.com> wrote:

[2015-02-06 22:18] kevinsawicki commented on #5433
Yeah, I believe this is a duplicate of https://github.com/atom/find-and-replace/issues/138

[2015-02-06 22:18] #5433 closed

[2015-02-07 01:29] harai commented on #5366
@glennlopez @hatzopoulos Thanks for telling the issue to me.
I've created a new issue for this problem as harai/indent-guide-improved#5.

[2015-02-07 03:12] nickckaye opened #5441 "Uncaught Error: error evaluating function `darken`: Cannot read property 'toHSL' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: error evaluating function `darken`: Cannot read property 'toHSL' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-07 03:13] nickckaye commented on #5441
Autocomplete typing a `darken(..` function in a LESS file.

[2015-02-07 03:13] nickckaye opened #5442 "Uncaught Error: variable @bran is undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: variable @bran is undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-07 03:13] nickckaye commented on #5442
Autocomplete typing a `darken(..` function in a LESS file.

[2015-02-07 03:14] nickckaye opened #5443 "Uncaught Error: variable @brand-pop-color is undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: variable @brand-pop-color is undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-07 03:14] nickckaye commented on #5443
Autocomplete typing a `darken(..` function in a LESS file.

[2015-02-07 03:16] nickckaye opened #5444 "Uncaught Error: error evaluating function `darken`: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: error evaluating function `darken`: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-07 03:17] nickckaye commented on #5444
In the middle of editing a `darken()` and it's empty at this moment.

[2015-02-07 03:55] mnquintana commented on #5443
Was this in `styles.less`?

[2015-02-07 07:56] curtiszimmerman commented on #5121
Interesting. So I had the same problem when I started using the regular display versus using multiple displays via the laptop dock at the office (giving the same ish stack trace), but this time some of the errors referred to [this document](https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md#typeerror-unable-to-watch-path) instructing users to increase `fs.inotify.max_user_wa

[2015-02-07 08:11] stefanikolov opened #5446 "Uncaught Error: EACCES, permission denied '/etc/apache2/envvars'"
Uncaught Error: EACCES, permission denied '/etc/apache2/envvars'

**Atom Version**: 0.153.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

[2015-02-07 10:00] gongbaodd opened #5447 "I can't run fcitx on Atom"
atom version:0.177.0
archLinux: x86_64
fcitx version: 4.2.8.5

I can use fcitx in Chrome/Chromium.But I cannot type Chinese in atom of this version.

[2015-02-07 10:23] batjko commented on #5446
Looks like you're on an old version. Could you try upgrading to (currently) v177?

That being said, the error seems to be with apache, rather than atom? Not sure why Atom would access any apache files, but I may have missed something.
What were you working on when the error occurred?

[2015-02-07 13:23] theblacklion commented on #5433
"find-selection" and "highlight-selected" were really the missing parts here. Hope they find their way into the core some time. Thanks for the hints, guys!

[2015-02-07 15:17] miixit commented on #5384
Exact same issue on Windows 8.1 since v0.177. Changing font may help a little but don't totally resolve the issue for me...

[2015-02-07 17:42] miixit commented on #5384
Reverted back to v0.176 to solve issue. Worked. Make a fresh install also resolve issue. Maybe an issue with updater or so...

[2015-02-07 18:11] postcasio commented on #5384
There was a similar issue to this reported on discuss.atom.io where the culprit was `text-rendering: optimizeLegibility;` in the user styles.

[2015-02-07 19:11] skevy commented on #5195
This happened to me as well while converting a tmLanguage from this project: https://github.com/6to5/6to5-sublime

I would love to know how I begin to debug this and figure out which regex is causing the problem.

[2015-02-07 19:42] tribut commented on #3190
Yes, still a problem with v0.177.0 built from git (5cae6f20c448fddea5dd8beeae1b26df77b05919). The deb from atom.io works fine.

[2015-02-07 20:15] 50Wliu commented on #5441
Is this reproducible in safe mode (`atom --safe`)?

[2015-02-07 20:15] 50Wliu commented on #5442
Is this reproducible in safe mode (`atom --safe`)?

[2015-02-07 20:16] 50Wliu commented on #5444
Is this reproducible in safe mode (`atom --safe`)?

I notice that in this bug report you don't have `linter-less` installed, but there still seem to be a few packages that may be causing your errors.

[2015-02-07 20:19] 50Wliu commented on #5446
It looks like @stefanikolov was just trying to open that file and got a permission error.  Those should be fixed in the latest version.

[2015-02-07 20:19] #5446 closed

[2015-02-07 22:21] aceLren commented on #3821
I'm having the same issue and it makes it impossible to use - the cursor shows up far left of where it actually is on the page; I switched to Atom for its support of ligatures (Hasklig).

[2015-02-07 22:48] jutaro commented on #3821
I would like to use Hasklig with ligatures as well. Unusable on Linux (tried with all kind of options). Please fix!

[2015-02-08 06:32] joshrowley commented on #1125
+1, just showing my support for this, great work team!

[2015-02-08 06:43] mark-hahn commented on #4744
FYI, this webview bug was fixed in version 0.177.0 if Atom.

[2015-02-08 12:47] cmtonkinson commented on #3593
Atom: 0.1770
OS: Arch Linux
Desktop: GNOME Shell 3.14.3

Same thing, every time. Note that reproduction has nothing to do with how Atom is started (e.g. by the terminal) it just affects whether you see this error.

[code]

[2015-02-08 15:02] hkrdrm opened #5450 "Uncaught TypeError: Cannot read property 'querySelector' of null"
Uncaught TypeError: Cannot read property 'querySelector' of null

**Atom Version**: 0.153.0
**System**: linux 3.13.0-44-generic
**Thrown From**: [color-picker](https://github.com/thomaslindstrom/color-picker) package

[2015-02-08 16:19] #4744 closed

[2015-02-08 16:19] 50Wliu commented on #4744
Thanks @mark-hahn.

[2015-02-08 16:21] 50Wliu commented on #5450
Could you please upgrade Atom and all your packages to the latest versions and see if you can still reproduce this?

[2015-02-08 16:35] hkrdrm commented on #5450
that fixed it thanks

[2015-02-08 16:35] #5450 closed

[2015-02-08 16:47] #5036 closed

[2015-02-08 17:12] HcDevel opened #5451 "Uncaught Error: EROFS, read-only file system '/media/robin/C8D0-CCC5/cmdline.txt'"
It seems that write protected files aren't handled correctly

**Atom Version**: 0.165.0
**System**: linux 3.13.0-37-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: EROFS, read-only file system '/media/robin/C8D0-CCC5/cmdline.txt'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-08 17:39] artiifix commented on #3622
I'm having the same issue (Atom `0.174.0` on Arch Linux with i3 WM `4.8`):
When Atom loses focus (I usually press a key combination to switch between windows) and I move the mouse afterwards, then when I switch back to Atom, the cursor disappears until I click the editor. But I can still move the cursor around using the keyboard.
The following workaround makes the cursor show even if Atom isn't fo

[2015-02-08 19:56] m1ga opened #5453 "KDE taskswitcher takes longer if Atom is open"
I have a strange "problem":

when I have Firefox and Kontact open the Taskswitcher (Alt+Tab) opens immediately. When I have atom open it takes longer (most a second). Could it be that the icon is too large/complex (svg?).

Its not a big deal but perhaps this could be easily improved and it feels better to switch tasks.

Atom 0.178.0-9105348
KDE 4.14.3

[2015-02-08 20:13] developit commented on #5384
@postcasio Thank you for that tip-off, that was my issue as well! It was causing strange things like overlapping single quotes.  FWIW, `-webkit-font-smoothing: antialiased;` seems to replicate the text rendering style without triggering the odd rendering.

[2015-02-08 20:50] Stanzilla commented on #1603
+1

[2015-02-08 21:35] jonmagic opened #5454 "How do I remove commands when I deactivate a package?"
I can't seem to figure out how to remove commands I added using `atom.commands.add` from the command registry later when I deactivate a package. Is this a design decision or would you be open to a PR adding an `atom.commands.remove` feature?

[2015-02-08 21:42] steelbrain commented on #5454
[code]

[2015-02-08 21:53] jonmagic commented on #5454
Ahhh :) ok cool, thanks!

[2015-02-08 21:53] #5454 closed

[2015-02-08 22:04] batjko commented on #5451
Does this still happen after upgrading to the latest version (currently v177)?

[2015-02-08 22:08] StatelessCat commented on #3278
Atom ver: v0.177.0
System :  ArchLinux
Desktop Env : KDE 14.12 with Plasma5

I have the same issue when doing <ALT><TAB>, the cursor disappears.

[2015-02-09 01:31] cmtonkinson commented on #3622
Nice workaround @artiifix. At least we've got a stop-gap until the underlying problem is addressed.

[2015-02-09 02:38] 50Wliu commented on #5451
Yeah, going to close this since permission errors are now handled much better now and I believe that read-only files can now be opened correctly.

[2015-02-09 02:38] #5451 closed

[2015-02-09 04:48] AgentME opened #5455 "Website: can't find builds for other platforms"
I was thinking about recommending Atom to a friend, and I went to the https://atom.io/ to see if there were Windows builds. The site saw I was on Linux, showed me the .deb and .rpm links, and a link for "Other platforms". That page contained this text:

but doesn't link to them or really inspire confidence that they do exist somewhere. It seems like I'd be out of luck if I wanted to save one of th

[2015-02-09 04:59] mehcode commented on #5455
I'd bet that they are using the user agent and only showing downloads for your platform. However I think that the *Other Platforms* button should take me to somewhere that have download buttons for other platforms.

[2015-02-09 05:33] lee-dohm commented on #5455
You can find the installers and all of the built versions on the releases page here on the repository:

https://github.com/atom/atom/releases

[2015-02-09 05:44] blakel11 opened #5456 "Uncaught Error: ENOENT, no such file or directory '/Users/blakelieberman/.atom/packages/atom-development-server/node_modules/livereload/lib/../ext/livereload.js'"
[Enter steps to reproduce below:]

1.Run livereload
2. ...

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Users/blakelieberman/.atom/packages/atom-development-server/node_modules/livereload/lib/../ext/livereload.js'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2015-02-09 05:53] mehcode commented on #5455
@lee-dohm That's not the point. The point is the *website* doesn't show it.

[2015-02-09 06:18] thedaniel commented on #5455
![screen shot 2015-02-08 at 10 18 24 pm](https://cloud.githubusercontent.com/assets/1476/6101862/74404b84-afe0-11e4-9ae2-1991099d0c38.png)

[2015-02-09 06:34] batjko commented on #5456
Sounds like it may be an issue best placed on the [livereload](https://github.com/taggon/livereload/issues) package's repository.

[2015-02-09 06:36] blakel11 commented on #5456
Thanks

[2015-02-09 06:38] batjko commented on #5455
Interestingly, the "Other platforms" link leads to the 'Building' section of the instructions.

It would indeed make sense to just have a direct link to the other installers, either the ['Installing' section](https://github.com/atom/atom/blob/master/README.md#installing) instead, or maybe the releases page for the current version.

[2015-02-09 06:39] thedaniel commented on #5455
That makes sense - that was last updated when there was only an installer for OS X.

[2015-02-09 07:19] mattpwest commented on #5431
As mentioned in a PM, 0.153 was not actually the latest version...

I now have a 0.177 installation and the problem seems to have gone away again.

[2015-02-09 07:19] #5431 closed

[2015-02-09 08:22] Chris2011 opened #5457 "Can't navigate with ctrl key"
In maybe each applications, like notepad++, Netbeans IDE, Browser, Sublime Text and so on, I can navigate through words with holding ctrl key. I can use ctrl + backspace to delete the word before the cursor and ctrl + del to delete the word after the cursor. All this functionality is not possible inside atom. I use windows 7 64bit. I figured out, that ctrl + del is the same as ctrl + backspace, bu

[2015-02-09 08:23] kgrossjo opened #5458 "Feature request: "Really close?" popup keyboard shortcuts"
When I close an unsaved file, I get a popup saying "foo has changes, do you want to save them?".  The popup has three buttons "Save", "Cancel" and "Don't Save".

The standard Windows dialog for this allows me to hit n to select Don't Save.

WIBNI Atom would allow me to do the same, at least on Windows?

[2015-02-09 09:00] lee-dohm commented on #5455
@thedaniel On OS X, the "Other platforms" link just leads to the [FAQ](https://atom.io/faq).

[2015-02-09 09:00] icewind commented on #5439
Hello. AFAIR there is no function to actually delete files in the atom-shell? I have found method MoveItemToTrash and implementations for all platforms. This is a blocking feature for me. All my development envs installed in a virtual machines and mounted locally through sshfs. I think this is a common pattern for a server-side development.
How can i help to bring this functionality faster?

[2015-02-09 09:09] basarat opened #5459 "System.IO.DirectoryNotFoundException: Could not find a part of the path"
This may not be distinct from "path too long exception" (tracked in https://github.com/atom/atom/issues/5109). But "path too long" it is no where to be found in this error log (possibly same cause though).

[code]

[2015-02-09 09:17] kevinSuttle opened #5460 ".atomrc?"
Wondering if it would be easier to have an `~.atomrc` file instead of the 5 config files and extra folders in `~/.atom`. Could be easier to sync and keep in git perhaps. Open Atom, give it a gist or repo URL with your `.atomrc` file in it. :boom:

On second thought, I guess customization would become a lot harder if the `.atomrc` route was taken. Maybe just keeping those 5 config files separate wo

[2015-02-09 09:27] icewind commented on #5460
+1 would be a way more comfortable

[2015-02-09 09:43] izuzak commented on #5459
ApplyReleasesImpl: Writing files to app directory: C:\Users\_actual_user_name_\AppData\Local\atom\app-0.177.0
IEnableLogger: Failed to write file: C:\Users\_actual_user_name_\AppData\Local\atom\app-0.177.0: System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Users\_actual_user_name_\AppData\Local\Temp\nuget\ebhccch5.z4a\lib\net45\resources\app\node_modules\jasmine-tagged\no

[2015-02-09 10:31] abe33 commented on #5457
Are you sure you haven't some keybinding that overrides the defaults? Looking at the keymap file for windows there's the proper bindings for text editor navigation: https://github.com/atom/atom/blob/master/keymaps/win32.cson#L81-L86

[2015-02-09 10:53] Chris2011 commented on #5457
Thx, I will have a look. I installed atom and 2 plugins for show open files and the minimap, nothing more.

[2015-02-09 10:54] DLade opened #5461 "Key-bindings are using the english keyboard"
I'm using a german keyboard, but the key-bindings are mapped to english keyboard.

For exampel "toggle comment" is set to CTRL-/, though I need to press CTRL-# (because on the english keyboard the / is here). But on the german keyboard "/" is SHIFT-7, therefore "toggle comment" shall be CTRL-SHIFT-7.

english: "toggle comment" - CTRL-/
german: "toggle comment" - CTRL-SHIFT-7

[2015-02-09 11:10] DLade opened #5462 "A lot of key-bindings are NOT shown in the menu"
I miss a lot of key-bindings shown in the menu - maybe there is a way to read the original keymappings and show them in menue.

[2015-02-09 11:48] izuzak commented on #5462
This is similar to https://github.com/atom/atom/issues/5343, but that issue is just about the View > Panes keybindings. There are many more missing and not just multi-stroke keybindings as far as I can tell (https://github.com/atom/atom/issues/5343#issuecomment-72579184). For example, the keybinding for Select All is missing (`cmd-a`):

![screen shot 2015-02-09 at 12 29 07](https://cloud.githubuse

[2015-02-09 11:55] stebru opened #5463 "Unchecking `Show Invisibles` has no effect in js files"
Version 0.177.0 (0.177.0)
Mac OS X 10.10.2

https://gyazo.com/5951801f91f908b6e370b6083eea9273
https://gyazo.com/e4f44be12c4c6199f12824f2c1461cb7

[2015-02-09 11:58] izuzak commented on #5442
Looks like a dupe of https://github.com/atom/atom/issues/5443, so closing this one.

[2015-02-09 11:58] #5442 closed

[2015-02-09 12:09] izuzak commented on #5443
@nickckaye I'm having trouble reproducing this.

Can you please share which steps exactly reproduce the error for you in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)? A specific example might be useful as well.

[2015-02-09 12:14] izuzak commented on #5463
I'm having trouble reproducing this.

Can you reproduce this in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)? Is this happening only for some JS files or all JS files? Is it happening for other file types? Is this happening only in one project or all projects?

[2015-02-09 12:15] Gouvi opened #5464 "Failed to spawn command"
Most likely an error on my behalf but I have tried to remove all traces of Atom, performed a fresh install and am still receiving:

`Failed to spawn command`
`C:\Users\<user>\AppData\Local\atom\app-0.177.0\resources\app\apm\bin\apm.cmd`
`.make sure `
`C:\Users\<user>\AppData\Local\atom\app-0.177.0\resources\app\apm\bin\apm.cmd`
`is installed and on your PATH`

I have added it to my path, other tha

[2015-02-09 12:20] izuzak commented on #5464
@Gouvi What did you do exactly to trigger that error? When does it happen?

[2015-02-09 12:26] Gouvi commented on #5464
It triggers any time I load Atom.

It started happening when I tried installing a package, php-lint I believe, not 100% sure package could have possibly caused it.

[2015-02-09 12:27] izuzak commented on #5456
Yep, please re-open on livereload's issue tracker and report back here if there does seem to be an issue with Atom here.

[2015-02-09 12:27] #5456 closed

[2015-02-09 12:30] izuzak commented on #5464
@Gouvi Does Atom load and then you see the error or it doesn't load at all? Can you try running Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-02-09 12:32] izuzak commented on #5447
@gongbaodd Can you clarify what fcitx is exactly (I've never heard about it) and why you can't use it in Atom (are you seeing an error or some other unexpected behavior)? Sharing more details and perhaps a screenshot would be helpful.

[2015-02-09 12:36] Gouvi commented on #5464
Atom loads and I can use it fine with the exception of accessing packages. When accessing packages it simply reproduces the error with another dialogue box and console error.

Dialogue box:
![failed to spawn command](https://cloud.githubusercontent.com/assets/6964274/6106268/ed20129a-b09a-11e4-819b-35b690af156a.PNG)

Console error:
![console](https://cloud.githubusercontent.com/assets/6964274/6106

[2015-02-09 12:37] izuzak commented on #5444
Seems like you have or had the https://github.com/Glavin001/atom-preview package installed and it's causing problems. Let us know if you can reproduce in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode).

[2015-02-09 12:37] #5444 closed

[2015-02-09 12:37] izuzak commented on #5441
Seems like you have or had the https://github.com/Glavin001/atom-preview package installed and it's causing problems. Let us know if you can reproduce in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode).

[2015-02-09 12:37] #5441 closed

[2015-02-09 12:38] izuzak commented on #5443
Actually, it seems that you have or had the https://github.com/Glavin001/atom-preview package installed (e.g. you uninstalled it but it's still handing around) and it's causing problems. Let us know if you can reproduce in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode).

[2015-02-09 12:38] #5443 closed

[2015-02-09 12:44] Leonard1980 commented on #5000
Thanks. No need to be sorry. I hope this will solve my issue.

[2015-02-09 12:46] izuzak commented on #5423
@envygeeks The sidebar (= the tree view) has config options of its own:

![screen shot 2015-02-09 at 13 43 49](https://cloud.githubusercontent.com/assets/38924/6106457/cc83f210-b061-11e4-97ae-dd637c3549ff.png)

Can you give those options a try and let us know if it doesn't help? Also, please provide a bit more [debugging information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitt

[2015-02-09 12:46] #5423 closed

[2015-02-09 13:10] izuzak commented on #5390
Does anyone see this problem on OSX? (I don't, but just want to make sure I'm not missing anything.)

![screen shot 2015-02-09 at 13 57 42](https://cloud.githubusercontent.com/assets/38924/6106719/3d58bfe6-b064-11e4-9ba6-db8e81cc92d8.png)

[2015-02-09 13:23] yursha commented on #5040
I had the same issue though OSX "Open in low resolution" was not checked as I installed Atom with `brew cask`. I fixed it with adding `-webkit-font-smoothing: antialiased;` to my theme.

[2015-02-09 13:36] nbhatti opened #5465 "Uncaught Error: Atom can only handle files < 2MB for now."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Atom can only handle files < 2MB for now.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-09 13:43] 50Wliu commented on #5461
Please see atom/atom-keymap#37 and atom/atom-keymap#35 for details on this.

[2015-02-09 13:43] #5461 closed

[2015-02-09 13:43] mnquintana commented on #5390
@izuzak Nope, it's just a Windows & Linux issue.

[2015-02-09 13:44] projetmbc opened #5466 "Uncaught Error: ENOENT, open 'c:\Users\noemie prime\.atom\packages\save-session\projects//Users/projetmbc/Google Drive/git/python/tools/orPyste/x-misc-x/run_all_builders.py/project.json'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT, open 'c:\Users\noemie prime\.atom\packages\save-session\projects//Users/projetmbc/Google Drive/git/python/tools/orPyste/x-misc-x/run_all_builders.py/project.json'

[code]

### Commands

[code]

### Config

[code]

### Installe

[2015-02-09 13:45] 50Wliu commented on #5465
Please upgrade Atom to the latest version and check #307 for details.

[2015-02-09 13:45] #5465 closed

[2015-02-09 13:48] 50Wliu commented on #5466
This looks like a [save-session](https://github.com/mpeterson2/save-session) bug, could you please open an issue there?

[2015-02-09 13:48] #5466 closed

[2015-02-09 13:54] projetmbc commented on #5466
That's has been done.

[2015-02-09 14:17] stebru commented on #5463
Just tried in safe mode, and the issue persists. This happens for all JS files, and no other file types. It also happens in all projects.

[2015-02-09 14:22] izuzak commented on #5463
These config options for showing invisibles are available for individual languages as well. Are you changing the global option or the one for JavaScript?

![screen shot 2015-02-09 at 15 20 15](https://cloud.githubusercontent.com/assets/38924/6107942/54326d88-b06f-11e4-8d84-480fcbca525d.png)

Can you try changing the one in the language-javascript package?

[2015-02-09 14:23] mnquintana commented on #5463
Can you go to Settings > Packages > language-javascript and see if Show Invisibles is checked there? Each language grammar has its own editor settings.

[2015-02-09 14:26] mnquintana commented on #5460
What would make this tricky though is that those 5 config files aren't all the same language – some are CSON, one is Less (or CSS), and one is CoffeeScript (or JS). I for one wouldn't want to have to try to edit CSS inside of a CSON string in an `.atomrc` file.

[2015-02-09 14:29] stebru commented on #5463
Ah, silly me. Yes, that certainly did help. Thanks :smile:

[2015-02-09 14:30] izuzak commented on #5463
Happy to hear that. :) Closing this then

[2015-02-09 14:30] #5463 closed

[2015-02-09 14:36] mnquintana commented on #5455
Related to (or duplicate of) atom/apm#266

[2015-02-09 14:39] batjko commented on #5455
Yes, although that one shouldn't have been on the apm repo. I'd close that other one instead.

[2015-02-09 14:42] mnquintana commented on #5455
@batjko, @kevinsawicki [mentioned on Discuss](https://discuss.atom.io/t/is-atom-io-atoms-website-open-sourced/14197/9?u=mnquintana) that it was better to open there than atom/atom.

[2015-02-09 14:46] batjko commented on #5455
Ah I see. Apologies, I didn't know they use that repo for the atom.io website as well.

[2015-02-09 14:53] lee-dohm commented on #5455
Ah, thanks @mnquintana! I'll close this as duplicate then since the other one is also already assigned to @thedaniel.

[2015-02-09 14:53] #5455 closed

[2015-02-09 15:08] batjko commented on #5458
Yes, Windows users are used to Yes/No/Cancel decisions (with the appropriate Y/N/C key bindings), whenever being asked anything like `"Closing this thing, do you want to save your shit?"`

[2015-02-09 15:15] lee-dohm commented on #5460
In addition to @mnquintana's points, there would still need to be an `~/.atom` directory for the `packages`, `dev/packages` and `storage` folders. There's no way that we could squash the 40 packages I have installed into a single file and make it as intelligible and flexible as the directory structure that exists now ... especially if you take into account the ease that symlinking adds to developm

[2015-02-09 15:21] Ajedi32 opened #5467 "Atom not finding package updates"
I am experiencing an issue very similar to the one described in #5213. However, I'm using a version of Atom/APM which was supposedly fixed (Atom v0.177.0, APM v1.3.4), and I'm not running a version of atom with a commit hash in the version number (as was the case in #5213).

Specifically, I'm trying to update my installation of the [web-browser][] plugin from 1.1.3 to 1.1.6. Unfortunately, neither

[2015-02-09 15:39] izuzak commented on #5467
It seems that the package in question requires an Atom version _greater than_ 0.177.0 (and you have exactly that version):

https://github.com/mark-hahn/web-browser/blob/40b80b3287ba7d5e4bf26670f14571f15d61c09b/package.json#L10

For that reason (I'm guessing) apm is refusing to install that version, but the settings view UI is allowing to install the version (but not upgrade to it from an older ve

[2015-02-09 15:39] #5467 closed

[2015-02-09 16:47] Ajedi32 commented on #5467
Ah, okay that makes sense. Might this be a bug in the package in question, given that I seem to be using the latest version of Atom?

![image](https://cloud.githubusercontent.com/assets/1876931/6110694/086b53a4-b049-11e4-9a6e-42c4b97551d6.png)

[2015-02-09 16:49] Ajedi32 commented on #5467
Also, why the inconsistent behavior between APM and Atom itself? Or are you saying that's been solved by #5417?

[2015-02-09 16:50] izuzak commented on #5467
Not sure, @Ajedi32. I'm using `0.178.0-c33b154` (that the version of the current master). You're using the latest released version, but you can get a more recent version by building yourself from source. 0.178.0 will be the next released version.

[2015-02-09 16:53] izuzak commented on #5467
Not sure, I'd say the Settings View could be improved in that aspect, so I suggested to open an issue on that package's issue tracker. (if you don't do it, I'll open one later today or tomorrow.)

No, I'm not saying that -- sorry for not explaining that reference well. That pull request references another issue in which a user noticed that he was able to install something via the Settings View but

[2015-02-09 17:06] Ajedi32 commented on #5467
Ah, okay. That's what I figured. I'll raise an issue on the `web-browser` repo, as I don't believe it was the maintainer's intention to require an unreleased version of Atom in order to use the plugin.

[2015-02-09 17:09] 50Wliu commented on #5467
@Ajedi32 I believe it was.  Web Browser depends on an unreleased fix in order to not crash, right @mark-hahn?

[2015-02-09 17:14] Ajedi32 commented on #5467
Well, as I said Atom's Settings View allowed me to install the latest version of the package anyway, despite the requirement. It doesn't seem to be crashing for me, so I assume the requirement is unnecessary. I'll wait for Mark's response here though before opening that issue.

[2015-02-09 17:16] Ajedi32 commented on #5467
Ah, okay. Now I understand what you were saying. I didn't realize the settings view was a package; I thought it was part of the core. I'll open a new issue there.

[2015-02-09 17:17] kevinsawicki commented on #5460
Yeah, @lee-dohm brings up the major points why this isn't really achievable.

It should be pretty simple to version some/all of your `~/.atom` folder using a simple [dotfiles](https://dotfiles.github.io/) repo with a `.gitignore` file that decides which pieces you want to keep there (config files, packages, etc).

[2015-02-09 17:17] #5460 closed

[2015-02-09 17:22] #5462 closed

[2015-02-09 17:29] izuzak commented on #5462
:zap: @kevinsawicki

[2015-02-09 18:21] kevinsawicki commented on #5464
@Gouvi Can you check what is in the `C:\Users\<user>\AppData\Local\atom\app-0.177.0\resources\app\apm\bin` folder?

[2015-02-09 18:23] kevinsawicki commented on #5458
/cc @zcbenz Would an atom-shell issue make sense for this?

[2015-02-09 18:50] jessebarocio commented on #2822
:+1:

[2015-02-09 18:57] izuzak commented on #5367
@xfq I'd love to improve our CONTRIBUTING docs in the near future -- thanks for these suggestions! :heart_decoration:

Just to make sure I understand your suggestion, could you clarify which workflow you're referring to exactly? I'm guessing how to submit a pull request?

[2015-02-09 19:20] 50Wliu opened #5468 "Uncaught TypeError: Cannot set property 'localAddress' of undefined"
Steps to reproduce:
1. Nothing?  I left my laptop on for a bit and it eventually went into sleep mode while I did other stuff.  Interesting information is at the bottom of this report.

**Atom Version**: 0.177.0
**System**: linux 3.13.0-43-generic (Ubuntu 14.10)
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot set property 'localAddress' of undefined

[code]

### Commands

[

[2015-02-09 19:23] 50Wliu commented on #5468
Ooh, figured out why the automatic issue creator wasn't working.
![screenshot from 2015-02-09 14 22 14](https://cloud.githubusercontent.com/assets/2766036/6113677/2006a8a6-b067-11e4-8a4d-4bf9085b4829.png)
The full URL is https://api.github.com/search/issues?q=Uncaught%20TypeError:%20Cannot%20set%20property%20%27localAddress%27%20of%20undefined%20repo:atom/atom&sort=created.

[2015-02-09 20:10] paulcbetts commented on #5459
@basarat Does this happen always for you? Or just this once?

[2015-02-09 20:14] kevinSuttle commented on #5460
Good points all around, the same conclusions I quickly came to. However, as far as packages go, couldn't we have a list, like package.json or a gemfile where we could install them later? That way, we could just store 6 text files in git. Just seems like user-specific settings should be kept separate from packages (though I realize they each have their own settings also).

[2015-02-09 20:17] mnquintana commented on #5460
@kevinSuttle You can do that with `apm list`:

`apm list --bare --installed --no-dev > atom-packages.txt`

and

`apm install --packages-file atom-packages.txt`

[2015-02-09 20:22] oclbdk opened #5469 "Overlay decorations don't overflow out of the editor"
It would be nice if overlay decorations could be positioned outside of the editor, such as for autocomplete. With additional type information, it would be great if we could keep suggestions lined up with what the user is typing.

![screen shot 2015-02-06 at 5 08 19 pm](https://cloud.githubusercontent.com/assets/136982/6114867/24a7bf46-b06f-11e4-8bcf-d6327d6a539a.png)

[2015-02-09 20:34] kevinsawicki commented on #5468
Looks similar to https://github.com/atom/atom/issues/5389

[2015-02-09 20:36] kevinSuttle commented on #5460
@mnquintana That's cool, but it'd be nicer to have a native config file, so I can install them from the CLI or UI if I wanted.

The main point is to separate the user's config from the package and storage folders for easier syncing and versioning.

[2015-02-09 20:49] basarat commented on #5459
Always. On one particular computer. I have three other computers where it works fine.

[2015-02-09 21:13] horvan opened #5470 "atom permissions problem on ubuntu after building"
![result of compiling atom](https://cloud.githubusercontent.com/assets/5676367/6145711/14f00488-b1e5-11e4-8ff8-269f5eaaa845.PNG)
Building atom with a source dir and an installation dir show es error messages instead of building atom. May somebody test that, please.

The error occurred on Ubuntu 14.04.1

[2015-02-09 21:14] kevinsawicki commented on #5470
What are the error messages?

[2015-02-09 22:11] 50Wliu commented on #5468
Yeah, but the reproduction steps are way different (in addition, I don't have Beautify, but perhaps this can be caused by different packages?).

[2015-02-09 22:17] kevinsawicki commented on #5468
I wonder if it is https://github.com/iojs/io.js/issues/510 and fixed already upstream in io.js

[2015-02-09 22:26] robdecker commented on #3204
I know this issue has been marked fixed, and I can indeed see a Services menu, but it is empty. It should be filled with numerous text services.

[2015-02-09 22:41] nathansobo commented on #5337
@dmnd I'm having trouble reproducing this on master. Is it still an issue for you?

[2015-02-09 23:10] TrangPham opened #5471 "False git error when trying to install packages"
This is a minor issue. When trying to install some packages through Atom's packages > setting view >  install packages/themes , a false error is given (screenshot below), and the package is not installed. But apm can find git and the packages install using the command line.

Atom version: 0.177.0
Mac OSX: 10.9.5

![screen shot 2015-02-09 at 6 01 50 pm](https://cloud.githubusercontent.com/assets/21

[2015-02-09 23:18] dmnd commented on #5337
Nope, I can no longer reproduce this.

It looks like the package's CSS now remains in the editor view. That is, when I disable pulsing-cursor, the cursor still pulses in any existing editor views. Only new editor views have the default cursor. Not a big deal though.

[2015-02-09 23:18] #5337 closed

[2015-02-09 23:21] kevinsawicki commented on #5471
Where do you have Git installed to?

[2015-02-09 23:22] TrangPham commented on #5471
I have installed git through home brew

[code]

[2015-02-09 23:22] kevinsawicki commented on #5471
Can you open the dev tools in Atom (`cmd-alt-I`) and run `process.env.PATH` from the Console tab and include the the value that gets printed?

[2015-02-09 23:24] TrangPham commented on #5471
Yes

[code]

[2015-02-09 23:26] kevinsawicki commented on #5471
I believe so

[2015-02-09 23:32] kevinsawicki commented on #5471
I think this is a duplicate of https://github.com/atom/atom/issues/1874 and https://github.com/atom/atom/issues/4126

I would recommend subscribing to those issues to know when this is resolved.

[2015-02-09 23:32] #5471 closed

[2015-02-09 23:37] TrangPham commented on #5471
@kevinsawicki Actually I think it's related to https://github.com/atom/atom-shell/issues/550 more.
I found this after a bit of digging: https://github.com/atom/atom/blob/ef9ae8e7d75bbba0e8990c6c854236f40ec9b4f7/src/browser/main.coffee#L162

[code]

Thanks for your help! :)

[2015-02-09 23:38] pascalopitz commented on #3926
Also conflicts with Ubuntu's "Advanced Power Management" interface, result is this:

    $ apm
    No APM support in kernel

[2015-02-09 23:40] vscosta opened #5472 "Uncaught Error: target of repeat operator is not specified"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core
### Stack Trace

Uncaught Error: target of repeat operator is not specified

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-02-10 00:02] abestic9 commented on #5389
Looks like this will be resolved as per https://github.com/iojs/io.js/issues/510

[2015-02-10 00:02] #5389 closed

[2015-02-10 00:24] NatalieWolfe opened #5473 "Auto indent on paste behaves oddly with already indented lines."
When copying a segment of code that starts with a new-line followed by tabbed-in code while "Auto Indent On Paste" is enabled, consecutive pastes will each be an additional tab deeper. I tested this with C++, Java, and JavaScript which makes me believe it is not a problem with the language specs.

Here is an example in the form of an animated gif:
![autoindent-2](https://cloud.githubusercontent.co

[2015-02-10 00:56] 50Wliu commented on #5472
Could you please try to reproduce this in safe mode (`atom --safe`)?

[2015-02-10 00:57] 50Wliu commented on #5473
What version of Atom is this on?

/cc @maxbrunsfeld

[2015-02-10 01:09] NatalieWolfe commented on #5473
Oops, should have included that. I'm using Mac v0.177.0, but I've been experiencing this bug for a few versions now (not entirely sure when it first presented).

Interesting, just tried to reproduce this on my Windows build box too. It has v0.175.0 installed. On that machine the behavior is reversed. When Auto Indent On Paste is enabled then pasting behaves as expected (each consecutive line is pa

[2015-02-10 01:17] Gouvi commented on #5464
@kevinsawicki Just the following Kevin:
![bin](https://cloud.githubusercontent.com/assets/6964274/6119576/a7609750-b105-11e4-8aa3-60de03023a92.PNG)

[2015-02-10 01:21] drammock opened #5474 "New icon looks pixellated on Debian"
Just updated to 0.177.0. Love the new logo, but...  I read through #4807 and noticed that the other OSes got various pre-built icon sizes, whereas the Linux version only gets one big 1024x1024 image.  Here's a screenshot of how that looks when crammed into a Linux dock:

![atomiconscreenshot](https://cloud.githubusercontent.com/assets/1810515/6119513/a3e606d8-b104-11e4-999d-8222c3469077.png)

So p

[2015-02-10 01:24] 50Wliu commented on #5474
This will be fixed in v0.178.0 (see #5405 for details).

[2015-02-10 01:25] kevinsawicki commented on #5464
So it looks like `C:\Users\<user>\AppData\Local\atom\app-0.177.0\resources\app\apm\bin\apm.cmd` does exist then right?

[2015-02-10 01:26] drammock commented on #5474
@50Wliu Thanks, and sorry I didn't turn up that answer myself before opening a new issue.

[2015-02-10 01:32] Gouvi commented on #5464
That's right.

[2015-02-10 01:47] Gouvi commented on #5464
If I try to run the script it says it cannot find itself. If I run it as an Administrator it runs, but needs commands to do anything as you would know.

I have set Atom to always run as an Administrator, this did not fix the issue.

[2015-02-10 02:19] xfq commented on #5367
@izuzak Thanks for your attention!

For "workflow", I mean how to find something to work on, get and build the code, fix something, build/test/benchmark the changes, submit the patch (pull request), respond to the review etc. You can have a look at a sample workflow (for TraceMonkey, the first JIT compiler for JavaScript): [Nicholas Nethercote: How I work on Tracemonkey](http://blog.mozilla.org/nn

[2015-02-10 03:07] envygeeks commented on #5423
I feel slightly silly for not even trying to search there! On a side note perhaps can a note be added to that option to hint at that and make it plainly obvious for the too lazy to search?

[2015-02-10 03:53] zcbenz commented on #5458
This is not possible for now because of a limitation in Chromium, see also https://github.com/atom/atom/issues/2928#issuecomment-52272834.

I'm closing this since it is a duplicate of #2928.

[2015-02-10 03:53] #5458 closed

[2015-02-10 06:34] izuzak commented on #5367
Great -- thanks for clarifying! I've been looking at the contributing docs for some of those projects myself and I agree we could use them for inspiration.  :+1:

[2015-02-10 08:37] simurai opened #5476 "Tooltip "discovery" mode"
@ricardograca suggested https://github.com/atom/tabs/issues/117 to lower the delay for the tooltips of the tabs (already changed). But also:

Might be worth to change it for all tooltips, not just for the tabs. Once a tooltip appears and there is no click, all other tooltips would appear almost instantly (`100s`) until you clicked somewhere. Useful for when you try to get more information of all t

[2015-02-10 09:22] Fank commented on #5476
:+1:

[2015-02-10 09:33] Chris2011 commented on #5457
Ok, it works. Sry I had tested an old version, after I installed the new one. I used the old version of atom as a portable version in an other folder ^^. My failure. Works as expected.

[2015-02-10 09:33] #5457 closed

[2015-02-10 10:03] mamoit commented on #2456
:+1: Unusably slow for me.
Had to go back to sublime.
Running on Debian Jessie.

[2015-02-10 10:06] abe33 opened #5477 "Scroll past end no longer work"
I'm currently running Atom 0.178.0-89d5dd3 and the `Scroll Past End` setting is no longer effective.
Deactivating and reactivating the setting doesn't do much.

I think the change occurred in the past few days.

OS: OSX 10.10.2

[2015-02-10 11:52] lee-dohm commented on #5477
I just confirmed this using Atom v0.178.0-89d5dd3 on Mac OS X 10.10.2. I believe that this was working until #5293 was merged.

/cc @nathansobo

[2015-02-10 13:02] andersennl opened #5478 "Undefined is not a function"
Without any Atom update, suddenly every time I switch to Atom (with an file opened), Atom error panes occur. By the way, the `Create issue on atom/atom` button doesn't work.

[code]
At /Applications/Atom.app/Contents/Resources/app/src/task.js:97

TypeError: undefined is not a function
  at Task.module.exports.Task.send (/Applications/Atom.app/Contents/Resources/app/src/task.js:97:27)
  at Task.mod

[2015-02-10 13:19] izuzak commented on #5478
Thanks for the report, @andersennl. Can you try running Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode) and see if it helps? (I noticed that you have a lot of packages installed.)

Does this happen for all projects or only some?

[2015-02-10 13:53] andersennl commented on #5478
Thanks for your quick response @izuzak. The error doesn't appear in safe mode. Actually, after starting Atom in safe mode und starting again in "normal" mode, the error didn't appear again. Therefore I didn't test it in another project.

Sorry for the duplicate issue.

[2015-02-10 13:57] izuzak commented on #5478
That's interesting -- thanks for letting us know @andersennl. I'm going to close the issue and add a note to  #4775 about this. If you notice this again -- please leave a comment.

[2015-02-10 13:59] izuzak commented on #4775
Noticed again in https://github.com/atom/atom/issues/5478.

@bigblind can you reproduce the problem if you start Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-02-10 14:16] dridk opened #5479 "download link from the main website"
Could you add all download link on the main website atom.io.
Both installer and portable version .
Check http://www.sublimetext.com/2

[2015-02-10 14:19] izuzak commented on #5479
There is a download link on the website:

![screen shot 2015-02-10 at 15 17 52](https://cloud.githubusercontent.com/assets/38924/6128665/12db547a-b138-11e4-971f-08097ae077f9.png)

Can you share a screenshot of what you see and which OS you're using?

[2015-02-10 14:20] juanchaur commented on #2177
Yes, I've succeed installing it. I used the solution they provide in the Wiki: https://github.com/nwjs/nw.js/wiki/The-solution-of-lacking-libudev.so.0

So the steps I did were:
* Create a folder were nodewebkit is going to be: ~/Documents/NW
* Download the nw zip, unzip it and copy all the content to the folder you created. https://github.com/nwjs/nw.js)
* create a folder 'lib' and added all the l

[2015-02-10 14:22] dridk commented on #5479
I saw it! But it provide me only an installer. What I want is the portable version, because I have access restriction and my computer doesn't allow me to install it !
From sublime text, I download the portable version. I wish to have the same for atom.

[2015-02-10 14:24] dridk commented on #5479
By the was, clicking on "other platform" doesn't redirect you to a list of download link. I cannot download a Mac version from windows

[2015-02-10 14:27] izuzak commented on #5479
For a portable version, check out https://github.com/atom/atom/issues/2939 and https://github.com/atom/atom/pull/5385.

I agree, see this other issue in which this was already reported: https://github.com/atom/apm/issues/266.

[2015-02-10 14:27] #5479 closed

[2015-02-10 14:32] izuzak commented on #5423
Adding a note to that specific option sounds sub-optimal since other users might be confused in the same way about other options as well (which wouldn't have that note). Perhaps adding a note at the top of "Editor Settings" section which tells the user that some settings are also per-language would be more helpful? I'd be :+1: if you'd like to create an issue over in https://github.com/atom/settin

[2015-02-10 14:52] apt-develop commented on #1909
+1

I need this feature.

[2015-02-10 14:54] horvan commented on #5470
Basically there are no error messages. But if you use the command line switches for build - dir and install - dir what you gut os not atom but a blank chrome java script engine window with a did functional menu bar.

[2015-02-10 14:58] mabana opened #5480 "Uncaught TypeError: undefined is not a function"
Uncaught TypeError: undefined is not a function

**Atom Version**: 0.154.0
**System**: linux 3.13.0-40-generic
**Thrown From**: [autocomplete-plus](https://github.com/atom-community/autocomplete-plus) package

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

[2015-02-10 15:00] izuzak commented on #5480
Please update to the latest Atom version (0.177.0) and if you can still report the problem -- report it over at https://github.com/atom-community/autocomplete-plus.

[2015-02-10 15:00] #5480 closed

[2015-02-10 15:07] #5478 closed

[2015-02-10 16:02] nathansobo commented on #5477
Makes sense. I'll take a look in a bit.

[2015-02-10 16:42] joeferraro opened #5481 "Node package exhibits odd, Windows-specific file system permissions issues when running inside Atom package"
My package has a dependency that does some file system interaction, in this case, streaming a base64 encoded zip file to the file system. I'm the author of the package dependency as well. The code below (from the Atom package dependency) passes in tests on Linux, Unix, and Windows and works fine when used by my Atom package in Linux and Unix. However, when running in Atom on Windows, this code pro

[2015-02-10 16:44] nakal commented on #5322
I've got a similar problem. The instructions in [the howto](https://github.com/atom/atom/blob/master/docs/build-instructions/freebsd.md) do not work anymore ("the operating system is not supported", as seen in [#2599](https://github.com/atom/atom/issues/2599)). Then I replaced [www/node](http://www.freshports.org/www/node) with [www/node-devel](http://www.freshports.org/www/node-devel) and got a b

[2015-02-10 17:06] jessegrosjean opened #5482 "Round trip write/read of string in UTF-8 encoding doesn't match"
In my Atom package I do:

[code]

And the console output is:

[code]

https://discuss.atom.io/t/file-encoding-puzzel/14828

[2015-02-10 17:22] nathansobo commented on #5477
Closed via 711f0a227c087fe5ce50b2f26b4be0cebca47f57.

[2015-02-10 17:22] #5477 closed

[2015-02-10 17:34] chharvey opened #5483 "feature request: ability to style class-names and id-names differently in HTML source"
Currently, all attributes are `span.entity.other.attribute-name.html` and their corresponding value is `span.string.quoted.double.html`. This means that all attribute names are styled exactly the same way, and the same is true about attribute values.

Inspired by NetBeans, there should be a way to style **class** names and **id** names differently from other attributes. This can make code more rea

[2015-02-10 17:37] kevinsawicki commented on #5483
Sounds good to me, mind reopening this on https://github.com/atom/language-html/issues/new since that is the grammar that needs to be modified to parse these cases using new scopes.

[2015-02-10 18:44] benogle commented on #5472
What was the language of the file that was open? Looks like maybe an issue with the language grammar.

[2015-02-10 18:49] despicablebapple opened #5484 "Uncaught Error: Atom can only handle files < 2MB for now."
[Enter steps to reproduce below:]

1. ... Opened big file
2. ... Error Happened
![screen shot 2015-02-10 at 18 48 43](https://cloud.githubusercontent.com/assets/9384542/6133929/79b1bc44-b155-11e4-85a6-ec9d5ccee37f.png)

**Atom Version**: 0.169.0
**System**: Mac OS X 10.10.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Atom can only handle files < 2MB for now.

[code]

### Commands

[2015-02-10 18:51] mnquintana commented on #5484
Duplicate of #307

[2015-02-10 18:51] kevinsawicki commented on #5484
Please subscribe to #307 for updates on when this issue is resolved.

[2015-02-10 18:51] #5484 closed

[2015-02-10 18:52] benogle commented on #5484
Please update atom. The latest version has much a better message for this issue.

[2015-02-10 18:57] Nikita240 commented on #2456
@macbury Those flags did help with the performance a bit. Thanks!

[2015-02-10 19:26] #5483 closed

[2015-02-10 19:29] vscosta commented on #5472
Hi

I am sorry I couldn't repeat it yesterday. It was Prolog.

On Tue, Feb 10, 2015 at 6:45 PM, Ben Ogle <notifications@github.com> wrote:

[2015-02-10 19:44] jessegrosjean commented on #5482
@benogle Hi, I see you added needs-reproduction label. Is that something that I can help with or is it just a not to yourself to try reproducing the problem. I've got a package the reproduces it in the latest 0.177.0 but seems I can't attach a zip here.

[2015-02-10 19:48] benogle commented on #5482
Yeah, we need to reproduce it. Can you make a public repo, and link to it?

[2015-02-10 19:51] jessegrosjean commented on #5482
Here's a dropbox link, hope that's OK:

https://dl.dropboxusercontent.com/u/153385/encoding-test.zip

If you really need a repo let me know. To reproduce just run the "toggle" command and you should see the output as described above.

[2015-02-10 20:56] dangodev commented on #4740
I should also add that hitting `⌘ + /` in Dvorak-Qwerty (Toggle line comments) produces
[code]

[2015-02-10 21:08] ChrisBrough opened #5485 "Atom crashes when opening a modified file in a git repository"
Atom is currently unusable when modifying files in a repository.

OSX 10.10

![crash](https://cloud.githubusercontent.com/assets/833979/6136463/b0e7a528-b125-11e4-9b76-46945cef97c1.png)

[code]

[2015-02-10 21:09] kevinsawicki commented on #5485
Can you share a link to the file being edited when it crashed?

[2015-02-10 21:11] kevinsawicki commented on #5485
Actually, this looks like the same as https://github.com/atom/atom/issues/3627 which there is a libgit2 tracking issue for https://github.com/libgit2/libgit2/issues/2586

[2015-02-10 21:12] #5485 closed

[2015-02-10 21:16] kevinsawicki commented on #3008
This has been fixed now that Atom ships with libgit2 0.21.2 which addressed this crash.

[2015-02-10 21:16] #3008 closed

[2015-02-10 21:17] kevinsawicki commented on #3627
@daithi-coombes is the repository you are seeing this issue in public? If so, can you share a link and which branch you have checked out when this happened?

[2015-02-10 21:28] ChrisBrough commented on #5485
Unfortunately, I can't provide the file.

After looking at some of the other related issues, I tried checking my config. It's not crashing after removing the following `xfuncname` config.

[code]

[2015-02-10 21:30] kevinsawicki commented on #5485
@ChrisBrough great, thanks for the snippet, I will post it over on the libgit2 issue.

[2015-02-10 21:32] ChrisBrough commented on #5485
@kevinsawicki No problem! That sounds good. Thanks for linking me to the other issues.

[2015-02-10 22:11] ioquatix commented on #2151
+1 just had this problem.

[2015-02-10 22:12] ioquatix commented on #2151
[code]

[2015-02-10 23:23] WriterOfAlicrow commented on #5349
I think I'm getting the same issue here  (the error popup directed me to this issue). On openSUSE 13.2, Atom 0.177.0. immediately upon opening a certain file (I pasted the file to http://pastebin.com/m9Wyry4c), and again when I scroll near the top or select text near the top.

It seems to be linked to this line:
    ̂δ(δ(q,x),q)=C
and even a file containing just that one line is giving the same be

[2015-02-10 23:33] mark-hahn opened #5486 "UX: many dialogs have no close button (X)"
It is a pain to have to go to the keyboard to close the find/replace dialog and then back to the mouse, especially for those of us who use the mouse on the left.  Many other atom dialogs also have this non-standard UX.  I can't remember any dialogs in any other app that don't have close buttons.

[2015-02-11 00:09] thedaniel commented on #5486
Thanks for the feedback - if this is an issue with FnR you should open the issue on https://github.com/atom/find-and-replace.

[2015-02-11 00:09] #5486 closed

[2015-02-11 00:15] mark-hahn commented on #5486
FnR was only an example of what appears to be a consistent problem in
Atom.  But I've posted there for now.

On Tue, Feb 10, 2015 at 4:10 PM, Daniel Hengeveld <notifications@github.com>
wrote:

[2015-02-11 00:16] mpede opened #5488 "empty line shows different character from specific font"
Since the last update Atom is displaying what seems to be a control character on empty rows as well as in front of single row numbers. I am using this font in Atom for a long time and this only started showing recently / in the last version. Other fonts seem to have an empty symbol in place for this.

![styles_less_-__users_cschmidt_securemount_mp_dev_sabm-domo-tool_-_atom](https://cloud.githubuse

[2015-02-11 00:17] kevinsawicki commented on #5488
What Atom version are you on?

[2015-02-11 00:18] mpede commented on #5488
Version 0.177.0 (0.177.0)

[2015-02-11 01:20] xfq commented on #1839
FYI - The [Info](http://www.gnu.org/software/texinfo/manual/texinfo/texinfo.html#Info-Files) format uses a few control characters to separate nodes and provide navigational information for menus, cross references, indices, and so on.

[2015-02-11 01:26] xfq opened #5490 "Inserting control characters"
To insert a control character:
- In GNU Emacs, I can precede the combination with `C-q` (`quoted-insert`).
- In Vim, I can precede the combination with `C-v`.
- In GNU nano, I can precede the combination with `M-v`.

But AFAIK there is no way to insert (and display, see #1839) control characters in Atom. The [GCS](https://www.gnu.org/prep/standards/standards.html#index-formfeed) uses formfeed char

[2015-02-11 03:17] sedabull opened #5492 "Can't update or install any packages without root permission"
* Ubuntu 14.04
* Atom 0.178.0
* apm 0.136.0

It is impossible for me to update or install any packages from the atom ui. I get an error message like this:
![atom-update-error](https://cloud.githubusercontent.com/assets/9311295/6141355/2a450964-b172-11e4-9780-d67ed56741e5.png)

apm gives the same error on the command line, unless sudo is used. In which case it works fine. On a possibly related note

[2015-02-11 03:19] mnquintana commented on #5271
Implemented in #5316

@thedaniel Do you think it's worth opening a separate issue for vendoring Bootstrap?

[2015-02-11 03:19] #5271 closed

[2015-02-11 03:28] thedaniel commented on #5271
sure - if we include it explicitly here it will make it easier to pull it
out of core eventually.

On Tue, Feb 10, 2015 at 7:19 PM, Machiste N. Quintana <
notifications@github.com> wrote:

[2015-02-11 03:34] Dharun commented on #5285
Has anyone made any progress with this? Still seems to be an issue

[2015-02-11 04:45] murphyrandle commented on #3184
@geoff-codes would `export LDFLAGS=$LDFLAGS:-Wl,-export_dynamic` do it? Sorry, I haven't dealt with C-lang compilers in a while.

[2015-02-11 04:53] DarkArc commented on #4378
I don't really notice an issue with this, but if there is still a problem, it may be in relation to atom continuing to toggle the classes for the cursors even when the editor pane is not in focus. It's worth noting, this issues has no visual manifestation since the selector for the cursor's visible state is ".is-focused .cursor".

This is more likely to have some more significant performance impac

[2015-02-11 05:00] murphyrandle opened #5493 "Not building on Mac OS X 10.10.2 with io.js"
Hi there!

I'm trying to build on `Mac OS X 10.10.2` from the `0.177.0` tag using `io.js v1.2.0` but I get the following output:

[code]

I've got the X-Code command line tools installed. Trying to build with `node 0.10.36` makes it almost all of the way through the build, but gives a different error when deduping modules.

Almost the same issue as https://github.com/atom/apm/issues/195, but remov

[2015-02-11 05:30] geoff-codes commented on #3184
Erm, not necessarily. Does atom's node build with gyp (like standalone node)?

Give me a sec, I'll take a look.

[2015-02-11 06:02] paulyoung commented on #2151
I updated my instructions for reproducing the issue to be more accurate. It also seems like deleting the directory allows atom to be opened again.

[2015-02-11 06:20] murphyrandle commented on #3184
Thanks! I'm not sure it matters now, the errors have changed when trying to build with io.js.

[2015-02-11 07:03] CumpsD commented on #4938
I can reproduce this on Windows using https://github.com/atom/atom/releases/download/v0.178.0/atom-windows.zip

I extracted the zip, added an environment variable for ```ATOM_HOME``` and simply started atom from commandline with ```atom .```

[code]

It took 25% cpu (a whole core) and lots of RAM before it outputted the process out of memory line.

It was a clean setup, the home directory is empty

[2015-02-11 07:05] CumpsD commented on #4938
Problem resolved. My ```ATOM_HOME``` contained 2 paths instead of one. Fixing that started atom again.

[2015-02-11 07:21] ankibahuguna opened #5495 "Editor freezes when I try to open html files."
I am using windows 32 bit OS.When I try to  open html files ,the editor stops responding ,the file editing area becomes unclickable.
Here is the screenshot of the issue:  http://prntscr.com/63oo3q

[2015-02-11 07:29] YuriSolovyov commented on #5470
Hi, I'm getting errors on Ubuntu too.
[code]

[2015-02-11 07:35] gau1991 commented on #5492
Same here on Fedora

[2015-02-11 07:56] YuriSolovyov commented on #3184
@kevinsawicki node 0.12 is out for a couple of day now, any plans to upgrade? What about io.js ?

[2015-02-11 07:57] geoff-codes commented on #3184
Actually, I **was** just able to figure out the issue that @totallymike reported. Its a bug in [apm](https://github.com/atom/apm) or, more technically, the version of node that amp is using. I still haven't quite got the whole thing to build as yet, (there are a couple more issues with a few modules), but @YuriSolovyov, yup, this issue is resolved in 0.12. I'll have a patch presently.

[2015-02-11 09:06] horvan commented on #5470
This is just because your node version is a minor one. You should unintelligible nodes and non and then install it with the package manager solution for node source here on github.

As I said building atom is no problem but the result is not the atom editor as it was about a few weeks ago but a blank chrome engine.

[2015-02-11 09:54] projetmbc opened #5496 "Uncaught Error: ENOENT, open '/Users/projetmbc/.atom/packages/save-session/projects/undefined/project.json'"
Hello. I have safely reinstalled Atom after using a "dangerous" package named "sync-settings".

1. I have removed the folder `.atom` and the `atom` application. Maybe there are some other files to remove...
2. I have installed some starred package using `apm`.

## The error message

    **Atom Version**: 0.178.0
    **System**: Mac OS X 10.8.5
    **Thrown From**: Atom Core

    ### Stack Trace

[2015-02-11 10:45] izuzak commented on #5472
The error is thrown from oniguruma:

https://github.com/atom/node-oniguruma/blob/bc9e854d8911187285cc5a6952fe8dcb1cca70b7/deps/onig/regerror.c#L98

I'm guessing a bad regex was constructed and passed to oniguruma for tokenizing a line, by one of the language packages you installed (language-prolog most probably, because you were editing a prolog file). Running Atom in [safe mode](https://github.co

[2015-02-11 10:48] izuzak commented on #5496
From the stack trace, it seems like a problem in the save-session package. Running Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode) should confirm that and you might consider reporting an issue on that package's issue tracker:

https://github.com/mpeterson2/save-session/issues

[2015-02-11 10:48] #5496 closed

[2015-02-11 10:52] izuzak commented on #5495
@ankibahuguna Does that file perhaps a very long line? I have a feeling that it does by looking at the horizontal scrollbar, and if that's true -- you're probably experiencing this issue: https://github.com/atom/atom/issues/979.

Can you confirm that this doesn't happen for an html file which doesn't have long lines like that?

[2015-02-11 10:53] izuzak commented on #5495
Also, which version of Atom are you using?

[2015-02-11 11:00] horvan commented on #5470
[code]
This is what I cot when I compile it. and installl some modules with apm the screenshot I upladed above is the result of this process

[2015-02-11 11:07] mik01aj opened #5497 ""Soft tabs" don't work (tab and enter keys add tabs instead of spaces)"
![screenshot 2015-02-11 11 59 46](https://cloud.githubusercontent.com/assets/3027415/6145763/bc1c2bc4-b1e5-11e4-8102-953c9a83beb2.png)

In this situation, when I press enter, I would expect leading spaces to be added to the new line. But when I do, tabs are added instead:

![screenshot 2015-02-11 11 59 59](https://cloud.githubusercontent.com/assets/3027415/6145765/be94e300-b1e5-11e4-8a1e-6568571d4

[2015-02-11 11:07] YuriSolovyov commented on #5470
it is probably better to wait till apm moves to newer node/iojs

[2015-02-11 11:29] horvan commented on #5470
may be a duplicate of #4115

[2015-02-11 11:34] projetmbc commented on #5496
Ok, thats has been done.

[2015-02-11 11:34] YuriSolovyov commented on #5470
I'm not sure what you mean, I getting error on build step, not when launching atom.

[2015-02-11 11:47] izuzak commented on #5493
I'm seeing the same, not really sure why. That's looks like the same error which is thrown when a dependency is not using the latest version of `nan`.

cc @kevinsawicki @zcbenz

[2015-02-11 11:53] izuzak commented on #5497
Can you try running the "Editor: Toggle Soft Tabs" command from the command palette while that file is open, and see if that helps?

[2015-02-11 12:00] emarques commented on #5459
I've downloaded Atom 0.178 setup for Windows and also got the same error

[code]

[2015-02-11 12:03] mik01aj commented on #5497
Oh yes, toggling "Editor: Toggle Soft Tabs" from the command palette works great. So what about the preferences: maybe it is just a default for newly-opened editor tabs? If so, I believe that this should be documented below the checkbox in preferences.

[2015-02-11 12:11] basarat commented on #5459
@emarques I didn't get `System.IO.PathTooLongException`. That would be https://github.com/atom/atom/issues/5109

[2015-02-11 12:32] ram-you commented on #5148
Hi, the v0.178.0 (on Linux Mint) is affected too, same problem when trying to install new package : <strong> getaddrinfo ENOTFOUND</strong>

[2015-02-11 12:35] emarques commented on #5459
Sorry, I had just read the first error, which was

[code]

And didn't check the rest of error log...

I should get more coffee...

[2015-02-11 12:50] izuzak commented on #5497
No, there's some auto-detection:

https://github.com/atom/atom/blob/master/src/text-editor.coffee#L2350-L2369

Any chance the file has a tab as the first character of the first non-comment line? Or any chance you already triggered the "Editor: Toggle Soft Tabs" command previously? Can you share a link to the file in question or share it in a gist?

See https://github.com/atom/atom/issues/5192 for

[2015-02-11 12:50] #5497 closed

[2015-02-11 13:01] izuzak commented on #5492
This looks very similar to https://discuss.atom.io/t/solved-new-package-installs-updates-generates-errors/13152 -- can you check that discussion and see if the advice there helps?

[2015-02-11 13:29] izuzak commented on #5488
I'm able to reproduce this in Atom 0.179.0-090561e on OSX after installing that font:

![screen shot 2015-02-11 at 14 21 09](https://cloud.githubusercontent.com/assets/38924/6147572/658c8d08-b1f9-11e4-978a-15d2a1b886c8.png)

However, I'm able to reproduce this in Chrome as well. Here's a screenshot of a gist where I switched to that font:

![screen shot 2015-02-11 at 14 27 23](https://cloud.github

[2015-02-11 13:35] askalski opened #5498 "unable to change font size in "find in project""
Hi,

I was able to change font sizes everywhere else by changing style.less file, but not in "find in project" menu, nor in it's results.

What are the css selectors for these items, or how else can these be modified?

Kindest Regards

[2015-02-11 13:39] horvan commented on #5470
Take a look at https:// raw.github.com/drubuntu/features/master/atom.sh.

This requires to apt-gget remove nodes name

and apt-get install curl

before running it.

It is basically the building guide for Ubuntu in a script. It works on Ubuntu 14.04.1 and above.

when you have saved a copy to your disk and preformed the steps above just type sumo bash <script>
This will install atom. The build will

[2015-02-11 14:07] GeorgeSapkin commented on #5492
Removing .atom directory didn't work for me on Fedora 21 x64.

[2015-02-11 14:09] gau1991 commented on #5492
This discussion not worked for me...

[2015-02-11 14:12] murphyrandle commented on #3184
Thanks, @geoff-codes! :cake:

[2015-02-11 14:25] mik01aj commented on #5497
I think it might be related to js-formatter plugin which converted all my spaces to tabs, and only after configuring it I got the spaces there. So at the time when I was opening the file it had tabs.

I would love to have some status bar icon showing the current status of this flag (tabs or spaces). Something like a warning icon that says "hey, you have chosen to use spaces in the preferences, but

[2015-02-11 14:28] simurai commented on #5498
This works for me to change the results:

[code]

![screen shot 2015-02-11 at 11 20 11 pm](https://cloud.githubusercontent.com/assets/378023/6148403/94db49e6-b244-11e4-915d-fa1e73ad5fd3.png)

And with "find in project" menu, do you mean the panel at the bottom? Maybe try this:

[code]

![screen shot 2015-02-11 at 11 24 04 pm](https://cloud.githubusercontent.com/assets/378023/6148481/31d0a836-b245-

[2015-02-11 14:28] #5498 closed

[2015-02-11 14:28] mehcode commented on #5492
Something similar occurs for me on update that didn't occur on the last version.
![screenshot from 2015-02-11 06 28 21](https://cloud.githubusercontent.com/assets/753919/6148528/304b7ede-b1b7-11e4-8c7c-393338be7ddc.png)

[2015-02-11 14:31] izuzak commented on #5497
Please feel free to open an issue in the status bar package: https://github.com/atom/status-bar

[2015-02-11 14:32] geoff-codes commented on #3184
Yeah, there's also a bug in the "base-minimal" package. The last one if trying to figure out is a missing weird Objective-C++ symbol that's using NSlog with std::string...

[2015-02-11 14:39] sick51 commented on #4893
I tried to use .lnk file in the start menu instead of the .cmd file and it seems to work. The annoying cmd window is no longer appearing.

[2015-02-11 14:48] izuzak commented on #5482
I'm able to reproduce this by just running the commands in the JS console:

![screen shot 2015-02-11 at 14 35 18](https://cloud.githubusercontent.com/assets/38924/6147795/3c34d332-b1fb-11e4-9a95-6f395154c983.png)

Commands for easy copy-pasting:

[code]

Here's the fun part. Try it _without_ the first `console.log` command:

[code]

Here's what I see:

![screen shot 2015-02-11 at 15 25 47](https:/

[2015-02-11 14:49] emarques commented on #5109
[code]
still happening in 0.178

[2015-02-11 15:04] joefitzgerald commented on #5492
See also: https://github.com/atom-community/autocomplete-plus/issues/260 @nathansobo @kevinsawicki @thedaniel @maxbrunsfeld - v0.178.0 seems to be broken - at least on Linux.

Works for me on OS X though:

![screen shot 2015-02-11 at 8 03 23 am](https://cloud.githubusercontent.com/assets/744740/6149233/7f3708b2-b1c4-11e4-81c4-65428fa8a1e4.png)

![screen shot 2015-02-11 at 8 02 31 am](https://cloud

[2015-02-11 15:05] edgard commented on #5492
Same here, maybe it has something todo with pr #5385?

I tried setting ATOM_HOME but still doesn't work.

[2015-02-11 15:13] sbrech commented on #2822
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-02-11 15:17] jessegrosjean commented on #5482
Here's a related tidbit:

1. Create a new file with content:

[code]

2. Save it, and it should save fine with proper encoding.

3. But now open the debugger and put a breakpoint at the start of:

[code]

4. Save the file again. You should hit the breakpoint. You don't need to do anything, just continue, but notice that now the file is now in the wrong encoding and displays in Atom as:

[code]

I

[2015-02-11 15:25] postcasio commented on #4542
Link to discuss topic: https://discuss.atom.io/t/file-encoding-puzzel/14828

I think this might be something to do with the web inspector/console. Running this in the console:

[code]

[code]

It's written as `0xea`. Putting the same code in my `init.coffee` and reloading Atom results in the correct `0xc3 0xaa`:

[code]

However, if you change it to log to console first and reload Atom again:

[co

[2015-02-11 15:29] postcasio commented on #5482
Definitely something to do with the web inspector/console. Running this in the console:

[code]

[code]

It's written as `0xea`. Putting the same code in my `init.coffee` and reloading Atom results in the correct `0xc3 0xaa`:

[code]

However, if you change it to log to console first and reload Atom again:

[code]
[code]

It's back to `0xea`. Just sending the string to the console seems to cause i

[2015-02-11 15:43] lee-dohm commented on #5488
I just looked at the line numbers in the Inspect Element after enabling this font:

![screen shot 2015-02-10 at 8 53 50 am](https://cloud.githubusercontent.com/assets/1038121/6150023/a3b2f9f6-b1c1-11e4-95be-21cc1a8440ab.png)

Looks like that font uses that glyph for `&nbsp;`.

[2015-02-11 15:52] batjko commented on #4938
@CumpsD That's interesting behavior though. In that case, the path should have been rejected as invalid.

[2015-02-11 15:54] mnquintana commented on #5492
Same issue here on Ubuntu 14.04 after updating to Atom 0.178.0.

[2015-02-11 15:55] batjko commented on #5470
This used to come up in much older versions. As a workaround, permissions to the `.atom` folder needed to be adjusted (can't find the original ticket atm).

[2015-02-11 15:58] mark-hahn commented on #5497
this flag

I think @leedohm has a package for this.  He has two or three packages to
help with the tab/space problems.

On Wed, Feb 11, 2015 at 6:31 AM, Ivan Žužak <notifications@github.com>
wrote:

[2015-02-11 16:25] batjko opened #5500 "Auto-Updater not finding v178 (Windows)"
Hi guys,

Just tried "Check for updates" on my v177 installation. And it doesn't seem to recognize that there is a newer one out:
![image](https://cloud.githubusercontent.com/assets/7287076/6150953/6c1dc5f4-b20a-11e4-83aa-d86bbf2e4db5.png)

Not sure how to troubleshoot it, since I haven't paid much attention to how squirrel works. :angry:

Win8.1 64bit.

[2015-02-11 16:27] izuzak commented on #5488
@nathansobo maybe knows why this changed recently (maybe related to Chrome?) and if there's anything we can do about it in Atom.

[2015-02-11 16:34] mark-hahn commented on #5500
I have found that it takes several days to get a new version.  I'm still on
177 also.

On Wed, Feb 11, 2015 at 8:25 AM, batjko <notifications@github.com> wrote:

[2015-02-11 16:38] olmokramer commented on #5492
And the same on Debian 8

[2015-02-11 16:40] SympleKaos commented on #5500
My atom is on 176 and is not seeing an update for even 177.
Windows 8.1 64bit as well.

[2015-02-11 16:46] nathansobo commented on #5488
@izuzak Yikes, that is brutal. We may be able to avoid padding line numbers with `&nbsp` and instead use align right in the gutter now that we're using absolute positioning. Not sure about lines but the same may be true there. If someone wants to give it a try, awesome. I'm not sure it's worth the distraction right this moment for one weird font. Can that font be edited?

[2015-02-11 16:46] mnquintana commented on #5500
I'm also noticing that the Atom icon in that dialog box looks reeeeally pixelated, which should've been resolved as part of #4811

[2015-02-11 16:50] SympleKaos commented on #5500
My atom is on 176 and is not seeing an update for even 177.
Windows 8.1 64bit as well.

[2015-02-11 17:09] horvan commented on #5470
I figured out that regardless of what I doing.  Atom needs to be cut with sudo. Mac users have the same problem.  I referenced the issue above.

[2015-02-11 17:11] kevinsawicki commented on #5493
I believe this is related to the node version you are using to build Atom, can you try node `0.10.x`?

[2015-02-11 17:11] lee-dohm commented on #5488
This is where I found the font for my tests:

http://www.spacerogue.net/wordpress/?p=356

Seems to say that the original author is MiA, so maybe?

[2015-02-11 17:12] kevinsawicki commented on #5492
What are the folder permissions on `~/.atom/.apm`?

[2015-02-11 17:14] lee-dohm commented on #5470
@horvan I'm running Atom v0.179.0-98e126b on Mac OS X 10.10.2 and I do *not* need to build nor install Atom with sudo.

[2015-02-11 17:15] lee-dohm commented on #5493
I reproduced both the break on iojs and the successful build (after clean) on node v0.10.x.

[2015-02-11 17:21] kevinsawicki commented on #5493
I upgraded the build dependency on runas to version 2.0

[2015-02-11 17:21] kevinsawicki commented on #5493
@lee-dohm can you pull from master and try again with io.js and see if you get the same error?

[2015-02-11 17:26] izuzak commented on #5493
@kevinsawicki Still breaks with io.js, but a bit later in the process:

[code]

[2015-02-11 17:28] MateuszG commented on #4505
**Atom Version**: 0.177.0
**System**: linux 3.16.0-30-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: spawn /opt/atom/atom (deleted) ENOENT

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-11 17:30] JacobHenner commented on #3826
Same issue on Arch (with the huge menu bar).

[2015-02-11 17:32] olmokramer commented on #5492
No such file/directory exists in my `~/.atom` directory

[2015-02-11 17:34] kevinsawicki commented on #5492
What are the folder permissions on `~/.atom`?

[2015-02-11 17:35] olmokramer commented on #5492
`~/.atom` has permissions `755`

[2015-02-11 17:42] Bewahn commented on #5492
I've got a very similar output as mehcode when trying to update linter-clang. So apm tries to write to /var/lib/jenkins which should not happen when installing a package as user, I guess...

[2015-02-11 17:43] kevinsawicki commented on #5492
@Bewahn what is your `HOME` environment variable set to?

[2015-02-11 17:44] Bewahn commented on #5492
It's set to my home directory. $HOME/atom is writable for the user.

[2015-02-11 17:46] lee-dohm commented on #5493
@kevinsawicki Confirmed. Same as @izuzak.

[2015-02-11 17:51] batjko commented on #5500
I updated to 177 without a problem, but I indeed only checked several days after the release so I can't be sure if it would have sooner.

[2015-02-11 17:53] mehcode commented on #5492
@kevinsawicki The weird thing here is look at the EACCESS path. `/var/lib/jenkins` --- I've never installed jenkins, I don't think atom uses jenkins, and it shouldn't be trying paths inside of `/var/lib` to begin with.

[2015-02-11 17:55] kevinsawicki commented on #5492
Yeah, apologies for this, this was because of a file generated on the CI machines ending up in the distribution.

Just fixed this over in https://github.com/atom/apm/commit/230f9d627594f58a600d85167c686aaea59287fa

[2015-02-11 17:56] mehcode commented on #5492
@kevinsawicki It's fine. Just a confusing error from my end and I'm glad it got resolved quickly. Thank you.

[2015-02-11 18:02] IcyTesseract commented on #5148
Did you build it or use a `.deb` file? No problems with the `.rpm` on Fedora 21 x64 or building it on Arch x64.

[2015-02-11 18:13] kevinsawicki commented on #5493
Okay, I think this should be fixed now that apm has been upgraded.

[code]

[2015-02-11 18:23] thedaniel commented on #5500
This might be related to the addition of delta updates - we'll take a look at the update server code today and hopefully that will help.

[2015-02-11 18:31] as-cii commented on #247
This hasn't been implemented, nor it has received any attention lately.

Does it need to be addressed anytime soon or can it be closed?

[2015-02-11 18:41] edgard commented on #5492
[edgard@lynxarc ~]$ cat /usr/share/atom/resources/app/apm/.apmrc
cache = /.atom/.apm

[edgard@lynxarc ~]$ rpm -ql atom | grep -i apmrc
/usr/share/atom/resources/app/apm/.apmrc

It seems like the .apmrc in the package is being generated with a wrong path for the the cache.

[2015-02-11 18:42] izuzak commented on #5493
Not sure if this is something specific to my setup, but I'm now getting this (building from f1bd4b2):

[code]

@lee-dohm what's on your :computer: ? :)

[2015-02-11 18:43] as-cii commented on #1031
I couldn't reproduce the issue myself, partly because I didn't quite understand what was the expected final behavior (and I couldn't infer it from the attached gif).

Since this hasn't received attention lately, I have a couple of questions:

1. Was this solved?
  1. If yes, can we close the issue?
  2. If not, can you give more insights on how to reproduce the issue?

Thanks! :smile_cat:

[2015-02-11 18:43] nathansobo commented on #247
I'd like to leave it open. We'll get to it eventually.

[2015-02-11 18:49] benogle commented on #5472
I assume it's a bad regex in from the grammar.

Yes, I like this idea.

@vscosta can you paste in the file you were working with so we can reproduce?

[2015-02-11 18:55] johnmichel commented on #4166
I am also experiencing this behavior, with Atom being installed to `/Applications`.  I'd rather not move my installation to `~/Applications` if possible.

[2015-02-11 18:58] benogle commented on #1031
It's still an issue. You can reproduce with find and replace:

1. Open coffee file with a class
1. cmd-f and search for a method name
1. Fold that method
1. Note that the marker view box hides when it's folded. This is because `marker.getScreenRange().isEmpty()` returns false on the folded line.

IMO, the marker view box should show when the method is folded because the method name is still visibl

[2015-02-11 19:01] kevinsawicki commented on #5492
@edgard can you check the file permissions/owner on `/usr/share/atom/resources/app/apm/.apmrc`?

[2015-02-11 19:04] edgard commented on #5492
Sure, there you go:

-rw-r--r-- 1 root root 20 Feb 10 20:26 /usr/share/atom/resources/app/apm/.apmrc

[2015-02-11 19:06] postcasio commented on #5482
Correction, the first example does actually work. The `console.log` call is what causes it.

[2015-02-11 19:07] cthielen commented on #5212
This might be a separate issue but on the Mac when I "Install & restart" a new Atom from the menu, Atom always closes all windows and re-opens a new blank one. I don't get my original window back.

[2015-02-11 19:10] kevinsawicki commented on #5500
I just deployed the serving of delta packages to atom.io so 0.177 should now be able to upgrade to 0.178

This is the first release with binary delta packages so please report any download/install errors going from 0.177 to 0.178

[2015-02-11 19:12] horvan commented on #5470
But you need to run it with sudo right?

[2015-02-11 19:45] geoff-codes commented on #3184
@murphyrandle @YuriSolovyov
That's about as far as I got, as the nslog bit seems to be a bit of a blocker. Passing the baton for now.
@kevinsawicki @zcbenz and friends, patches and issues for your consideration. :smirk_cat:

[2015-02-11 20:05] 50Wliu commented on #5212
@cthielen that's #1603.

[2015-02-11 20:18] ksmithut opened #5501 "Icons missing for theme using atom:// protocol"
Some of the icons that I'm using seem to be missing when using the ATOM_HOME variable in my shell.

The theme doesn't seem to be the issue, it seems to be the way Atom is routing requests coming from the atom:// protocol.

I get the following errors in the console:

[code]

Looking through the code, I found [this line](https://github.com/atom/atom/blob/44112f2ecd54eebe7496d1b581cac182e46ab0df/src/

[2015-02-11 20:21] #5501 closed

[2015-02-11 20:21] kevinsawicki commented on #5501
Thanks so much for reporting this, it will be fixed in the next Atom release 0.179

[2015-02-11 20:22] ksmithut commented on #5501
That was fast! I was just looking into how I might be able to help. Great job

[2015-02-11 20:25] MarjanTomas opened #5502 "ATOM_HOME does not affect default Chromium storage path"
hi

i'm on Win7 64bit and downloaded the newest
atom-windows.zip version 0.178.0 from
https://github.com/atom/atom/releases
to test the new ATOM_HOME env var feature.

i've set the env var ATOM_HOME to the path
D:\portable_programs\Atom\ATOM_HOME
and started atom.exe .
now in the folder
D:\portable_programs\Atom\ATOM_HOME
appeared only one dir "compile-cache" and
only one file "config.cson". it lo

[2015-02-11 20:29] benogle opened #5503 "Using atom-text-editor in packages"
For reference I've made a package to display all the standalone `atom-text-editor` permutations. https://github.com/atom/atom-text-editor-exercise

Currently using an `atom-text-editor` in a package as a replacement for `textarea` isnt that great:

[code]

Produces:

![screen shot 2015-02-11 at 12 10 10 pm](https://cloud.githubusercontent.com/assets/69169/6155298/f5821de6-b1e6-11e4-9e7d-0e58eb0695

[2015-02-11 20:29] kevinsawicki commented on #5502
Did `D:\portable_programs\Atom\ATOM_HOME` exist before you launched Atom?

[2015-02-11 20:31] kevinsawicki commented on #5502
This is expected, ATOM_HOME is for compile caches, installed packages & themes, local styles, config, snippets and keymaps.

`C:\Users\ <user> \AppData\Roaming\Atom` is where the browser's `localStorage` database is written to and other Chromium specific file.

[2015-02-11 20:33] nathansobo commented on #5503
Do you think it's too late to invert the defaults for these options on the normal editor and make all the bells and whistles opt-in? Also, it would be great to have a better story for the editor's height behavior than requiring inline styles. I was never happy with that but it was a bit early to sort it out when I was dealing with it.

[2015-02-11 20:35] nathansobo commented on #5503
More thoughts:

* `autosize` should be `auto-height`. But really I'd like to find a better way to detect this automatically.
* `show-gutter` should actually be `show-line-numbers` since there will be multiple gutters soon.
* `readonly` should be `read-only`

What's with the 3 lines of padding?

[2015-02-11 20:39] benogle commented on #5503
Depends on how many people are using them. I bet not many people are using these as text areas.

Adding a new attribute allows us to give the editors emulating a textarea a default height. I think they should be fixed height with the attribute by default. Or maybe support the `rows` attribute like on textareas.

I think this should be explicit.

Would we want the other gutters on these standalone

[2015-02-11 20:42] MarjanTomas commented on #5502
yes, i've created the folder before i started atom.exe .

now i've deleted first the folder
D:\portable_programs\Atom\ATOM_HOME
and then started atom.exe and it worked fine now when
D:\portable_programs\Atom\ATOM_HOME
was created by atom.exe .
and all expected sub folders and files were present too.

somehow i thought that
C:\Users\ \<user\> \AppData\Roaming\Atom
would be redirect also.

many than

[2015-02-11 20:43] sadlerdavid opened #5504 "Uncaught AssertionError: null == true"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught AssertionError: null == true

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-11 20:45] jmm commented on #5344
I don't care if this gets implemented, but it has to be an option. I definitely don't want to be forced to anything other than sequential tabbing order. The popup list (again, probably as an option) sounds interesting.

[2015-02-11 20:47] kevinsawicki commented on #5502
Yes, this folder is only populated by Atom with the template files when it doesn't already exist.

Yes, I'll look into whether this can be added in, thanks for reporting this.

[2015-02-11 20:48] lostinplace opened #5505 "Atom keeps converting my spaces to tabs"
whenever I save a package.json, it converts all of my spaces to tabs.  This happens even though soft tabs is enabled.

[2015-02-11 20:49] kevinsawicki commented on #5492
0.179 is now available, can people try upgrading and see if this issue is now fixed?

https://github.com/atom/atom/releases/tag/v0.179.0

[2015-02-11 20:50] kevinsawicki commented on #5501
0.179 is now available.

[2015-02-11 20:50] mark-hahn commented on #5503
I definitely would.  I could use it in a package I'm working on.

On Wed, Feb 11, 2015 at 12:39 PM, Ben Ogle <notifications@github.com> wrote:

[2015-02-11 20:56] izuzak commented on #5505
@lostinplace Can you share more [debugging information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues)?

[2015-02-11 21:02] batjko commented on #5500
@kevinsawicki Thanks, that seems to have done the trick.

I'm going to go ahead and close this ticket, assuming that any other 177->178 issues might not be strictly the same.

[2015-02-11 21:02] #5500 closed

[2015-02-11 21:04] lostinplace commented on #5505
unfortunately no.  this was solved by deleting the file, creating a new package.json, pasting the old contents, using untabify and then changing one of the lines two '  '  I also changes the invisibles.tab in config.cson to '  '

I don't know what was happening, but it seems to be fixed

[2015-02-11 21:04] #5505 closed

[2015-02-11 21:12] mnquintana commented on #5492
0.179.0 resolved it for me!

[2015-02-11 21:18] nathansobo commented on #5503
You've convinced me with the analogy to `textarea` elements. They don't grow with their content, right? So this would be a bonus feature.

Yeah, perhaps `show-gutters` (plural) makes more sense for the future, but it's weird in the current context.

If we invert this we'll have to turn these all on on the editors we instantiate in panes. Could be okay though. I'd rather not have a special `standal

[2015-02-11 21:22] benogle commented on #5503
No they dont.

I'd like to have some kind of indicator for the styles that a text editor is not a pane editor, but a textarea-like editor that should be styled like the mini editors. Maybe that could be done easily with contextual selectors, though.

[2015-02-11 21:27] nathansobo commented on #5503
I see what you're getting at here. Are you thinking that themes would provide distinct default styling for these kinds of editors? What do you have in mind for that styling?

I'm not loving any of the names proposed so far, so maybe this would be worth a try. Basically we're trying to say "not in a pane". Maybe the best way to say that is contextually.

[2015-02-11 21:36] benogle commented on #5503
Yeah. They would style them like the mini editors. They have focus indicators and they have background colors / borders that match the UI theme, not the syntax theme.

e.g. a mini editor has white background color in the light theme

![screen shot 2015-02-11 at 1 35 28 pm](https://cloud.githubusercontent.com/assets/69169/6156989/e35427fc-b1f2-11e4-8111-ca4614b981cc.png)

Then has the focus indicat

[2015-02-11 21:38] benogle commented on #5503
Also, in some cases, we are showing code and want the editors to be styled with the syntax colors (like in the markdown preview)

[2015-02-11 21:39] nathansobo commented on #5503
Are you down to make these changes or would you like me to do it? We need to hammer out a finalized sketch of what we plan. Maybe by editing the `Proposal` section in the first comment?

[2015-02-11 21:57] phphphp commented on #5488
Add one to the queue, and it is specifically a problem with the "Glass TTY VT220" font.  I'd really like to keep using this font, as it's very comfortable.  Any suggestions?

[2015-02-11 21:58] luqmaan commented on #4599
If you want a borderless window now, just add

[code]

to https://github.com/atom/atom/blob/master/src/browser/atom-window.coffee#L26-L31

![image](https://cloud.githubusercontent.com/assets/1275831/6157402/abbc7d1c-b206-11e4-85f8-0ca66ac576dd.png)

[2015-02-11 22:16] benogle commented on #5503
I can make these changes soonish, but not right now. Not super high prio.

I still want a way to cleanly differentiate between the textarea emulating editors and editors for code. A class or an attribute would be ideal, similar to the `mini` attr. Otherwise it'll be hard to have these look/work like mini editors in some cases and like code displays in something like markdown-preview.

[2015-02-11 22:25] nathansobo commented on #5503
I'm open to an attribute, just searching for the word. Another idea is a completely different tag name like `atom-text-area`. On the `atom-text-area`, everything defaults to being disabled and can be turned on. On the `atom-text-editor`, the opposite is true. But they're essentially the same code.

[2015-02-11 22:27] benogle commented on #5503
Ooh, I like that

[2015-02-11 22:28] benogle commented on #5503
Mini editors could be `atom-text-input`s?

[2015-02-11 22:29] nathansobo commented on #5503
:+1:

[2015-02-11 22:29] benogle commented on #5503
Sweet lets do that then

[2015-02-11 22:32] nathansobo commented on #5488
@phphphp Maybe see if you can open the font in a font editor and fix that glyph? It's going to be a pain not to be able to use non-breaking spaces anywhere in Atom. Or maybe file a bug with Chromium? We can leave this open until you have a resolution, regardless.

[2015-02-11 22:40] prabackar commented on #5411
I have freeze issue ever for 1987 lines of json object

[2015-02-11 23:00] miketamis opened #5506 "Atom throw permission denied error when trying to open."
when trying to open atom the screen is white and in the javascript console is this error:

[code]

[2015-02-11 23:02] kevinsawicki commented on #5506
What version of Atom are you using? Also, did you run `atom` with `sudo` by any chance before you saw this error?

[2015-02-11 23:17] olmokramer commented on #5492
Yes it works for me! Thanks!

[2015-02-11 23:20] #5492 closed

[2015-02-11 23:44] i32ropie opened #5507 "Uncaught Error: write EPIPE"
Error: write EPIPE
  at Object.exports._errnoException (util.js:753:11)
  at exports._exceptionWithHostPort (util.js:776:20)
  at WriteWrap.afterWrite (net.js:766:14)

Almost everytime I save a file, i have this error.

[2015-02-12 00:08] lee-dohm commented on #5493
Building on iojs v1.2.0 using 9765435389af0b635db43101c42b0596a062bfdf, I get the same as @izuzak. (Sorry, had to show up at my day job for a while :laughing:)

[2015-02-12 00:12] lee-dohm commented on #5493
Looking deeper at the error message ... didn't I see that you merged something about removing the harmony collections, @kevinsawicki?

[2015-02-12 00:13] lee-dohm commented on #5470
@horvan No, I do not run it with sudo either.

[2015-02-12 00:13] kevinsawicki commented on #5493
There was a PR opened today on apm about harmony-collections but it wasn't merged yet.

[2015-02-12 00:14] lee-dohm commented on #5493
Ah ok, that must be what I was thinking of.

[2015-02-12 00:28] lee-dohm commented on #5488
There's also a Discuss topic related to this:

https://discuss.atom.io/t/atom-displaying-weird-characters-mac/14854

[2015-02-12 01:16] sedabull commented on #5492
OP here, Upgrading to 0.179.0 fixed the update and installation problem, but I still can't get my locally linked package to activate. I've tried both `apm link --dev` and the normal `apm link`, but neither works. I can download my package from atom.io and activate the old version, but this bug makes it impossible to test local changes. The weird thing is I can see it in the installed packages view

[2015-02-12 01:21] kevinsawicki commented on #5492
@sedabull when you have your package linked, are you seeing any errors in the dev tools console in Atom after the window loads?

[2015-02-12 01:24] geoff-codes commented on #5493
@izuzak The latest issue you mentioned is the same one @totallymike reported way back when [here](https://github.com/atom/atom/issues/3184#issuecomment-52131341). I'd wager most of the rest of these issues boil down to the same issue.

To clarify: As @kevinsawicki hinted above,  you **cannot** presently build with io.js or node 0.12.0 (or 0.11.x), because the API/ABI of these versions are incompat

[2015-02-12 01:24] kevinsawicki commented on #5492
@sedabull also, can you link to the package you are having issues linking?

[2015-02-12 01:29] kevinsawicki commented on #5492
I'm guessing it is quantum-shell (from the screenshot).

I just ran `apm develop quantum-shell` and was able to load it in a dev mode window and see the toggle command in the command palette.

I also logged in `activate()` and saw the message go to the console when the toggle command was run.

Another thing to try from the dev tools is run `atom.packages.resolvePackagePath('quantum-shell')` to see

[2015-02-12 01:36] dustContributor commented on #4599
I'm pretty sure I explained thoroughly what I want and it isn't a plain borderless window (much less one that doesn't uses the gained space like you're showing), you should read the OP and the linked discussion.

[2015-02-12 01:46] simurai commented on #5488
Chromium bug: [&nbsp; in some fonts is displayed as symbol](https://code.google.com/p/chromium/issues/detail?id=454108)

[2015-02-12 01:56] sedabull commented on #5492
@kevinsawicki, I am not seeing any errors in the dev tools. When I do an `apm link --dev` I see this:
![dev-link-error](https://cloud.githubusercontent.com/assets/9311295/6160332/a1e693ee-b22f-11e4-9a72-5d8f404664e8.png)
It prompts me to install the package, and the toggle command is unavailable. Then when I try to get the resolved path:
![resolve-package-path](https://cloud.githubusercontent.com/

[2015-02-12 02:00] sedabull commented on #5492
Also, doing an `apm link --dev` and then `atom --dev` has the same behavior as a normal `apm link` and `atom`. My package shows up in the development package view (without a prompt to install), and the toggle command is available, but doesn't work and disappears after a single dispatch without any output to the dev tools.

[2015-02-12 02:37] nicolasblanco opened #5508 "Graphical glitches on file selector when opening folders"
Hi,
this kind of graphical glitches open very often when opening folders in the file selector, is there already an issue for these?

Thanks!

OS X 10.10.2, Atom 0.179, MacBookPro Retina display.

![screen shot 2015-02-12 at 13 33 14](https://cloud.githubusercontent.com/assets/12682/6160832/1d74c184-b2bc-11e4-946c-5a56e4aa8342.png)

[2015-02-12 02:47] kevinsawicki commented on #5508
I believe this is a duplicate of #4924

[2015-02-12 02:47] #5508 closed

[2015-02-12 02:53] kevinsawicki commented on #5492
@sedabull did the issue that you are seeing with a linked package only start after upgrading to 0.178?

[2015-02-12 03:08] sedabull commented on #5492
yes, I've been working exclusively on `quantum-shell` for the past week using 0.177.0, and this problem didn't present itself until immediately after I upgraded.

[2015-02-12 03:11] liugangnhm opened #5509 "TextEditor.scrollToBufferPosition not working"
[code]
The new editor'scrollToBufferPosition not work

atom version:0.177

[2015-02-12 03:21] gsklee opened #5510 "Display glitch at directory tree view"
![IMG](http://i.imgur.com/NPRyTyB.png)

Happens whenever I open a new file. Version is 0.178.0.

[2015-02-12 03:26] vemv opened #5511 "Command to close all tabs"
Any specific reason why such a common command across editors is not available in Atom?

I implemented it like this and it works just fine (respects other open projects a well as files with unsaved changes):

`atom.workspace.getPanes()[0].destroy()`

The keybinding from Textmate 1 (cmd-ctrl-w) is free by default.

Cheers - Victor

[2015-02-12 03:30] xfq commented on #5447
fcitx is an input method framework. It supports multiple input method engines and you can input languages such as Chinese, Japanese, and Korean with fcitx. Some information about fcitx:

* Homepage: https://fcitx-im.org/wiki/Fcitx
* Wikipedia: https://en.wikipedia.org/wiki/Fcitx
* GitHub: https://github.com/fcitx

I'm not quite familiar with fcitx, though. On GNU/Linux, I usually use [SCIM](http:/

[2015-02-12 04:16] paulcbetts commented on #5493
I don't think this will work even if you do fix that - all of the native node modules currently built in Atom Shell have a custom Magic™ version of rvagg/nan, that I suspect doesn't recognize current versions of io.js.

The good news is that I believe I read that this situation is temporary - in Chrome >= 41, V8 versions will be synced up with io.js again, and everything will Return To Sanity™, an

[2015-02-12 05:12] liugangnhm commented on #5509
[code]
delete option and it works

[2015-02-12 05:48] mark-hahn commented on #5511
Not that it matters, but virtually no keys are free.  77,457 users use it
for find-and-replace and 69, 060 users use it for emmet.  (shameless plug
for search-all-keybindings package).

On Wed, Feb 11, 2015 at 7:26 PM, Víctor M. Valenzuela <
notifications@github.com> wrote:

[2015-02-12 05:53] vemv commented on #5511
Nice!

Still, I think a plugin keybinding would override a core one, so the only 'freeness' that would matter is the one in core.

[2015-02-12 06:02] jwfeng commented on #3930
@LoneBoco This approach solves my problem，Disable Intel graphics shortcuts.

[2015-02-12 06:13] jfhenriques commented on #770
+1

[2015-02-12 07:28] lee-dohm commented on #5510
Duplicate of #4924. Please subscribe there for updates.

[2015-02-12 07:28] #5510 closed

[2015-02-12 08:10] horvan commented on #5470
@lee-dohm  alright so this is actually an Ubuntu thing. Have you set some special permissions to the atom folder to avoid using sudo?

I am asking because if you just run atom after building the result is the image I postet  with the first replay here.

[2015-02-12 08:26] horvan commented on #4285
with node 0.136 this issue is still present on ubuntu 14.04
just a thought could grunt copy the contents of --build-dir to what --install-dir points to in addition to create the share/applications folder

I am not familiar with node js

but a simple bash command like

cp -r /<builddir>/atom/* <installdir> should solve the problem if it is possible to copy files with grunt and declare two variable

[2015-02-12 08:33] tokejepsen commented on #5109
[code]
and still happening in 0.179

[2015-02-12 08:42] philipgiuliani commented on #5478
@andersennl The rubocop issue maybe has just solved because you ran atom from command-line instead of opening it directly.

The only thing that safe-mode does, is to don't load up your packages.

So to get rubocop working (in normal mode), just go into your project directory and start atom with `atom .`!

[2015-02-12 08:48] horvan commented on #5470
quick fix for ubuntu

[code]

[2015-02-12 09:02] #5470 closed

[2015-02-12 09:06] simonjosefsson commented on #3757
Updated to 179, release notes is still stuck on 157 for me

[2015-02-12 09:36] horvan opened #5512 "~/.atom has to be created with permissions for all users on ubuntu 14.04"
I am not shure if this is an apm issue or an atom issue in general but here is what happens if

[code]

is not set with rwrwrw

![result of compiling atom](https://cloud.githubusercontent.com/assets/5676367/6164795/b2e1869a-b2a2-11e4-9929-ee7206c8a3a6.PNG)

this is easy to fix by entering chmod 777 ~/.atom

but the directory should have this permissions right after building the editor or when inst

[2015-02-12 09:45] tststs opened #5513 "Package: The tern dependency range in the package.json file is invalid:"
I used to get a dependency for a package i'm working on via
<code>"tern": "git://github.com/marijnh/tern.git"</code>

There seems to be no way since 0.177 to publish a package with this type of dependency.
<code>The tern dependency range in the package.json file is invalid: git://github.com/marijnh/tern</code>

Per design or issue?

thx
tststs

[2015-02-12 10:25] NilAndNull opened #5514 "Open Recent Missing"
It would be a good enhancement to have a 'Open Recent' on the File Menu, like in Sublime.

[2015-02-12 10:25] picibucor commented on #3757
for me as well

[2015-02-12 10:42] ankibahuguna commented on #5495
Hi,
Yes.I tried to open a simpler html file with shorter lines ,it works fine.But the moment I try to open a larger file ,editor just freezes and stops responding.The same file opens smoothly on notepad++.
I am using  version 0.177.0.

[2015-02-12 10:45] izuzak commented on #5495
Thanks for confirming. I'm closing this as a duplicate of #979 and #307 then. Subscribe to those issues for updates.

[2015-02-12 10:45] #5495 closed

[2015-02-12 11:12] steelbrain commented on #5512
@horvan Which version of Atom are you using? Can you upgrade to the latest version please?
And in case you want to fix permissions of the `/.atom` folder execute this in a terminal
[code]

[2015-02-12 11:41] izuzak commented on #5493
Thanks for the explanations @geoff-codes and @paulcbetts. :bow: I'm not sure I understand all the details, but I'm sure it's helpful for resolving this issue. Also, since the [build docs](https://github.com/atom/atom/blob/master/docs/build-instructions/os-x.md#requirements) list node 0.10.x as a requirement and Atom builds just fine with that -- I wouldn't consider this a priority (but I think it'

[2015-02-12 11:53] izuzak commented on #5514
Looks like a duplicate of https://github.com/atom/atom/issues/4241

[2015-02-12 11:53] #5514 closed

[2015-02-12 11:54] izuzak commented on #3476
Closing in favor of #4241 (I'm guessing that's what @ericrange wanted).

[2015-02-12 11:54] #3476 closed

[2015-02-12 12:14] izuzak commented on #5513
Ahhh, I think I see what's causing problems for you -- as of [recently](https://github.com/atom/apm/pull/292), apm verifies that the semvers used in package.json are valid.

However, a dependency might be defined as a URL and a bunch of other things (I totally forgot about that):

https://docs.npmjs.com/files/package.json#dependencies

/cc @kevinsawicki

[2015-02-12 12:16] izuzak commented on #5513
This issue was moved to atom/apm#295

[2015-02-12 12:16] #5513 closed

[2015-02-12 13:25] izuzak commented on #5511
Looks like https://github.com/atom/tabs/issues/61, so closing this in favor of that issue.

[2015-02-12 13:25] #5511 closed

[2015-02-12 13:53] horvan commented on #5512
@steelbrain  I am using the latest one because this happens after grunt install is finished after building from the repo.

[2015-02-12 13:53] izuzak commented on #5509
@liugangnhm That works for me. Can you try updating to the latest version of Atom (0.179.0) and provide a complete example which demonstrates the issue? What are you passing in as `option`?

[2015-02-12 13:57] izuzak commented on #5507
@i32ropie Can you share more [debugging information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues)? Also, where are the files you are saving located (local drive, network drive, ...)?

[2015-02-12 14:00] izuzak commented on #5507
Possibly related: https://github.com/atom/atom/issues/4708

[2015-02-12 14:05] izuzak commented on #5504
Thanks for the report, @sadlerdavid. Can you share more information about what you were doing when this happened? Are you able to reproduce the problem?

[2015-02-12 14:07] izuzak commented on #5488
Great, thanks @simurai! :zap: Gonna mark this as wontfix for now, but keep it open so that we can keep track of the related Chromium issue.

[2015-02-12 14:25] izuzak commented on #5401
@ssnyder This doesn't look like a problem in Atom. Suggestion: if you can reliably reproduce this, try disabling your packages to see which one causes the problem. As @benogle mentioned, this is probably a problem in a package or two packages which start a server.

[2015-02-12 14:25] #5401 closed

[2015-02-12 14:27] phphphp commented on #5488
@nathansobo I deleted the offending character in FontForge and the problem went away, but I'll keep an eye on the Chromium bug just the same.  Thanks!

[2015-02-12 14:38] mpede commented on #5488
@nathansobo @phphphp fontforge solved the problem for me as well.

[2015-02-12 14:49] as-cii commented on #1890
Some updates on this. First some pieces of information about my machine:

**Git version**: 2.3.0
**Atom version**: master

I have cloned the mentioned repository and, even without explicitly setting `core.precomposeunicode true`, git correctly recognizes the file (e.g. `git status` is clean). However, libgit2 has a different behavior: in facts, without setting the config variable, it works as @izu

[2015-02-12 15:21] yuyichao commented on #5447
@xfq Unless there's something I'm missing, the emacs/vim input methods are irrelevant here. (Furthermore, I use emacs and it's input method support is terrible in many ways.)

@izuzak I just installed atom and tested Fcitx on it. It seems that the input method originally works fine but it seems that sometimes when atom window got focus, the focus is not in the input region (the cursor is not blink

[2015-02-12 15:24] aioue opened #5515 "Allow starring of community packages in installed list"
Allow toggling of whether a package is starred on atom.io from inside Atom.

This eases the install of Atom on other computers by using `apm stars --install`.

[2015-02-12 15:39] espresso3389 opened #5516 "UTF-16LE file is opened with UTF-8 and only 7-bit ASCII characters are correctly decoded"
When I open files of UTF-16LE, ATOM magically decodes only 7-bit ASCII characters but no other characters are decoded. I think there are many \0 characters on the file so that ATOM can detect UTF-16 in better way.
Furthermore, even with UTF-16LE files with BOM could not be loaded correctly :(

[2015-02-12 15:41] espresso3389 commented on #5516
Wow, I found that even \0 characters are decoded correctly and stay there but they are anyway invisible:( I hope some visible character should be shown for them...

[2015-02-12 16:16] stramel opened #5517 "Ability to see the warning when build aborts"
It would be very useful for a user and probably to help debug for you guys to have the Warnings display in the terminal instead of just saying "Aborted due to warnings.". I then have to modify my build script to use `-v` so I can see the warning.

[2015-02-12 16:26] steveoh commented on #3757
he said it might take 2 releases. If it really bothers you run
`localStorage.setItem('release-notes:version', "0.179.0")` in the console.

[2015-02-12 16:57] izuzak commented on #5515
Thanks, @aioue, looks like a duplicate of https://github.com/atom/settings-view/issues/141.

[2015-02-12 16:57] #5515 closed

[2015-02-12 17:04] kevinsawicki commented on #5517
Running with the `--stack` option can also be helpful.

[2015-02-12 17:13] lee-dohm commented on #5516
Support for autodetect with BOM is tracked by atom/encoding-selector#18. Autodetect in general is tracked in #4160. Please subscribe to those issues for updates. I'm going to close this as duplicate.

Until those are fixed though, there is an encoding selector in recent versions of Atom:

![encoding-selector](https://cloud.githubusercontent.com/assets/1038121/6172632/e53ff3e4-b296-11e4-9d77-e3106f

[2015-02-12 17:13] #5516 closed

[2015-02-12 17:14] izuzak commented on #1736
I _think_ this can be closed. @nathansobo mind double-checking just in case I'm misunderstanding?

[2015-02-12 17:14] Cipa opened #5518 "Uncaught Error: EEXIST, file already exists '/Volumes/xxxxxx.com/assets/templates/site/js/custom'"
[Enter steps to reproduce below:]

1. I just saved a file, project is on a remote mounted disk(FTP)

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: EEXIST, file already exists '/Volumes/xxxxxx.com/assets/templates/site/js/custom'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-12 17:15] nathansobo commented on #1736
Yeah, this is a totally outdated, deprecated API.

[2015-02-12 17:15] #1736 closed

[2015-02-12 17:19] Cipa commented on #5518
It happened because the disk was not available anymore. Maybe a warning could be added when this happens

[2015-02-12 17:20] wengxt commented on #5447
A stable reproducible way to trigger a input method related bug is open the menu from menubar, then input method focus will be messed up.

@yuyichao it's a chrome/chromium based editor, I doubt they are doing anything specificly.

I know opera and chrome are suffering from a similar issue that focus of input method might not work in some case.

There are some effort from chromium to fix focus prob

[2015-02-12 17:20] stramel commented on #5517
@kevinsawicki What all does the `--stack` flag show?

[2015-02-12 17:25] kevinsawicki commented on #5517
The stack trace for any uncaught exceptions during the grunt tasks.

[2015-02-12 17:42] as-cii commented on #1996
This issue hasn't received attention for a while.

@Kimgils @ericbrooke: can you confirm it still doesn't work on your machine?

[2015-02-12 17:55] #5518 closed

[2015-02-12 18:00] as-cii commented on #2066
@hminaya Thanks for reporting this issue: unfortunately it hasn't received attention for a while; have you experienced this issue again or it works for you now?

Thank you :smile_cat:

[2015-02-12 18:37] Cipa opened #5520 "Saving message would be nice"
When I use Atom with mounted (S)FTP disks that are slow and I save the editor is not responsive until the file is saved. Would be nice to have a notification or something that tells me that the file is still saving.

Thanks

[2015-02-12 18:43] superherointj opened #5521 "Uncaught Error: ENOTDIR, open '/Users/superherointj/Dev/sumicity/sumicity.js/deployment-config.json'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOTDIR, open '/Users/superherointj/Dev/sumicity/sumicity.js/deployment-config.json'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-12 18:47] DarkArc commented on #5453
I notice no difference on my system running Plasma 5, this is probably something that should -- or already has been -- handled at a KDE level.

[2015-02-12 18:59] DarkArc commented on #4848
I can't reproduce this on 0.180.0

[2015-02-12 19:05] steelbrain commented on #5521
@superherointj It's a bug in SFTP-deployment package, you need to read it's README file and place your configuration file there [the path that this error indicates].

[2015-02-12 19:07] stela5 opened #5523 "List installed packages and themes"
I know Atom takes care of detecting pending updates for installed packages and themes and notifying me, but I can't seem to find where in the settings I can simply view all my installed packages and themes.  Can you point me in the right direction?

[2015-02-12 19:07] #5521 closed

[2015-02-12 19:08] benogle commented on #5521
thanks @steelbrain

[2015-02-12 19:21] DarkArc commented on #4848
This also seems to be a duplicate of issue #3063.

[2015-02-12 19:27] kevinsawicki opened #5525 "Deprecations in Tasks aren't reported"
If you have code running inside a `Task` handler, then any deprecations encountered in there won't be reported to deprecation cop since they happen out of process.

[2015-02-12 19:38] DarkArc commented on #5523
Just click the "Packages" or "Themes" tabs respectively :)

[2015-02-12 19:54] mglaman opened #5527 "Uncaught TypeError: Cannot read property 'id' of undefined"
[Enter steps to reproduce below:]

1. Select all of document's text
2. Paste to overwrite from clip board.

**Atom Version**: 0.178.0
**System**: Mac OS X 10.10.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'id' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-12 19:56] kevinsawicki commented on #5527
@nathansobo do you think this is a presenter regression? Just wondering from the stack trace.

[2015-02-12 19:57] sj4nz commented on #4848
Still true for me with Atom v0.179.0 and elementaryOS Version: 0.2.1 "Luna" ( 64-bit ).

[2015-02-12 20:02] nathansobo commented on #5527
@kevinsawicki Seems very likely.

[2015-02-12 20:11] lee-dohm commented on #5523
You have to open the Settings View first by pressing <kbd>Cmd+,</kbd> on OS X or <kbd>Ctrl+,</kbd> on other platforms. Then yes, just click the Packages or Themes tabs. If you're a visual person, they're here:

![packages-and-themes](https://cloud.githubusercontent.com/assets/1038121/6176004/3ada5ea2-b2b0-11e4-8038-e2750ab73a6b.png)

Let us know if you need more help! You can always stop by [Discu

[2015-02-12 20:11] #5523 closed

[2015-02-12 20:22] 50Wliu commented on #4848
Closing this in favor of #3063 (which in turn is waiting on atom/atom-shell#613)-thanks @DarkArc.

[2015-02-12 20:22] #4848 closed

[2015-02-12 20:25] nathansobo commented on #5527
Having a hard time reproducing. @mglaman if you can reproduce reliably, would be great to get some more information. I added a more detailed assertion at that spot in the code so we can hopefully get some more information about what might be going on if it happens again.

[2015-02-12 20:37] nathansobo opened #5529 "Pasting large amounts of text has gotten really slow"
Here I'm pasting ~800 lines of text and it's taking about 100ms. Looks like we're spending a ton of time in `setIndentationForBufferRow`, probably because the presenter is doing more work synchronously in these cases. @maxbrunsfeld do you think we could auto-indent before inserting the text to avoid this?

![screenshot 2015-02-12 13 31 12](https://cloud.githubusercontent.com/assets/1789/6176352/7c

[2015-02-12 20:40] 50Wliu commented on #5529
Refs #5411.

[2015-02-12 20:46] nathansobo commented on #5411
My presenter change recently made this problem worse. @maxbrunsfeld you were right, we need a benchmark suite.

[2015-02-12 21:06] pcolby opened #5530 "Update.exe chewing CPU"
Hi, it seems most mornings Atom's `Update.exe` process consumes a lot of CPU - up to 80%, for several minutes, before settling down to use ~5% for several minutes.  This seems like a lot when Atom is already up to date on my PC, so there are no updates to install / process.

Is this expected?  If not, I'll be a bit more attentive to its actual behaviour, and see if I can provide a more detailed re

[2015-02-12 21:43] thedaniel commented on #5530
cc @paulcbetts - this issue might belong on the https://github.com/Squirrel/Squirrel.Windows repo (the update framework we use)

[2015-02-12 21:50] paulcbetts commented on #5530
@pcolby Can you attach the log? It's in `C:\Users\YOUR NAME\AppData\Local\atom\SquirrelSetup.log`

[2015-02-12 22:23] pcolby commented on #5530
Thanks for the very fast responses :)

`SquirrelSetup.log` attached below.  It's ~4MB, so I've zipped it.  Github doesn't accept `*.zip` or `*.log` files, so I've given it a faux `.jpg` extension.

![squirrelsetup zip](https://cloud.githubusercontent.com/assets/5195222/6178279/78ebde6c-b361-11e4-9eef-d2278a77e8c8.jpg)

Cheers.

[2015-02-12 22:55] 50Wliu commented on #5296
This can be closed now, right?

[2015-02-12 22:59] Verox- opened #5532 "[PHP] Syntax highlighting for inline variables"
![Issue example](http://i.imgur.com/lzUxSyj.png)

As shown in the image, OO style function calls surrounded by curly braces in strings doesn't format properly.

[2015-02-12 23:02] 50Wliu commented on #5532
Could you please report this to the [language-php](github.com/atom/language-php) repository?  Thanks.

[2015-02-12 23:02] #5532 closed

[2015-02-12 23:03] lee-dohm commented on #5532
This issue was moved to atom/language-php#61

[2015-02-12 23:04] lee-dohm commented on #5532
I used https://github-issue-mover.appspot.com/ to do it. It's a pretty cool utility, found out about it from @izuzak, I believe.

[2015-02-12 23:12] paulcbetts commented on #5296
Yep afaik

[2015-02-12 23:13] paulcbetts commented on #5530
@pcolby I don't think that trick works. Can you host it on Dropbox or some other service?

[2015-02-12 23:15] #5296 closed

[2015-02-12 23:19] mark-hahn opened #5533 "Project::setPaths() can hose a project"
If you use `Project::setPaths()` to change the tree in a project to the wrong folder and close atom, then that is serialized and every time you try to open the project you get that wrong tree loaded.  That folder is then unaccessible until you clear out `~/.atom/storage`.  This was very frustrating.  I had to work on that folder with notepad++ until @lee-dohm told me about the storage folder.

See

[2015-02-12 23:20] mark-hahn commented on #5533
P.S.  My suggested fix is to always check when opening a folder and make sure it is one of the paths.

[2015-02-12 23:46] pcolby commented on #5530
Right-click, save-as: https://cloud.githubusercontent.com/assets/5195222/6178279/78ebde6c-b361-11e4-9eef-d2278a77e8c8.jpg

Rename file to `*.zip`.  Extract.

Works for me :)

I'll email paul as suggested.

Cheers.

[2015-02-13 00:06] #5411 closed

[2015-02-13 00:06] #5529 closed

[2015-02-13 00:43] miketamis commented on #5506
Atom: 0.179.0, I may of run atom with sudo at one point to edit a file that only root can edit.

[2015-02-13 01:08] mglaman commented on #5527
It happened about three times in a row, so I finally shot issue over. Go figure after opening issue it didn't happen again.

However, should have been more specific on select/paste.
* CMD+Tab to Atom
* CMD+A
* CMD+V

@nathansobo I wish I had more :/

[2015-02-13 01:09] M1Reeder opened #5536 "Uncaught SyntaxError: Failed to execute 'webkitMatchesSelector' on 'Element': '0' is not a valid selector."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.3
**Thrown From**: Atom Core

### Stack Trace

Uncaught SyntaxError: Failed to execute 'webkitMatchesSelector' on 'Element': '0' is not a valid selector.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-13 02:02] dustContributor commented on #4599
Nevermind, I tried it and I can maximize the window just fine, it also removes the menu bar sadly :cry:

[2015-02-13 02:06] drammock commented on #5474
it looks like #5405 only affects RPM, not debian builds?  I'm now on 0.179.0, the screenshot above still reflects what I am seeing, and there is still only one logo png in the install tree, at:

Reopen?

[2015-02-13 02:17] grizzilus commented on #4542
I've actually had this happen twice to the `“` character. I am having trouble reproducing the exact steps that resulted in this today, but I definitely just performed a couple of regular and project find-and-replace operations for the commit where the problem was introduced. I'm having trouble replicating, but hopefully I can find something that causes this soon. I just wanted to mention that this

[2015-02-13 02:44] grizzilus commented on #4542
I can confirm the second part of this (searching for `�` in project find and having it disappear when the file is opened). Here are the steps to reproduce for a particular file I have:

1. Create folder with file `foo.txt` (will talk more about the file after listing these steps)
2. Open atom in safe mode from the terminal in this folder (currently using atom 0.179 on Linux Mint 16)
3. Open projec

[2015-02-13 02:58] kudoh104 opened #5538 "Uncaught Error: Atom can only handle files < 2MB for now."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.166.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Atom can only handle files < 2MB for now.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-13 04:42] fundon commented on #5285
https://github.com/atom/emissary/pull/10

Is it fixed?
/cc @atom

[2015-02-13 04:44] steelbrain commented on #5538
This question has been asked a ton times :joy:
Please have a look at #307

[2015-02-13 05:08] doggan opened #5539 "Package gets duplicated when moved to Atom Core Packages"
Original post here: https://discuss.atom.io/t/language-csharp-package-appears-twice/14867

**Language-csharp package appears twice**

After the [recent 0.178.0 release](https://atom.io/releases) (_Atom now includes C# syntax highlighting by default_), the language-csharp package appears twice in my "Installed Package" list - once under Community Packages, and once under Core Packages.

![fa75766fb

[2015-02-13 05:12] lee-dohm commented on #5538
Duplicate of atom/atom#4421 and atom/atom#307. Please subscribe there for updates.

[2015-02-13 05:12] #5538 closed

[2015-02-13 05:15] steelbrain commented on #4421
I think this should be re-opened so for users running previous versions of atom don't keep opening new issues for this.

[2015-02-13 05:37] thomasjo commented on #1996
I'm going to close this issue. If this is still happening, please re-open.

[2015-02-13 05:37] #1996 closed

[2015-02-13 07:10] geoff-codes commented on #5493
@izuzak Actually, [those requirements](https://github.com/atom/atom/blob/master/docs/build-instructions/os-x.md#requirements) tripped me up a bit.

Myself, not being an everyday node.js user, didn't realize that "- node.js v0.10.x"  excludes _newer_ versions.

That is, in most cases, when I see a requirement like "ruby 1.9.3", I say to myself, "ok, so ruby 2.x should be fine", and I applied that s

[2015-02-13 07:24] drtweety opened #5541 "Unable to install on windows"
I am not able to install atom on windows, here is the install log:

[code]

[2015-02-13 07:43] melchiorb commented on #5541
Probably same as this one: https://github.com/atom/atom/issues/5109

[2015-02-13 08:09] izuzak commented on #5493
@geoff-codes Thanks for pointing that out -- I see what you're saying and I wouldn't be :-1: on adding more text to the docs if this is causing confusion. However, I'd rather not list all the possible configurations that don't work and would rather say something like "yes, we officially support exactly this version".

I'm sure you'll agree that users who want to build Atom themselves are aware tha

[2015-02-13 08:16] vickydasta commented on #5411
@nathansobo so sorry,yet check if related issue has been posted before
but it's seems to be atom's most critical issue

[2015-02-13 08:19] andersennl commented on #5478
I actually start atom quite often via command line @philipgiuliani but this time it seems to have fixed the issues. Interesting why it happened now, though :) What's the difference in opening atom (not from terminal and then opening the project via menu) and opening a project via `atom .` btw?

[2015-02-13 08:32] nathansobo commented on #5411
It will be fixed on the next release. I agree it was bad.

[2015-02-13 09:01] mtinning commented on #4767
I experienced this pasting a large amount of data from excel (>30,000 rows, 1 column). No particular reason why I was doing it, but should be easy to reproduce

[2015-02-13 09:07] geoff-codes commented on #5493
Myself, I wasn't speaking about io.js, just lazy folk like me who don't pay attention to version numbers.
Honestly, what it really boils to on Mac OS X:

  * ~~[~~node.js~~](http://nodejs.org/download)~~ [**v0.10.x**](http://nodejs.org/dist/v0.10.36/) —  _**NOT**_ the version of [node](http://nodejs.org/dist/v0.10.36/) you installed with [:beer: brew] (https://github.com/Homebrew/homebrew).

Which

[2015-02-13 09:54] Code-Vortex opened #5542 "File Scroll while typing (Bug or Feature ?)"
after updating atom to the current version 0.179 , when write a large text, it will be hidden behind the status bar, but i found an option called scroll past end in core settings, after activating it it solved the problem, is this a new feature ? or a bug ?

check screenshot there is a line behind the status bar
![screenshot from 2015-02-13 11 47 23](https://cloud.githubusercontent.com/assets/4104

[2015-02-13 10:29] horvan commented on #5512
after some testing and trying the deb packge for ubuntu, too I figured out that the .atom folder in the users home directory should just be set to 755 when it i created . this solves the problem as well for the compiled version as for the deb package.

If grunt is able to set permissions this is a musthave.

[2015-02-13 12:10] superherointj commented on #5521
It is not possible to set the configuration file there because the path has a file on it. But I agree it`s a SFTP-deployment bug probably.

[2015-02-13 12:53] izuzak commented on #1792
I haven't seen this happen again for almost a year (no mention on discuss either). Also, just had a look at [the code](https://github.com/atom/atom/blob/2dac7fd18eb3607ba0fab8a4d2393934dc6afa5d/src/selection.coffee#L698-L706) and I don't see an obvious way this could happen now. From what I can tell -- `union` should always be called on `Range` objects which [have a `union` method defined](https:/

[2015-02-13 12:57] izuzak commented on #1896
This is being tracked over in https://github.com/atom/autosave/issues/9 so closing this one.

[2015-02-13 12:57] #1896 closed

[2015-02-13 13:25] 50Wliu commented on #4421
There'll be less issues coming in as more and more people upgrade to newer versions of Atom.

[2015-02-13 13:27] 50Wliu commented on #5541
Yes, please subscribe to #5109 for updates.  Thanks @melchiorb.

[2015-02-13 13:27] #5541 closed

[2015-02-13 13:31] 50Wliu commented on #5542
/cc @nathansobo?

[2015-02-13 13:34] abe33 commented on #5542
Can you confirm this issue when running atom with the `--safe` option?
Themes may play a role in this kind of problem.

[2015-02-13 13:53] antond commented on #4360
I am on 0.179.0 and facing the same issue on Ubuntu 12.04.5 LTS (precise) with the Trusty Hardware Enablement Stack. If it matters, I am running this on a VM (i.e. most likely software rendering).

[2015-02-13 13:58] konstantin-popov commented on #2822
:+1:

[2015-02-13 14:15] GianLaz commented on #5145
Update & fixed. Thanks

[2015-02-13 14:32] izuzak commented on #5447
Thanks for the comments @xfq @yuyichao @wengxt. I have to admit that I have little knowledge about those things, so just trying to get as much information and context as possible.

Looking at some other issues, I noticed https://github.com/atom/atom/issues/2266 and https://github.com/atom/atom/issues/5328. Do those issues look like they cover the problem described in this issue? If so, it would be

[2015-02-13 14:39] as-cii commented on #1125
I would like to tackle this (or, at least, offer my help), but I need guidance in order to get started. This should affect only rendering, therefore my understanding of the code led me to `TokenizedLine`.

In particular, `softWrapAt(column)` contains the code which converts one `TokenizedLine` into a left fragment (the line which will fit the current row) and a right fragment (the line which, prob

[2015-02-13 14:40] izuzak commented on #5542
@Code-Vortex if you can reproduce this in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode), can you share the exact steps which reproduce the issue for you or record a GIF? I'm having trouble reproducing that.

[2015-02-13 14:44] jessegrosjean opened #5543 "Export documented API through require('atom')"
I think the [documented Atom API](https://atom.io/docs/api/v0.179.0/Atom) classes should be exported through require('atom'). At least for all classes where it would make sense for a package developer to instantiate. e.g. Workspace shouldn't be exported since no one needs to instantiate that, but Disposable, and CompositeDisposable should be exported since it makes sense for a package developer to

[2015-02-13 14:44] wengxt commented on #5447
@izuzak
This might be the same issue https://github.com/atom/atom/issues/2266 as this.

Input method related issue is quite platform specific . This is on mac, so I have no idea about that. Usually, one won't be able reproduce same input method bug different platform. https://github.com/atom/atom/issues/5328

For https://github.com/atom/atom/issues/2242 , from the log most likely ibus itself crash

[2015-02-13 14:47] wengxt commented on #5447
Ah, for #2242, what ever the original reports might be the same issue.

For @khanhicetea 's case in #2242, ibus might just crash.

[2015-02-13 15:10] Code-Vortex commented on #5542
There is no big steps to follow just fill a file with alot of strings if you don't have the same issue so you are good to go.

Well i tried the same version same theme and syntax, but the main difference is the OS

on fedora 21 i have the submitted issue and also when opening theme settings i see the text is not in the middle of the textbox , maybe its the same issue ? screenshot :
![screenshot fr

[2015-02-13 15:13] fejfar opened #5544 "Uncaught Error: Atom can only handle files < 2MB for now."
Uncaught Error: Atom can only handle files < 2MB for now.

**Atom Version**: 0.158.0
**System**: linux 3.13.0-37-generic
**Thrown From**: Atom Core

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

[2015-02-13 15:23] postcasio commented on #5544
Duplicate of #4421 and #307. Please subscribe there for updates.

[2015-02-13 15:23] #5544 closed

[2015-02-13 15:28] conmarap opened #5545 "Multiple processes spawn spontaneously."
I have caught a bug that will spawn multiple Atom processes mostly when the main window gains focus. Some are killed but there are more and more being added as time passes and it leads to a 100% CPU usage and more than 80% memory usage (about 8GB of RAM on my machine). In the screenshot below you can see what I mean (NOTE: There are more than 40 processes and was unable to include all in a single

[2015-02-13 15:53] stramel opened #5546 "Settings View not opening"
I am unable to open the settings through the command palette or using the keys `Ctrl-,`. Using the Menu however, I am able to access it through Edit > Preferences.

I have verified this is still an issue in Atom's Safe Mode (`--safe`) and that there are no errors in the console.

My setup:
**OS:** Ubuntu 14.04
**Atom:** 0.180.0-2dac7fd
**settings-view:** 0.181.0

[2015-02-13 15:54] izuzak commented on #5546
Thanks for the report, see https://github.com/atom/settings-view/issues/380

[2015-02-13 15:54] #5546 closed

[2015-02-13 16:06] Fank opened #5547 "Atom close/crash if i drag/move a firefox tab over it"
Tested with Firefox last stable & developer edition (Aurora).
If i open a new tab or one with content, and i drag it away (to open a new window), and move the cursor over Atom it closes.

Here the shell output:
[code]

Here tested with "--safe"
[code]

OS: Ubuntu 14.10 x64
Plugins installed:
mfkinder@wk-boe001:~$ apm list
Built-in Atom packages (84)
├── archive-view@0.47.0
├── atom-dark-syntax@0.2

[2015-02-13 16:08] Fank commented on #5547
Im using Atom 0.179.0

[2015-02-13 16:10] 50Wliu commented on #5547
Duplicate of #3593.

[2015-02-13 16:10] #5547 closed

[2015-02-13 16:11] Fank commented on #5547
Sry didn't searched it before

[2015-02-13 16:16] chrisgonzalez commented on #5411
@nathansobo I've got a vendor-supplied 131kb html file that is locking up when I try to type anywhere in the doc. Also locks up Atom when opening the file. Is this related?

[2015-02-13 16:36] izuzak commented on #5473
@NatalieWolfe I'm having trouble reproducing this in the latest version of Atom:

[code]

Here's what I'm doing:

![paste](https://cloud.githubusercontent.com/assets/38924/6190840/29790b7c-b3a5-11e4-90b2-9a12c08adc91.gif)

Is there something I'm doing differently than you are?

Can you try reproducing this again and record a gif in which the invisible characters are shown as well as the keybinding

[2015-02-13 16:56] izuzak commented on #2454
This is still reproducible. Definitely not a priority, but just wondering if it might be a :bug: we could :hammer: more easily now? /cc @nathansobo @benogle

[2015-02-13 17:03] nathansobo commented on #5411
@chrisgonzalez Is this a new slowness or has it always been bad? I imagine the latter. We still need to optimize a bunch of intermediate structures between the screen and the buffer before this kind of situation will be tolerable. This is part of my focus over the next few months.

[2015-02-13 17:06] BrainCrumbz opened #5548 "Renaming long filenames: scrollbar hides text"
Steps:
1. Select a file to rename in treeview
1. Press F2
1. The small dialog to rename file shows up on the top

Here the filepath should be fully visibile. Instead, because the filename is wider than field width, the horizontal scrollbar shows up. But that overlaps and partially hides the filename itself (see screenshot).

HTH
Cheers

![image](https://cloud.githubusercontent.com/assets/3185573/6

[2015-02-13 17:06] nathansobo commented on #1792
I vaguely remember looking at this, but not much in the way of details. Let's just close it out maybe. I'll let you decide.

[2015-02-13 17:08] izuzak commented on #5548
I'm seeing the same, possibly related to https://github.com/atom/atom/issues/5542? /cc @nathansobo

[2015-02-13 17:22] lee-dohm commented on #5543
I disagree that all classes documented in the API *must* be exported. There are valid reasons that an API would want to be the sole source of instances of a class (a factory class or factory method for example), *not* have those classes instantiated by the user of the API, but still have those classes documented for the people that wanted to use said API.

The `File` and `Directory` classes may no

[2015-02-13 17:25] lee-dohm commented on #5545
Could you give the following information?

* Which version of Atom are you using?
* What OS and version are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?
* Can you supply repro steps?

[2015-02-13 17:33] conmarap commented on #5545
* Latet; I always keep it up to date.
* Windows 8.1, version/build `6.3.9600`
* Yes.
* I am not sure; I have noticed that the issue is more intense after entering `Ctrl` + `Shift` + `P` and running a command, any command.

[2015-02-13 17:40] lee-dohm commented on #5545
Giving the specific version number is helpful because then we don't have to track down the version number that was most likely available on the date that the issue was reported. I assume you mean v0.179.0?

[2015-02-13 17:42] jessegrosjean commented on #5543
Yes, that makes perfect sense. I qualified my "export all" with "for all classes where it would make sense for the package developer to instantiate", which might not have been very clear. Maybe a clearer rule would be all classes that have a publicly documented constructor method.

Anyway just my idea. I'm new to this project and maybe don't fully understand the ramifications.

[2015-02-13 17:43] conmarap commented on #5545
In that case I apologize. I'm referring to version 0.179.0, correct.

[2015-02-13 17:52] lee-dohm commented on #5543
Yeah, I didn't quite grasp the qualification there especially given the title of the issue. I think the documentation could be enhanced to give an indication of how to instantiate a class or if it isn't intended to be.

[2015-02-13 17:53] nathansobo commented on #2454
Probably just as easy to fix. We just need to prioritize it.

[2015-02-13 18:09] NatalieWolfe commented on #5473
@izuzak: The link you provided goes to 0.179.0, which is what I have installed on my Mac at the moment.

Here is an updated gif, starting from a completely new window. Auto Indent on Paste is enabled during this demonstration.

![autoindent-3](https://cloud.githubusercontent.com/assets/466761/6192519/c1f50dd0-b367-11e4-9aec-92fe1f880da7.gif)

If you would like me to make another where I type slowe

[2015-02-13 18:11] NatalieWolfe commented on #5473
I notice on your gif, @izuzak, that you are using a plain text file. I don't think Auto Indent on Paste works in plaintext files (there is no structure to the text for it to use).

[2015-02-13 18:13] izuzak commented on #5473
Ahhhh, that was it, thanks @NatalieWolfe! Seeing it now as well.

[2015-02-13 18:49] gregmac commented on #4324
At first glance, I'm guessing fix for this will probably be in the various openPath() methods in https://github.com/atom/atom/blob/master/src/browser/atom-application.coffee ?

Also experiencing this in Windows (8.1), including with the 'Open with Atom' context item.

[2015-02-13 19:39] LILNAZ opened #5549 "please implement"
When dividing the atom window in to multiple sections have a way to resize proportions.

ps: I'm new to Github

[2015-02-13 19:42] m1ga commented on #5549
https://github.com/atom/atom/issues/274

[2015-02-13 19:43] izuzak commented on #5549
Thanks @m1ga -- closing in favor of https://github.com/atom/atom/issues/274.

[2015-02-13 19:43] #5549 closed

[2015-02-13 19:47] LILNAZ commented on #5549
thanks exactly what i was looking for.

[2015-02-13 20:13] steelbrain commented on #5236
I am not sure if Atom is implementing this in core any time soon, So I am gonna create a package for it.

[2015-02-13 20:51] srinivasanv opened #5550 "Paste and Match Style not working on Mac"
http://support.apple.com/en-us/HT201236

Command-Shift-Option-V (the default keyboard shortcut for Paste and Match Style) doesn't seem to work in Atom as a method to paste as plain text.

Ideally, that keyboard shortcut would work the same way as it does in TextEdit (while TextEdit is in plain text mode).

Running Atom 0.179.0 on OSX 10.10.2

[2015-02-13 21:17] grizzilus commented on #4542
Actually, I can reproduce the issues in the comment above (using the same 5 steps) if the content of `foo.txt` is the following:

[code]

[2015-02-13 21:22] karai17 opened #5551 "Right-clicking window with no tabs throws an error"
[code]

[code]

[2015-02-13 21:26] slashsBin commented on #4335
:+1:

[2015-02-13 21:49] jonathandelgado commented on #5545
@conmarap Is this possibly plugin related?

[2015-02-13 21:55] conmarap commented on #5545
@jonathandelgado I am suspecting that might be the case, since I have a Git plugin that I've been running from time to time, but it never caused an issue till yesterday. But, even so, is Atom supposed to be spawning processes like that?

[2015-02-13 21:57] jonathandelgado commented on #5545
@conmarap If a plugin spawns a child process, it will also be an `atom.exe` - Can you reproduce this with said plugins disabled?

[2015-02-13 21:57] karai17 opened #5552 "Atom 179 won't open on Windows"
I recently installed Atom 179 and it refuses to open new windows. I tried to close it and reopen it and now it's not opening at all. When I click my pinned taskbar icon a single atom process pops up in my taskbar then quickly disappears. If I open the exe manually from appdata, I don't even get that.

Reverting back to 177 works great, I immediately get 4 processes and Atom pops up as expected.

[2015-02-13 21:58] kevinsawicki commented on #5552
Can you run `atom -f` from the command prompt and see if any errors are logged to the console?

[2015-02-13 22:01] karai17 commented on #5552
![](http://puu.sh/fSwWJ/184701b44d.png)

[2015-02-13 22:04] kevinsawicki commented on #5552
Looks like your Atom installation is corrupt, several files appear to be missing. I believe could also be why you are experiencing https://github.com/atom/notifications/issues/38 and https://github.com/atom/atom/issues/5551

Can you try deleting the `C:Users\Karai\AppData\Local\atom` folder, re-downloading from atom.io and rerunning the downloaded `AtomSetup.exe`?

[2015-02-13 22:07] karai17 commented on #5552
I'll give it a try. I'd like to also note that the Atom updater is far too opaque. When Atom is updating, it simply says "updating" and gives no information like "1 minute remaining" or "85% downloaded" or anything... useful.

Sometimes when it updates it takes an indefinite amount of time and it doesn't actually finish until I restart it manually, which could explain why this time it became corru

[2015-02-13 22:12] steelbrain commented on #5236
@amingilani Check out [Package-Upgrader][1].

[1]:https://github.com/steelbrain/Atom-Package-Upgrader

[2015-02-13 22:17] karai17 commented on #5552
Deleting 179, running 177, and running update gave me an error saying 177 was up to date.

Doing exactly what you said and deleting the whole atom folder and then reinstalling worked fine. Perhaps I will open a new issue about update's transparency.

Thanks.

[2015-02-13 22:17] #5552 closed

[2015-02-13 22:18] karai17 commented on #5551
Looks like my install was corrupted, this no longer occurs after a reinstall.

[2015-02-13 22:18] #5551 closed

[2015-02-13 22:18] AnbuKakashi opened #5553 "what do i do here"
Uninstall everything or ?
Sorry for the noob question, but i am new to Atom and i just started messing around with web design.

![screenshot_1](https://cloud.githubusercontent.com/assets/10999416/6196193/7107225e-b3d6-11e4-901d-391213c4e010.png)

[2015-02-13 22:26] karai17 opened #5554 "Update is not transparent enough"
When I update Atom, what happens is the Update option turns into an "Updating" message and stays like that indefinitely. I have no way of knowing if the update is actually working, if it is done, or anything else of the sort. It is not until I close and restart Atom that it tells me I am using a new version.

A significant improvement to this would be to do one of the following:

1) Emulate how Gi

[2015-02-13 22:32] mark-hahn commented on #5554
If the update is being done with squirrel then you are pretty much out of
luck.  Squirrel refuses to do anything like give progress reports.  They
say to just make the load instantaneous (LOL).  I posted an issue
for squirrel.

On Fri, Feb 13, 2015 at 2:26 PM, Landon Manning <notifications@github.com>
wrote:

[2015-02-13 22:37] karai17 commented on #5554
Well then it sounds like squirrel is a pile of expletive and should be thrown out for a competent solution. Giving users information is the most basic thing you can do. Installing Atom from scratch is annoying because it just shows an animated splash image and tells me to trust that it's actually working instead of showing me something simple like a progress bar. The progress bar doesn't even have

[2015-02-13 22:38] AnbuKakashi commented on #5553
Ok i deleted all of those on the picture, but i have still have one problem
![screenshot_2](https://cloud.githubusercontent.com/assets/10999416/6196540/56303c10-b3d9-11e4-9c5e-a41e6597aad8.png)

[2015-02-13 22:41] mark-hahn commented on #5554
actually working

That is all squirrel.  I assume it's to late to ditch squirrel and use a
real installer.  I also assume there are some internal features of squirrel
that attracted the core developers.

On Fri, Feb 13, 2015 at 2:37 PM, Landon Manning <notifications@github.com>
wrote:

[2015-02-13 22:47] karai17 commented on #5554
It's never too late, it just may take some serious overhauls which, in my opinion, are necessary. GitHub for Windows has a fantastic update setup and I am very surprised there is this sort of fragmentation within GitHub's own software.

[2015-02-13 23:05] 50Wliu commented on #5554
This was discussed before in Squirrel/Squirrel.Windows#137 which got closed with none of the suggestions implemented (with the reason being, as @mark-hahn noted, that adding said suggestions would "inform the user just how much we suck" and the proper way to go forward was to make Atom install faster).

Also, I believe Atom is doing 1) right now.  It silently downloads the update in the background

[2015-02-13 23:13] paulcbetts commented on #5554
Whoa whoa whoa, I think we're conflating two things - most of this thread is talking about the *initial install*, but the initial question was about *updates*.

Squirrel on Windows *does* provide progress for updates (in the form of percentages written to stdout), but Atom doesn't do anything with this value currently. It certainly could though.

This isn't how GitHub for Windows works, the update

[2015-02-13 23:20] karai17 commented on #5554
There should be no particular difference between initial install and updates, I should be given progress data for both.

If Squirrel supports this data and Atom does not utilize it, then my issue still stands in that Atom needs to be more transparent.

I feel like silent updates are great. GitHub for Windows and Chrome both silently update and give you prompt to finalize the install, which is grea

[2015-02-13 23:20] mehcode commented on #5554
Why aren't we doing this sort of auto update-in-the-background workflow for atom? Just a "will be done later" thing?

[2015-02-13 23:21] paulcbetts commented on #5554
This is exactly what Atom does on both Mac and Windows

[2015-02-13 23:22] 50Wliu commented on #5554
Atom does have background updates just like Github for Windows.
Fake edit: Beaten by Paul ;P.

[2015-02-13 23:23] karai17 commented on #5554
I have a hard time believing that. Atom never seems to update unless I manually trigger it, and when I do so it never seems to do anything except consume a whole bunch of CPU. It just sits there and says "Updating" indefinitely without any sort of notification that it is done and needs to be restarted.

[2015-02-13 23:27] steelbrain commented on #5553
It's there so that you may report to the Package authors that their packages need to be updated to use the v1.0 API
You can ignore it if you want. Won't affect your Atom experience at all.

[2015-02-13 23:51] mark-hahn commented on #5554
I started using the command line a long time ago because of this kind of
annoyance.  It is a much better experience.

On Fri, Feb 13, 2015 at 3:23 PM, Landon Manning <notifications@github.com>
wrote:

[2015-02-13 23:53] AnbuKakashi commented on #5553
Thank you for your reply.

[2015-02-13 23:57] thedaniel commented on #1125
Pinging @atom/core re @as-cli's questions

[2015-02-14 00:13] steelbrain commented on #5545
@conmarap @jonathandelgado `atom --safe` as suggested by @lee-dohm disables all plugins.
So if you're having the issue in safe mode too, then Atom is the cause for it, otherwise. It's one of your plugins.

[2015-02-14 01:42] xfq commented on #5328
I can't reproduce this problem with Atom 0.178.0-e4ca11d (`--safe`) on OS X 10.10.2.

[2015-02-14 02:06] #5553 closed

[2015-02-14 02:17] sedabull commented on #5492
@kevinsawicki, I know you're probably really busy, but I was just wondering if there are any updates on this issue, and/or if there's any more troubleshooting I can do from my end. I've tried pretty much every permutation I can think of `apm link`, `apm link --dev`, `atom`, `atom --dev`, I've even tried hard copying my local project into `~/.atom/packages` and `~/.atom/dev/packages`, but nothing s

[2015-02-14 02:37] #5548 closed

[2015-02-14 03:24] sedabull commented on #5492
I have a few updates, here are reproduction steps:
* in local repo, run `apm link --dev`
* in local repo, run `atom --dev`
* in dev tools, run `atom.packages.resolvePackagePath('quantum-shell');`, returns `/path/to/local/repo`
* in dev tools, run `atom.packages.activatePackage('quantum-shell');`, returns some kind of object
* in dev tools, run `atom.packages.isPackageActive('quantum-shell');`, ret

[2015-02-14 03:48] lincleejun opened #5555 "windows building environment update failed"

[2015-02-14 08:36] nathansobo commented on #5542
I think this is fixed on master though I didn't do it intentionally. Can anyone try it and confirm?

[2015-02-14 08:52] nathansobo commented on #1125
Yes, but we model it. The `DisplayBuffer` is responsible for the non-linear relationship between lines/characters on screen and lines/characters in the buffer, dealing with folds and soft-wraps.

No, you're going to need to insert a phantom token. More details below.

Check out how we handle hard tab characters, which map multiple spaces in screen coordinates to a single character in the buffer. T

[2015-02-14 11:20] vickydasta commented on #5411
and,is atom has conflict with some apps ? like idle ? or am i the only one who face this problem before ?

[2015-02-14 11:22] vickydasta commented on #5411
so sorry if my question has no correlation with our topic

[2015-02-14 12:53] amingilani commented on #5236
I think this addresses the issue! thank you steelbrain! :smiley:

[2015-02-14 12:53] #5236 closed

[2015-02-14 14:13] m1ga commented on #5453
did some tests today. When I copy the 256.png into /usr/local/share/atom/resources/app/resources/atom.png its as quick as before! So perhaps it would be good not to use the 1024px icon as a preview (since the taskswitcher is ways smaller)

[2015-02-14 15:41] danwatco opened #5556 "Memory error when setting ATOM_HOME and lauching atom"
Running the .zip version of atom on a USB stick and trying to make it portable, I have found that to set the ATOM_HOME, I should create a script like this:
[code]
Running that script creates the following error:
![image](https://cloud.githubusercontent.com/assets/6568235/6200090/e7bf9546-b45f-11e4-9b99-c7de4694b50c.png)

Any ideas why?

[2015-02-14 16:01] nathansobo commented on #5411
@vickydasta Not sure I understand your question...

[2015-02-14 16:40] Queuecumber opened #5557 "Unable to install plugins on Ubuntu 14.04"
All of a sudden all of my plugin updates or installations fail with the following error log:

    npm ERR! addLocal Could not install /tmp/d-115114-13730-zx3j8u/package.tgz
    npm ERR! Linux 3.13.0-45-generic
    npm ERR! argv "/opt/atom/resources/app/apm/bin/node"     "/opt/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/opt/atom/resources/app/apm/.apmrc" "--userconfig

[2015-02-14 17:59] zero- opened #5559 "Cursor is not rendering at the correct place"
![bloggif_54df8c6f07c24](https://cloud.githubusercontent.com/assets/1594723/6200504/e2ddb1ba-b483-11e4-96d8-f12225599a55.gif)
I've been experiencing this since 0.177.0 and the latest 0.179.0 didn't fix the issue.
Any ideas?

*edit* Running Atom on OSX 10.10.1

*edit 2* I'm using Input Sans as my font. The problem is not happening with default font.

[2015-02-14 18:08] braver commented on #3821
optimizeLegibility seems to be giving issues: https://discuss.atom.io/t/wrong-font-rendering/14725.

[2015-02-14 18:13] steelbrain commented on #5559
@zero- Are you sure that you don't have something like
[code]
in your styles.less

[2015-02-14 18:36] 50Wliu commented on #5557
Please upgrade Atom to the latest version.  This was a bug with the CI server (which uses Jenkins).
See #5492 for more details.

[2015-02-14 18:36] #5557 closed

[2015-02-14 18:58] daxliar opened #5560 "Uncaught Error: spawn ENOMEM"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: spawn ENOMEM

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-14 21:38] Bengt opened #5562 "Atom won't copy lines starting with a # at the beginning of a file"

[2015-02-14 22:02] lee-dohm commented on #5562
Can you provide repro steps? I just tried this using Atom v0.180.0-ea38926 on Mac OS X 10.10.2 and could not reproduce. Here is what I tried:

1. Start Atom
1. Open a new file using <kbd>Cmd+N</kbd>
1. Enter the text
[code]
1. Use <kbd>Cmd+Up</kbd> to go to the top of the file
1. Press <kbd>Shift+Cmd+Down</kbd> to select the first line
1. Press <kbd>Cmd+C</kbd> to copy the line
1. Press <kbd>Cmd+D

[2015-02-14 22:51] nathansobo opened #5563 "Autoscroll getting "pulled back" when inserting newlines at end of the file"
This is almost certainly related to the presenter changes, so I'll take care of this before we release on Tuesday.

![scroll-bug](https://cloud.githubusercontent.com/assets/1789/6201349/1ca0ba00-b461-11e4-9541-80683ed42612.gif)

[2015-02-15 02:37] benogle commented on #5559
What don't are you using? What themes?

On Saturday, February 14, 2015, Steel Brain <notifications@github.com>
wrote:

[2015-02-15 03:07] vickydasta commented on #5411
@nathansobo when i run python-idle & Atom in the same time,after a while,idle freezes,any idea ?

[2015-02-15 03:39] vscosta commented on #5472
Sorry fir the delay. Try ypp.yap. Also, please notice I have made minor adjustments to the package (likr .yap)

=========================================================================
%
% YPP: Yap PreProcessing
%
% Author: Nuno Fonseca (nunofonseca@acm.org)
% Date: 2005-05-14
% $Id: ypp.yap,v 1.4 2006-03-07 17:30:47 tiagosoares Exp $
%
%===========================================================

[2015-02-15 04:35] vemv opened #5564 "Document a way to run commands (and from init.coffee)"
How to programatically run a command such as `core:cancel`? I had to figure it out since I failed to find how.

This works:

`$('atom-text-editor').dispatchEvent(new CustomEvent('core:cancel'))`

However it doesn't from init.coffee, because `$` is not defined there (I believe init.coffee should have the same environment as in the Developer Tools console, but that's a different issue).

I suggest t

[2015-02-15 04:45] sedabull commented on #5564
I believe the canonical way is:
[code]

see the API docs [here](https://atom.io/docs/api/v0.179.0/CommandRegistry)

[2015-02-15 04:47] lee-dohm commented on #5564
It's likely that you don't want to execute commands programmatically. Commands are essentially a way of tying UI features such as menu items, keybindings and such to bits of code in packages. They're a way for the user to trigger code. If you're doing things programmatically, you can just call the code itself.

If you're trying to execute commands programmatically for testing, you can use the [`at

[2015-02-15 04:52] sedabull commented on #5564
@lee-dohm, I agree that this won't come up often, but I did come across a non-testing use case for `atom.commands.dispatch` recently in my package `quantum-shell`. So perhaps it should be better documented, if only for the purpose of helping people write better tests.

[2015-02-15 05:03] vemv commented on #5564
* I stumbled upon `atom.commands.dispatch ` but ignored it since it said 'simulate', which I interpreted as 'to not actually perform'. I suggest to reword

* Using the suggested API works, but then again `$` is not reachable from init.coffee:
`atom.commands.dispatch($('atom-text-editor'), 'autocomplete:toggle')`

*Context*

I'm trying to create a keybinding that calls `core:cancel` first and `auto

[2015-02-15 05:12] zero- commented on #5559
@steelbrain Good catch, it was ```text-rendering: optimizeLegibility;``` that was causing the problem. I removed that and now Input Sans works also.

Thanks guys!

[2015-02-15 05:12] #5559 closed

[2015-02-15 05:17] lee-dohm commented on #5564
The Atom team is specifically attempting to remove Atom's dependence on jQuery. But, like any other Node module, [you can import jQuery](https://atom.io/docs/latest/upgrading/upgrading-your-package#require-views-from-atom-space-pen-views) into your `init.coffee` by doing:

[code]

Or, you can use the following to not need to import jQuery:

[code]

The command names are considered internal to a pa

[2015-02-15 05:56] dgrothman opened #5565 "Uncaught Error: end pattern with unmatched parenthesis"
[Enter steps to reproduce below:]

1. ...Open custom wordpress plugin file in development
2. ...Change Document Mode in bottom right from PHP to wordpress

**Atom Version**: 0.179.0
**System**: Microsoft Windows 8.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: end pattern with unmatched parenthesis

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-15 06:06] ram-you commented on #5148
I'm using the the downloaded .deb.

[2015-02-15 10:43] m1ga opened #5566 "First start: 4 atom apps running: --eval require('...source-maps')"
When I start atom for the first time I have a very high disc io. I've started iotop and found 4 apps running:

[code]

its running for about a minute with 4 times almos 100% disc write usage. After a minute they are finished and no disc io

atom 0.180.0-ac7057b
Dell M4500 Notebook
Fedora 21

[2015-02-15 11:40] frabert commented on #3821
I tried to make a html file with this style in its head
[code]
And writing in a textarea within such file with Chrome works perfectly fine, no misplaced carets nor problems deleting characters...

[2015-02-15 15:20] fundon opened #5568 "How to enable retina device for osx travis-ci?"
My package need to dectct the `window.devicePixelRatio` attribute。
And the `window.devicePixelRatio` is always `1`.
How to change it in Travis-Ci?

[2015-02-15 15:20] silvenon opened #5569 "Docs task unclear"
I would like to create a [Dash](http://kapeli.com/dash) docset for Atom, but I can't seem to build the docs. I tried running `grunt docs` inside the `build` directory, but it can't find `markdown:guides` task. Running only `grunt build-docs` does generate something, `docs/output/api.json`, but I don't know where to go from here.

[2015-02-15 15:43] 50Wliu commented on #5565
This is caused by the same root problem as #5472 which will be fixed in atom/notifications#39.
In the meantime, please open this issue on the [wordpress-api](https://github.com/azizur/atom-wordpress-api/issues) package.

[2015-02-15 15:43] #5565 closed

[2015-02-15 16:09] lee-dohm commented on #5566
Personally, I feel this is a duplicate of #2654 because Atom reads a ton of files on startup. (And reads more on startup the more packages you install.) Because of this, the Atom team has considered placing Atom itself into an asar archive, ref: https://github.com/atom/atom/issues/2654#issuecomment-71556059

[2015-02-15 16:17] m1ga commented on #5566
Ok, I'll have a look.

Just one point which I think is different:
in my case atom is up and I can use it (so not directly related to the startup time) but these tasks are running next to my atom instance.

[2015-02-15 16:52] Trudko commented on #4841
Sorry I bit forgot about this.  I just got same error after completely reinstalling Atom. I've delete .atom folder and also C:\Users\Peter\AppData\Roaming\Atom. Here is the content

![node-modules-content](https://cloud.githubusercontent.com/assets/3289225/6204011/43311f90-b53b-11e4-8953-4bdaae8901d9.png)

[2015-02-15 19:07] conmarap commented on #5545
Thanks, I'll test that.

[2015-02-15 20:21] thomasjo commented on #5568
Simple workaround is to create a function in your package somewhere (wherever makes most sense) that reads and returns `window.devicePixelRatio`, e.g.
[code]

then from your Jasmine spec you can create a spy for that function and return whatever you need;
[code]

[2015-02-15 20:25] thomasjo commented on #5568
Closing since this strictly speaking isn't a problem related to Atom. In addition, the workaround I provided should be sufficient.

[2015-02-15 20:25] #5568 closed

[2015-02-15 21:47] karai17 opened #5570 "Atom not cleaning up some temp files"
I am clearing out my temp files on Windows and I noticed that there are a whole bunch of folders prefixed with "npm" and "ssh" that I believe are from Atom (Node Package Manager?). Once a package is installed, Atom should probably clean out these temporary files. Between Atom and Squirrel, I've cleaned out nearly 3gb of temporary files from the past three weeks.

[2015-02-15 22:43] jacekkopecky commented on #4562
I often get this when simply closing files. My stack trace is here:

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-15 23:47] shahril96 commented on #2654
For me, it's fast enough. By the way, sometimes I also got 1000+ ms but it don't bother me much.

![atomstartup](https://cloud.githubusercontent.com/assets/2675341/6205632/0e49f840-b5b0-11e4-9b42-0ca3f34c67da.png)

[2015-02-16 01:08] nick commented on #3002
:+1: Would love to see this too.

[2015-02-16 01:36] fundon commented on #5568
Thanks

[2015-02-16 01:40] 50Wliu commented on #2654
I wish mine looked like yours :cry:.  ;P

[2015-02-16 05:59] thomasjo commented on #4562
@jacekkopecky I'm 99% confident your problem is caused by one of those packages (most likely candidates are *close-after-last-tab* or *save-session*) — check if you're able to reproduce in safe mode, `atom --safe`.

[2015-02-16 09:47] hadrienbaradel opened #5571 "Uncaught IndexSizeError: Failed to execute 'setEnd' on 'Range': The offset 17 is larger than or equal to the node's length (16)."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught IndexSizeError: Failed to execute 'setEnd' on 'Range': The offset 17 is larger than or equal to the node's length (16).

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-16 09:55] maaarghk commented on #5527
Just happened to me.

1. Select all text (cmd+a)
2. Hit backspace

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'id' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-16 10:05] skariel commented on #3466
+1

[2015-02-16 10:11] maqdev commented on #5384
For me the problem was with theme `trendy-light-ui` which also uses `text-rendering: optimizeLegibility` in it's styles. Removed it from sources and now everything is OK.

[2015-02-16 10:46] muchweb commented on #3622
Related: https://github.com/atom/atom/issues/5318

[2015-02-16 12:25] sevin7676 commented on #5295
I have the same error on Windows 8.1 x64

[2015-02-16 13:56] izuzak commented on #5571
@hadrienbaradel Thanks for the report -- can you reproduce this reliably or share more details about what you were doing when this error happened? I'm having trouble reproducing this. Also /cc @nathansobo for :eyes:.

[2015-02-16 14:23] steelbrain commented on #3002
I just feel like I am gonna create this package.

[2015-02-16 14:28] kasimir-k commented on #5349
**System:** Mac OS X 10.10.2, Atom 0.178.0

Steps to reproduce:
1. Start Atom / create new file
2. type a space
3. type " ̋" - that is [shift] + [opt] + 0 (on a Finnish keyboard)
4. Atom gives an error message

When I save the file, it contains bytes 20 CC 8B 0A
When I open the file in Atom, it again gives me the same error message

[2015-02-16 14:40] izuzak commented on #5569
I think `markdown:guides` should have been deleted as a part of https://github.com/atom/atom/commit/db13a40f0a5004b1dcec1734ee907ea6d25a70ce /cc @kevinsawicki.

The `api.json` file is what you get (it contains descriptions of classes and methods in Atom) -- we use that on [atom.io to render the API docs pages](https://atom.io/docs/api/latest/Atom). That file is also a part of Atom's [releases](htt

[2015-02-16 14:43] izuzak commented on #5571
Ah, this looks like a duplicate of https://github.com/atom/atom/issues/5349.

[2015-02-16 14:43] #5571 closed

[2015-02-16 14:46] izuzak commented on #5349
@kasimir-k Thanks so much, that's very helpful.

@nathansobo I'm able to reproduce this issue like this:

1. Start Atom
2. Create empty file
3. Type a space
4. Copy/paste this character into the file after the space: ` ̋`

[2015-02-16 14:51] izuzak commented on #5555
@lincleejun Can you share more details about the problem you're seeing?

https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues

[2015-02-16 15:09] silvenon commented on #5569
I was hoping to be able to run the step which converts the JSON file into the API docs website (HTML/CSS/JS), so I can use it for Dash. Is that step open sourced too?

[2015-02-16 15:10] stela5 commented on #5523
I should have mentioned I use the Windows version of Atom which doesn't seem to provide the number of installed packages like your screenshot above.  Either way, I figured out another method: "apm list"

![image](https://cloud.githubusercontent.com/assets/982679/6214071/25a74be8-b5b3-11e4-9297-7ffb45486b91.png)

![image](https://cloud.githubusercontent.com/assets/982679/6214085/45a2ab7c-b5b3-11e4-

[2015-02-16 15:27] steelbrain commented on #3002
Here you go people, https://atom.io/packages/duplicate-selection

[2015-02-16 15:32] 50Wliu commented on #5295
@paulcbetts this can be closed now right?
@sevin7676 What Atom version are you using?

[2015-02-16 15:34] 50Wliu commented on #5523
@stela5 you seem to be running an outdated version of Atom.  If you upgrade to the latest version, you'll see that the Settings View has been improved and will appear like what it does in @lee-dohm's comment.

[2015-02-16 15:36] izuzak commented on #5569
As far as I know, there is no such step currently -- we don't generate the API docs as a static site. /cc @thedaniel

[2015-02-16 16:00] fbender commented on #1685
Will this also solve the issue of autocomplete creating `linear-linear-gradient` after you typed `linear-g`, selected the appropriate entry and hit `Tab`?

[2015-02-16 16:01] Trudko opened #5572 "Uncaught TypeError: Cannot read property 'forEach' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Microsoft Windows 8.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-16 16:03] izuzak commented on #5572
Seems like a problem in the advanced-new-file package (see the stack trace). Can you reproduce in [safe model](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-02-16 16:08] sevin7676 commented on #5295
I just downloaded the latest installer from https://atom.io/ today

[2015-02-16 16:18] silvenon commented on #5569
Oh, you generate it on the fly with JavaScript or something? Anyway, I'm closing this then.

[2015-02-16 16:18] #5569 closed

[2015-02-16 16:32] paul-sh commented on #5295
0.179.0 still fails on Windows 7 x64. Here is a log file: https://gist.github.com/paul-sh/012b3960ffc34829a6fd

[2015-02-16 16:52] Trudko commented on #5572
Ou sorry I wanted to post it there my fault, you can remove this.

[2015-02-16 16:52] #5572 closed

[2015-02-16 17:28] lukejanicke opened #5574 "GitHub Flavored Markdown"
The markdown preview window doesn’t render some GitHub Flavoured Markdown properly.

Roses are red
Violets are blue

In Atom, these lines don’t break, which is correct Markdown behaviour but not correct GitHub Flavoured Markdown behaviour.

Furthermore, references are not being auto-linked.

* SHA: a5c3785ed8d6a35868bc169f07e40e889087fd2e
* User@SHA: jlord@a5c3785ed8d6a35868bc169f07e40e889087fd2e

[2015-02-16 17:31] jolsenatx opened #5575 "fUncaught Could not read `.ftpconfig` file"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Could not read `.ftpconfig` file

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-16 17:37] 50Wliu commented on #5575
Please open this issue on the [Remote-FTP](https://github.com/mgrenier/remote-ftp/issues) package.

[2015-02-16 17:37] #5575 closed

[2015-02-16 17:39] AndreasBackx commented on #1650
@kevinsawicki @nathansobo Care to take a look at this issue. Duplicates of this issue have been reported and the issue has been ignored so far. I would love to switch to Atom, but this hurts my eyes after a short while that Atom becomes unusable.

Here are 2 pictures, you decide which version is best:
![Screenshot 1](https://i.imgur.com/sisD776.png)
![Screenshot 2](https://i.imgur.com/zxuj1h0.png)

[2015-02-16 17:44] izuzak commented on #5574
This issue was moved to atom/markdown-preview#201

[2015-02-16 17:44] #5574 closed

[2015-02-16 18:36] thedaniel commented on #5569
@silvenon we import it into a db and index it in elasticsearch and render the markdown "on the fly" (well, once, then it's heavily cached) - makes it easier to have good search / more sophisticated indexing / doc versioning. It would be nice to generate a basic static HTML set with grunt though.

[2015-02-16 18:56] camilonova commented on #770
+1

[2015-02-16 19:45] stela5 commented on #5523
Thanks, everyone!  Chocolatey was the culprit.  I uninstalled chocolatey and then re-installed Atom via the AtomSetup.exe download and I'm now running the latest version.

![image](https://cloud.githubusercontent.com/assets/982679/6218253/b0dfcdf4-b5d9-11e4-96a8-f1fee5938635.png)

[2015-02-16 21:21] Pajamaman commented on #4057
+1 emacs behavior should not be default, especially for keys related to operating menus.

[2015-02-16 23:27] silvenon commented on #5569
Cool, thanks for the explanation :smiley:

[2015-02-17 04:41] nathansobo commented on #5563
Sorry, I had forgotten that I had built my manual DOM updates branch. This isn't an issue on master.

[2015-02-17 04:41] #5563 closed

[2015-02-17 06:06] shinyatto opened #5576 "Uncaught Error: ENXIO, no such device or address '/Users/tobe/mnt/sprix/monkey/goalstart.git/goalstart/gs_frontend_webview/classes/controller/web/invite/list.php'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENXIO, no such device or address '/Users/tobe/mnt/sprix/monkey/goalstart.git/goalstart/gs_frontend_webview/classes/controller/web/invite/list.php'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-17 06:40] rmartin commented on #274
Hi All,

Please find my overall status update below.

## Summary
I've completed the initial implementation for resizable horizontal panes within my fork branch (https://github.com/rmartin/resize-panes/tree/issue-7-resize-with-mouse). I followed @chriscoyier's CodePen.io approach which he outlined in his blog (http://codepen.io/chriscoyier/blog/design-is-hard). This adds a resizable pane after the

[2015-02-17 07:08] jonathanong opened #5577 "support js syntax highlighting for #!/usr/bin/env iojs"
which is basically like `#!/usr/bin/env node`.

is this the right place to put this issue?

[2015-02-17 08:20] 360fun commented on #274
GREEEEEEEEEAT MAN! :D

[2015-02-17 08:50] postcasio commented on #5577
This issue was moved to atom/language-javascript#100

[2015-02-17 08:50] #5577 closed

[2015-02-17 09:11] wmertens commented on #5188
A bit like https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg - when done right it's not annoying and it does save quite a few resources

[2015-02-17 09:39] eigengrau opened #5578 "XCompose not working for higher-level shifts"
When issuing an XCompose sequence that involves a key on a shift level higher than 2, Atom ignores the input.

E. g., my parentheses are on level 3 of my keyboard layout. Now, when issuing `Compose+(+(`, which normally produces the character `⦅`, Atom produces no output.

Below is the xev output for this sequence. Generally, all XCompose sequences using keys that are not on levels 1 or 2 are ignor

[2015-02-17 10:22] LoicMahieu commented on #770
:+1:

[2015-02-17 10:50] joesustaric opened #5580 "Sort Keybindings by source"
Hi there,

I would love it if I could sort the keybindings by source type.

Just so I can easily check out what I might want to start using in the Core or Tree View sections etc.
Thanks!
Joe

[2015-02-17 11:43] NicoTravassos opened #5581 "mysql Plugin"
Hi can you please add **mysql** Plugin (Syntax) I notice you only have **sql**

[2015-02-17 11:59] postcasio commented on #5581
The SQL grammar can be used for a bunch of different SQL dialects. Is there anything in particular that doesn't work when you use SQL highlighting for MySQL?

[2015-02-17 12:30] gongbaodd commented on #5447
@yuyichao I found that the environment variables were wrong. I edited ~/.xprofile as below and it worked.

    export GTK_IM_MODULE=fcitx

thanks a lot @yuyichao  @xfq  @yuyichao  @wengxt  @defunkt

[2015-02-17 12:50] steelbrain commented on #5577
Note to @jonathanong : `#!/usr/bin/env ...` is called a shebang line.

[2015-02-17 12:51] #5447 closed

[2015-02-17 13:10] 50Wliu commented on #5576
@shinyatto, could you please share some steps to reproduce?

[2015-02-17 13:14] envygeeks commented on #5570
I wonder if this isn't actually a node bug because this happens to me a lot without Atom but my system know's what "temporary" means so it's never a big deal since our systems go up and down multiple times a day which renders them not cleaning up moot either way I think this might be a node bug.

[2015-02-17 13:35] ustuntas opened #5582 "Uncaught Error: Atom can only handle files < 2MB for now."
I just try to open my xml file that is about 2.5Mb but atom give me an error like:

Uncaught Error: Atom can only handle files < 2MB for now.

**Atom Version**: 0.158.0
**System**: linux 3.11.0-12-generic
**Thrown From**: Atom Core

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

[2015-02-17 14:01] 50Wliu commented on #5582
Please see #307 for details and upgrade your Atom version.

[2015-02-17 14:01] #5582 closed

[2015-02-17 14:17] ustuntas commented on #5582
Yes i saw a few minutes before thanks.

[2015-02-17 14:18] franktopel opened #5583 "Error building atom on Arch Linux"
[connexo@archgott atom]$ script/build
Node: v0.12.0
npm: v2.5.1
Installing build modules...
child_process: customFds option is deprecated, use stdio instead.
child_process: customFds option is deprecated, use stdio instead.
child_process: customFds option is deprecated, use stdio instead.
Installing apm...
child_process: customFds option is deprecated, use stdio instead.
child_process: customFds o

[2015-02-17 14:23] nicolasmccurdy commented on #5580
:+1:

[2015-02-17 14:24] izuzak commented on #5583
See https://github.com/atom/atom/issues/3385

[2015-02-17 14:24] #5583 closed

[2015-02-17 14:46] izuzak commented on #5580
This issue was moved to atom/settings-view#385

[2015-02-17 14:46] #5580 closed

[2015-02-17 14:47] izuzak commented on #5580
@joesustaric Perhaps this helps: you can get a list of keybindings for a specific package by going to Settings View -> Packages and then click on the package you want (e.g. Tree View), and you should see a list of keybindings:

![screen shot 2015-02-17 at 15 47 21](https://cloud.githubusercontent.com/assets/38924/6229991/4aadaa0e-b6bc-11e4-9fb5-d679d430a5fd.png)

[2015-02-17 14:49] izuzak commented on #5581
@NicoTravassos you might consider trying this package: https://atom.io/packages/language-sql-mysql

[2015-02-17 14:49] #5581 closed

[2015-02-17 14:55] izuzak commented on #5562
@Bengt I can't reproduce this either. If you can share the exact steps which reproduce this in the latest version of Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode), that'd be great. Closing this for now, but happy to reopen if we can reproduce this.

[2015-02-17 14:55] #5562 closed

[2015-02-17 15:22] pwaring opened #5584 "Build fails on ARMv7 (Raspberry Pi / Debian)"
I'm not sure if this is the same issue as #3783, but as I get a different error message I thought a new issue was more appropriate.

I'm trying to get Atom running on a Raspberry Pi 2 Model B under Raspbian, using a normal user account with `sudo` only when root is required (i.e. I build everything as non-root). `uname -a` gives the following output:

`Linux raspberrypi 3.18.7-v7+ #755 SMP PREEMPT

[2015-02-17 15:28] fulldecent opened #5585 "Title bar is not appropriate for non-project files"
When a project is open (i.e. the file browser is open), if I open the LICENSE or other non-project file, then the title bar will show like:

This is misleading because it implies that the `LICENSE` file is inside the /path/to/project when it is not. In fact... I have no idea where the hell LICENSE is. It would be better to have something else in the title bar. Recommendations are:
- `LICENSE`
- `A

[2015-02-17 15:33] fulldecent opened #5586 "No "Open Quickly..." menu item"
How to I open the feature shown here?

![d17b682c-b50a-11e4-8aa7-77f407583779](https://cloud.githubusercontent.com/assets/382183/6230790/688df1d6-b690-11e4-9848-205e14376db0.png)

Was expecting this the be listed at File -> Open Quickly..., and for the keyboard shortcut to be shown there.

[2015-02-17 15:35] izuzak commented on #5586
@fulldecent You're looking for the Fuzzy Finder, I believe: https://github.com/atom/fuzzy-finder. It's a package.

[2015-02-17 15:35] #5586 closed

[2015-02-17 15:37] franktopel commented on #5583
The page you suggested tells me to do script/clean before script/build. I did, with the same resulting error.

[2015-02-17 15:38] izuzak commented on #5583
@franktopel Have you tried using the required version of node (v0.10.x):

https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md#requirements

[2015-02-17 15:46] franktopel opened #5587 "Error building atom on Arch Linux using node.js v 0.12.0 / npm v2.5.1"
Please do not just close this again by referencing it to #3385 as this issue is NOT solved yet.

[code]

[2015-02-17 15:47] franktopel commented on #5587
Also, doing a `script/clean` before `script/build` (as suggested in #3385) does not help at all.

[2015-02-17 15:47] izuzak commented on #5587
@franktopel The output shows that you are using a version of node which is not listed as supported in the docs. Can you try building with the version which is listed as supported in the docs?

https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md#requirements

[2015-02-17 15:50] izuzak commented on #5587
From https://github.com/atom/atom/issues/3385#issuecomment-53447854:

[2015-02-17 15:50] franktopel commented on #5587
Rather than making users downgrade their version of node, don't you think atom should be adjusted to work with the recent stable versions of its dependencies?

[2015-02-17 15:55] izuzak commented on #5587
@franktopel I do think that, but for now -- please follow the documented requirements. Ignoring advice and the documented requirements doesn't help with that.

[2015-02-17 15:58] franktopel commented on #5587
I am getting your point. But instead of downgrading stable versions of important software I'd rather wait for someone to get this fixed and go with Sublimetext 3 for the time being.

[2015-02-17 16:13] paulcbetts commented on #5586
This isn't a terrible idea on OS X to add it as "Open Quickly" since it's basically the same feature

[2015-02-17 16:38] fulldecent opened #5588 "Mac version does not support scroll bouncing"
Chrome supports -- good

![kismac2build2](https://cloud.githubusercontent.com/assets/382183/6232359/69062bf2-b699-11e4-9fbd-e99a0af8dceb.gif)

Atom does not -- bad

![kismac2build](https://cloud.githubusercontent.com/assets/382183/6232368/6d4ccc66-b699-11e4-91a6-b2081a53765c.gif)

[2015-02-17 16:39] fulldecent commented on #5586
Even if I know it was called Fuzzy Find, this is how I would try to find the keyboard short cut:

![screen shot 2015-02-17 at 11 39 15 am](https://cloud.githubusercontent.com/assets/382183/6232393/ac5c4382-b699-11e4-843d-c8ea8cec1ae3.png)

[2015-02-17 16:55] andrewringler commented on #4637
Replicated on Atom v0.179.0 on Mac OS-X 10.10.2

[2015-02-17 16:57] nevir opened #5589 ".gitignore hiding doesn't seem to honor negation"
Example `.gitignore`:
[code]

Ideally, only `components/foo` and `components/bar` would be visible in tree view when "Exclude VCS Ignored Paths" is enabled

[2015-02-17 16:59] izuzak commented on #5586
@paulcbetts I definitely didn't know "Open Quickly" was a standard OSX thing -- thanks! I've been using OSX for about 2 years and never seen that option myself (just checked Sublime, Skitch and a few other apps which open files). I'm not :-1: on adding such an option -- but not sure what the best place would be to open a feature request for that. Perhaps the Fuzzy Finder package?

[2015-02-17 17:02] fulldecent commented on #5586
Ah, got it I can do that. And to be sure, Atom core would provide the ability to fuzzy find to create a menu item if it wanted, right?

[2015-02-17 17:03] izuzak commented on #5586
@fulldecent The recommended way is to use the [Command Palette](https://github.com/atom/command-palette) -- it's mentioned on the Welcome screen [when you start Atom for the first time](https://github.com/atom/welcome/blob/master/docs/darwin/welcome.md).

You can also find the option in the Help -> Search box by typing "find file".

[2015-02-17 17:04] izuzak commented on #5586
Fuzzy finder already adds a few menu options, just not the ones you expected:

https://github.com/atom/fuzzy-finder/blob/master/menus/fuzzy-finder.cson

[2015-02-17 17:06] izuzak commented on #5588
@fulldecent Not sure, but this looks like a duplicate of https://github.com/atom/atom/issues/345. Mind taking a look?

[2015-02-17 17:06] alex-martin-xactium commented on #2991
Interested too. Very useful.

[2015-02-17 17:15] izuzak commented on #5589
@nevir This looks like a duplicate of https://github.com/atom/tree-view/issues/196 (also, https://github.com/atom/fuzzy-finder/issues/65 is similar). I'm going to close this in favor of those two issues -- please subscribe there for updates.

[2015-02-17 17:15] #5589 closed

[2015-02-17 17:19] izuzak commented on #4637
This looks like a duplicate of https://github.com/atom/atom/issues/1890, let me know if I misunderstood the report, though.

[2015-02-17 17:19] #4637 closed

[2015-02-17 17:36] fulldecent commented on #5588
Sorry, closing. Duplicate of #345

[2015-02-17 17:36] #5588 closed

[2015-02-17 17:37] fulldecent commented on #345
#5588 has an animation, for people that are not clear on what is being discussed

[2015-02-17 18:04] wmertens commented on #3426
I'm seeing this with 0.179.0 still. atom-helper "not responding" and 20-33% CPU in the Activity Monitor while Atom is idling.

Memory usage:

Here's a sampling of it: https://gist.github.com/wmertens/56aae47cab9eed0b1027

[2015-02-17 18:21] alex opened #5590 "Moving the window of an unsaved tab should not prompt to save the document"
Say you have two atom windows open. In one of the windows you have a tab with unsaved content. Right if you drag that tab from one atom window to the other, atom will prompt you to save the file. There's no reason for it to do this, the file's not being closed, nothing is being lost.

[2015-02-17 18:33] kevinsawicki commented on #5556
Just curious, if you try a path like `SET ATOM_HOME="E:\Atom\.atom"`, does it work then?

[2015-02-17 18:50] benogle opened #5591 "Allow building with node 12"
Since node 12 came out a week ago, [people have been trying to build with it](https://github.com/atom/atom/issues/5587) and they have been having issues.

[code]

cc @franktopel

[2015-02-17 18:51] benogle commented on #5587
Closing in favor of #5591

[2015-02-17 18:51] #5587 closed

[2015-02-17 18:54] andrewringler commented on #4637
Thanks!

Andrew

On Tue Feb 17 2015 at 12:19:54 PM Ivan Žužak <notifications@github.com>
wrote:

[2015-02-17 19:14] ags131 commented on #5584
Same here running Ubuntu 14.04 on the Pi 2
Linux adamspi 3.18.5-v7+ #225 SMP PREEMPT Fri Jan 30 18:53:55 GMT 2015 armv7l armv7l armv7l GNU/Linux

[2015-02-17 19:20] Dremora commented on #2199
Changing default location should never be an issue as long as it's done in a backwards-compatible way, no matter how large the user base is.
A common workaround is to define not one, but multiple config paths, and pick up the first existing one. This list of paths should be OS-specific, with `$ATOM_HOME` taking the precedence over everything else. Then, if the config directory is nowhere to be fou

[2015-02-17 19:42] eddiemonge commented on #274
is the text supposed to wrap? Or do you have that options turned off?

[2015-02-17 19:57] fulldecent opened #5592 ""Hide Git Ignored Files" does not honor ~/.gitignore"
The setting is shown below. This is the great place where I put stuff like

![screen shot 2015-02-17 at 2 55 54 pm](https://cloud.githubusercontent.com/assets/382183/6236065/4f193c7c-b6b5-11e4-8b77-779db4045ed9.png)

[2015-02-17 19:57] #5427 closed

[2015-02-17 19:58] nathansobo commented on #5427
I'll open a PR on the docs.

[2015-02-17 19:59] steelbrain commented on #5592
:open_mouth: I didn't even know there's a `Hide Git Ignored Files Option` I thought it's something hard-coded, Why is it even true by default?

[2015-02-17 21:54] Rowno opened #5593 "Uncaught Error: Encoding not recognized: 'utf-8-bom' (searched as: 'utf8bom')"
1. Try saving a UTF-8 file which has a BOM.

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Encoding not recognized: 'utf-8-bom' (searched as: 'utf8bom')

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-17 21:56] joesustaric commented on #5580
Hi @izuzak , thats does help indeed. Thank you!
So for Tree View etc it works, but when I search for 'Core' I don't seem to get all the core packages.

I guess this feature still may help though. Being able to do some filtering via the keybindings section thats a little more intuitive to the way the data is displayed is probably my main point. My first instinct was to click on the column headers t

[2015-02-17 21:58] hayes opened #5594 "investigate what happens when a socket is handed off to a child process"

[2015-02-17 21:59] hayes commented on #5594
sorry wrong project.

[2015-02-17 21:59] #5594 closed

[2015-02-17 22:12] fulldecent opened #5595 "Ruby editor: typing #{ autocomplete annoying"
In general, all autocomplete functionality should obey this rule:

Following shows an example of a "helpful" autocomplete in Ruby becoming a pain:

![kismac2build2](https://cloud.githubusercontent.com/assets/382183/6238329/2b1903da-b6c8-11e4-82d5-8731b6255929.gif)

[2015-02-17 22:21] nathansobo commented on #5542
I can't reproduce this on master. I made some changes to the scrolling logic addressing other issues, so I think it may be fixed. Please reopen this issue if it isn't working as expected after 0.180.0 is released. Thanks.

[2015-02-17 22:21] #5542 closed

[2015-02-17 22:31] nevir opened #5596 "Combined/Shared UI + Syntax theme"
I would like to be able to build a UI and syntax theme that share a color palette (and font/misc stylistic choices). However, I also want to let users customize the shared color palette, which makes things difficult.

Ideally, I think, I would want to have a shared package that both the syntax and UI themes depend on, and pull configuration from. That seems like it's a ways away, however.

So: may

[2015-02-17 22:32] s8 opened #5597 "Uncaught Error: EBADF, write"
[Enter steps to reproduce below:]

1. cmd-shift-p
2. supercollider
3. open post window

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: EBADF, write

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-17 23:03] benogle commented on #1763
/cc @gregose @mastahyeti @oreoshake

[2015-02-17 23:27] oreoshake commented on #1763
Disclaimer: I know very little about Atom's model.

Has a more granular model been discussed? I see a few capabilities listed that may or may not be needed by an application at all. Not that presenting users with permission models is highly effective, but hey.

What is the specific issue preventing your package from running in a sandbox? Are these packages something the majority of users would ins

[2015-02-17 23:47] 50Wliu commented on #5597
This issue was moved to crucialfelix/atom-supercollider#31

[2015-02-17 23:47] #5597 closed

[2015-02-17 23:57] mark-hahn commented on #1763
sandbox?

Mostly node features.  I need access to disk IO, networking, etc..

They *should* install them (grin).  See `live-archive` which was called
amazing in the Atom blog.

How can the sandbox prevent erasing a disk while allowing normal disk
access?

On Tue, Feb 17, 2015 at 3:28 PM, Neil Matatall <notifications@github.com>
wrote:

[2015-02-18 00:09] benogle commented on #1763
After talking to @ptoomey3 there are things we could do to improve trust on packages from atom.io

* Package quality metrics. We've talked about this in the past. Showing how many people are actually using the package via uninstalls and disables. cc @thedaniel
* Some kind of "Registered developer program" where people verify identity
* Some kind of package approval process for the unverified folks

[2015-02-18 00:09] oreoshake commented on #1763
And this is where I might be boo'd off stage:

chroot'ing when possible, which obviously only handles the case where the extension needs access to *a* directory, not a *specific* directory/file.

That is pretty :cool: :sunglasses:

[2015-02-18 00:09] ptoomey3 commented on #1763
access?

This is all possible, it just isn't easy (and hence maybe not worth doing). Applications that want to restrict this kind of thing can have a trusted broker that all callers must pass through to perform "privileged actions". So, in the case of disk access you could have a trusted  broker that validates that each access abides by the policy. But, retrofitting such a model into an applicatio

[2015-02-18 00:52] 190n commented on #3684
What about automatic updates on Linux? I use Linux, and it's less than ideal to have to remember to check for updates and install them.

[2015-02-18 00:54] steelbrain commented on #3684
@190n You mean #2956 ? It's already on the roadmap

[2015-02-18 00:55] 190n commented on #3684
Sorry, I didn't see that.

[2015-02-18 00:57] 190n commented on #2956
+1

[2015-02-18 01:06] thedaniel commented on #2956
IIRC this is blocked until Atom can be built without network access.

[2015-02-18 01:11] 50Wliu commented on #2956
How does the Webupd8 PPA do it?  Perhaps their method could be used for this?

[2015-02-18 01:24] mmindenhall commented on #461
Before switching to atom, I was using TextMate as my git editor (mate -w -l 1).  It sounds like TextMate also behaves like Sublime -- i.e., returning the focus to the terminal that launched the editor in "wait" mode, regardless of whether other TextMate windows are open.

It would be really great to have atom work the same way, as I keep tripping on this in my habitual git workflow:

1. Write some

[2015-02-18 01:51] nicolasmccurdy commented on #5595
:+1:

[2015-02-18 02:39] sedabull commented on #5492
@kevinsawicki, I have resolved this issue! Sortof... let me share what I know. First of all, the primary issue (me not being able to activate quantum-shell) turned out to be a simple mistake on my part. I made a stylistic decision to rename `lib/quantum-shell.coffee` to `lib/quantum-shell-controller.coffee`. However, I forgot to change the `"main"` field in my package.json, mostly because I made t

[2015-02-18 02:41] thedaniel commented on #5492
Hey, great debugging. Definitely open those issues. I'm not sure what the solution looks like but they seem worth a discussion.

[2015-02-18 02:58] sedabull opened #5600 "Atom fails silently when package.json "main" points to non-exsistant file"
Atom v-0.180.0
Ubuntu 14.04

See the last half of the discussion at #5492. Here are the highlights:
- git clone an atom package locally
- change package.json "main" field to a non-exsistant file
- run apm install to bring in node_modules
- run apm link
- open atom

In the settings view, you will see the package under the `community packages` section. You can play with the settings and all activati

[2015-02-18 03:00] jasoncavett opened #5601 "Atom Windows installer does not pin to Start menu in Windows 8+"
**Atom Version**: 0.180.0
**Windows Version**: 8.1

**Issue**: Ran the Atom Windows installer. Everything installed correctly and it ran, however, no executable can be found in the Start Menu if I wanted to fire up the editor directly. I can always right click on a file and fire it up that way (via Open with Atom), but, when creating a new file, this seems lacking.

**Expected Behavior**: See Atom

[2015-02-18 03:03] kevinsawicki commented on #5601
Did the desktop shortcut appear?

[2015-02-18 03:05] sedabull opened #5602 "--dev linked packages are undefined unless in --dev mode"
Atom v-0.180.0
Ubuntu 14.04

See the last half of the discussion at #5492. Here are the highlights:
* git clone an atom package locally
* run apm install to bring in node_modules
* run apm link --dev
* open atom

In the settings view, you will see the package under the `development packages` section. However, you cannot adjust the settings, none of the activation events are available, and running