[2015-05-28 00:05] jtokoph commented on #6867
Oops, that was meant to be @jefkoslowski

[2015-05-28 00:06] nathansobo commented on #6982
Ah yes, I see now. I describe the new encoding here: https://github.com/atom/atom/pull/6757

It's for memory savings purposes. Basically I'm interleaving scope starts/stops (represented by negative integers) with positive integers representing tokens (by their length). You'll need to interact with methods on the grammar registry to translate scopes to numeric ids, but it should be doable.

[2015-05-28 00:09] alexandernst commented on #6981
There seems to be a bug with Chrome. When I try to save the timeline or the cpu profile record, I get the "Save as..." dialog, I select the file/folder where I want the files to be saved, the files get created, but they're empty. (I'm running Atom with `--safe`, should I run it in normal mode?)

[2015-05-28 00:10] nathansobo commented on #6981
No, that must be an issue with Electron on Linux because it works for me on Mac. Any interesting pieces of the timeline you could at least screenshot?

[2015-05-28 00:10] basarat commented on #6982
@nathansobo cool. That helps a lot. I'll make a hotfix to move back to `cson` driven grammar so people can still use and investigate the rest later tonight :rose:

[2015-05-28 00:17] basarat commented on #6982
Thanks for the guidance. Published `atom-typescript`:`v4.5.3` with hotfix :rose:

FWIW the other package I know that uses similar custom grammar code is by @p-e-w https://github.com/p-e-w/language-javascript-semantic

[2015-05-28 00:20] alexandernst commented on #6981
http://ibin.co/23E0PfdEGeYl

[2015-05-28 00:21] nathansobo commented on #6981
@alexandernst Thanks... can you switch to the "Chart" view and show me one frame's worth?

[2015-05-28 00:25] alexandernst commented on #6981
Not sure if that is what you're asking for: http://ibin.co/23E1wtfuS7f2 ?

[2015-05-28 00:27] nathansobo commented on #6981
That looks pretty bad, but I'll need it from the profile tab rather than the timeline to get more detail on what is happening...

![screenshot_2015-05-28_02_26_41](https://cloud.githubusercontent.com/assets/1789/7850332/12ffd640-04e1-11e5-9038-098c75730286.png)

[2015-05-28 00:32] nathansobo commented on #6981
Also, I'd be interested in a comparison of the timeline on 0.202.0 with 0.201.0. From the timeline performance doesn't look *fantastic* but it also doesn't seem too bad except for a couple of frames. Like roughly 30 FPS for the most part. But it's all relative depending on hardware. I'm curious about the performance *degrading* from the previous release and it would be nice to see a picture of tha

[2015-05-28 00:33] alexandernst commented on #6981
http://ibin.co/23E4NhMAR1zy

[2015-05-28 00:35] alexandernst commented on #6981
Ok, I can provide you with screenshots of .201 later today, I must go now.

[2015-05-28 00:36] cdipaolo commented on #4149
Having the error rendering HTML with Angular syntax.

[code]

I did _not_ have the error before I moved the 'header' and 'short-header' class divs below the 'container' class div (were previously above.) This worked:

[code]

[2015-05-28 00:37] Frozenfire92 commented on #6867
For some reason I didn't get the notification until today. I unfortunately no longer use atom nor maintain my package (https://github.com/Frozenfire92/break). If anyone is interested in taking over please make an issue and I would be happy to transfer ownership as it is useful and kinda neat. Maybe one day in the future I will use atom again (it was too slow when I used it to want to continue with

[2015-05-28 00:37] nathansobo commented on #6981
Thanks very much for your time! It's tough to get a handle on some of these performance issues from a distance so this kind of information really helps.

[2015-05-28 00:47] Nijikokun commented on #6303
I've had this happen, disabled a language syntax that was very heavy compared to the default (`language-babel` compared to `language-javascript`) and the input went back to normal.

I've also had it happen during linting or spell-check.

[2015-05-28 01:09] sedabull commented on #6867
number 340 `new-file-plus` has just been upgraded

[2015-05-28 01:23] thomaslindstrom commented on #6945
@mehcode: :+1:

A trust system seems like the easiest way to leap towards auto updating. There's a [featured](https://atom.io/packages) package section already – so I guess the folks at GitHub would be able to cherry pick what packages get approved.

Periodical code reviews could be automated, too, looking for possible exploits programmatically. Or, maybe, a “trusted package” needs to be reviewed

[2015-05-28 02:00] mingjunyang opened #6983 "redhat-lsb-core 被 atom-0.202.0-0.1.fc21.x86_64 需要"
I install atom 0.202.0,but
[code]
My Atom is
[code]

My OS  is
[code]

I search lsb in opensuse

[code]

[2015-05-28 02:07] benogle commented on #6867
Thanks @jefkoslowski for the heads up. Looks like there were some package name misattributions in the reporter on windows. I found several packages that were again false positives :/.

I just updated the table in the OP and the gists with the latest data from Mac and Linux machines only. I went through several packages and did not find any false positives. Note that the first 100 packages or so di

[2015-05-28 02:09] mnquintana commented on #6983
Thanks for the report! @kevinsawicki It turns out that the lsb package may have a slightly different name from distro to distro... how do you think we should handle this?

Refs https://github.com/atom/atom/pull/6888

[2015-05-28 02:11] DonaldKellett commented on #6972
I haven't upgraded to Mac OSX *Yosemite* yet.  Does that matter?

And if I type an invalid path, will it still allow me to create a theme after I press ```enter``` (although I'm fairly certain I have typed in a valid path)?

Thank you very much.

DonaldKellett

[2015-05-28 03:06] mehcode opened #6984 "Feature Request: Add a method to the API to switch the active project"
[code]

Something similar to the above.

Here is what I have hacked together:
https://github.com/mehcode/atom-git-projects/blob/master/lib/git-projects.coffee#L93-L140

[2015-05-28 03:31] bichiliad commented on #6867
Thanks again for organizing this. [`atom-jsfmt`](https://github.com/bichiliad/atom-jsfmt) (number 56) has been upgraded and published.

[2015-05-28 03:49] DavidAwad opened #6985 "env: bash: No such file or directory on Mac"
atom keeps telling me it can't update itself or find new packages.

The error I keep getting is `env: bash: No such file or directory`.

I'm not sure what the problem actually is. I've used brew to install nodejs.
[code]

[2015-05-28 03:52] gangstead commented on #6867
[`scala-format`](https://github.com/gangstead/atom-scala-format) is fixed and published a patch.

It was on the original shame list but is gone now. I guess it was replaced by more shameful packages.

[2015-05-28 03:55] coopermaruyama commented on #5903
hey just to let you guys know I was able to work around this by using `fs.writeSync` to write to a file within my package, and updating it any time the user updates their config. I wrote about it here: https://discuss.atom.io/t/set-less-variables-from-package-settings/10481/4?u=cooperm

I know it's very hacky, but it does work. The only issue I noticed is if other packages are depending on these c

[2015-05-28 04:26] floydpink commented on #6867
I have unpublished (3) [compare-files](https://github.com/floydpink/atom-compare-files) and have added a note on the repo on why I will not be maintaining it anymore - if anyone else is willing to take it up, please let me know.

[2015-05-28 04:43] mark-hahn commented on #6945
pushed to apm?

This would be like approved repositories for linux distributions.  They
work pretty well but you end up with really old versions of everything.

On Wed, May 27, 2015 at 6:23 PM, Thomas Lindstrøm <notifications@github.com>
wrote:

[2015-05-28 04:54] thomasjo commented on #6945
Considering that Atom packages have full, unrestricted system access at the level of current user context, we would need to change the entire package model to be able to safely provide automated updates. We would need to switch to a sandbox model, and have each package request access to e.g. the filesystem via a gated API. That way, when the user installs a package, they're presented with the leve

[2015-05-28 04:57] mnquintana commented on #6945
Refs https://github.com/atom/atom/issues/1763

[2015-05-28 05:07] mehcode commented on #6945
What is to stop someone going rogue on a package you've already approved for file-system access? It's an endless rabbit hole.

----

I do like what @nathansobo outlined on https://github.com/atom/atom/issues/1763#issuecomment-82451310 and https://github.com/atom/atom/issues/1763#issue-29603475

[2015-05-28 05:07] prozacchiwawa commented on #6867
<https://atom.io/packages/ymacs-editor> is now at 1.0.8 and triggers only 2 ignorable deprecations from a dependency that has also been updated.  I believe atom-pane does not use the referenced functionality.

Referenced here:

If you would like your pane item with class ScrollView to support title change behavior, please implement a ::onDidChangeTitle() method. ::on methods for items are no longe

[2015-05-28 05:10] thedaniel commented on #6945
This is too labor-intensive for us right now and prone to human error. @atom/core and @atom/non-github-maintainers are fully subscribed with core development and community management.

The best compromise that I personally see for the immediate future is something similar to the popup added recently, but dismissable for a period of time, kind of like this dialog in OS X (but with longer time perio

[2015-05-28 05:14] thomasjo commented on #6945
Nothing, but then I've explicitly granted it filesystem access, and such access is gated via a provided API and can as such have additional layers of "security" to (potentially) prevent evil.

But all in all, I'm just :-1: on this until we have an extremely good security model in place. Problem is that it makes it harder to develop packages, so I'm not convinced it's even worth the effort in the e

[2015-05-28 05:39] aki77 commented on #6975
I have the same problem.
I implemented a [package](https://atom.io/packages/disable-keybindings).

[2015-05-28 06:22] izuzak commented on #6975
Thanks for the feedback, @yejianye.

Yeah, I think there's already an open issue to improve this situation, see: https://github.com/atom/atom-keymap/issues/78. I'm going to close this in favor of that issue but let me know if I misunderstood.

[2015-05-28 06:22] #6975 closed

[2015-05-28 06:32] izuzak commented on #6972
I don't know -- I don't have a machine with Mavericks to confirm.

What kind of invalid path do you have in mind? That path you entered looks valid to me.

Does pressing enter work in other similar panels, e.g. when you try to add a file in the tree view? (Open a folder with Atom, then in the tree view select a file, right click it, and select "New File". You'll be shown a similar panel to enter t

[2015-05-28 06:40] jackytsu commented on #6867
I've updated my code on github, but when I ran apm publish, I got "Creating new version failed: Application error".
What should I do?

[2015-05-28 06:46] kolAflash commented on #2122
Try this (in ~/.atom/styles.less):
[code]
From: https://github.com/atom/atom/issues/3622#issuecomment-73421592

[2015-05-28 06:46] Eschon commented on #6612
I had similar issues for the last few versions of Atom on OS X 10.10.3
The behaviour when I click the restart and update button on the release notes window is very inconsistent. Sometimes it restarts sometimes it doesn't but the most unpleasant part is that I usually have to redo it at least 5 times till it actually updates Atom.

[2015-05-28 07:10] havber commented on #6867
I’m no longer maintaining the “comment” package. Feel fre to remove.

Håvard Bertelsen

[2015-05-28 07:13] akonwi commented on #6867
149 (Git-Plust) is updated!

[2015-05-28 07:19] cam-stitt commented on #6867
I'm trying to work out why I am continually getting subscribed to this after opting out.

[2015-05-28 07:42] KeitIG commented on #6662
as @izuzak noticed, it is due to tabs#124

[2015-05-28 07:54] alexandernst commented on #6981
I switched back to .201 and after some more tests, I must say that *on numbers* .202 is better than .201. Both the CPU usage and the memory usage in .202 is (a tinny bit) lower. Nevertheless .202 feels slower. It may be because something is blocking the UI for more time, perhaps.

[2015-05-28 07:58] coopermaruyama commented on #4200
Hi just an FYI I experienced this in my theme and have worked around it as follows:

[code]

[2015-05-28 08:07] nathansobo commented on #6981
Are there any outlier frames, perhaps where we're doing garbage collection, where 0.202 is worse?

[2015-05-28 08:08] nathansobo commented on #6981
Also, is it just scrolling, or other things too?

[2015-05-28 08:16] alexandernst commented on #6981
Have a look at this: http://ibin.co/23GKK7u3mDhA
Atom (.201) is spending considerably less time "Scripting"

[2015-05-28 08:22] alexandernst commented on #6981
Also, overall, .201 is rendering 99% of the frames at 60FPS, while .202 is having trouble keeping the FPS on 30.

More tips: I have the [Logitech MX](http://www.logitech.com/assets/19678/19678.png) and I'm scrolling with the scroll wheel while unlocked (the scroll wheel doesn't make the "click" noise)

[2015-05-28 08:47] Uhsac commented on #6970
The problem come from linter-jshint I think. Other person have the same issue : AtomLinter/linter-jshint#95

[2015-05-28 08:48] #6970 closed

[2015-05-28 09:20] flying-sheep commented on #2533
@hax did you get anything working out of that?

[2015-05-28 09:21] malexandre commented on #6867
141 maybs-quit is fixed. No more deprecated calls.

[2015-05-28 09:26] erwald commented on #6985
Yes, I have the same problem. Used to work just fine, but some days ago I suddenly started getting this error. Also with version 0.202.0.

[2015-05-28 09:45] yaph commented on #3190
I haven't had problems with Atom on a fresh Ubuntu install, so I close this now. If Atom doesn't launch for you, there is a related issue #6317.

[2015-05-28 09:45] #3190 closed

[2015-05-28 11:14] bedekelly commented on #6402
I'm not sure why this is listed as a 'question', seems like a bug to me.

[2015-05-28 11:17] Skulli commented on #4149
Just got the error with 201 when i was working on a haml file

[2015-05-28 12:27] RF-Nelson commented on #6973
I had about twenty files open, split between two columns. Some of these files had tabs open to edit them in both columns. I wanted to rollback all changes in one file that was open in both columns (it was the active tab in only one of the columns). So I held down "Undo" for about ten seconds as changes were being undone before I encountered this exception.

[2015-05-28 12:39] goddardc commented on #6867
I'm also wondering why I keep getting subscribed. Is there a way to permanently ignore this thread?

[2015-05-28 13:49] jnunemaker opened #6989 "atom CLI now opens empty atom window"
Previously if you were at the terminal and typed "atom" it opened the current directory in atom. As of a recent release, it now opens an empty window. To achieve the same result as before one must now type "atom .". I understand making changes and that relearning will be required, but it does seem like consistency across github CLI's should be important. GitHub for Mac opens the current directory

[2015-05-28 14:14] gangstead commented on #6867
@cam-stitt @goddardc have yall run `apm unpublish` to take your packages out of the atom registry?  They are updating the table at the top of this ticket with the most depended on packages with deprecated calls every few days.  I think remaining in the registry is what is causing you to be resubscribed.

[2015-05-28 14:17] lee-dohm commented on #6989
This is a duplicate of #6873 among others. This was a conscious decision to enable restoring a previous session from the command line. There are a couple proposed workarounds to make it behave in the old way on the above linked Issue. Please continue the conversation there.

Thanks for reporting!

[2015-05-28 14:17] #6989 closed

[2015-05-28 14:37] joseroux opened #6990 "unset! not working anymore (0.202.0), impossible to type curly braces!!"
Atom is the first code editor in the world that prevent me typing curly braces b/c of a default key binding! So I had to search around and I found that I had to prevent that binding with:
   ` 'ctrl-alt-[': 'unset!'` and `'ctrl-alt-]': 'unset!'` in the file: *keymap.cson*.

But that's broken in the latest version... that makes Atom useless, for me at least!

[2015-05-28 14:53] griffin-stewie commented on #6867
@benogle
My packages [redpen](https://atom.io/packages/redpen "redpen") and [asciidoctor-preview](https://atom.io/packages/asciidoctor-preview "asciidoctor-preview") are ready for 1.0 API already.

[2015-05-28 15:10] #6983 closed

[2015-05-28 15:12] Glavin001 commented on #6867
[Atom-Beautify](https://github.com/Glavin001/atom-beautify) should be ready for 1.0 API now.

[2015-05-28 15:21] Glavin001 commented on #6867
[preview](https://github.com/Glavin001/atom-preview) should now be ready for 1.0 API.

Thanks for letting us developers know!

[2015-05-28 15:29] DonaldKellett commented on #6972
Sorry, I don't know (I'm quite new to Atom, but I read the first 2 main sections of the Atom Documentation and I think I understand most of the content).

Do I have to create an empty file beforehand, or does Atom help me generate the file when I enter the path?

For example, should I create a folder named ```motif-syntax``` on my Desktop before I generate a theme and type in the file path /Users/

[2015-05-28 15:42] joseroux commented on #6990
More infos:
The unset! prevent the default binding action (un/fold-current-row) but it doesn't pass the event to windows it seems...
There's nothing else going on when I look to the key binding resolver:
![key-binding-resolver](https://cloud.githubusercontent.com/assets/5633182/7864162/76e7adfc-052e-11e5-90dc-3b2a64bcaedb.png)

I'm on Windows 7 64 bit.

[2015-05-28 15:43] kevinsawicki commented on #6990
/cc @nathansobo

[2015-05-28 16:00] herkulano commented on #6867
I tried to run `apm unpublish` but because i don't have deleted the github repository i get the unauthorized message.

[2015-05-28 16:04] spencersager commented on #2939
Okay, so now that #5385 is working, how do I set the ATOM_HOME env var? I'm working on a project between school and home off of a flash drive. How can I get this configured? Thanks.

[2015-05-28 16:05] #6990 closed

[2015-05-28 16:09] paradoxxxzero commented on #6867
@olmokramer i unpublished next-occurence and gave you push rights. Cheers

[2015-05-28 16:24] kevinsawicki commented on #6990
Thanks so much for reporting this and apologies that this regressed.

I just deployed the `0.204.0` Atom release with this fixed, please let me know if you still see issues with it after upgrading to that version.

[2015-05-28 16:32] jbrains commented on #6867
If [status-stats-jbrains](https://github.com/jbrains/status-stats-jbrains) isn't ready, then I don't know what else to do. Thanks.

[2015-05-28 16:41] Huaraz2 commented on #6972
Open up the .atom folder in atom in dev mode then try again, this is how I
made mine.

Only thing I don't know how to do is how I go about publishing it.

Hope this helps
On 28 May 2015 16:29, "Donald Leung (Kellett)" <notifications@github.com>
wrote:

[2015-05-28 16:41] mnquintana commented on #6867
[This got lost in the sea of comments](https://github.com/atom/atom/issues/6867#issuecomment-104265224), so I'll reiterate here:

Please apm unpublish everything before you start deleting repos!

[2015-05-28 17:23] thedaniel commented on #3783
@johnjelinek we already use iojs, supporting arm is a lot more than that.

[2015-05-28 18:00] th01 commented on #6605
:+1:

[2015-05-28 18:01] jdfreder opened #6991 "Cannot click and drag anything"
Hi,  I recently opened an issue here atom/tabs#148 , claiming I couldn't drag tabs around to rearrange them, but realized it's a more general problem.  I can't left-click and drag ANYTHING in Atom.  I can't even left mouse down and drag to highlight text.  It's as if the mouse up event is firing when it shouldn't.

I'm using a fresh install of
Atom 0.204.0
on Linux Mint 17 Qiana (based on Ubuntu 1

[2015-05-28 18:02] Protosac opened #6992 "Closing code blocks within an open file is buggy"
OS: Ubuntu 14.10
Atom: 0.198.0

I have no better way to describe this, sorry. If I have 3 nested code blocks and I try to close just the 3rd nested block, it closes the main block. If I open the main block I'll find the third block closed. It's an annoying little thing, but this makes it so I have to close/open things two times just to get the view I want.

Example, trying to close the list item a

[2015-05-28 18:03] joseroux commented on #6990
Thanks, it works fine now in 0.204.0

[2015-05-28 18:04] jdfreder commented on #6991
I can't even highlight text in the dev console, so I had to take a screenshot of the error:

![capture](https://cloud.githubusercontent.com/assets/3292874/7867176/424eff78-0529-11e5-99fb-59aa567e747c.PNG)

[2015-05-28 18:07] brendanfalkowski opened #6993 "Blue squirrel still shows after updates until second restart"
After installing an Atom update and restarting, the blue squirrel stays present until I restart again. If you have OCPD or FOMO it's hard to ignore that squirrel, but also annoying to re-open all the windows/files as they were.

It'd be great if installing an update hid him immediately.

Sorry if this is the wrong repo to create the issue. I didn't see a sub-package that seemed responsible for han

[2015-05-28 18:10] bronson commented on #6897
So do I, but I'm not sure I want auto-update!  That just turns the problem into once every ten times I open Atom, something is broken and now I need to figure out who added a keymap or changed an API.  This is _especially_ irritating when you're on a deadline.

At least, it was like that in my Sublime days...  Turning off auto-update was the only way to restore sanity.  Maybe, as you say, restrict

[2015-05-28 18:12] bronson commented on #6897
And, I agree, I don't think the upgrade treadmill is going to slow down much after June 1st.

[2015-05-28 18:15] mnquintana commented on #6991
I can't reproduce this with Atom 0.204.0 on OS X 10.10.3 – can you reproduce this in safe mode? (`atom --safe`)

[2015-05-28 18:17] mnquintana commented on #6992
You're using an old version of Atom – can you update to the latest version (0.204.0) and see if you can reproduce this?

[2015-05-28 18:19] Stanzilla commented on #6612
Restart did not work from 201 => 202

[2015-05-28 18:19] mnquintana commented on #6993
This seems like a duplicate of https://github.com/atom/atom/issues/6922 – does that one more or less cover this?

[2015-05-28 18:21] brendanfalkowski commented on #6993
Yup, I'll close this one and comment there.

[2015-05-28 18:21] #6993 closed

[2015-05-28 18:25] brendanfalkowski commented on #6922
Closed my other issue. The squirrel showing blue after installing updates bugs me too.

I think it only needs the blue state to get you to update (no gray). I'm going to read the release notes when clicking install + restart, so I wouldn't want the icon always present (less UI distraction). You can always access them from the "help" menu.

[2015-05-28 18:42] radicaled commented on #6867
I'm not seeing any deprecation warnings for `dart-tools` -- what am I missing?

[2015-05-28 18:51] marcelocarlosbr commented on #6867
linter-puppet done!

[2015-05-28 18:52] arcticicestudio opened #6994 "Settings button after package update not working"
When updating one or more packages the "Settings" button won't work anymore.
I came across this issue some time ago when i wanted to read the changelog of the updated package, so i can't really say in which version i first experienced this.
Actually using `0.200.0`, also tried in `--safe` mode, same result.

It's a bit difficult to reproduce the issue as you need updateable package, so here's a an

[2015-05-28 18:56] redfood opened #6995 ""Add Project Folder…" menu item does nothing if no window is open"
I am using Atom Version 0.204.0 (0.204.0) on OS X 10.10.3.

If there isn't a window open but you select "Add Project Folder…" from the "File" menu nothing happens.

The expected behavior would be for a file selection dialog box to appear and then to have a new window open with the selected folder added as a project.

(Alternatively, the menu item could be greyed out I suppose but having it operati

[2015-05-28 18:56] mnquintana commented on #6994
Thanks for the report! This is a duplicate of https://github.com/atom/settings-view/issues/499 – please subscribe there for updates.

[2015-05-28 18:56] #6994 closed

[2015-05-28 19:10] Moter8 commented on #6587
Getting something similar when trying to Split a `html-tab` tab.

Atom 0.201.0, Windows 10 x64, `color-picker, linter, minimap, html-tab, autoclose-html` installed.

[code]

[2015-05-28 19:10] jdfreder commented on #6991
A quick test in safe mode, I don't see the memory leak, yet.  But I still can't highlight text or drag tabs.  Could it be related to other things installed on my machine, i.e. my version of Chrome?

[2015-05-28 19:12] jdfreder commented on #6991
What other information can I gather for you?  Is there a test suite I can run?

[2015-05-28 19:15] mnquintana commented on #6991
Are you running your OS in a VM by any chance?

[2015-05-28 19:19] jdfreder commented on #6991
Yes, I am - VBox

[2015-05-28 19:24] mnquintana commented on #6991
Thanks! I think this is a duplicate of https://github.com/atom/atom/issues/6243, so I'm going to close this in favor of that issue. This should be fixed when Atom upgrades to a version of Electron built on Chromium 43.

[2015-05-28 19:24] #6991 closed

[2015-05-28 19:28] jdfreder commented on #6991
Thanks!  Sorry for the noise!  I looked and couldn't find that issue, otherwise I wouldn't have opened this one.

[2015-05-28 20:02] nathansobo commented on #6981
Seems we are spending a *bit* more time building the lines up in my tests. Here's a 2 second summary of 0.201 scrolling hard in huge.js:

![screenshot 2015-05-28 21 58 18](https://cloud.githubusercontent.com/assets/1789/7869709/d43a5f4e-0584-11e5-8e4c-f7a350058abd.png)

Here's a 2 second summary from master:

![screenshot 2015-05-28 21 58 25](https://cloud.githubusercontent.com/assets/1789/7869720

[2015-05-28 20:05] alexandernst commented on #6981
Ok, I'll keep an eye on Atom updates and keep posting my findings here. Ping me when the patch is merged and released, please :)

[2015-05-28 20:50] forabi commented on #6867
I do not have time to update my package coffee-compiler. If any one is willing to take it up, please contact me. Otherwise, it can be unpublished.

[2015-05-28 20:58] JonathanMEdwards commented on #6982
I'm getting same trap on .ts files with with atom 0.204.0 and atom-typescript 4.5.5

[2015-05-28 21:17] nathansobo commented on #6982
@basarat you shouldn't be overriding the grammar in this new version right? Hard to explain how this error could happen otherwise. @JonathanMEdwards are you sure you're upgraded? You may need to reload your editor as we don't yet reload code properly after upgrades due to module caching issues.

[2015-05-28 21:19] nathansobo commented on #6981
Also, the more detailed information you can give me on what's slow based on these profiles, the better I'll be able to address it. I realize it's a time suck though. Thanks for your time!

[2015-05-28 21:21] alexandernst commented on #6981
Can you give me some general tips about what exactly should I be looking for? Can you show me a screenshot of a profile dump with a function that is *slow*?

[2015-05-28 21:24] JonathanMEdwards commented on #6982
Duh - yeah restart fixes.

[2015-05-28 21:27] nathansobo commented on #6982
It's not obvious a restart should be required and we need to fix it, but yeah, glad it worked.

[2015-05-28 21:29] nathansobo commented on #6982
Going to close this out as it's a package erroring on a private API. I definitely wouldn't discourage this kind of hacking but also can't guarantee things won't break. @basarat I'd love to see you keep experimenting with this approach. It might inform how we could give you a better official interface to hook into your own parser someday.

[2015-05-28 21:29] #6982 closed

[2015-05-28 21:35] nathansobo commented on #6981
It's all relative really. In your case we're taking too long to generate a frame when scrolling. So you perform scrolling and then take a look at that frame. Maybe do that in 0.201 and latest and compare them. How do they look different? Is there something that's taking way longer in one frame than the other.  Here's an example of me zoomed in on a frame. Compared with the version where it was fas

[2015-05-28 23:09] gangstead commented on #6867
[incremental-search](https://github.com/gangstead/atom-incremental-search) has a new owner (me) and I've got deprecation warnings down from >10 to 3.  Work continues.

[2015-05-28 23:13] freshl commented on #6867
atom-compile-coffee and atom-compile-less updated!

[2015-05-28 23:17] cliffrowley commented on #6867
Number 206 (open-in-github-app) should be all good.

[2015-05-28 23:35] maxpowa commented on #6949
Are you accidentally bumping OPTION/ALT while pressing CTRL? I've noticed that if I fat-finger the CTRL button and bump OPTION/ALT the box appears, but otherwise it does not.

[2015-05-28 23:41] JamesTheAwesomeDude commented on #6437
@winnieXY and @number21 Consider creating separate issues for your problems? It'll be easier on the devs if we keep things sorted

[2015-05-29 00:40] 50Wliu commented on #6437
@JamesTheAwesomeDude: It seems to me that both their comments have to do with this issue, so I think it's fine if we keep this in one place.

@number21: That's a known bug on Linux (not sure if it originates from Atom, Electron, or Chromium though).

[2015-05-29 00:42] dantman commented on #6949
@maxpowa That's impossible.

The secondary keyboard I'm using is a Windows style keyboard with a "[Ctrl] [Super] [Alt]" layout instead of the mac "[Ctrl] [Option/Alt] [Super/Cmd]" layout. It's impossible for me to fat-finger the alt key since the Windows key is next to it, not alt.

And no it's not the keyboard's fault, I can reproduce this on both the secondary keyboard and on the keyboard built

[2015-05-29 00:54] lee-dohm commented on #6949
Have you tried using the Keybinding Resolver <kbd>Cmd+.</kbd>? It will show you what key Atom saw you press and the command that was triggered because of it.

On my machine <kbd>Ctrl+Up</kbd> activates Mission Control, so I can't reproduce this right now. In addition to the Keybinding Resolver, if you:

1. Open the Keyboard preferences pane (for OS X)
1. Select the Shortcuts tab

What do you see f

[2015-05-29 01:18] dantman commented on #6949
Using the Keybinding Resolver, Atom says "native!".

In [Settings > Mission control] my Mission control setting is `-` (unset).

In [Keyboard preferences > Shortcuts > Mission control] the box is unchecked. The keybinding remains as `^↑`.

If I enable Mission control as-is Atom doesn't receive any keyboard input when the Mission control action activates.

If I change the Mission control shortcut t

[2015-05-29 01:19] Stanzilla commented on #6612
202 => 204 restart worked

[2015-05-29 01:52] sharvil commented on #5388
I'm running into the same issue on Atom 0.204.0. Here's a simple snippet you can run in Atom's developer console to repro the issue.

[code]

Removing the `createShadowRoot` call results in Atom being able to complete the open URL request.

[2015-05-29 02:08] lee-dohm commented on #6897
@bronson Yes, you're understanding correctly.

[2015-05-29 02:14] lee-dohm commented on #6949
@dantman Yes, there is a way that you can attach to the DOM and capture the raw key event, but I don't know it off the top of my head. You should be able to find it by looking for JavaScript methods for capturing key events though.

Let me replicate what you're seeing on my machine.

[2015-05-29 02:31] lee-dohm commented on #6949
I replicated this using the following process using Atom v0.202.0-60fbb1d on Mac OS X 10.10.3:

1. Close all instances of Atom (just in case)
1. Open OS X Keyboard Preferences
1. Select the Shortcuts tab
1. Uncheck the box next to "Mission Control"
1. Start Atom
1. Open a new file
1. Press <kbd>Ctrl+Up</kbd>

**Expected:** Nothing to be inserted into the file
**Actual:** The UTF-8 triplet `0xEF 0x

[2015-05-29 03:05] seansay commented on #6867
`atom-tidal` updated!

[2015-05-29 03:46] SmileyWar opened #6999 "Remove / Collapse Magento project"
Removing, collapsing a project in particular a magento installation, crashes Atom.

Very strange, now working with a one massive project folder opened, trying to scroll to my other projects heheh.

[2015-05-29 03:48] SmileyWar commented on #6999
I just discovered the reason, if your folder tree is very deep and you try to collapse the top level tree, it crashes.

If you collapse all the folders one by one, Atom does not crash. So it seems it's handling large amounts of open folders in one parent.

[2015-05-29 05:48] lee-dohm commented on #6999
How many items do you have visible in the top level tree?

[2015-05-29 05:55] SmileyWar commented on #6999
Hi this is the open tree (9)
magento > app > design > frontend > rwd > default > template > catalog > product > view.phtml

I also noticed it's actually happens when I close atom, than reopen, this is when it crashes when I try to close the top level tree.

If I open up the tree and hide the top level tree within the same session (not closing down atom) it works fine.

When I leave the tree open c

[2015-05-29 05:57] lee-dohm commented on #6999
* Which version of Atom are you using?
* What OS and version are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?

[2015-05-29 06:00] SmileyWar commented on #6999
Atom 0.204.0
Win 8.1
No I can't reproduce using atom --safe

[2015-05-29 06:22] lee-dohm commented on #6999
Given that you can't reproduce this when using `atom --safe`, it looks like it is probably a third-party package issue. What packages do you have installed? You can get the list at the command line with `apm list`.

[2015-05-29 07:00] Eschon commented on #6612
From 202 to 204 I encountered yet another strange behaviour. I saw that an update was available and as I had multiple instances of atom open I thought that maybe it would be a good idea to close everything to close everything before attempting an update. So I made sure that no atom process was left and then started it again.

When I opened the release notes I was astonished to see that the restart

[2015-05-29 07:18] SmileyWar commented on #6999
The command line thing is beyond my knowledge.

But here is the list of community packages

autocomplete-paths
remote-edit
todo-show

[2015-05-29 07:44] aurelien-rainone commented on #6587
Getting exactly the same stack trace as @DepthDeluxe (issue creator) :
- freshly installed atom, from .deb file on ubuntu 14.10 x64  (atom 0.204.0)
- no additional packages installed

Now i can't provide you with the steps to reproduce because i can't reproduce it but what i did when it happened was :
- launch atom for the 1st time
- open a folder
- open a markdown file (*.md) in my project
- open

[2015-05-29 07:51] simurai commented on #5903
:+1: Seems to work great. Yeah, having to reload Atom isn't that elegant, but a "user-variables.less" file wouldn't solve that either.

[2015-05-29 08:16] stevendobay opened #7000 "Wild memory consuming and 100% CPU usage while editing a small file."
It allocates the memory until there's nothing left. No time to terminate.
Platform: Ubuntu 14.04, Mint 17.1, Gnome-shell 3.10.4

[2015-05-29 08:39] ashrayjain opened #7001 "Restart and Update not working on OSX"
Clicking "Restart and Update" from the release notes page or the Atom menu causes Atom to close and fail to restart. Moreover, upon restarting manually, Atom is not updated.

I have tried clearing the ~/.atom/storage directory, as suggested [here](https://github.com/atom/atom/issues/5692#issuecomment-93859017) but it doesn't solve the problem here.

Platform: OSX 10.10.3, Atom 0.201.0

[2015-05-29 08:42] LunarLanding opened #7002 "Unnecessary "keep waiting" on startup"
Version: 0.204.0
OS: OSX 10.10
 Console.app log: 29/5/15 09:23:28.375 Atom[452]: App load time: 15037ms
Installed Packages (all up to date, no errors):
├── language-apache@1.3.0
├── linter@0.12.6
├── minimap@4.9.0
├── script@2.23.0
└── script-runner@1.8.3

Action: start atom (will open previously opened folder)
Expected behaviour: no need for interaction loading
What actually happens:  "Keep waiti

[2015-05-29 08:43] izuzak commented on #7001
How long did you wait for Atom to restart after clicking "Restart and Update"? Does waiting longer help?

[2015-05-29 08:44] izuzak commented on #7002
Can you reproduce this behavior in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

[2015-05-29 08:50] Stanzilla commented on #6612
@Eschon That is actually intended behaviour.

[2015-05-29 08:51] ashrayjain commented on #7001
I waited for about 15 mins. Also, if it is any help, I waited for the "Downloading update..." in the Atom menu to show "Restart and Install Update" before clicking.

[2015-05-29 08:53] Eschon commented on #6612
@Stanzilla ah ok, I didn't know that.
So could it be that my previous problems with updating happened because atom somehow failed to close itself correctly?

[2015-05-29 08:53] loveai88 opened #7003 "Soft wrap not work well"
I checked `Soft Wrap` and `Soft Wrap At Preferred Line Length`，and my line length is 120.
But when I use a small screen ,I can not see the wrap content

[2015-05-29 08:57] izuzak commented on #7001
Are you able to reproduce that problem? I just downloaded Atom 0.201.0 on OSX 10.10.3, started it, waited for the "Downloading update..." in the menu to show "Restart and Install Update", then clicked that and Atom restarted just fine.

[2015-05-29 09:01] izuzak commented on #7003
Can you provide [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues) and also check the [debugging guide](https://atom.io/docs/latest/hacking-atom-debugging)?

[2015-05-29 09:02] ashrayjain commented on #7001
Yup, I have been trying to update it repeatedly for almost half a day now. It fails every time. I have been using Atom for quite a while and it used to update just fine before today. Also, I did not install any new packages or themes before this problem started.

[2015-05-29 09:06] izuzak commented on #7001
Thanks for the extra information, @ashrayjain. I'd recommend downloading the latest release manually, then (https://github.com/atom/atom/releases).

@paulcbetts @kevinsawicki Do you have any :thought_balloon:/:bulb: about what might be causing problems here?

[2015-05-29 09:23] ashrayjain commented on #7001
Sure, glad to help! Some additional information, I manually downloaded 0.200 and 0.202 and tried to update them to the latest version. Both of them fail in the exact same way. Also tried updating after disabling all custom packages. Still no luck.

[2015-05-29 09:33] mattroberts297 opened #7004 "Regex replace with escape \n character only works for first line"
Using Version 0.201.0 (0.201.0) on OS X Yosemite.

Given this:
![foo bar and baz on separate lines](http://s18.postimg.org/dlrqn01vd/input.png)

When I click 'Replace All' I get this:
![the first line looking correct](http://s23.postimg.org/gstydnv6z/actual.png)

But I expected this:
![all lines looking correct](http://s22.postimg.org/wpvwe7dv5/expected.png)

Not sure if this is a bug or by design

[2015-05-29 09:55] proimage commented on #2939
In case all you non-Windows people are curious, the "installation" process of portable apps should be nothing but copying/extracting files into a specified folder. No environment variables (which are handled via the OS), registry keys, or entries in the "Add/Remove Programs" listing are allowed.

The use of the user's profile folder is discouraged (i.e. it should not be the default installation lo

[2015-05-29 09:56] rgl opened #7005 "Add Project Folder when a folder is dropped in the Tree View"
It would be nice to be able to Add Project Folder when a folder is dropped in the Tree View.

[2015-05-29 10:17] izuzak commented on #7005
Thanks for the suggestion -- please reopen it here: :point_right: https://github.com/atom/tree-view.

[2015-05-29 10:17] #7005 closed

[2015-05-29 10:43] Blaubeersirup opened #7006 "filename-tabs are flickering"
I am using atom as my standard editor on my MacBook Pro 13, but after some time i noticed that the tabs are flickering! It makes me sometimes a bit nervous.... Maybe you can fix that. Sorry for my bad english, i'm from Germany.

[2015-05-29 10:43] Levia commented on #6867
Number 118 `get-routes` updated

[2015-05-29 10:45] izuzak commented on #7006
Can you please provide [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues) and check the [debugging guide](https://atom.io/docs/latest/hacking-atom-debugging) (e.g. if the problem is visible in safe mode)?

[2015-05-29 10:47] Blaubeersirup commented on #7006
Open atom, open some tabs and try to set brightness on 100% on a Mac. Now watch the tabs. They should flicker a bit now....

[2015-05-29 10:48] Blaubeersirup commented on #7006
I use version 0.202.0

[2015-05-29 10:51] izuzak commented on #7006
Thanks for the details, but they're not flickering for me. Can you reproduce this behavior in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? Which themes are you using? Can you reproduce this in Atom 0.204.0? Can you record a short GIF which demonstrates the flickering? (e.g. using [this tool](http://www.cockos.com/licecap/))

[2015-05-29 10:54] Blaubeersirup commented on #7006
safe mode + atom 0.204.0: still flickering, flickering must come from atom because my screen is not damaged. i will try to record.

[2015-05-29 11:02] Blaubeersirup commented on #7006
unfortunately you can't see the flickering on the gif. I am now trying to make a short screen record

[2015-05-29 11:06] Blaubeersirup commented on #7006
same problem when making a screen record with quicktime....

[2015-05-29 11:10] Blaubeersirup commented on #7006
I use One Dark for syntax and for ui theme
When i use other themes, then there's no flickering!
Maybe the problem is the One Dark Theme???

[2015-05-29 11:19] rpadovani opened #7007 "Support bazaar as VCS"
I love your editor guys!
One of the feature I like more is the git support, with highlights of lines/files changed.

Unfortunately, I don't use only git, but also [bazaar](http://bazaar.canonical.com/en/). Could be possible to add a (basic) support for it?

[2015-05-29 11:41] izuzak commented on #7006
I'm using a Mac and the One Dark Theme as well, and I don't see any flickering in the tabs.

@simurai @atom/issue-triage do you see any flickering in the tabs, as @Blaubeersirup described, or maybe have an idea about what might be causing this?

[2015-05-29 11:49] mnquintana commented on #7007
Thanks for the suggestion! This is a duplicate of https://github.com/atom/atom/issues/4138 – please subscribe there for updates.

[2015-05-29 11:49] #7007 closed

[2015-05-29 11:49] izuzak commented on #6972
@DonaldKellett You shouldn't need to create anything yourself.

Can you answer the two questions I asked in a previous comment? Here they are again:

Also, can you try generating a package instead of a theme and see if that works? (Using the "Generate package" command).

Thanks for the help in investigating this.

[2015-05-29 11:50] izuzak commented on #6972
@Huaraz2 You need to use the [apm publish](https://github.com/atom/apm#using) command for that.

[2015-05-29 11:52] izuzak commented on #6985
@DavidAwad @erwald Which OS are you on? Does the problem happen in Atom 0.204.0 as well? Does it happen in an older version (e.g. 0.198.0)? You mentioned that this started happening recently, so I'm wondering if you could help us figure out which is the last version that worked for you.

[2015-05-29 11:53] 50Wliu commented on #7000
What Atom version are you using?  Does this happen in safe mode (`atom --safe`)?  If so, it would be awesome if you could share the file you're editing.

[2015-05-29 11:55] mnquintana commented on #6985
This seems like it could be related to https://github.com/atom/atom/pull/6735 – it's kind of strange though that bash isn't in your PATH. Can you try running `env bash` just to confirm?

[2015-05-29 12:03] izuzak commented on #4149
@davezuko I'm unable to reproduce the problem using your instructions. Can you still reproduce it if you start Atom in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? I'm guessing it's related to a package somehow, which this would confirm, since you are able to reliably reproduce the issue with the snippet you mentioned. Also, can you sh

[2015-05-29 12:03] erwald commented on #6985
@izuzak I'm on Yosemite, 10.10.3. I just tried updating to 0.204.0 and still the same problem. The problem started before I updated to 0.202.0, too. As I recall it, it didn't start with a new update, but I cannot be absolutely sure of that.

@mnquintana What, in the Terminal? There, `env bash` works just fine. Or do you mean in within Atom somehow?

I have also tried opening Atom from the Terminal

[2015-05-29 12:05] izuzak commented on #6985
@erwald Thanks. Does the problem happen in v0.198.0? You can download it here: https://github.com/atom/atom/releases

[2015-05-29 12:09] erwald commented on #6985
@izuzak In 0.198.0 the problem doesn't appear.

[2015-05-29 12:10] mnquintana commented on #6985
@erwald Can you try running `/usr/bin/env bash` in the Terminal?

[2015-05-29 12:12] erwald commented on #6985
@mnquintana Works just fine.

[2015-05-29 12:14] izuzak commented on #6985
@mnquintana Since the PR you linked to was introduced in 0.199.0, this makes me think that you're right about that PR causing problems here.

[2015-05-29 12:17] mnquintana commented on #6985
@izuzak Do you have any ideas why it would be? I'm sort of baffled since both `env` and `bash` are on @erwald's `PATH` here.

[2015-05-29 12:18] tkolsen commented on #5938
Just had the same problem on Ubuntu 14.10 64-bit.
I had the window up, covering half the screen. When i then tried to press maximize it disappeared. When closing and restarting it started like a 1px wide window that was almost impossible to see.

[2015-05-29 12:19] izuzak commented on #6985
@mnquintana No sure, but I do remember some other problems with similar "keywords", e.g. https://github.com/atom/atom/issues/6956, https://github.com/atom/atom/issues/3018

[2015-05-29 12:23] mnquintana commented on #6985
@erwald Do you get this error only if you launch Atom from the dock / Finder? Or do you also get it if you launch Atom from the command line?

[2015-05-29 12:25] erwald commented on #6985
@mnquintana As I mentioned above, the problem remains when launching Atom from the command line.

[2015-05-29 12:25] 50Wliu commented on #5938
I've hit this maybe once on Ubuntu.

[2015-05-29 12:26] mnquintana commented on #6985
@erwald Is `env: bash: No such file or directory` the full error? Or is there more?

[2015-05-29 12:28] erwald commented on #6985
@mnquintana Yes. In Updates, I get the following:

[code]

And when trying to search something in Install:

[code]

[2015-05-29 12:42] lee-dohm commented on #6999
If you disable the remote-edit package, can you reproduce the issue?

[2015-05-29 13:06] emcek commented on #6815
![image](https://cloud.githubusercontent.com/assets/475312/7883061/d9240872-0613-11e5-97d9-01a87b258f33.png)
it happend in 0.201 I can't upgrade and when I try install manually by downloading atom.204.exe file
![image](https://cloud.githubusercontent.com/assets/475312/7883089/14bc83d2-0614-11e5-8632-28ab40a296d2.png)

[2015-05-29 13:08] emcek commented on #6815
![untitled](https://cloud.githubusercontent.com/assets/475312/7883162/99c2e3c8-0614-11e5-8527-0812a440cf2c.png)

it happend in 0.201 I can't upgrade and when I try install manually by downloading atom.204.exe file

![untitled1](https://cloud.githubusercontent.com/assets/475312/7883164/9fee77b2-0614-11e5-8e0a-48560549350e.png)

[2015-05-29 13:11] emcek commented on #6815
uninstaling do not help! where a setup log is?

[2015-05-29 13:11] ChrisJefferson opened #7008 "preload pane"
If I type 'atom', then 'atom dirname', dirname appears in the already open pane almost immediately (unlike the ~1500 ms it takes atom to open a new pane).

Is there a fundamental reason that atom can't, or shouldn't, keep a hidden fully loaded pane in the background, ready for when a user wants to load something into it?

I thought I might try to poke at doing something like this, but I assume the

[2015-05-29 13:41] kankaristo commented on #6335
This also started happening for me, around v0.189. The links still don't work on v0.204.

I'm running Ubuntu 14.04.2 LTS and Chromium 41.0.2272.76 (64-bit).

[2015-05-29 13:50] batisteo commented on #4138
+1
1.0-roadmap please

[2015-05-29 14:00] Zireael07 commented on #7002
I'm having the same issue on Windows. Doesn't seem to happen with --safe.

The only packages I have in common with @LunarLanding are linter and minimap.

[2015-05-29 14:04] izuzak commented on #7002
@Zireael07 Can you try figuring out which one it is by disabling packages one-by-one?

[2015-05-29 14:08] BenUnikal opened #7009 "Feature request : floating tab like chrome"
It would be nice if we could detach and group tabs like we can do in chrome. It will be better if we can manage tabs like in Visual Studio.

[2015-05-29 14:11] yeldarby commented on #5905
Getting this error as well but when copy/pasting between two php files. Can confirm that it occurs when copying from one split pane and pasting into another and that the error does not occur if I am not using split panes but instead have them in tabs.

The bug is not consistently reproducible though. I just tried to open the file in a split pane again and it works now.

[2015-05-29 14:12] mcmorgan opened #7010 "Distorted Tree View"
Atom 0.202.0
OS: OS X Yosemite

I have seen this across all versions I have used. It does not show up all the time, just at weird moments.

![screenshot 2015-05-29 09 05 23](https://cloud.githubusercontent.com/assets/371739/7884326/88b08036-05e2-11e5-9535-bb80e52455c3.png)

Any help on this would be greatly appreciated.

[2015-05-29 14:13] izuzak commented on #7010
Yeah, it's a known issue -- see https://github.com/atom/atom/issues/4924. Closing this in favor of that issue.

[2015-05-29 14:13] #7010 closed

[2015-05-29 14:19] Skulli commented on #4149
Sorry, cant reproduce it (happened on MAC). I was creating a new haml file in split view and copying some haml code (yeah code smell ;)). Somehow the error popped up but disappeared after saving the file.

[2015-05-29 14:22] davezuko commented on #4149
@izuzak I haven't been able to reproduce it since reporting the issue... if it reoccurs I'll try to boot in safe mode and pinpoint a potential package.

[2015-05-29 14:26] izuzak commented on #4149
Cool, closing this again until we get more info. Also gonna cc @nathansobo just so that he's aware we're digging into this stuff, I know he likes to be aware of these things around rendering.

[2015-05-29 14:26] #4149 closed

[2015-05-29 14:28] mnquintana commented on #7009
@BenUnikal I'm not sure what feature you're referring to – do you mean the ability to drag and drop tabs from one window to another, and drag tabs away from a window to create a new window?

[2015-05-29 14:35] BenUnikal commented on #7009
I'm talking about those two features. It will be nice to have the same behavior as chrome has.

[2015-05-29 14:36] venkatpolisetti commented on #5481
@joeferraro Is it possible for your to reproduce this error out side atom as requested by @benogle?

We are really looking forward to using atom and mavensmate from our win 7 environments.

Thanks.

[2015-05-29 14:37] mcmorgan commented on #7010
Thank you @izuzak. I did not realize.

[2015-05-29 14:40] mnquintana commented on #7009
You can already drag and drop tabs from one window to another, and dragging tabs away from a window to create a new window is being tracked here: https://github.com/atom/tabs/issues/39

Closing this as a duplicate.

[2015-05-29 14:40] #7009 closed

[2015-05-29 14:44] zojeda opened #7011 "Uncaught Error: Cannot find module './context-menu'Error: Cannot find module './context-menu' at Function.Module._resolveFilename (module.js:328:15) at Function.Module._load (module.js:270:25) at Module.require (module.js:357:17) at require (module.js:376:17) at BrowserWindow.<anonymous> (C:\Users\zojeda\AppData\Local\atom\app-0.204.0\resources\app.asar\src\browser\atom-window.js:152:27) at emitOne (events.js:77:13) at BrowserWindow.emit (events.js:166:7) at callFunction (C:\Users\zojeda\AppData\Local\atom\app-0.204.0\resources\atom.asar\browser\lib\rpc-server.js:116:18) at EventEmitter.<anonymous> (C:\Users\zojeda\AppData\Local\atom\app-0.204.0\resources\atom.asar\browser\lib\rpc-server.js:208:14) at emitMany (events.js:108:13)"
[Enter steps to reproduce below:]

1. ...Add several Projects Folder
2. ...Right click on one of them

**Atom Version**: 0.204.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Cannot find module './context-menu'
Error: Cannot find module './context-menu'
    at Function.Module._resolveFilename (module.js:328:15)
    at Function.Module._load

[2015-05-29 14:48] 50Wliu commented on #7011
Duplicate of #6548, please subscribe there for updates.

[2015-05-29 14:48] #7011 closed

[2015-05-29 14:49] Zireael07 commented on #7002
Funny, my atom updated itself in the meantime (203->204) and the problem no longer happens.

[2015-05-29 14:51] martinerk0 opened #7012 "Uncaught Error: Encountered an invalid scope end id. Popped -27, expected to pop -45."
[Enter steps to reproduce below:]

1. I opened it week after I wrote this, and its  crashing when I set syntax highlight to shell

2. file ist just a awk+shell

**Atom Version**: 0.204.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Encountered an invalid scope end id. Popped -27, expected to pop -45.

[code]

### Commands

[code]

### Config

[code]

##

[2015-05-29 14:58] joeferraro commented on #5481
@benogle that's the problem, we're unable to reproduce outside Atom. Our appveyor/circleci tests for the node dependency in question (https://github.com/joeferraro/MavensMate) pass with no issue and this library also powers our Sublime Text plugin without issue.

It's also worth noting that the Atom `tree-view` has a rather odd impact on perms in Windows (https://github.com/atom/tree-view/issues/4

[2015-05-29 15:20] 50Wliu commented on #7012
@martinerk0 Can you reproduce this in safe mode (`atom --safe`)?  If so, is there any chance you can share the file you were editing here?  Thanks.

/cc @nathansobo

[2015-05-29 15:32] martinerk0 commented on #7012
#!/bin/bash
# Martin Cerven 2015
# Turing Machine simulator

inputName="input.txt"  # path to file with rules

# parameters: current state , current symbol on the tape
# execute next step based on current configuation

function nextStep {
  # parameters: current state , current symbol on the tape, path to transitions

  trap 'running="false"' INT
  trap 'exit' QUIT

  delta="d("$1","$2")"
  # echo

[2015-05-29 15:33] mnquintana commented on #7012
@martinerk0 Can you put that in a gist?

[2015-05-29 15:43] manysid opened #7013 "problem with localization"
i 've got a npm error 3 , npm error eacces with the package of localization

[2015-05-29 15:43] #7013 closed

[2015-05-29 15:50] 1j01 opened #7014 "Multi-character invisibles break editor"
Upon restarting in 0.204.0 (from 0.201.0; I suspect 0.203.0), everything is screwed up. The tokens appear to be shifted from where they should land, and lines are cut off at the ends. This is happening to all files. After reloading the window, it still occurs.
![broken editor](https://cloud.githubusercontent.com/assets/3630663/7875865/cf3e93b4-0590-11e5-9404-645d66e3b62e.png)
Here's a colon that s

[2015-05-29 15:54] mnquintana commented on #7014
Can you reproduce this in safe mode? (`atom --safe`)

[2015-05-29 15:57] martinerk0 commented on #7012
So? What was the cause? Btw, I saw that awk code in that script is not highlighted, but separately it is. Is it hard to program "highlighter" for recursive languages or it is just not implemented? ( Or is it bug? )

[2015-05-29 15:59] 1j01 commented on #7014
Yes.

[2015-05-29 16:00] migeorge commented on #6867
#93 `erb-helper` is ready to roll!

[2015-05-29 16:02] goddardc commented on #6867
i can't unpublish my plugin since i deleted the repo

[2015-05-29 16:02] Tedko commented on #1783
![2015-05-28 18_41_54-undeliverable_ visual studio code cannot wrap cjk characters properly when soft](https://cloud.githubusercontent.com/assets/6687437/7886819/269d5f72-065f-11e5-968b-0a9433ffee2b.png)

[2015-05-29 16:12] 1j01 commented on #7014
...It works with spaces, but fails with tabs.
![broken editor 6](https://cloud.githubusercontent.com/assets/3630663/7886994/decaae88-05fb-11e5-85d9-1c70c5a0d539.png)
(Tabs are set to 2 here, and there's no character between the tab and the `a`)

[2015-05-29 16:14] #6969 closed

[2015-05-29 16:22] prio101 opened #7015 "Creating New Atom Launcher Icon In Ubuntu 14.04"
# Atom Launcher

I installed atom editor from the source , in the ubuntu 14.04 .

The Installation Guide in Github Repository of Atom is quite fun . But I want to create a launcher in desktop . Is there any way to do that . Or are you people thinking of writing it down in installation guide ? please , let me know...

[2015-05-29 16:57] stevendobay commented on #7000
Version: 0.201. Yes, it happens with safe mode and with or without plugins. The file is a starter Scala source(hello world for further editing).

[2015-05-29 17:01] benogle commented on #7014
Crazy. Can you paste the file in a gist and link to it here?

[2015-05-29 17:02] maxbrunsfeld commented on #7014
/cc @nathansobo

[2015-05-29 17:09] maxbrunsfeld commented on #7014
Can you also share the content of your `~/.atom/config.cson` in a gist?

[2015-05-29 17:16] v3ss0n opened #7016 "Rebuilt atom after system update , and i am in trouble."
I just upgraded my sabayon linux (gentoo based)  , with GCC 4.9.2 and node 0.12.2
Then i tried to rebuild atom from clean but when i rebuild it is aborted due to warnings.
When i tried to do --force , atom binary is built but it crashes with error.

I am on https://github.com/atom/atom/commit/7c968542faccb5d09d501475c3761c0b65582950
[code]

[2015-05-29 17:43] CharlesSocial opened #7017 "Setting toggle for default atom command line behavior"
Atom's default `atom` command behavior isn't going well with my workflow. From the discussions I've seen, a lot of people want the old behavior and some people enjoy the new behavior, making it the perfect candidate for a toggle setting. The behavior can be worked around by hacking a bash script, but I don't think that's a good user experience for a common workflow.

Before the implementation I'd

[2015-05-29 17:46] benogle commented on #7017
So typing `atom .` is too much?

[2015-05-29 17:50] DavidAwad commented on #6985
Didn't see this until now, I'm using a MacBook Air, newest OSX, but I'm using Zsh with Oh My Zsh.

Might be a shell problem for me but it doesn't seem like it as it was this last update that broke atom for me.

[2015-05-29 17:51] nathansobo commented on #7012
It was almost certainly caused by a change I made to the representation of syntactic scopes to save memory. This is an edge case and I'm working on fixing it now.

[2015-05-29 17:58] nathansobo commented on #7014
For now you can fall back to 0.201.0. https://github.com/atom/atom/releases/tag/v0.201.0

Fixing this is my top priority, but I still can't reproduce it. Providing any of the artifacts requested would be very helpful. I'm very sorry for this.

[2015-05-29 18:04] CharlesSocial commented on #7017
Haha, you'd be surprised how often the `.` is left off by accident, which creates a hiccup in the flow.

I work with a bunch of different apps, so I'm often changing directories between projects and opening atom in all of them. Here's the situation I'm often having:

- "Okay, I need to open three projects to get this feature implemented"
- `cd project_1 atom .`
- `cd project_2 atom`
- "what? Oh, d

[2015-05-29 18:06] mnquintana commented on #6985
@erwald @DavidAwad Can you open the DevTools in Atom <kbd>Cmd-Alt-I</kbd> and run `process.env.PATH` in the console and paste the output here?

Also, can you run `ls /bin/bash` in Terminal and let me know what you get?

[2015-05-29 18:09] erwald commented on #6985
@mnquintana For the first one:

[code]

Second one:

[code]

[2015-05-29 18:16] mnquintana commented on #6985
@erwald Actually, can you quit Atom first, then open it from the Dock or Finder, and then run `process.env.PATH`?

[2015-05-29 18:22] #7012 closed

[2015-05-29 18:23] nathansobo commented on #7012
Thanks for the report and my apologies for missing this corner case. A fix is on master and will be out with the next release.

[2015-05-29 18:28] thomasjo commented on #7014
Would you mind temporarily moving/renaming your `~/.atom` folder, and see if you're able to reproduce then? Just do e.g. `mv ~/.atom ~/.atom-backup`.

[2015-05-29 18:31] thomasjo commented on #7014
In addition, what OS are you running? @lee-dohm proposed a hypothesis that this might be related to line endings, which is affected by platform. Thanks in advance!

[2015-05-29 18:33] szatkus opened #7018 "Restoring session doesn't work for Term2 tab"
1. Install https://github.com/webBoxio/atom-term2
2. Open Term2 tab (CTRL+SHIFT+T)
3. Close Atom
4. Open Atom without arguments

Excepted behavior: All tabs are restored.

Current behavior: A tab with terminal doesn't appear.

I'm not sure if it's Atom's bug or Term2's bug.

[2015-05-29 18:41] aaronhalford commented on #7015
Sample setup as you with Atom installed from source on Ubuntu 14.04. My system does have an application launcher for Atom. Current builds Atom do not properly generate a Ubuntu desktop icon.

Assuming you cloned the Atom repo to `~/atom`, run the following in terminal to fix the icon issue:

[code]

[2015-05-29 18:44] willwhitney commented on #6857
Is this going to be addressed anytime soon? If not, I think my options are:

a. Force the `.tab-bar` `z-index` in my package, potentially breaking things in other packages
b. Check marker positions in a throttled `onscroll` callback, with the associated performance damage

[2015-05-29 18:50] benogle commented on #6867
Updated the data again, and we're under 200 packages with deprecations :tada:

@radicaled looks like there was one deprecation and it was addressed in https://github.com/radicaled/dart-tools/pull/61 which has been merged. After a release you should be good :+1:

Thanks for the 5th time for updating your packages, everyone!

[2015-05-29 19:05] nathansobo commented on #7014
Would also be good to know what encoding you're using on this file.

[2015-05-29 19:14] thomashigginbotham opened #7019 "Windows Alt Key Code Combinations for Special Characters Not Possible"
On Windows systems, you can hold the Alt key and type a number combination on the number pad to insert special characters. For example, I can insert an m-dash (—) by holding Alt and typing 0151.

This works fine in most text editors, including Sublime Text; however, in Atom, the Alt key + a number results in switching to a different tab.

[2015-05-29 19:16] mnquintana commented on #7019
Thanks for the report! This is a duplicate of https://github.com/atom/atom/issues/6788 – please subscribe there for updates.

[2015-05-29 19:16] #7019 closed

[2015-05-29 19:16] nathansobo commented on #7014
@1j01 Do you by chance have an `editor.invisibles.tab` setting that contains more than one character? I was able to reproduce similar behavior with such a character (and it isn't supported). I'm going to change the system to disallow this regardless.

![screenshot 2015-05-29 21 16 10](https://cloud.githubusercontent.com/assets/1789/7890712/f22634ba-0647-11e5-8ff7-4af077622e67.png)

[2015-05-29 19:19] 50Wliu commented on #7000
Is the file by any chance in your home directory?
(Also, if you update to Atom 0.204.0, there's been a large performance improvement that may help your issue)

[2015-05-29 19:27] stevendobay commented on #7000
No, in my "Workspace" folder. I'll install the new version.

[2015-05-29 19:29] Galadirith commented on #6867
Number 164 [markdown-preview-plus](https://github.com/Galadirith/markdown-preview-plus) has been updated by galadirith/markdown-preview-plus@5378d9b. Thanks so much for all your hard work @benogle.

[2015-05-29 19:35] 50Wliu commented on #7000
Just to make sure: is this the file you're editing?
[code]

I copy/pasted that into Atom (Ubuntu 15.04) and tried randomly typing letters, inserting newlines, deleting, undoing, etc. but memory usage stayed constant.

[2015-05-29 19:36] erwald commented on #6985
@mnquintana I get the same result (the first one above).

[2015-05-29 19:41] stevendobay commented on #7000
Something similar(Main == HelloWorld). I don't need to do anything for it to be frozen. Not even touching Atom.

[2015-05-29 19:57] stevendobay commented on #7000
I can't install the new one because it requires npm1.4 and I've 1.3.10. When installing the latest with the official site's instructions it fails.

[2015-05-29 20:22] joseramonc commented on #6828
Also feel annoyed by this, It steals the focus 3 times when I turn on my computer.

[2015-05-29 20:24] primitive-type commented on #6867
@benogle I've unpublished the ```update-packages``` package, as newer core Atom functionality renders it obsolete. See your issue at https://github.com/primitive-type/update-packages/issues/5 for reference. Thanks.

[2015-05-29 20:25] maxbrunsfeld commented on #7018
Unless you've seen that this feature worked on an earlier version of Atom and is now broken, I believe this is a bug (or maybe just an unimplemented feature) in Term2. Could you open an issue there first?

[2015-05-29 20:25] #7018 closed

[2015-05-29 20:36] stevendobay commented on #7000
Can't reproduce it with version 0.205.0-5389156.

[2015-05-29 20:45] #6893 closed

[2015-05-29 20:56] 50Wliu commented on #7000
All right, that's good to know :smile:.  Glad upgrading fixed your issue!

[2015-05-29 20:56] #7000 closed

[2015-05-29 21:11] stevencombs commented on #3204
Version .204 and while I see the *Services* menu, there are no services available.

[2015-05-29 23:15] 1j01 commented on #7014
Okay, I changed my tab setting to a single character, which fixes it. This worked completely before.

[2015-05-29 23:33] nathansobo commented on #7014
If it did, it was accidental. From the look of your screenshots a single `>` should work just fine, combined with a tab length setting.

[2015-05-29 23:40] 1j01 commented on #7014
@nathansobo Yes, that is what I have changed it to.

[2015-05-30 00:27] cs150bf commented on #6867
Number 170 [ever-notedown](https://github.com/cs150bf/ever-notedown) has been updated as of https://github.com/cs150bf/ever-notedown/commit/82b38f93bf266e8c5c9cad2968dd0a7de0163a2e

I did not see any deprecation warning in Atom, so I made the fix based on information from https://github.com/benogle/deprecation-data but I'm not 100% sure...

Thanks for the notification @benogle

[2015-05-30 01:25] simurai commented on #7006
This sounds like https://github.com/atom/one-dark-ui/issues/27.

I can't reproduce it on OS X with a 13" MBP, Late 2012, with a "Intel HD Graphics 4000 1024 MB". So maybe it depends on the exact configuration.

@Blaubeersirup Could you try to add the following to: `Menu > Atom > Open Your Stylesheet`.

[code]

And see if that helps. It did in some cases.

[2015-05-30 02:21] cdipaolo commented on #4149
@izuzak Also haven't been able to reproduce. Though it did happen again within an hour of the first time. Both times I was cutting a block of HTML and pasting it to another portion of the screen. Hasn't happened before then or since then but will look further if it happens again.

[2015-05-30 03:11] grandsong commented on #7004
I guess it is a bug.

By the way, you can simplify your find query into `.+`. No need to use `^` and `$`.

[2015-05-30 03:27] grandsong commented on #7004
Moreover, before the bug is fixed, how can you accomplish your job?
- A generic solution is using another editor.
- For your specific need, here is a trick without any regexp.
1) select a line-break charact (move caret to the end of Line 1, and then press Shift+→);
2) Press Cmd+D as many times as the lines are;
3) Press ← once;
4) Now you have a caret at the end of each line. Type `\n",`.
5) Press

[2015-05-30 04:14] prio101 commented on #7015
Thanks , This solved my problems ....

[2015-05-30 04:17] jackytsu commented on #6867
@benogle
When I run `apm publish -t v0.6.0` I got `Creating new version failed: Application error`.
What should I do?

[2015-05-30 04:30] #7015 closed

[2015-05-30 05:45] SmileyWar commented on #6999
Now it does not remember the open project folders, so I can't reproduce it. Is this a setting?

Every time I close Atom, than reopen I need to add the project folders again.

[2015-05-30 05:52] kfix commented on #3204
ditto to @stevencombs

[2015-05-30 06:25] stevendobay commented on #7000
Thanks for helping!

[2015-05-30 07:34] mattroberts297 commented on #7004
Funnily, I did the exact same thing re: `"$1\\\\n"` before posting (just in case I was doing something stupid).

Thanks for the tip(s). On that note, with regards to step 2: is there a way to say 'all lines'. In the real use case I had a *largish* bash script that needed converting to cloud formation's json format.

Thanks again!

[2015-05-30 11:16] atrandafir opened #7025 "Almost frozen when editing huge javascript file"
I've opened a plugins.js file from a theme from ThemeForrest, this file was containing a lot of packed js plugins of a total of 700kb of code.

The IDE simply got frozen for minutes until I could right click and close the tab.

Using 0.201 on Windows 7 64bits with 4gb of ram and i5 processor.

[2015-05-30 11:20] izuzak commented on #7025
Thanks for the report -- sounds like a duplicate of https://github.com/atom/atom/issues/307 and https://github.com/atom/atom/issues/979, so I'm closing this in favor of those two. Improving Atom so that it can handle large files and files with very long lines is on the radar.

[2015-05-30 11:20] #7025 closed

[2015-05-30 12:18] atrandafir opened #7026 "Replace and maintain original case?"
When replacing isn't there a option to keep the original case of the string?

[2015-05-30 12:24] atrandafir opened #7027 "Replace in current selection not working very good"
I also think is a pain-in-the-ass to have to manually click on "Only in selection".

NetBeans handles this quite good, if you had a selection before searching it will automatically activate that for you.

[2015-05-30 12:55] izuzak commented on #7026
There's no such option currently -- see https://github.com/atom/find-and-replace/issues/165 which is tracking that request.

[2015-05-30 12:55] #7026 closed

[2015-05-30 12:57] izuzak commented on #7027
Sounds like a duplicate of this request: https://github.com/atom/find-and-replace/issues/384. Please subscribe to that issue for updates! :pager:

[2015-05-30 12:57] #7027 closed

[2015-05-30 14:30] ue5963 opened #7028 "Uncaught Error: Encountered an invalid scope end id. Popped -3, expected to pop -95."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.204.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Encountered an invalid scope end id. Popped -3, expected to pop -95.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-30 16:43] vkbansal opened #7029 "Atom is being treated as malware by antivirus programs on Windows."
I had this issue on several machines running Windows 8.1 x64. `atom.exe` is flagged due to suspicious activities.

The antivirus programs tried:
- Avast
- Bitdefender

[2015-05-30 16:50] DepthDeluxe commented on #6587
@aurelien-rainone, the exception window includes a button that copies the whole thing onto the clipboard.  You still have to write out what you did to cause the bug.

![screenshot from 2015-05-30 09-43-02](https://cloud.githubusercontent.com/assets/4984331/7898303/cff84e14-06b0-11e5-8c51-e604038822a7.png)

[2015-05-30 17:09] DepthDeluxe commented on #6587
@aurelien-rainone it looks like this issue also affects Markdown-Preview.  I think Atom should either handle that type of exception for editor commands and fail silently or have some type of NULL function that gets registered to handlers by default.

[2015-05-30 17:17] batjko commented on #7029
Can you post the details of *what* it is recognized as?

[2015-05-30 17:22] 50Wliu commented on #7029
I'm going to close this as a duplicate of #3927.  @vkbansal, it would be great if you could post what it's being detected as on that issue (like @batjko said).

[2015-05-30 17:22] #7029 closed

[2015-05-30 17:27] paulcbetts commented on #3927
Still passes Virustotal: https://www.virustotal.com/en/file/d10ee38fd3e4e71901e1a556f947531770adea07d691818921f11d99b9c64462/analysis/

[2015-05-30 18:03] phyllisstein opened #7030 "Indentation glitch in certain scopes but not others."
Hey there! I've just noticed a somewhat strange glitch in how Atom responds to <kbd>Tab</kbd> in certain scopes---in particular Markdown, but I haven't cycled through them all yet. Setting the tab length to four spaces, either in `.gfm.source` or globally, causes Atom to insert four spaces but visually snap the cursor back to the middle of the tabstop, roughly two spaces in. From there, typing cau

[2015-05-30 18:15] 50Wliu commented on #7030
I can partially reproduce this on Atom 0.205.0-adc08d3, Ubuntu 15.04.  I could only reproduce the "typing causes the cursor to jump back and insert text at the expected position" result (maybe because I only tried indenting a few lines).

[2015-05-30 21:04] Ciantic opened #7031 "Auto update didn't work (twice) release notes is stuck at 0.196.0"
I installed 0.201 weeks ago, the auto update didn't work I had to use installer. Today I noticed auto updating once again didn't work. I ran uninstaller, and installed a new one.

Now the Help menu says my version is 0.204.0 but the *release notes* are stuck at 0.196.0. Also showing "Restart and update" button, yet my version is just downloaded.

I think I have to delete `.atom`, uninstall the who

[2015-05-31 01:02] lygstate opened #7032 "Need a way to show all keymap bindings and modify it."
At the current time, there is no way to looking kyemap things.

[2015-05-31 01:02] #7032 closed

[2015-05-31 03:28] envygeeks opened #7033 "Atom Editor Memory Leak... 202 didn't decrease memory usage, it increase it by 4x."
The recent 202 release increase the memory usage of Atom on my system with sparse editing by 4x+ in that I used to max out at about 1gb over a few days of editing files (I don't normally close my editor.) However, with the recent 202 release my memory usage creeped up to over 4gb plus, for some reason it seems to be swap thrashing (a problem we solved by simply denying swap access to Atom.)

On a

[2015-05-31 03:31] mnquintana commented on #7033
Can you update to the latest version of Atom (0.204.0) first and see if you can still reproduce this issue?

[2015-05-31 03:33] envygeeks commented on #7033
Unless your release logs are extensively horrible I don't see how that would help?

[2015-05-31 03:34] envygeeks commented on #7033
In that I already checked every release after to see any mention of this problem before even filing and concluded that it would be prudent to stay on this release to debug the problem, but if you absolutely need me to do Windows style debugging I'll upgrade.

[2015-05-31 03:56] envygeeks commented on #7033
Ok, I've updated and I'll let this ticket sit for a few days and update after i've got some heavy usage.

[2015-05-31 06:01] thomasjo commented on #7033
Are you able to reproduce the problem in [safe mode](https://atom.io/docs/v0.204.0/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

[2015-05-31 06:50] xlaywan opened #7034 "Opening 'Settings' - 'Packages' takes too long time"
Even if I want to find specific package, first it lays out all packages.

[2015-05-31 07:43] arcticicestudio commented on #7032
Go to `Settings` > `Keybindings` to show a list of all keybindings, there's also a filter function.
You can also modify/overwrite one by adding it to your [keymap file](https://atom.io/docs/v0.204.0/behind-atom-keymaps-in-depth)

[2015-05-31 08:03] arcticicestudio commented on #7034
Can you provide some more informations like the version you're using and the os it runs on?
This issue may also be related to your Internet connection, since atom downloads information about the packages and could get stuck when the connection is slow.
Better wait for a reply from a staff member to see if someone reported a similar issue.

[2015-05-31 08:09] xlaywan commented on #7034
win 10; atom 0.204;

UI is freezes until all packages displayed (for about 10-20 sec)

[2015-05-31 10:26] SurAnand commented on #2731
I am really struggling with similar issues in installing atom. And I am not really good with CLI errors. Please help.
[code]

[2015-05-31 10:42] mnquintana commented on #7034
Closing as duplicate of https://github.com/atom/settings-view/issues/291 – please subscribe there for updates.

[2015-05-31 10:42] #7034 closed

[2015-05-31 11:01] urecio commented on #6867
`html-include-resource` published!

[2015-05-31 11:03] bmiwdmb opened #7035 "[Bug] () problems in .php file"
## Infomation ##
+ System: Windows 7
+ FileName: index.php

-----

### in Notepad++ ###
![Notepad++](https://i.imgur.com/Nl7pOX2.png)

### in Visual Studio Code ###
![vsc](http://i.imgur.com/e3tcCs9.png)

### in Atom Version 0.204.0 ###
: )
![Atom](https://i.imgur.com/BWM0ek9.png)
: \\)
![Atom](http://i.imgur.com/mYSQUnC.png)

[2015-05-31 11:04] LunarLanding commented on #7002
If it happens, it doesn't happen if I close Atom and then reopen. Plus, in safe mode it didn't happen. This makes me think that when there's high load on my OS, such as just after logging in, Atom takes more time than expected to load, leading to the "keep waiting" dialogue to show up. Since using safe mode takes some load off, this may not occur in that configuration.
I suppose that after showing

[2015-05-31 11:09] bmiwdmb commented on #7035
in Visual Studio Code
![vsc](http://i.imgur.com/e3tcCs9.png)

P.s. FileName: index.php

[2015-05-31 11:32] aloncarmel commented on #6753
i focused in and out of the editor to chrome and back. back and forth until the cursor suddenly disappeared and this error appeared.

[2015-05-31 11:52] Zireael07 commented on #7002
I think it's related to RAM or processor use, too (safe mode, obviously, reduces the use, and 203-> 204 contained some performance fixes).

Windows shows the 'not responding' dialog if the program loop does not call for UI input in X seconds, therefore it doesn't care if it later loads properly :{

[2015-05-31 12:46] mendab1e commented on #6867
Number 119 ```mate-subword-navigation``` is updated

[2015-05-31 12:59] fgimian commented on #2822
This is really essential for me and something I rely on in Sublime Text.

Sublime Text allows you to update this in the View menu:

![image](https://cloud.githubusercontent.com/assets/1811813/7901995/3c6d7d48-07e8-11e5-84bb-a6d3aaaf9b1f.png)

But more importantly, it lets you set default line endings in your settings file:

![image](https://cloud.githubusercontent.com/assets/1811813/7902002/5cad22

[2015-05-31 13:59] asinode opened #7037 "Running `atom` command from terminal won't work"
I just installed the **`atom-amd64.deb`** using the instructions given in the [atom documentation](https://atom.io/docs/v0.204.0/getting-started-installing-atom). But the command `atom` is not working and throws the following error.

But atom got installed! I can launch it like any other app from GUI. I use Ubuntu 14.04.

Please help!

[code]

[2015-05-31 14:03] SurAnand commented on #7037
As said above in the last issue #7037, I also have another error popping up if I launched Atom from GUI. Below is the error (bug).

## Failed to load the gitter package

[code]

[2015-05-31 14:17] mnquintana commented on #7035
Can you elaborate on what the problem is?

[2015-05-31 14:36] alexwhitman commented on #7035
The bracket matching is matching the `)` in the string rather than the one closing the array.

[2015-05-31 15:00] cynecx opened #7038 "Invalid Bracket Matching"
Hello :smile:,

So I've been working with Atom quite a while now and noticed a bug when Atom matches curly brackets. The main issue here is that brackets in special scopes/context should be ignored like in comments or regex objects (eg. Javascript).

![invalidbm](https://cloud.githubusercontent.com/assets/5961244/7902279/de8d894e-07b4-11e5-8c9f-131173e037ef.png)

Atom 0.204.0 on Windows 7 x64.

[2015-05-31 15:07] SurAnand commented on #7037
When I open Atom from Applications Menu at the top left corner in Gnome Shell of my Ubuntu 14.04, Atom does not show the expected Welcome Page.

Atom instead opens along with a Red color box popping on the right side with the heading, __Failed to load the gitter package__ and the content is as shown above.

At the bottom of the box, there is clickable option saying, `Create issue on the gitter pac

[2015-05-31 15:26] izuzak commented on #7038
Thanks for the report -- there's already an issue tracking that problem: https://github.com/atom/bracket-matcher/issues/78. Gonna close this in favor of that.

[2015-05-31 15:26] #7038 closed

[2015-05-31 15:29] izuzak commented on #7035
Thanks for clarifying, @alexwhitman -- this looks like a duplicate of https://github.com/atom/bracket-matcher/issues/23. Let us know if we misunderstood your report, @bmiwdmb

[2015-05-31 15:29] #7035 closed

[2015-05-31 15:44] lexicalunit commented on #3719
:+1: This would be neato!

[2015-05-31 15:50] tomkadwill commented on #6867
I'm no longer maintaining [atom-rails](https://github.com/tomkadwill/atom-rails) so feel free to unpublish

[2015-05-31 16:40] reirep opened #7040 "Atom does'n handle corectly the [ sybol"
Same kind of issue already reported, I can't type the [ symbol in atom editor (atl Gr+^ on a Belgian keyboard). Atom accept the [ symbol when I type anywhere else than into the editor (setup, ...).
![github](https://cloud.githubusercontent.com/assets/9026252/7902752/0f331d7a-07c4-11e5-9a5d-5a5cd5dff59e.png)

[2015-05-31 16:56] izuzak commented on #7040
Thanks for the report, @reirep  -- you're hitting a known issue, which you can read about and subscribe for updates here: https://github.com/atom/atom-keymap/issues/35.

[2015-05-31 16:56] #7040 closed

[2015-05-31 18:06] rgl opened #7041 "Support copy with Keyboard shortcut when the Preview Window is focused"
When we open the Preview Window, say when editing a `.md` file, let us press `Ctrl+C` to copy the selected text. Currently that only works from the context menu.

Please note that copying from a normal paragraph works, BUT if you select the text from a `Fenced code block` it wont work. I'm using Atom 0.204.0.

[2015-05-31 18:06] JamesRitchie commented on #6867
An update for [language-matlab](https://github.com/JamesRitchie/language-matlab) has been published.

[2015-05-31 18:09] gangstead commented on #6867
[incremental-search](https://github.com/gangstead/atom-incremental-search) has been updated.

[2015-05-31 18:22] gabceb commented on #6867
Im almost done updating web-view. Updated package will be published tomorrow.

[2015-05-31 18:24] lee-dohm commented on #7041
This belongs on the [markdown-preview package](https://github.com/atom/markdown-preview). Would you mind reopening the Issue there?

[2015-05-31 19:00] mark-hahn commented on #6867
I'm not sure why everyone is posting all these notices about what is
fixed.  Who would read them and why?

In any case I've published many.  Too long to list.

On Sun, May 31, 2015 at 11:23 AM, Gabriel Cebrian <notifications@github.com>
wrote:

[2015-05-31 21:36] nn2242 opened #7042 "Atom API reference - Include class name in title"
Would be nice if the title for the API reference pages gave some context to the class it's referencing. The following is a screenshot of the tabs I see in Firefox (Safari gives even less context because the icon is missing). All of them just say "Atom".

![screen shot 2015-05-31 at 5 29 30 pm](https://cloud.githubusercontent.com/assets/2596124/7904012/f1380a46-07ba-11e5-8fd2-7e8c0f82ac57.png)

The

[2015-05-31 21:48] mnquintana commented on #7042
Thanks for the suggestion! This is a duplicate of https://github.com/atom/atom/issues/6624 – please subscribe there for updates.

[2015-05-31 21:48] #7042 closed

[2015-05-31 22:30] russlescai opened #7043 "Screenshot on atom.io homepage shows old theme"
I know this is minor in the scheme of things, but I noticed the homepage for https://atom.io still has the Atom Dark theme, not the One Dark UI theme as the screenshot.

[2015-05-31 23:21] StatelessCat commented on #3278
Still the problem on plasma-desktop 5.3.1 :/
Even with CTRL TAB, Atom dont get back the focus.

Yes @rustedwolf I think it's related to focus event.

[2015-05-31 23:56] roe commented on #6867
I'm no longer maintaining [status-tab-spacing](https://github.com/roe/status-tab-spacing), feel free to un-publish.

[2015-06-01 00:10] DavidAwad commented on #6985
in the dev tools there's a JS error.
[code]
[code]

and lastly
[code]

Doesn't seem like zsh is messing with this but I'm not entirely sure.

[2015-06-01 01:29] maletor opened #7044 "Cmd+t menu allows opening new file in same tab by using shift+enter or shift+click."
Discussed over on https://github.com/atom/tabs/pull/145, but giving it a little more light here.

[2015-06-01 02:16] pusateri commented on #6985
Seems like /bin should be in your path. If you have changed your path in .profile or .bashrc, you might want to add /bin and see if it fixes your problem.

[2015-06-01 02:33] jlcummings commented on #6404
Seems like same behavior as described in OP, likely generally relevant environment excerpts...

`uname -va`
4.0.4-2-ARCH #1 SMP PREEMPT Fri May 22 03:05:23 UTC 2015 x86_64 GNU/Linux

`atom -version`
atom 0.199.0-f48351e

`apm -version`
apm  0.167.0
npm  2.5.1
node 0.10.35
python 3.4.3
git 2.4.2

echo $XDG_CURRENT_DESKTOP
XFCE

echo $GDMSESSION
xfce

xfce4-session --version
xfce4-session 4.12.1 (Xf

[2015-06-01 03:08] SmileyWar commented on #6999
I think a restart resolved above message.

This has been resolved. It was indeed the remote-edit.

Thank you for your help.

[2015-06-01 03:18] MarkZander opened #7045 "Mac OS X Yosemite starting atom with correct path (solution?)"
When I put Atom in my Apple Dock and clicked on the icon Atom started successfully but couldn't find needed programs in my PATH. I've spent sometime finding a possible solution.

1. Instead of having a binary in the Atom.app/Contents/MacOS use your script Atom.app/Contents/Resources/app/atom.sh.

2. The script needs 2 changes:
    - change for the new location of the binary
    - change the first

[2015-06-01 03:22] grandsong commented on #7004
Sorry to say but I don't think Step 2 can be improved so much.

After all, it is just a backup.

If you really need to replace many, you have to use an editor with good replacement function.

---

PS: With my trick, you can, as I hope, branch out to other similar jobs. There are more benefits beyond this particular job that you have problem now.

[2015-06-01 04:27] dtracers commented on #5147
I just got this too.
I did not even clear the cash but instead just restarting fixed it.

[2015-06-01 04:50] j0rdsta commented on #6478
It might've just been a coincidence, but I attempted to install the latest version of Atom (0.204.0) several times on my Windows 8.1 machine without it being able to install the path for `apm`. The second last time I installed it, however, I noticed that Bitdefender appeared to be blocking Atom. Here's the log file from Bitdefender:

[code]

I then reinstalled Atom with Bitdefender temporarily dis

[2015-06-01 05:24] DavidAwad commented on #6985
That didn't seem to work.

[2015-06-01 08:45] mysticatea commented on #7004
I also encountered this problem.

----

- Atom `0.204.0`
- Windows 7 64bit

[2015-06-01 09:26] gliheng opened #7046 "atom taking incredibly long to parse a simple string"
So I have a js file with only a simple long string 60000 a character enclosed by double quote. "aaaaaaaaaaaa..." It took atom like forever to parse the grammar.

I believe this can be optimised.

[2015-06-01 09:38] izuzak commented on #7046
There's already an open issue for files with very long lines: https://github.com/atom/atom/issues/979. Please add your comment there -- thanks!

[2015-06-01 09:38] #7046 closed

[2015-06-01 09:47] peirancao commented on #1718
+1

[2015-06-01 09:50] xPaw opened #7047 "Ellipsis character not recognized as punctuation when double clicking words to select"
When trying to select `test…` it will select both `test` and `…`, but if the text is `text...` *(with normal dots)*, it will only select `test`.

[2015-06-01 11:21] mnquintana commented on #7045
Thanks for the suggestions! This seems like a duplicate of https://github.com/atom/atom/issues/6956 – please subscribe there for updates.

[2015-06-01 11:21] #7045 closed

[2015-06-01 11:55] iraasta commented on #6867
I didn't get any depreaction warnings in my atom. I got to know by getting an issue on git from one of the users.
Both [autocomplete-elixir](https://github.com/iraasta/autocomplete-elixir) and [autocomplete-erlang](https://github.com/iraasta/autocomplete-erlang) has been updated today

[2015-06-01 12:35] grandsong opened #7048 "[Survey] A better keybinding for toggle-bookmark?"
## What happens?

[Some users find the **default** keybinding to toggle bookmarks **isn't working**](https://github.com/atom/atom/issues/3930), probably due to conflicts with the keyboard bindings of Intel Graphics (installed as a driver), which is **very common for Windows users**.

Even when that `ctrl-alt-f2` does work, I feel it **really hard to hit**, either with one (left) hand of mine or wi

[2015-06-01 13:17] wcandillon commented on #6982
@nathansobo I appear to have the same issue in my plugin. What is the private API that causes this issue? Here's my plugin: https://github.com/wcandillon/language-jsoniq/blob/master/lib/jsoniq-grammar.js

[2015-06-01 13:38] wcandillon commented on #6982
@nathansobo my `tokenizeLine` implementation used to return the following format:
[code]

I modified the implementation to return the following:
[code]
Does this new output format look good? It doesn't appear to work.

[2015-06-01 14:36] nathansobo commented on #6982
You're on the right track. Read lower in that explanation and you'll find the true format that more efficiently represent the same concept, with integers. It's pretty cryptic but the other representations ate too much memory.

[2015-06-01 14:37] specik commented on #967
+1

[2015-06-01 15:38] lee-dohm commented on #7044
This should probably be opened on the [fuzzy-finder package](https://github.com/atom/fuzzy-finder) which provides the <kbd>Cmd+T</kbd> menu.

[2015-06-01 15:44] lee-dohm commented on #6985
There are a number of places where the default `PATH` can be set on OS X. (See [this StackExchange entry for more information](http://apple.stackexchange.com/questions/106355/setting-the-system-wide-path-environment-variable-in-mavericks).) To my knowledge, the OS default is `/usr/bin:/bin:/usr/sbin:/sbin` and is provided by the `/etc/paths` file. That is where I would check first to correct this

[2015-06-01 15:50] lee-dohm commented on #7048
I don't use bookmarks, so this survey doesn't apply to me. On the other hand, `f1` is listed in the [Windows Developer Guidelines](https://msdn.microsoft.com/en-us/library/windows/desktop/ms646335%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396) as a "system-wide" assignment for Help. We should probably avoid clobbering that.

[2015-06-01 15:55] envygeeks commented on #7033
I was able to reproduce it and still am able to reproduce it if I leave it open for extended periods.

[2015-06-01 15:57] mehcode commented on #7048
We have bookmarks? I suppose these are per state box / project. Honestly never used them before. I'll give them a try later. Might be one of those things you don't know you want till you have it.

----

First question I'd ask here is why are our shortcuts different than what sublime has?

https://github.com/atom/bookmarks/blob/master/keymaps/bookmarks.cson

[code]

[2015-06-01 16:00] lee-dohm commented on #7048
This survey also probably belongs on the [bookmarks package](https://github.com/atom/bookmarks).

[2015-06-01 16:10] mnquintana commented on #7033
Do you see this with any specific project or file, or is it with everything?

[2015-06-01 16:39] kevinsawicki commented on #7033
I was able to reproduce the leak console message caused by the `Task` class not cleaning up stdout/stderr listeners.

This was introduced in https://github.com/atom/atom/pull/5382 so it has been part of Atom since 0.190

[2015-06-01 16:48] #7044 closed

[2015-06-01 16:48] maletor commented on #7044
Moved to https://github.com/atom/fuzzy-finder/issues/107.

[2015-06-01 17:08] oclbdk opened #7049 "New window created on startup"
Every time I quit and restart the IDE, Atom opens another empty window.

[2015-06-01 17:31] izuzak commented on #7049
@oclbdk Could you include [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues) with your issue reports, please?

[2015-06-01 18:17] #7014 closed

[2015-06-01 18:47] izuzak commented on #7028
Thanks for the report, @ue5963 -- I think this is a duplicate of https://github.com/atom/atom/issues/7012. /cc @nathansobo to double-check

[2015-06-01 18:47] #7028 closed

[2015-06-01 19:09] seleckis opened #7050 "Incorrect line width calculation when cyrillic symbols is used and soft wrap is enabled"
Annoying horizontal scrollbar appears.

Look at the screenshot:
![screen shot 2015-06-01 at 22 05 51](https://cloud.githubusercontent.com/assets/988504/7920903/6ecee6ba-08aa-11e5-9c8e-7fd77d5e354e.png)
OS X

[2015-06-01 19:39] nathansobo commented on #7028
@izuzak This is an assertion that can fail in a variety of cases. I *hope* I got the last one in #7012 but I might not have. Even so, might make sense to keep this closed and see if any more crop up after the release.

@ue5963 What language were you editing at the time?

[2015-06-01 20:44] frxstrem commented on #7017
The first thing I did when noticing the new behavior was look for a setting to disable it, and I'm quite surprised that this hasn't been implemented yet. Running `atom .` doesn't always work, especially when I want to start in a clean workspace, such as when opening Atom from its application shortcut or my custom keyboard shortcut (bound to `/usr/share/atom/atom` which used to open a clean workspa

[2015-06-01 20:47] glampr commented on #6615
4. ```bundle open [gem_name]``` open the gem's directory without having to specify the full path.
eg. ```EDITOR=atom bundle open rgeo``` is the same as writing ```atom /usr/local/rvm/gems/ruby-2.2.0@project/gems/rgeo-0.3.20``` (bundle knows wher the rgeo gem is installed to).

3. Moving the same folder to e.g. my desktop solves the issue.
When opening the folder at ```/usr/local/rvm/gems/ruby-2.2.

[2015-06-01 20:59] MarkZander commented on #7045
Yes, same problem but different approach to solving it. Sorry I didn’t add my 2 cents in on the previous submission.

Glad this is being taken care of.

Mark

[2015-06-01 21:13] v3ss0n commented on #7033
I was able to produce memory leak , over 100k+ every 4-5 secs. at atom 7c96854

[2015-06-01 21:22] cooperia commented on #7017
Charles' example is pretty much spot on. The number of 'what? Oh, damnit atom.'s flying around our office is too damn high.

[2015-06-01 21:35] devios1337 opened #7052 "Search doesn't find first hit until Enter or Cmd-G is pressed"
This is a very outdated way to do search. Modern editors will show the first hit starting from the current caret position as you type the search. It feels very odd to type something in the search box, wait for it to do something and have nothing happen. I keep thinking this means it can't find any matches in the document, but just to be safe I hit Cmd-G and lo and behold it finds a bunch of matche

[2015-06-01 21:48] benogle commented on #7052
Can you elaborate? It does not move the cursor until you hit enter, true. But it does find search results as you type, which are outlined. I am inclined to keep the current behavior, and not move the cursor until you tell it to do so with an enter key press or a cmd-g.

[2015-06-01 21:55] murphyrandle commented on #2880
Also, I'm not finding "disable hardware acceleration" in settings anymore. Was it removed?

[2015-06-01 21:59] devios1337 commented on #7052
To be honest I didn't notice that it was highlighting anything as I was typing, but in large files this is moot because what you are looking for may be well off the current visible page anyway. Having the view jump to the current first match just feels natural as the user's current locus of attention is the fact that they are searching for something, and it makes sense that the app be as responsiv

[2015-06-01 23:39] basarat commented on #6982
@wcandillon tip (not related to the issue though) ... no need to override `tokenizeLine**s**` as the default implementation is similar to what you came up with : https://github.com/atom/first-mate/blob/1c2b006ed2bf119f2662e87f64a3b21beca481e9/src/grammar.coffee#L73-L80 (as far as I can see).

[2015-06-01 23:49] grandsong commented on #7048
I am surprised when @lee-dohm said he don't use bookmarks and @mehcode has not used.

Therefore, bookmark is not as commonly useful as I assumed.

**Withour bookmark, how do you go and come back to some key lines quickly?**

Or, do you often edit one identical file in two panes and switching between the panes makes an effective alternative?

If I learn from you, probably I will depend on bookmark

[2015-06-02 01:27] lee-dohm commented on #6615
It appears that `bundle open [gem name]` doesn't respect environment variables passed on the command line. I have `EDITOR` set to `atom --wait` in my profile and tried, `EDITOR=vi bundle open [gem name]` and the Gem I listed opened in Atom.

[2015-06-02 01:30] lee-dohm commented on #6615
I also just tried this:

[code]

And pry opened in Atom. So perhaps it launches a copy of your shell without inheriting the local environment and opens that?

[2015-06-02 01:31] glampr commented on #6615
@lee-dohm this seems irrelevant with the issue I'm having, but could it be that you have the env variable ```BUNDLER_EDITOR``` set to atom?

[2015-06-02 01:37] lee-dohm commented on #6615
No, `BUNDLER_EDITOR` is empty.

I was simply trying to follow what I understood to be the steps to reproduce your issue. If you can provide us with simplified repro steps that isolate your exact issue, I would be happy to try those.

It is an indication that the files/folders are ignored by the `.gitignore` file that applies to them. This could also be why trying to do a Project Find on those file

[2015-06-02 01:42] glampr commented on #6615
You are right! That options was causing this! When it is unchecked searching works as expected!!
Thank you!

[2015-06-02 01:42] glampr commented on #6615
Maybe it should say "Exclude VCS Ignored Paths from search results" ?

[2015-06-02 01:54] #6615 closed

[2015-06-02 01:56] lee-dohm commented on #6615
It excludes ignored paths from more than just the search results. It's kind of a catch-all for search results, fuzzy-finder and I think one more thing. It could use a description that makes it more clear.

[2015-06-02 02:06] DavidAwad commented on #6985
This is what my `/etc/paths` file looks like. Seems to have everything. Unless `/usr/local/bin` is the problem but that's a brew thing.
[code]

[2015-06-02 02:08] lee-dohm commented on #2880
@murphyrandle Yes, it was. I don't have a reference to when though. Sorry :cry:

[2015-06-02 02:20] Ohmnivore opened #7057 "French accents, broken word-wrap, text goes crazy"
It happens when I type a tag in an HTML document (if the line has a character with a french accent preceding the tag). It doesn't matter if it's an opening/closed/mismatched tag.

Before tag:
![screenshot from 2015-06-01 22 15 08](https://cloud.githubusercontent.com/assets/3769354/7927256/9e940820-08ab-11e5-9794-6bb7a72e7273.png)

As I add "<b" to the line, it goes crazy (duplicated letters appear

[2015-06-02 02:31] lee-dohm commented on #7048
I don't use bookmarks because most of the time I use Goto Line <kbd>Ctrl+G</kbd> or Goto Symbol <kbd>Cmd+R</kbd>. I'd rather use Sublime-compatible key bindings than to use <kbd>F1</kbd>.

[2015-06-02 02:32] lee-dohm commented on #6985
I have the `/usr/local/bin` entry too because of Homebrew. So that isn't the issue. Curious then that some other system removes those entries for you.

[2015-06-02 03:49] grandsong commented on #7048
If the file (buffer) is just a few screens tall, I prefer scrolling to any goto operation. If it is large, however, there are usually many symbols and thus navigating among them is not quick. Then, I prefer bookmarks.

Is this just me, or do some others also feel the same?

[2015-06-02 04:04] mark-hahn commented on #7048
That's your first problem.  All files should be a few screens tall (grin). Having said that I do get lazy and make long files myself.  I only use bookmarks when I find I'm already hopping between two or three places.

If the bookmark keybindings need to change then they should match sublime.

[2015-06-02 04:10] grandsong commented on #7048
@mark-hahn you have a good point.

I myself is still in the progress of breaking codes into smaller and smaller pieces. But as I foresee, a better ecosystem (sorry, I don't how to call that concept precisely) is required to fulfill the goal. Otherwise, the overall efficiency will be down due to cost of switching among different pieces.

At present, I still have to deal with large files often.

[2015-06-02 07:41] sebhoss opened #7058 "Atom is trying to add a new helper tool?"
hey there,

everytime i open atom, i'm asked to enter my password in order to let atom install a new helper tool. After entering my password, i don't see any change or any new tool, yet the same popup appears again the next time i open atom. As you can see in the attached screenshot, all my packages are up to date.

Any idea what's causing this?

![image](https://cloud.githubusercontent.com/assets

[2015-06-02 07:49] v3ss0n commented on #7016
i did another full rebuild by deleting eveything and now it works.

[2015-06-02 07:50] #7016 closed

[2015-06-02 07:57] crucialfelix commented on #6718
Someone could write a package with a UI that manages your keymaps.cson for you.

The selectors are a great way to implement keybindings, but its not fun to write them out manually and conflicts are frustrating. The need for more and more selectors (!important?) smells like an anti-pattern.

The UI would:

- Show key binding resolver without doing the action,
- You can click to select which command

[2015-06-02 08:07] walles opened #7059 "Workspace.open() should support splitting up / down"
The docs here...
https://atom.io/docs/api/v0.204.0/Workspace#instance-open
... says that `Workspace.open` supports the `split` option with arguments `left` or `right`.

In addition to this, I would like `Workspace.open` to support splitting `up` and `down` as well.

Needed by the Markdown preview pane for example:
https://github.com/atom/markdown-preview/issues/99

Regards /Johan

[2015-06-02 08:28] grandsong commented on #7048
I have applied the Sublime keystroke patterns by adding the below into my keymap.cson:

[code]

Note:

Those 3 unchanged are commented. If you want change them, uncomment them first.

'.platform-win32' means for Windows. You can remove it if you like. And replace `ctrl` with `cmd` if the form doesn't exit in your keyboard.

[2015-06-02 08:38] schipplock commented on #4335
I'm on debian 7.8 and get the same error:

/usr/share/atom/atom: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found (required by /usr/share/atom/libchromiumcontent.so)
/usr/share/atom/atom: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found (required by /usr/share/atom/libgcrypt.so.11)
/usr/share/atom/atom: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.15' not found (

[2015-06-02 08:42] paulpflug commented on #5756
I'm currently looking into some view frameworks for another project.
Main feature should be good readability and thus maintainability.
I think a strong declarative syntax is a must, which includes two-way-binding (as the project relies heavily on user input - similar to atom ;)
Custom elements / modularity is also very important I think.
So I looked at aurelia, vue and polymer (coming from angular

[2015-06-02 08:55] michaelkrog commented on #6982
+1

[2015-06-02 10:06] envygeeks commented on #6718
Learning keystrokes would be drastically annoying, as a programmer I'm not interested in my editor learning my keystrokes, I'm interested in it getting shit done and the UX to that learning were horrible and in the way then it just degrades speed and it's also prone to fat/new-finger annoyance.

New finger being I just got a new keyboard and most keyboards that are Mac's (and even Mac's now) have

[2015-06-02 11:55] Zireael07 commented on #7048
I'd say ctrl+shift+f2 is clumsy, Sublime shortcuts are better. That said, I use Ctrl+G or search for whatever I need, or scroll down to wherever I expect the relevant bit to be (I use minimap :) )

[2015-06-02 12:13] sqd commented on #3821
please fix it. I switched from Sublime to Atom for ligatures supports :-(

[2015-06-02 12:14] tarefa commented on #6932
I have seen the same problem more than once on each of two PCs, one Windows 7 Pro x64 and one Windows 8.1 x32. Most recently with Atom 0.204.0. I'm still trying to find the steps to reproduce.

Deleting/renaming .atom removes installed packages and proxy settings in .apmrc but it is only a minor annoyance so far.

[2015-06-02 12:20] miv-ableton commented on #6653
Hello all,

I was not able to reproduce this in safe mode. This crash hasn't happened in a while. Maybe it's fixed?

If it happens again I will reopen this report. Thanks!

[2015-06-02 12:20] #6653 closed

[2015-06-02 13:52] hryamzik opened #7061 "Large library size"
[code]

And there're 45 update.*\* files inside, 203M each. Seem to be a cleanup issue.

P.S.: Mac OS 10.10.3

[2015-06-02 15:06] mehcode commented on #7048
Honestly, I remember the line number, function, or symbol name. `ctrl-p` can do `goto-file`, `goto-line`, but not `goto-symbol` (yet, there is `ctrl-r` for that).

---

Just for the record. BBEdit uses `shift-cmd-j` for add bookmark and Visual Studio uses `ctrl-k`.

---

Still, I think bookmarks would be nice to use (on that occasion where you have a 5,000 line file). Here are some ideas on improv

[2015-06-02 15:33] Zireael07 commented on #7048
+1 to all those ideas.

[2015-06-02 15:34] Zireael07 opened #7062 "Bookmark/star files"
I wasn't able to find a package/core function which would do that, and it would be nice to be able to mark the files I constantly refer to/edit in larger projects.

[2015-06-02 15:39] nathansobo commented on #6982
May I ask why you're +1-ing this issue? The author has fixed the problem in a subsequent release. If you upgrade and reload Atom, the issue should disappear.

[2015-06-02 15:43] grandsong commented on #7048
You guys are so used to `ctrl-g` (goto line).

Good at remembering line numbers? Is that a habit you have developped during your uses of old-fashioned editors?

@Zireael07: Oh, I forgot to install minimap! Thanks for reminder.

@mehcode:

You really thought a lot about bookmarks.

Hey, was there a research?

With regard to naming bookmarks and generating them, as what I can imagine, they will not

[2015-06-02 15:49] jrwiegand opened #7063 "Uncaught Error: Encountered an invalid scope end id. Popped -33, expected to pop -43."
1. Open a *.jsp file in Atom editor.
2. Delete the file in Finder (Mac OS X)

**Atom Version**: 0.204.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Encountered an invalid scope end id. Popped -33, expected to pop -43.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-02 15:51] #6955 closed

[2015-06-02 15:57] izuzak commented on #7063
/cc @nathansobo

[2015-06-02 15:58] mehcode commented on #7048
Mainly function and symbol names. It's rare that I want to go to a specific line number but it happens. In an office, sometimes its easier to say "go to X line" when you want to show somebody something. Do that enough and you remember that some horrific hackfix was added around line X.

---

Surveyed how bookmarks work in Sublime, Visual Studio, BBEdit, vim, and emacs. Also some additional plugins

[2015-06-02 16:53] benogle commented on #7062
This sounds like a great idea for a package!

[2015-06-02 16:53] #7062 closed

[2015-06-02 17:15] benogle commented on #7058
Can you try starting atom with `atom --safe`. Does it still happen?

[2015-06-02 17:16] benogle commented on #7057
cc @nathansobo

[2015-06-02 18:16] nathansobo commented on #7057
@Ohmnivore Can you reproduce this in safe mode (started with `atom --safe`) on the latest version?

Can anyone reproduce this? I'm having trouble.

[2015-06-02 18:21] reidzen opened #7064 "update reminder doesn't dismiss after update"
![screen shot 2015-06-02 at 11 19 55 am](https://cloud.githubusercontent.com/assets/12400509/7943401/4004fa62-0919-11e5-9441-3d9fdef7c0f0.png)
the update reminder is still there after updating. does go away after click, but not immediately after updating.

[2015-06-02 18:21] mnquintana commented on #7052
Thanks for the suggestion! This seems like a duplicate of https://github.com/atom/find-and-replace/issues/367, so I'm going to close this in favor of that one to move the discussion there. Please let me know if I'm misunderstanding, though.

[2015-06-02 18:21] #7052 closed

[2015-06-02 18:22] mnquintana commented on #7064
This is a duplicate of https://github.com/atom/settings-view/issues/511 – please subscribe there for updates.

[2015-06-02 18:22] #7064 closed

[2015-06-02 18:50] pusateri commented on #6035
Working on a port of libchromiumcontent using your gist: https://gist.github.com/shkhln/208a1e6b945e5f07046b

The ports infrastructure doesn't want to clone repos. They want to download a binary release that can be verified. But the repo at https://github.com/gliaskos/freebsd-chromium hasn't produced a release tag since last November. I'm not sure how to download a .tgz file based on hash, only a

[2015-06-02 18:54] pusateri commented on #6035
Also, I would't have to use the https://github.com/gliaskos/freebsd-chromium repo, I might could use the existing chromium port but I'm not sure how to have access to the work directory of another port. So I think I need to download all of the source in a self contained port.

[2015-06-02 18:54] Ohmnivore commented on #7057
Still happens in safe mode

[2015-06-02 18:55] Ohmnivore commented on #7057
Paste this character (é) on a new line, then type "<b" immediately following it

[2015-06-02 19:04] devios1337 commented on #7052
That suggestion is similar, but sounds like it's asking for incremental search as *another* find option. I'm asking for this to be the normal behavior of Find (no need for a second command). I'll add a comment to that ticket.

[2015-06-02 19:15] mark-hahn opened #7065 "atom command-line"
please ignore this -- it is an accident - how do I remove it?

[2015-06-02 19:16] #7065 closed

[2015-06-02 19:31] willwhitney commented on #2456
This is a bigger issue than it sounds. Having all of these operations block (save, git status, etc) not only causes problems for remote connections, it **slows Atom down for all users**. Large files have the same problems as a remote connection: saving causes jank, switching between tabs (which I think (rightly) triggers a refresh) causes stops, git operations cause jank, etc. Nothing should ever

[2015-06-02 19:42] mark-hahn opened #7066 "libcap2 missing from .deb installer"
Can someone give me a hint why I can't run atom? This is the error. I've installed atom 204 using the .deb from the home page on a new installation of ubuntu 14.04.  I've had no problem running atom on this ubuntu installation in the past.

[code]

[2015-06-02 19:44] mark-hahn commented on #7066
Apt-getting `libcap2` fixed it.  Thanks @olmokramer.  I wonder why the .deb installation missed this?

[2015-06-02 20:11] 50Wliu commented on #7057
I can't reproduce this either.  @Ohmnivore, could you please try updating to 0.205.0 and see if it still happens?

[2015-06-02 20:54] AgentME opened #7068 "ES6 template string syntax highlighting colors next line sometimes"
Inside an ES6 template string, if a '}' is the last character on a line before the word wrap, then the next line is colored red like the curly braces usually are.

Here's a sequence of screenshots showing me slowly expanding an Atom window. The issue is visible in the second screenshot.

![screen shot 2015-06-02 at 1 49 06 pm](https://cloud.githubusercontent.com/assets/577345/7946908/744659aa-092e

[2015-06-02 21:06] bobrocke opened #7069 "Dev Tools debugger doesn't halt on breakpoint"
I'm debugging an extension. I first execute a command from the extension so that its file loads. When I open the Dev Tools Sources pane, my source file is already open. Clever! I don't know how it could know.

I can set a breakpoint, but when I execute a command that will lead to the breakpoint, the extension does not halt execution at all, even though I can see the breakpoint is set.

Am I debugg

[2015-06-02 21:29] mark-hahn commented on #7066
This used to be called "Atom can't find libcap.so.2".  Now this is an issue about the fact that the .deb installer package is missing libcap2.

Please fix.

[2015-06-02 21:30] dax0 commented on #5285
Still not

[2015-06-02 21:53] slang800 commented on #6867
[proton](https://atom.io/packages/proton) is back and updated!

sadly, it was unpublished before I offered to take over, so all the stars & downloads are gone :cry:

[2015-06-02 22:29] jhasse commented on #4026
Is it correct that the current situation is that your PR has been merged but the default keybinding hasn't changed yet?

[2015-06-02 22:31] jhasse commented on #3362
I think #4026 is a duplicate of this.

[2015-06-02 22:34] oraculus commented on #6557
having the same problem, but with AMD driver (fglrx) on Kubuntu 15.04.
It happens randomly and I had the same issue with Brakets.io and Chromium Browser.
Arrived here searching for a way to disable hardware acceleration, as that fixed the bug on Chromium.

Please, please, please... make it possible to disable hardware acceleration.

[2015-06-02 22:35] gnumoksha opened #7070 "Uncaught Error: No screen line exists when converting buffer row to screen row"
Steps:
- _Split right_ in tab
- Left tab in "read only" and right tab is on i am working
- **Ctrl + x** with 102 lines
- **Ctrl + z** launch exception. Now Ctrl+c, Ctrl+z Ctrl+Shift+z launch exception. Copy and paste in exception window does not work.

**Ctrl + c**

[code]

**Ctrl + Shift + z**

[code]

[code]

[2015-06-02 23:19] DavidAwad commented on #6985
Any other ideas? I really love this editor : (

[2015-06-02 23:31] 50Wliu commented on #7070
What version of Atom is this?  What packages, if any, do you have installed (you can check using `apm list --installed`)?  Since you're saying that the left tab is 'read only', can you please try to reproduce this in safe mode (`atom --safe`)?  Thanks.

[2015-06-02 23:33] #7066 closed

[2015-06-02 23:58] knd775 commented on #3278
This issue just started occurring for me after a recent update. Same version and env as @seanCodes.

[2015-06-03 00:17] 50Wliu opened #7073 "Regression: Log cursor scopes is off"
![image](https://cloud.githubusercontent.com/assets/2766036/7950075/d2ff084a-0963-11e5-9a55-63d10121a4b3.png)
Here my cursor is right before the `=` on L12

![image](https://cloud.githubusercontent.com/assets/2766036/7950087/e574d3b0-0963-11e5-90a9-ce104c5716e4.png)
Right before `new`

![image](https://cloud.githubusercontent.com/assets/2766036/7950092/f0dc6312-0963-11e5-8867-d0a5b1cc1b40.png)
Rig

[2015-06-03 00:34] Stanzilla commented on #6612
204 => 205 restart did not work.

@Eschon I don't know :o:

[2015-06-03 00:49] ronjouch commented on #6557
Also, if anyone here has suggestions to find relevant logs and maybe report a bug to the distro / gpu vendor, I'm interested. I grepped my syslog/x11 logs unsuccessfully.

[2015-06-03 01:00] paulcbetts commented on #6612
This is fixed in Squirrel, but it'll take a bit to take effect, since it'll be the release _after_ the one where we fix the bug where it finally works again

[2015-06-03 01:10] oraculus commented on #6557
I’m not really sure where we have to fill the bug, probably is a bug on Chromium as affects multiple distros, multiple GPUs and drivers (nvidia in your case, AMD in mine) and multiple applications but all have in common that are build using Chromium.

In my case the bug is not as catastrophic as in yours, my system don’t crash, is just the individual application that it gets so slow to the point t

[2015-06-03 01:23] mnquintana commented on #5982
![image](http://www.quickmeme.com/img/d4/d4a888dd9facf35543ae429f296cda146c8239223681279804642557db0fa75c.jpg)

I should've gotten everything – feel free to reopen / ping me if I missed anything @atom/feedback!

[2015-06-03 01:23] #5982 closed

[2015-06-03 01:27] mnquintana commented on #6985
@DavidAwad There is definitely something weird going on with your `PATH` (it's quite strange that it's missing `/bin`), but I'll fix this shortly.

[2015-06-03 01:33] #6985 closed

[2015-06-03 01:34] kevinsawicki commented on #5982
:blue_heart: :boat:

[2015-06-03 02:29] lee-dohm commented on #7069
I was able to make it work:

1. Ran `apm link --dev` in my `tabs-to-spaces` package source directory
1. Launched Atom using `atom --dev` (to ensure that the one from my source directory was the one executing)
1. Opened the Developer Tools
1. Switched to the Sources tab
1. Executed the `tabify` command to ensure the package was loaded
1. Found the `tabs-to-spaces.coffee` file in the list of sources

[2015-06-03 04:46] pusateri commented on #6035
Ok, I was mistaken about needing a release tag. FreeBSD ports seem to work fine with a commit hash. So now I just need to fix an error in my Makefile that is preventing the download from completing.

[2015-06-03 06:22] izuzak commented on #7069
@bobrocke Can you include exact steps to reproduce the problem [with your reports](https://github.com/atom/atom/issues/6938#issuecomment-105218664)? (Starting with a command which creates a local clone of a project you can reproduce this with.) Happy to reopen this when you do.

I believe it remembers the files you had open the last time (try quitting Atom, restarting, and open the Sources panel w

[2015-06-03 07:15] shkhln commented on #6035
That's the semi-official chroimum port repo according to the https://wiki.freebsd.org/Chromium. There is no particular reason I'm refering to that repo in the gist, except it is slightly easier to tinker with than the whole ports tree.

Is it ok to nest ports like that? It might be easier to copy the chromium port's patchset and compile flags, as I don't see any clean way to reuse them at all. I'm

[2015-06-03 07:50] basarat commented on #5756
FWIW I really want something that is reliably statically analyzable (and verifiable). JSX seems to be the defacto `html -> function calls` (similar to space pen dsl) thing out there. And react is its biggest consumer.

[2015-06-03 08:18] kunyan commented on #6473
I have the same issue

[2015-06-03 08:35] paulpflug commented on #5756
I'm not sure how, the mostly very tiny?, packages will benefit from that?

Am 3. Juni 2015 09:51:28 schrieb Basarat Ali Syed <notifications@github.com>:

[2015-06-03 09:25] grandsong commented on #7048
I think it is a good idea to "save find results markers".

The finder of Atom is as good as those of other editors but we can push boundaries.

There are quite a few potential features out there.

For example, tabs for different Find/Replace jobs. So, you can simply switch between jobs instead of deleting and re-typing expressions or check/uncheck options.

And I'd like to try to create a package

[2015-06-03 09:26] basarat commented on #5756
@paulpflug even small packages have big UI sometimes. That said I'm not entirely sold on react either

[2015-06-03 09:48] polybuildr commented on #2203
+1

[2015-06-03 09:55] as-cii commented on #7073
Hey @50Wliu, thanks a lot for catching this! :bow:

However, I am not able to reproduce it with the files I have on my machine (I must be missing something): could you please provide a gist with a minimal example which shows this exact behavior?

Thank you!

[2015-06-03 09:57] Lixquid commented on #7070
I just got the same exception appear once, but now I've been utterly unable to reproduce it, with / without `--safe`. Stacktrace was the same, and the file I was copying from \*wasn't* read-only.

Version: `0.204`
Packages:
- calc@0.3.3
- file-icons@1.5.6
- git-tab-status@1.9.2
- highlight-selected@0.9.3
- language-gmod-lua@0.3.1
- language-jade@0.4.0
- script@2.23.0
- sort-lines@0.11.0
- Stylus@1

[2015-06-03 11:38] jnareb opened #7075 "AltGr-o (right alt) resolves in Windows version of Atom as Ctrl-Alt-o"
I am trying to use Atom to edit contents in Polish language. The default and preferred keyboard bindings, so called "programmers keyboard", uses AltGr (right Alt) to enter Polish letters: ą, ć, ę, ł, ń, ó, ś, ż, ź.

The problem is that the Atom editor (or perhaps MS Windows 7 Home Pro) represents AltGr-o, which is used to enter 'ó' character, as Ctrl-Alt-o... which keybinding is taken by Atom as a

[2015-06-03 11:48] batjko commented on #7075
Sounds like another duplicate of [this issue](https://github.com/atom/atom-keymap/issues/35) on the keymap repo.

Alt-Gr is simply not supported yet so will produce bad behavior. Check that issue for updates when there are any.

[2015-06-03 11:57] mnquintana commented on #6473
I'm not sure I understand – if the submodules are in the .gitignore file then the intended behavior is that they'll be grayed out in the tree-view.

[2015-06-03 11:59] kyoh86 opened #7076 "Sometimes Japanese file (UTF-8) gets garbled"
Sometimes, Japanese file (UTF-8) gets garbled.
Maybe that arises when I replace strings that contains Japanese charactors.

ref:
http://yogoma.hatenablog.com/entry/2015/04/20/043907 (JP)

"���"

[2015-06-03 11:59] mnquintana commented on #7075
Thanks @batjko! This does indeed seem like a duplicate of https://github.com/atom/atom-keymap/issues/35 – please subscribe there for updates.

[2015-06-03 11:59] #7075 closed

[2015-06-03 12:07] 50Wliu commented on #3683
Fixed by atom/tabs#3.

[2015-06-03 12:07] #3683 closed

[2015-06-03 12:10] 50Wliu commented on #6842
Hi @ddavison since this atom/tabs#145 has been merged, I'm going to close this.
If you still want this open just leave a :speech_balloon:!

[2015-06-03 12:10] #6842 closed

[2015-06-03 12:11] andya9 opened #7077 "Multiple Uncaught Errors when using linter-xmllint"
Atom v. 205.0 on Linux
Every package up-to-date.

When trying to fix mismatching tags Atom gets crazy if linter-xmllint is enabled ([issue 13](https://github.com/AtomLinter/linter-xmllint/issues/13) on their repo, where you can find a gist with sample code and reproduce steps): duplication of characters, non-working backspace and starting/closing tags, ecc. A forced close is often needed.
It doesn

[2015-06-03 12:13] ddavison commented on #6842
yep!  i'm so glad.  I am now closing all my issues in reference to that PR

[2015-06-03 12:23] nistvan86 commented on #4138
+1
Please merge this. I need Mercurial integration :)

[2015-06-03 12:24] sebhoss commented on #7058
yep seems to happen even with `--safe`

![atom update 2](https://cloud.githubusercontent.com/assets/44168/7959770/291f4206-09fc-11e5-94bd-4b5813423fd8.png)

[2015-06-03 12:25] mnquintana commented on #7058
Did this start after a recent update? What version of Atom are you running? Did you install Atom from atom.io or from Homebrew Cask?

[2015-06-03 12:36] sebhoss commented on #7058
Yes, i would say it started recently but i can't pin point it to a specific version. Currently running version 0.198.0 here which i must have gotten from atom.io. `brew list` does not include atom or atom.io

[2015-06-03 12:39] mnquintana commented on #7058
Can you try updating to the latest version (Atom 0.205.0) first and see if you still experience this issue?

[2015-06-03 12:41] sebhoss commented on #7058
just downloaded the app again from atom.io - the version is the same as i had previously, but now i'm seeing "Downloading Update" in the application menu. After a few seconds, the usual popup appears. Entering my password and restarting the application to complete the installation of the update(?) does not seem to install it (correctly?). Is there any way to get some kind of debug output?

![image

[2015-06-03 12:41] as-cii commented on #6692
A *quick* test confirms that tiling allows 1 million lines to be rendered correctly! :fireworks: :fireworks: :fireworks:

We still need tiling for the gutter, which stops displaying information as soon as we reach ~750k lines:

![screen shot 2015-06-03 at 14 38 18](https://cloud.githubusercontent.com/assets/482957/7960114/4df6cd0e-09fe-11e5-966c-153a3e3df25a.png)

I am going to mark the related ta

[2015-06-03 12:42] sebhoss commented on #7058
Ok maybe that's my problem? I have an old version lingering around somewhere ... lets see how to purge it ;-)

[2015-06-03 12:48] sebhoss commented on #7058
updating within the application did not work for me, but at this point i'm guessing that somehow my installation got broken. i ended up doing `rm -rf .atom/` and then move the app inside the application folder. Seems that i'm now running the latest version and i don't get to see this popup anymore.

Thanks for the help & sorry for the trouble :-)

![image](https://cloud.githubusercontent.com/asset

[2015-06-03 12:48] #7058 closed

[2015-06-03 13:11] smlombardi opened #7079 "Autocomplete includes all variables in SCSS/LESS files"
I posted this on autocomplete, and it was tagged "atom":

https://github.com/atom/autocomplete-plus/issues/469

[2015-06-03 13:12] izuzak commented on #7079
No need to open an issue here as well, that label is used by the core Atom team to prioritize issues.

[2015-06-03 13:12] #7079 closed

[2015-06-03 13:14] bobrocke commented on #7069
@lee-dohm Is the `apm link --dev` necessary for packages within `~/.atom`?

I'll try those things and see...

[2015-06-03 13:23] smlombardi commented on #7079
Ah, sorry

On Wednesday, June 3, 2015, Ivan Žužak <notifications@github.com> wrote:

[2015-06-03 13:26] v3ss0n commented on #6692
Thats awesome , i also made a list of test i've made against over here https://github.com/atom/atom/pull/6733#issuecomment-108407945

[2015-06-03 13:41] llgcode commented on #2822
+1

[2015-06-03 13:51] henriquebremenkanp commented on #5905
Atom 0.204.0
Mac OSX 10.10.3
Some packages installed.

This is how I can reproduce the issue:
![zk4nl4efu8](https://cloud.githubusercontent.com/assets/3855603/7961424/e9c587dc-09dd-11e5-8baf-2db2c99cdfb7.gif)

I think the problem is related to duplicated files in different tabs, which is the default behaviour when you create a new tab. On that new tab, having the old one still open, copy and paste

[2015-06-03 14:11] bobrocke commented on #7069
@lee-dohm That still didn't fix it for me.

1) I downloaded the package from https://github.com/bobrocke/open-a-terminal
2) Ran `apm link --dev` in the source folder
3) Launched Atom with `atom --dev`
4) Opened Dev Tools
5) Switched to Sources tab
6) Executed the `open terminal here` command from the context menu with a file selected in tree view
7) Found `open-a-terminal.js` in the sources list
8

[2015-06-03 14:56] izuzak commented on #7069
Thanks for the detailed steps.

I'm seeing some really funky behavior after this step -- the debugger stops at my breakpoint (I put it at the first console.log line in that function), but Atom's editor window actually stops refreshing, e.g. I can't select anything in it (but other parts of Atom are fine, e.g. the tree view). However, if I run the `open terminal here` command from the command palet

[2015-06-03 15:04] jglovier commented on #6842
![dance](https://cloud.githubusercontent.com/assets/1319791/7963354/47b864e8-09e0-11e5-8bec-77799628efda.gif)

[2015-06-03 15:06] bobrocke commented on #7069
@izuzak I have seen the freeze behavior from time to time, but can't reliably reproduce.

Executing from the context menu or the command palette do the same for me - the command completes, but doesn't halt at the breakpoint.

[2015-06-03 15:06] gvpinto commented on #5767
Atom installer would just try to start-up and then disappear. I went ahead deleted C:\Users\YOURNAME\AppData\Local\atom and C:\Users\YOURNAME\AppData\Local\SquirrelTemp directories and ran the installer again. The directories were present because I had cancelled a previous installation. This resolved the issue.

[2015-06-03 15:08] izuzak commented on #7069
@bobrocke Which line are you setting the breakpoint at _exactly_? Does setting the breakpoint on different lines change anything? (But please restart Atom every time after you go through all the 9 steps you listed.)

[2015-06-03 15:09] izuzak commented on #7069
@kevinsawicki Could you take a look at this -- wondering if you have any ideas?

[2015-06-03 15:23] bobrocke commented on #7069
My breakpoint is on line 49: `console.log('Open A Terminal Here command fired!');`.

Setting the breakpoint elsewhere makes no difference.

This time, I can open the command palette, but not type into it's search box. But when I scrolled to and selected the `open terminal here` command from the command palette, execution stopped at the breakpoint. When I continued, the command completed and then t

[2015-06-03 15:43] stnvh opened #7080 "Bring Atom to front when a text input modal is opened"
Atom: 0.204.0
OS: MacOS 10.10.3

The current behavior doesn't focus the text input if another window (e.g firefox, finder etc.) is in focus, causing missed input (and unnecessary input on the focused window).

This is especially a problem with multiple monitors, for example; If a browser is open on one monitor, and currently in focus, and I open the 'New File' modal from the sidebar in Atom (on my

[2015-06-03 15:48] gnumoksha commented on #7070
@50Wliu version 0.204.0, debian package downloaded this week.

``apm list --instaled``:

[code]

I can reproduce the first error (Error: No screen line exists when converting buffer row to screen row), including in safe mode

[2015-06-03 15:54] izuzak commented on #7070
@gnumoksha Strange, I've followed your steps and I'm having trouble reproducing that in safe mode. Can you please help us investigate a bit more?

1. Try updating to 0.205.0
2. Record a short GIF while in safe mode which demonstrates the steps you're doing to reproduce the issue.
3. Share the file you're able to reproduce this with, e.g. in a gist.

Thanks!

[2015-06-03 16:09] ebds opened #7081 "Failed to load the nippo package"
[Enter steps to reproduce below:]

1. Open Atom

**Atom Version**: 0.205.0
**System**: JENNY
**Thrown From**: Atom Core

### Stack Trace

Failed to load the nippo package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-03 16:43] 50Wliu commented on #7070
Also, can you clarify a bit about the left tab being "read only"?  As far as I know, there's nothing in Atom that allows you to make a tab read-only.

[2015-06-03 16:44] nathansobo opened #7082 "Enable packages to intercept click events on the editor"
Currently, we don't have a good story for enabling packages to handle click events in the editor, that I know of. How should we do this?
- One idea is to enable packages to register click event handlers for the lines and the gutters. For every click, their handler would be invoked. They would need a way to tell us not to continue processing the event. Do they call `stopImmediatePropagation` on the

[2015-06-03 16:52] pavankris opened #7083 "Install packages is failing in windows"
Getting Request for package information failed: DEPTH_ZERO_SELF_SIGNED_CERT
Using Windows 7 & atom version 0.204

[2015-06-03 16:56] cabaag commented on #6867
[ionic-preview](https://github.com/cabaag/ionic-preview) has been updated

[2015-06-03 17:07] ddavison commented on #6867
[sublime-tabs](https://github.com/ddavison/sublime-tabs) has officially been [moved](https://github.com/atom/tabs/pull/145) to the atom source.  That can be taken off :metal:

[2015-06-03 17:12] jtauber commented on #4007
As I mention in #1849, this problem is easy to reproduce with polytonic Greek too. Interestingly multi-byte characters *later on in the line* can change characters placement (and mess up cursor placement) earlier on.

[2015-06-03 17:26] Splike opened #7085 "Message when failing to install a package."
When receiving the "failed to install package" message, this message is not displayed when clicking install on the actual package page. Instead, this message shows up in the view, where you actually search for other packages.

Example:
I am on the package page of "lint-clang". The button started doing its installing animation and then stopped, returning the the normal "Install" button. I tried cli

[2015-06-03 17:33] brocknessmonster opened #7087 "Uncaught Error: Cannot find module 'fs-plus'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.182.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: Cannot find module 'fs-plus'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-03 17:33] jtauber commented on #1849
This bug (at least my particular manifestation of the problem) seems to have improved slightly (but *not fully* been fixed) in 0.205.0.

[2015-06-03 17:40] AgentME opened #7088 "Atom tries to focus itself multiple times on startup"
I'm on OS X and I've been having an issue that drives me crazy regularly. I open a terminal, cd into a directory, run "atom .", which I know takes a few seconds to fully start up, so I continue doing other things in the terminal while it does. At some point, Atom's window appears and steals focus from the terminal. I expect that to happen once, and I click the terminal to re-focus it so I can cont

[2015-06-03 17:41] AgentME commented on #7088
Oh, duplicate of https://github.com/atom/atom/issues/6828.

[2015-06-03 17:41] #7088 closed

[2015-06-03 17:42] mnquintana commented on #7087
You're running an extremely old version of Atom – please update to the latest version (0.205.0).

[2015-06-03 17:42] #7087 closed

[2015-06-03 17:48] AgentME commented on #7068
Reproducing this should be as simple as putting something like this in a javascript tab and resizing the window:

    var foo = `aaaaa${5+6}bbbbbbbbb`;

I just checked that it works with a fresh Atom profile.

[2015-06-03 18:10] davittsm opened #7089 "Menu's do not show on secondary monitor"
When I click the 'File', 'Edit', etc menu items when atom is opened on a secondary screen, the menu items do not show up. I have to drag atom to my primary monitor to see the menu items expand. Depending on the location of atom on the secondary scree, you can see the menu items appear in the top right hand screen of my primary monitor (attached screenshot)

![atomissue](https://cloud.githubusercon

[2015-06-03 18:21] jssln commented on #7082
One thing to add is it would be nice to expose some methods for translating clicks to Atom-specific information. For example, translating the mouse coordinates to a screen line number.

[2015-06-03 18:25] ArtskydJ commented on #6788
As another workaround, you can add this to your keymap.cson:

[code]

[2015-06-03 18:40] clstudio opened #7090 "Not building at all on OS X"
I am not able to build atom at all. All requirements are met. I followed exactly the instructions - nothing happens. That's all the output I get within seconds before termination of the process:

[code]

[2015-06-03 18:41] kevinsawicki commented on #7090
Can you try `script/build --stack`?

[2015-06-03 18:59] clstudio commented on #7090
The outcome is the same

[2015-06-03 19:01] pusateri commented on #6035
Yeah, I've got the version mismatch fixed and the downloading works thanks to some ports help on the mailing list. They suggest make a chromium slave port. I will get it working standalone first as an exercise and then see about converting it to a slave port.

[2015-06-03 19:34] bh commented on #6867
https://github.com/bh/atom-python-isort has been updated (0.0.7)

[2015-06-03 20:10] dmitryjum opened #7091 "Uncaught TypeError: Cannot read property 'model' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.205.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'model' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-03 20:16] caleb531 commented on #6022
+1

[2015-06-03 20:26] andischerer commented on #4138
Actually this is already possible by using the `atom.repository-provider`. Today i've released a package in early dev state that supports svn.
https://github.com/andischerer/atom-svn

[2015-06-03 20:37] bobrocke commented on #7069
Can anyone think of something else I should be trying? This is frustrating - I figured if the debugger had the file open with a breakpoint set, that should be the end of it. But I've missed something...

[2015-06-03 20:39] benogle commented on #7069
Can you insert a `debugger` statement? Does that stop it? Does the `debugger` statement show up in the dev tools code sample?

[2015-06-03 20:40] bobrocke commented on #7069
Here's what I see after setting the breakpoint and selecting the command:

![open-a-terminal - atom](https://cloud.githubusercontent.com/assets/2962426/7970915/30c4d328-0a0f-11e5-8991-583a584763fa.jpg)

[2015-06-03 20:43] bobrocke commented on #7069
@benogle Uncommenting the debugger made execution stop on the debugger statement and skipped right over the breakpoint.

[2015-06-03 20:44] benogle commented on #7069
Did the `debugger` statement stop it? Are you totally sure that the package is linked, and that code file is pointing to the file you're editing?

[2015-06-03 20:45] bobrocke commented on #7069
Yes, the debugger statement stop it. So I assume I'm running the file I'm seeing in the debugger.

[2015-06-03 20:46] benogle commented on #7069
Ok, so the debugger statement stopped it, and it acted like a breakpoint? Could you step through things? When debugging, the editor will be unresponsive until you hit the play button to resume execution.

[2015-06-03 20:46] bobrocke commented on #7069
I get this:

![open-a-terminal - atom](https://cloud.githubusercontent.com/assets/2962426/7971052/1545c39a-0a10-11e5-9b59-c3faf738c2a9.jpg)

[2015-06-03 20:47] bobrocke commented on #7069
Resuming execution completes the command and freezes the editor.

[2015-06-03 20:48] benogle commented on #7069
That looks right. Does the command freeze the editor without the debugger statement?

Not sure why breakpoints are not working. They definitely work for me.

[2015-06-03 20:48] bobrocke commented on #7069
Without the debugger statement the code runs though without stopping and the editor is not frozen.

[2015-06-03 20:51] bobrocke commented on #7069
Should I download a fresh, up-to-date, copy of Atom and reinstall it? Maybe all the patches have messed it up for me somehow?

[2015-06-03 20:52] bobrocke commented on #7069
If I try it in safe mode, to check for package interferences, my package won't load either. Is there a manual way around?

[2015-06-03 20:52] benogle commented on #7069
Can you try breaking on something in the atom code? open in `atom --safe`, then pick some code in atom's source, maybe an activate method on some package. Set a breakpoint and see if it stops.

[2015-06-03 20:58] bobrocke commented on #7069
Yes, I can get Atom to stop on a breakpoint somewhere in the core source.

[2015-06-03 20:59] nathansobo commented on #6803
Sorry. The reference was a typo.

[2015-06-03 21:03] benogle commented on #7069
Ok cool, does it happen not in safe mode on the same line? In your code, can you get it to stop at package activate method e.g. set the breakpoint then reload?

[2015-06-03 21:05] wbelau opened #7092 "Uncaught Error: Atom can only handle files < 2MB for now."
Uncaught Error: Atom can only handle files < 2MB for now.

**Atom Version**: 0.161.0
**System**: Mac OS X 10.9.5
**Thrown From**: Atom Core

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

[2015-06-03 21:08] bobrocke commented on #7069
In safe mode (which I though disabled packages, but I guess not), It still skips my breakpoint but does stop on the debugger statement.

In safe mode, I think it's breaking on the breakpoint. I need to try it again a couple more times.

But if it's safe mode that allows it, what does that tell me?

[2015-06-03 21:09] 50Wliu commented on #7092
Please update Atom to the latest version (currently 0.205.0).

[2015-06-03 21:09] #7092 closed

[2015-06-03 21:09] bobrocke commented on #7069
But it still freezes the editor pane on continue.

[2015-06-03 21:10] wbelau commented on #7092
Error occurs when opening a large mail (*****imap.aol.txt) protocol file (size: 30.4 MB) with atom.

[2015-06-03 21:15] williamtellme123 commented on #7090
I just downloaded the atom-mac.zip
from https://s3.amazonaws
Unzipped it. It appears to start then does not.

[2015-06-03 21:17] mark-hahn commented on #7069
It says some package is breaking Atom.  Try removing packages you don't
need.  My package `package-cop` can help you do that (if you can get past
the horrible UI).

On Wed, Jun 3, 2015 at 2:10 PM, Bob Rockefeller <notifications@github.com>
wrote:

[2015-06-03 21:18] athompson-r7 opened #7093 "Failed to load the git-wip package"
1. Error below is produced when starting atom

**Atom Version**: 0.205.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Failed to load the git-wip package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-03 21:19] wbelau commented on #7092
I use  version 0.205.0 (0.205.0).

[2015-06-03 21:28] 50Wliu commented on #7092
Your bug report is saying that your Atom version is 0.161.0, so you might want to double-check that.
Large file support is actively being worked on and is almost ready.

[2015-06-03 21:30] 50Wliu commented on #7093
This issue was moved to coopermaruyama/atom-git-wip#1

[2015-06-03 21:30] #7093 closed

[2015-06-03 21:31] 50Wliu commented on #7081
This issue was moved to pastak/nippo#4

[2015-06-03 21:31] #7081 closed

[2015-06-03 21:34] 50Wliu commented on #6711
Looks like the `menu.cson` file was removed more than a year ago, so I'm going to assume that either @vfxdomain was on a really, really old version of `turbo-javascript`.

[2015-06-03 21:34] #6711 closed

[2015-06-03 21:42] bobrocke commented on #7069
OK, I must have gotten confused somewhere. In safe mode I can break on breakpoints, and continue without freezing, in Atom's core code. But in safe mode, my package is not available (I don't know what I did before).

So, can I test my package in safe mode somehow?

Or must we conclude the problem is a package that I have to find and get ride of?

[2015-06-03 21:47] 50Wliu commented on #7073
Hmm, it looks like there has to be a certain context around the broken lines.  Simply copying/pasting L12 into a blank file doesn't reproduce it.  I'll comment back with a gist if possible.

[2015-06-03 21:51] 50Wliu commented on #7073
And here we go:
[code]
Reproduces exactly the same as in my bug report.  The scopes for the `function` and bracket lines work fine, it's once you hit the actual code within the function that stuff breaks :confused:.

[2015-06-03 21:56] bobrocke commented on #7069
I back-tracked.

Now I have my package files in a folder that is sym-linked into ~/.atom/packages. So there should be only one .js file.

Now I:
Opened Atom in normal mode
Selected the "open here" command from the contextual menu to load the file
The command executed as normal
Opened the Dev Tools to sources and cmd-P searched for and open my .js file
Set a break point in the "open here" command
S

[2015-06-03 22:35] nathansobo commented on #7073
@50Wliu Sorry, can you give me an exact screen coordinate, the scopes you expect there, and the scopes you get? Trying to figure it out in the meantime.

[2015-06-03 22:38] nathansobo commented on #7073
![screenshot 2015-06-04 00 37 49](https://cloud.githubusercontent.com/assets/1789/7973058/f2aef33c-0a51-11e5-871a-388c831b799a.png)

I'm able to log the correct scope with the cursor right before the `=`.

[2015-06-04 00:34] campbelldev opened #7094 "Crashes on the opening of large files."

[2015-06-04 01:06] mnquintana commented on #7094
This is a duplicate of https://github.com/atom/atom/issues/307 – please subscribe there for updates. If you have any further information please feel free to update this issue and it could be reopened.

[2015-06-04 01:06] #7094 closed

[2015-06-04 01:07] mnquintana commented on #7089
This looks like a duplicate of https://github.com/atom/atom/issues/3415 – please subscribe there for updates.

[2015-06-04 01:07] #7089 closed

[2015-06-04 01:16] mnquintana commented on #7043
This might not get updated till 1.0 lands, but I'm not really sure.

[2015-06-04 01:25] mnquintana commented on #7085
Would you mind moving this to https://github.com/atom/settings-view?

[2015-06-04 01:25] benogle commented on #6867
Tomorrow, we plan to release Atom 0.206.0 with deprecated APIs removed. The table in the OP has been updated to show the 172 remaining packages that will not load in 0.206. The user will be notified (once!) of any deprecated packages that did not load. If the packages on the list eventually get updated and are deprecation free, the new versions will be loaded.

The notification and settings view w

[2015-06-04 01:27] mnquintana commented on #7041
This issue was moved to atom/markdown-preview#259

[2015-06-04 01:27] #7041 closed

[2015-06-04 03:02] vgturtle127 commented on #5767
Maybe the Atom installer should put all of the files in sub-directory instead of in ProgramData/AppData?

[2015-06-04 06:21] parlayvu commented on #6722
Same problem here. This is a big kink in my workflow. I can't click and drag along to select multiple lines like other editors. Wasting so much time with manual selections. Is there a way to turn off this click on scroll?

Mac 10.9.5
v0.205.0

[2015-06-04 06:39] decaylong opened #7095 "Default install location of windows system."
Why the default install location is "C:\Users\name\AppData\Local\atom" , that's sh!t. Hope that can choosing by users.

[2015-06-04 07:44] russlescai commented on #7095
@decaylong download atom-windows.zip and copy it wherever you want...

[2015-06-04 07:46] russlescai commented on #7095
Where would you prefer it to be? Usually there are two options for installing - for all users, which requires administrator permissions and installs in program files, or this user, which installs it in the users profile directory (current behaviour).

[2015-06-04 07:50] russlescai commented on #7082
I agree, a function to translate pixel position into a cursor position would be very useful for my atom-touch-events package.

I am still yet to work out how to do that accurately.

[2015-06-04 08:46] dogancelik commented on #4893
As @bilderbuchi said, that terminal dialog before Atom is really annoying and takes a lot of time.

[2015-06-04 09:06] benjamindean commented on #1766
In addition, `fs.realpathSync` is, actually, slow for almost everything. This happens only when opening file using context menu (Open With) on remote server (using nautilus in my case). Don't know the reasons, but that's was the issue for a long time. This is, probably, avoidable by not using something other than `readFileSync` and `writeFileSync` when path are not in the System context. Anyway, n

[2015-06-04 09:50] paulpflug commented on #5756
simplicity and bindings.  I started the same project with rivets and
ampersand before.  They were hard for me to understand.  I spent two days
on each before trying Vue.  It works great with coffeescript.

@mark-hahn did you publish your tests somewhere? Could you point me to it? I would love to read them.

[2015-06-04 10:23] olivierlesnicki commented on #6473
@mnquintana that's the expected behavior if I open the top-most folder as the "project"
[code]

However it's not the expected behavior if I open one of the submodule as the "project"
[code]

[2015-06-04 10:44] kunyan commented on #6473
@mnquintana for example

I have a vagrantfile repo, it is include a project source code as as git submodule.
I just want keep the repo clean, so I add source code folder into .gitignore.

the bug is: currently, all source codes in tree view are gray when I open its directory as root directory in Atom

another bug, Search can not search the submodule file.

Textmate not have those bugs, I think Ato

[2015-06-04 10:52] russlescai commented on #7043
no biggy more an observation. :)

[2015-06-04 11:58] kparal opened #7096 "Require just lsb-core in rpm specfile, not whole lsb"
In #6988 the rpm spec file got changed to:
[code]
However, that pulls the *whole* lsb package, including all submodules. On Fedora 21, this pulls:
[code]
and those packages in turn pull a lot of other dependencies. That seems to be completely unnecessary. IIUIC, you just need `lsb_release` to be present, nothing else, so just the lsb core module.

Please adjust this to:
[code]
That should ensure t

[2015-06-04 12:01] mnquintana commented on #7096
Thanks for the heads up! I'll change this shortly.

[2015-06-04 12:56] 50Wliu commented on #7095
There are only two possible locations that Squirrel will install to at this time:
* `%LOCALAPPDATA%\atom` (the default which you experienced)
* `%PROGRAMFILES%\atom` (`AtomSetup.exe  --machine`)

I'm not aware of any plans to allow custom install paths - @paulcbetts can you confirm?

[2015-06-04 13:25] alex opened #7097 ""Atom quit unexpectedly.""
I just upgraded Atom to "v0.205.0", and now every time it starts up it crashes. This is OS X.

I'm not sure how to get better logging or tracebacks.

[2015-06-04 13:28] lee-dohm commented on #7097
Have you followed the suggestions in the [Debugging document](https://atom.io/docs/latest/hacking-atom-debugging)? Also, could you give the following information?

* What version of OS X are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?

[2015-06-04 13:29] alex commented on #7097
`atom --safe` produces the same issue, OS X 10.9.5. I'll review teh Debugging document now.

[2015-06-04 13:30] alex commented on #7097
The Debugging document seems to refer primarily to graphical tools, this crash occurs before any UI elements are visible.

[2015-06-04 13:36] alex commented on #7097
https://gist.github.com/alex/f93000ef7b3624798f31 is the crash log

[2015-06-04 14:45] kankaristo commented on #6335
The links are working in Chrome 43.0.2357.81, but not in Chromium 41.0.2272.76.

I guess I'll switch to Chrome...

[2015-06-04 15:17] decaylong commented on #7095
ok，Im choose download zip file，and Im actully dont know about
- %PROGRAMFILES%\atom (AtomSetup.exe --machine)
this option :)   ty @50Wliu  @russlescai

[2015-06-04 15:55] nscaife opened #7098 "Toggle Soft Wrap fails without text cursor in editor"
Steps to reproduce:  Atom 0.205.0, Windows 8.1
1. Open a document but do not click inside the editor
2. Select View->Toggle Soft Wrap

Expected behavior: Soft wrap enables for the active document
Actual behavior: Nothing happens and no indication is given that the operation failed

This problem also occurs when changing tabs if you don't click inside the editor before selecting Toggle Soft Wrap.

[2015-06-04 16:05] brendanfalkowski commented on #5728
I'd wager multi-folder projects are the exception not the norm. I haven't needed it in any projects, so it's  wasting horizontal space with my whole tree view indented by one level (just to show the parent folder).

It would be nice if single-folder projects didn't show the parent folder, so the tree could hug the left edge.

My apps (Magento) have very deep trees so the sidebar takes quite a lot

[2015-06-04 16:27] nshtg opened #7099 "Dropping multiple files into an empty atom window makes each file a root "folder""
OS: Windows 7 x64, freshly build `atom-v0.206.0-e1514cf` in safe mode.

I made a gif to show:

![animation 0](https://cloud.githubusercontent.com/assets/5219415/7989076/6428ce62-0ae7-11e5-8d60-c76487570229.gif)

[2015-06-04 16:47] mnquintana commented on #7099
I can't reproduce this with Atom 0.206.0-e1514cf and OS X 10.10.3 – maybe this is a Windows only thing? I'll try this with my VM to see.

[2015-06-04 17:13] maschs commented on #7099
I can confirm it's not happening on OSX. Only windows. Don't know about linux.

[2015-06-04 17:26] cclauss opened #7100 "Flight Manual in ePub and mobi links do not work on iPads"
[code]

[2015-06-04 17:29] mnquintana commented on #7100
Would you mind moving this to https://github.com/atom/docs?

[2015-06-04 17:52] jamesward opened #7102 "Linux Zip"
Please add a Linux zip distribution to the releases.  This will allow Atom to be distributed like the Windows & Mac versions... Just download a zip, extract, and run.

[2015-06-04 18:04] ozra commented on #6681
@coopermaruyama - Hi. Figured I'd hop in here again.
The thing is, as I've already stated, _I want to **remove** antialiasing_ - it works in **almost all apps in linux** but not in Atom, because of the webkit front.

I assume the only way to get it working in Atom is if webkit re-implements `-webkit-font-smoothing: none`. But as it is now, Atom is un-usable for me. It doesn't matter how many wonde

[2015-06-04 18:07] as-cii commented on #6981
@alexandernst: do you still notice significant lags while scrolling or #6733 did by any chance help with this issue? Also, #7101 is going to further improve performance, so you may want to have a look at that as well.

Any information or update on this would be very welcome: thank you! :bow:

[2015-06-04 18:11] alexandernst commented on #6981
@as-cii I'm waiting for a new release to test the changes. Will report as soon as a new release is available.

[2015-06-04 18:28] DavidAwad opened #7103 "'copy' keyboard shortcut should not copy empty space"
It's too frequent that someone might accidentally hit the 'c' key instead of the 'v' key when pasting in atom.

instead of copying empty space, the copy shortcut should simply not do anything.

I can write the pull request myself if someone can point me in the right direction, either way if we could  improve this very annoying problem it would be great!

[2015-06-04 18:30] benogle commented on #7103
This was a deliberate decision. cc @maxbrunsfeld. I admit, I dislike it as well, but many people wanted this behavior.

[2015-06-04 18:32] mnquintana commented on #7103
@benogle This seems like an ideal candidate for a config option though

[2015-06-04 18:36] DavidAwad commented on #7103
A config option would be perfect!

[2015-06-04 18:36] maxbrunsfeld commented on #7103
Just to clarify, in general it copies the line under the cursor, not empty space. I'd be ok w/ a config option.

[2015-06-04 18:46] mark-hahn commented on #5756
somewhere?

They weren't tests.  I just started using them with a project I was
starting.  I guess I could dig out my git repos but you will just see my
aborted code.  The problem was with my inability to get up to speed with
how they work.

For example.  Ampersand had a sample project that was gigantic and assumed
I knew a bunch of other technologies.  Their forum was just a IRC kind of
discussio

[2015-06-04 19:11] xaviergmail commented on #2470
+1

[2015-06-04 19:16] Stanzilla opened #7104 "Update window is spawning on different monitor"
In a two monitor setup the update window

![no_update_available_2015-06-04_21-15-33](https://cloud.githubusercontent.com/assets/75278/7992333/e7ca6a5c-0afe-11e5-9a81-2660151da6b4.png)

is always spawning on monitor 1. I would prefer if it spawned on the one where the Atom window it was triggered from actually is.

[2015-06-04 19:34] thiago-sydow commented on #6243
:+1: for this. Chrome 43 fixed this issue. My Atom still have this scroll behaviour.
Virtualbox, Ubuntu 15.04, Atom 0.205.0

[2015-06-04 20:00] 50Wliu commented on #6243
Atom will be upgrading to Chrome 43 in the near future, but it might take some time as a few modules like `node-spellchecker` crash on v43.

[2015-06-04 21:04] v3ss0n opened #7105 "Cannot read property 'loaded' of null When atom window is closed."
Not serious , but when atom window is closed i got this error :

[code]

[2015-06-04 21:10] 50Wliu commented on #7073
Hmm, so this is harder to debug than I thought.  The initial file's still broken in safe mode as of 2f26de3e26cbf02cf7f9fcb63373b8eb33e62c44, but if I open up the example that I pasted (which was broken when I tested it), it works fine...
I added a bit to it to see what I needed in order for it to reproduce, and it turns out it seems to randomly work and break.

Here's a GIF to prove I'm not going

[2015-06-04 21:39] SolomonBier commented on #4019
Experiencing same problem-surprising clocking 100+ when idle

[2015-06-04 21:48] v3ss0n commented on #7102
:+1:  general linux zip would be cool.

[2015-06-04 22:10] refactorsaurusrex commented on #4893
:+1:

[2015-06-04 22:55] benogle commented on #7105
cc @maxbrunsfeld looks like it's coming from the state saving codez

[2015-06-04 23:30] benogle commented on #6867
This is out. Updating packages will still reduce the list of those 172 packages!

http://blog.atom.io/2015/06/04/deprecated-apis-have-been-removed.html
https://twitter.com/atomeditor/status/606601139937632256

[2015-06-04 23:30] #6867 closed

[2015-06-04 23:36] jokeyrhyme opened #7106 "request: `atom config` CLI command similar to `git config`"
I have a script that I run a few times a week to synchronise and update my dot files and all sorts of other things across all the bash-compatible machines I use (desktops, laptops, etc):
- https://github.com/jokeyrhyme/dotfiles/blob/master/scripts/update.sh

One of the things it does it ensures that basic `git config` is uniform across my machines:
- https://github.com/jokeyrhyme/dotfiles/blob/mas

[2015-06-04 23:39] fusion809 opened #7107 "Automatic build of 32 bit RPM"
Hi, I've asked David Hengeveld (who wrote the [blog post][1] on Linux builds of Atom) about 32 bit Atom RPMs for Fedora and he said that it should be fairly simple for you's to automate the generation of 32 bit RPM builds for each new Atom release, as he pointed to this [coffee script][2] that is presently used to make 64 bit RPM builds for Atom. So I'm here to ask you's when you get the time.

[1

[2015-06-05 00:13] wonnage commented on #6867
https://github.com/wonnage/highlight-css-color is abandoned as I don't use Atom anymore - sorry!

[2015-06-05 00:28] 50Wliu commented on #7107
See also #6252.

[2015-06-05 02:04] paulcbetts commented on #7095
Three are two possible locations that Squirrel will install to:

* `%LocalAppData%\Atom% - the default
* `C:\ProgramFiles\Atom\USERNAME` - the install location that is set when the first location cannot be written to / executed from, because of Group Policy

`AtomSetup.exe --machine` will just end up installing to one of these two places, but for all users (i.e. upon a new user logging in, we will

[2015-06-05 02:46] lilnate22 opened #7108 "auto close html elements"
as a nice HTML editor, it would be nice if atom could auto close nested HTML elements

i.e:

[code]

when user types "</ "

it will auto close `<div>`

This is very useful for angular dev, when adding directives.

Similar functionality to Brackets.io

[2015-06-05 03:02] adambuczynski opened #7109 "Invalid auto indentation of HTML after pasting when no closing tags present"
Consider several lines of plain text which you want to encapsulate with `<p>` tags. If you start with the first line, add a `<p>`, then copy paste it and go forward line by line, the following happens:

![Indentation](http://zippy.gfycat.com/AdorableLeadingAmericanindianhorse.gif)

Presumably this is because Atom thinks the next `<p>` tag should be indented for some reason, if there are no closing

[2015-06-05 03:25] ashrayjain commented on #7097
Facing the same issue with 0.206.0 on OS X 10.10.3

[2015-06-05 03:37] ashrayjain commented on #7097
I downloaded the v0.206.0 release and replaced my Atom.app with the new one. Atom seems to be back to normal after this.

[2015-06-05 04:10] mercmobily opened #7110 "application:open-file should default to the directory where the currently viewed file resides"
The title says everything. If you have several files open, and press CTRL-O, at the moment the open dialog will default to "Recently Used". However, it makes a _lot_ of sense to default, as a starting point, to the directory where the file currently viewed is.

For example if you are working on the file `youtRepo/auth/button/facebook.js`, and you want to open `youtRepo/auth/button/local.js`, you s

[2015-06-05 05:32] Santinell opened #7111 "Double click open file in preview mode (Atom 0.206)"
With option "Use Preview Tabs" single click and double click on file in tree view open preview mode.
Double click in tree view as I understand must open normal tab.
Tested on Ubuntu 15.04 & Windows 8

[2015-06-05 05:39] Tribex commented on #7109
Same happens with Jade, not sure if its an internal issue or not.

[2015-06-05 05:40] Tribex commented on #7108
There are a myriad of plugins that perform this function, just so you know. This issue is still valid if the devs want to add the feature to the core. :)

[2015-06-05 05:47] designisokay commented on #4893
:+1:

[2015-06-05 06:11] auag92 opened #7112 "The atom window remains transparent on opening"
![atom_2](https://cloud.githubusercontent.com/assets/10386906/8000393/a4f09714-0b77-11e5-8c93-564cdf6fc513.png)

I recently installed atom on my ubuntu 14.04 system. On starting atom the window remains transparent.

[2015-06-05 06:53] cclauss commented on #7100
Moved this to issue https://github.com/atom/docs/issues/74

[2015-06-05 06:53] #7100 closed

[2015-06-05 07:29] alexandernst opened #7113 ""Create issue on the xyz package" and "Copy to clipboard" not working"
When I get an error (that red warning that shows on the upper right side of Atom) and I try to interact with it by either clicking on the "Copy to clipboard" or the "Create issue on the xyz package" buttons, nothing happens.

[2015-06-05 07:31] philipgiuliani opened #7114 "Cursor behaves strange"
Hi, i just had the following bug but after closing and re-opening the file it is gone... I still wanted to report it, maybe somebody else also saw it. I never saw this before 0.206.0.

![cursor](https://cloud.githubusercontent.com/assets/5446019/8001346/2619128e-0b65-11e5-95af-62533fab2ed4.gif)

Since its not reproducible, i haven't tested it safemode.

My custom packages:
* linter
* linter-ruboco

[2015-06-05 08:07] vdzundza opened #7115 "Do you know how to set syntax of file without saving it?"
I want to save code syntax for highlighting by key shortcut? How can I do it?

[2015-06-05 08:22] textedit commented on #7114
I can reproduce this by the following actions:

1) Split screen
2) Move the cursor to line number bar (or somewhere in the editor where the cursor changes)
3) Move fast and click to another window
4) Finally, the cursor won't be updated

Packages:
- linter
- file-icons

[2015-06-05 08:28] philipgiuliani commented on #7114
Cool that im not the only one. For me it happened without split screen.

/cc @as-cii
Could this be (in some way) related to the tiling stuff? :)

[2015-06-05 08:31] AdamBuczynski commented on #5362
In the latest version of Atom, the bug is reversed. Pasting at the beginning of a line now preserves these comment blocks. Pasting with indentation however, collapses the comments as seen above. I will make some animated gifs from this behaviour, because there are more cases where it goes wrong.

[2015-06-05 08:44] textedit commented on #7114
Hmmm, seems you can't reproduce it by the steps before the editor not starts to bug.

So the only clean workaround is to reopen the file.

[2015-06-05 08:44] as-cii commented on #7114
@philipgiuliani: yep, this regression was likely generated by the new tiling mechanism. I am truly sorry this is causing headaches to you guys, I am already investigating what is causing the issue.

Unfortunately, however, I am not able to reproduce it locally (I had no luck with the steps provided by @textedit). I am afraid this may have been caused by a serialized state which doesn't play well w

[2015-06-05 08:57] philipgiuliani commented on #7114
@as-cii No problem, it really happened only once. Maybe its just with the serialized state of 0.205.0? It happened when i opened atom for the first time today (after the update). After restarting it now serval times and trying a lot to reproduce it, im not able to.. :(

I also can't reproduce it with the steps of @textedit

I'll report it here when i find something.

[2015-06-05 09:14] textedit commented on #7114
I have edited my comment.
Atom is running with the version ```0.205.0``` and i think i have the issue since then.

[2015-06-05 09:17] as-cii commented on #7073
Thanks @50Wliu for the extensive explanation :bow:

That's definitely weird: I am still unable to reproduce it, but I am quite skeptical it was caused by #6733 now that I look at it more closely. I might be missing something here but the way we log scopes shouldn't be affected by how we render lines.

@50Wliu: maybe you could try reverting that PR and see if it helps (simply going back in the comm

[2015-06-05 09:44] stijnsanders opened #7116 "Switch tab: focus editor"
If I click a tab to switch between files, I would like the keyboard focus to be set into the editor with the file open, preferrably with the cursor where I left it before leaving.

A click on the tab now sets focus on the tab. (Though there's nothing much to do with keyboard input there...)

[2015-06-05 09:46] stijnsanders commented on #7116
For your information: I've seen a blog post somewhere in the wild advising to use a sequence of <kbd>Ctrl-Z</kbd> and <kbd>Ctrl-Y</kbd> to have the cursor jump to the previous location. With a presumed click in the editor window, that's a three-step operation to circumvent missing behaviour!

[2015-06-05 10:15] izuzak commented on #7116
Yeah, this is a known problem -- see https://github.com/atom/atom/issues/6662. Closing this in favor of that, thanks for the report. :+1:

[2015-06-05 10:15] #7116 closed

[2015-06-05 10:18] mnquintana commented on #7110
Thanks for the suggestion! This seems like a duplicate of https://github.com/atom/atom/issues/6088 – does that about cover what you're looking for?

[2015-06-05 10:20] mnquintana commented on #7111
This is a duplicate of https://github.com/atom/tabs/issues/156 – please subscribe there for updates.

[2015-06-05 10:20] #7111 closed

[2015-06-05 10:21] mnquintana commented on #7113
Thanks for the report! This is a duplicate of https://github.com/atom/notifications/issues/70 – please subscribe there for updates.

[2015-06-05 10:21] #7113 closed

[2015-06-05 10:23] izuzak commented on #7115
You can do that with the `grammar-selector:show` command, which is [bound to `ctrl-L` by default](https://github.com/atom/grammar-selector/blob/master/keymaps/grammar-selector.cson).

Let me know if I misunderstood your question, and please provide more details about what you want to do exactly.

[2015-06-05 10:23] #7115 closed

[2015-06-05 10:38] mercmobily commented on #7110
Actually... it's to solve the same problem, but in a totally different way. I think presenting the last folder is not the right way to go about it: the dialog should be where the *currently viewed* file is, so that you can open files around it. The same should apply to Save. That's what Sublime does, and it's crucial.

[2015-06-05 10:43] mnquintana commented on #6088
I'm going to close this in favor of https://github.com/atom/atom/issues/7110, which more accurately describes Sublime's heuristics for opening file system dialogs.

[2015-06-05 11:10] di48l069 opened #7117 "FTP Package"
Hi there can you guys bring out a package where you can connect to FTP and on save it will update your files.

I know there are already 3 packages out there but i'm not a big fan of them i wondering can atom team create this package?

[2015-06-05 11:20] batjko commented on #7117
I don't know what the problems with those are, but have you opened an issue on any of the existing packages to try and improve them first?

[2015-06-05 11:38] arcticicestudio opened #7118 "Cannot read property 'find' of undefined"
Atom: `0.206.0`
OS: Ubuntu 14.04 x64

Comes up everytime when opening the settings.

Stack Trace:
[code]

[2015-06-05 12:03] mnquintana commented on #7118
This is a duplicate of https://github.com/atom/settings-view/issues/527 – please subscribe there for updates.

[2015-06-05 12:03] #7118 closed

[2015-06-05 12:26] 50Wliu commented on #7073
Definitely.  I realized that too right after I submitted the issue, but forgot to comment.
Might be a bit busy for the next few days, but I'll try to revert it by Monday and give it a go.

[2015-06-05 12:30] 50Wliu commented on #7115
All this time I've been using <kbd>Ctrl+Shift+L</kbd> thinking that was how to enable it...whoops :grimacing:.

[2015-06-05 12:51] lilnate22 commented on #7108
@Tribex , the only one I have seen is autoclose-html:
https://atom.io/packages/autoclose-html

but this only does it inline, i.e <div> </div>

it will not handle nested (like brackets does):

<div>
    <span></span>

</

will not be completed

[2015-06-05 12:53] di48l069 commented on #7117
@batjko Never mind found a great one :+1:

[2015-06-05 12:53] #7117 closed

[2015-06-05 13:15] DarkNami commented on #6681
Atom is more blurry after update to v0.206 (from v0.204) in my PC (Windows 7).

![blurry](https://cloud.githubusercontent.com/assets/5100919/8006570/cc9bf9b6-0bc7-11e5-93ea-a9b960ffdb9c.png)

[2015-06-05 13:25] mercmobily commented on #7110
I tried once again to do it on my own and failed. I am not familiar with Coffeescript at all, which isn't helping. (I am not familiar with the code base either, and that's another issue).

If somebody has any pointers to hemp me give it a crack, I will me most grateful!

[2015-06-05 13:37] dotcool opened #7120 "Failed to load the nuclide-flow package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.206.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Failed to load the nuclide-flow package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-05 13:40] zhuochun commented on #6867
159 markdown-writer fixed :)

[2015-06-05 13:45] izuzak commented on #7120
Sounds like a problem in nuclide -- can you report the problem to them? Also seems like we need to make the notifications package smarter so that it doesn't report this on Atom core. Added this to https://github.com/atom/notifications/issues/66.

[2015-06-05 13:45] #7120 closed

[2015-06-05 13:52] izuzak commented on #7108
The bracket matcher package implements something very similar -- a "Close Tag" command which auto closes the right tag at the place where your cursor is (even has a keybinding).

Here's it is in action:

![closetag](https://cloud.githubusercontent.com/assets/38924/8007220/a8e55602-0b9a-11e5-8653-cf3f61231e66.gif)

Does that help with auto-closing tags? If you'd still like the exact behavior you de

[2015-06-05 13:52] #7108 closed

[2015-06-05 14:05] dotcool commented on #7120
I have post the issue to them,thanks

[2015-06-05 14:14] aerouk commented on #3362
@jhasse that issue does show the problem I'm having, yeah

[2015-06-05 14:33] kdemarest commented on #6869
For those seeing this June 5, 2015 and after, here is a valid styles.less file. If anyone knows a better solution, please contribute!

[code]

[2015-06-05 14:50] djmtype opened #7121 "Error opening new windows"
Sorry if this is a duplicated entry…

Each time I open a new window, I receive:

[code]

Atom Version 0.206.0
No 3rd party packages active, default Atom theme.

[2015-06-05 14:55] mnquintana commented on #7121
It looks like there's an error in your Init File – if you comment it out, that should resolve this error. Let me know if that doesn't work for you!

[2015-06-05 14:55] #7121 closed

[2015-06-05 15:11] Stevo5o opened #7122 "Pane with code Greyed out"
Not sure what I have done wrong here, any help would be great.

![atomerror](https://cloud.githubusercontent.com/assets/3177131/8008973/6af00286-0b9d-11e5-8a05-98329ac2cbc5.jpg)

[2015-06-05 15:15] djmtype commented on #7121
@mnquintana thanks!
For some reason, it didn't like this function in my Init file. I've had Atom installed for awhile now, checking on its progress. I don't recall if this came with Atom or was added by me based on some post or comment I read. I'm not sure what it does exactly (ha!). It looks like it sets the workspace to `inline-block`, otherwise it displays as `block` after a 50ms timeout…?

[co

[2015-06-05 15:23] Stevo5o commented on #7122
More info: I open Atom and this is what I see.
Is it maybe a setting that I have accidental set?

I can select the text and edit it but it's just very hard to read, as you can see from the screen.

[2015-06-05 15:25] mnquintana commented on #7122
Have you followed the steps in the [debugging guide](https://atom.io/docs/latest/hacking-atom-debugging)? Can you reproduce this in safe mode? (`atom --safe`)

[2015-06-05 15:25] Stevo5o commented on #7122
Nope will try now, thanks.

[2015-06-05 15:28] Nicolab commented on #6867
[local-history](https://github.com/Nicolab/atom-local-history) has been updated :)

[2015-06-05 15:44] nathansobo commented on #7082
@jssln There's a private method, `screenPositionForPixelPosition` on `TextEditor`. I don't want it to be public on the model because it shouldn't be called when the editor isn't on screen. But we could add a public method to the view that delegates to it. If you want to open a PR with that, would be an easy merge.

[2015-06-05 15:46] nathansobo commented on #7073
@50Wliu If you can reproduce it, setting a breakpoint in the method and investigating where we go wrong might help too. I feel like it might be blamed on the `TokenIterator` getting into a weird state or something.

[2015-06-05 15:48] #6439 closed

[2015-06-05 15:57] p-e-w opened #7124 ""Uncaught TypeError: Cannot read property '0' of undefined" when switching to package-provided grammar"
I'm getting this error every time I switch to the grammar "JavaScript (Semantic Highlighting)" provided by https://github.com/p-e-w/language-javascript-semantic in Atom 0.206.0 on Linux with `--include-deprecated-apis` (also, the "Copy error report to clipboard" button does nothing, but that's likely an unrelated issue). In a previous version of Atom (not sure which one exactly), the grammar worke

[2015-06-05 16:00] kevinsawicki commented on #7124
/cc @nathansobo

[2015-06-05 16:06] cliffrowley commented on #6867
I had to re-publish some of my packages for some reason, but they should all be good now.

[2015-06-05 16:19] nathansobo commented on #7073
Thanks @50Wliu. I found the issue. When I changed this code path I accidentally used the screen column instead of the buffer column. :grimacing:

[2015-06-05 16:20] russellharrower opened #7126 "Uncaught Error: EIO: i/o error, open '/Volumes/DEV - My Staff/system/core.php'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.206.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: EIO: i/o error, open '/Volumes/DEV - My Staff/system/core.php'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-05 16:23] nathansobo commented on #7124
This package uses private APIs that have changed to reduce memory consumption, similar to the package discussed in #6982. The fix will have to occur in the package. Sorry about that.

[2015-06-05 16:23] #7124 closed

[2015-06-05 16:30] #7073 closed

[2015-06-05 16:37] p-e-w commented on #7124
I see... looks like https://github.com/atom/atom/pull/6757 slammed the door pretty hard on code-defined grammars. I notice that the other two affected packages have not been able to adapt to the new convention – one of them switched to a cson-based grammar and the other remains broken :frowning:

A public API for writing scripted grammars would be a big plus. There are too many things that just ca

[2015-06-05 16:39] maxbrunsfeld commented on #7114
@as-cii This could also be due to [my PR](https://github.com/atom/atom/pull/7023) that landed in 0.205. I have not yet been able to reproduce this.

[2015-06-05 16:46] p-e-w commented on #7124
Actually, it would suffice if a stable `createToken` was available. I posted [this pull request](https://github.com/atom/first-mate/pull/20) a year ago in preparation for code-defined grammars, but without a supported method for creating tokens it does not really make sense anymore.

[2015-06-05 16:55] izuzak commented on #7112
@auag92 Can you clarify how _exactly_ you installed Atom and which version of Atom you installed? Can you try downloading the official package from https://github.com/atom/atom/releases/tag/v0.206.0 and using that to install (after removing the previous installation)?

[2015-06-05 17:05] izuzak commented on #7068
Thanks for the report, @AgentME. :bow:

@nathansobo Do you want to :eyes: this one maybe? I was able to reproduce it on the latest master just now.

[2015-06-05 17:10] robhurring commented on #6867
140 is [done](https://github.com/robhurring/atom-change-case/pull/17), thanks @loklaan!

[2015-06-05 17:14] nathansobo commented on #7124
Yeah, the TextMate grammars are really limited and I'd like a better–and supported–interface. The unfortunate reality is that we're dealing with trees here, not tokens, and repeating the scopes on every token is like describing a tree over and over again for every path from root to leaf. So I'd like any interface we come up with to acknowledge that reality.

This change shouldn't be the death of t

[2015-06-05 17:20] kolen commented on #4131
For me, sometimes it stops working too, both when invoking with *cmd+f* and via menu bar (*Find -> Find in buffer*). Search panel does not appear. After restarting Atom it works again. Version 0.206.0.

[2015-06-05 17:22] nathansobo commented on #7068
Ah yes, I think I have a sense of why this is happening. I'll take a look soon once I make some more progress on large files. Getting close on that front.

[2015-06-05 17:24] J4G- commented on #7122
I have this same problem! It appeared after a crash! I tried reinstalling, restarting, all of it. No luck. :(

[2015-06-05 17:27] p-e-w commented on #7124
IMO it would be best if the `tokenizeLine` API returned to what it was and the translation from the classical "value/scopes" representation to the cryptic but efficient integer array was performed *outside* of `tokenizeLine`. That way, grammars can tag line tokens in an intuitive way and yet the memory usage remains low (whatever memory is allocated inside individual `tokenizeLine` calls should be

[2015-06-05 18:27] maxbrunsfeld commented on #6915
A few more fixes were just merged that relate to this bug. They will be in Atom 0.207.

[2015-06-05 18:32] maxbrunsfeld commented on #7122
@J4G- can you list your installed packages?

@J4G- @Stevo5o You might try selectively disabling packages to narrow down the list of packages that could be causing this.

[2015-06-05 18:34] J4G- commented on #7122
I've disabled all of my packages without success.

-----Original Message-----
From: "Max Brunsfeld" <notifications@github.com>
Sent: ‎6/‎5/‎2015 1:33 PM
To: "atom/atom" <atom@noreply.github.com>
Cc: "J4G-" <shadow7283@gmail.com>
Subject: Re: [atom] Pane with code Greyed out (#7122)

@J4G- can you list your installed packages?
@J4G- @Stevo5o You might try selectively disabling packages to narrow do

[2015-06-05 18:37] maxbrunsfeld commented on #7122
@J4G- so you're seeing this when you run `atom --safe`? Can you try temporarily getting rid of your Atom storage directory?

[code]

[2015-06-05 19:07] p-e-w commented on #6867
18 (language-javascript-semantic) has been updated :rocket:

[2015-06-05 19:28] p-e-w commented on #7124
I managed to update the format and my package is working again. Thank you for your help!

[2015-06-05 19:36] p-e-w commented on #6982
@basarat, @wcandillon: With some key hints from @nathansobo in https://github.com/atom/atom/issues/7124, I managed to port my package [language-javascript-semantic](https://github.com/p-e-w/language-javascript-semantic) to the new format and it now features a working CoffeeScript-provided grammar again. The relevant code is [here](https://github.com/p-e-w/language-javascript-semantic/blob/master/l

[2015-06-05 19:38] nathansobo commented on #7124
You're very welcome. I'm open to your idea of a more convenient interface, but now isn't a great time as I'm focused on things for 1.0. Expanding the API is always a careful process, and we haven't even contemplated custom grammar extensions at all. If you could extract a library from your package that others could use to make the conversion, that would be pretty nice. No pressure though: :smile:

[2015-06-05 19:59] chrishough commented on #274
I noticed this recently broke in the latest version of atom.  I can no longer use cmd+alt-- to shrink or expand windows, thoughts?

[2015-06-05 20:14] J4G- commented on #7122
I'm actually not seeing the problem with atom --safe either, but disabling all of my community-installed packages with a regular open doesn't help.

I'm on Windows and can't find the Atom storage directory in AppData/Local/ where the binary is.

[2015-06-05 20:16] mnquintana commented on #274
@chrishough What do you mean shrink or expand windows? That sounds unrelated to pane resizing, and I don't recall that keybinding ever doing anything in Atom out of the box – that sounds like a community package.

[2015-06-05 20:18] mnquintana commented on #7122
@J4G- It could be that a community package isn't properly deactivating itself when you disable it – have you tried restarting after disabling all your community packages?

[2015-06-05 20:26] mnquintana commented on #274
@chrishough The keybinding you're referring to was only ever in [resize-panes](https://github.com/santip/resize-panes) – it's not in Atom core.

[2015-06-05 20:34] Stanzilla opened #7128 "[Windows] Update mechanism menu text"
The dropdown menu entry stays at "Checking for Update" and then switches to "Restart to Update" never showing "Downloading Update" in between.

[2015-06-05 20:37] Stanzilla commented on #6612
@paulcbetts is that Squirrel version already used in the recent Atom releases? If so, since which version?

206 => 207 restart did not work btw.

[2015-06-05 20:40] 50Wliu commented on #7128
This was definitely fixed before - perhaps it regressed?

[2015-06-05 20:42] 50Wliu commented on #7128
Never mind: the previous bug was that it would only show "Downloading Update" :frowning:.

[2015-06-05 21:37] chuckcarpenter commented on #7122
I'm having this in both 0.206 and 0.207. I uninstalled all my community packages and themes, but still get
[code]

[2015-06-05 21:39] orlaqp commented on #6867
angularjs-helper updated! :-)

[2015-06-05 21:40] mnquintana commented on #7122
@chuckcarpenter `init.coffee` is your custom Init File – it means you added something to it that uses a deprecated Atom API that was removed in 0.206.0. If you want to play it extra safe you can comment out the whole Init File; otherwise, you can search for the line(s) that use `eachEditorView`.

@J4G- @Stevo5o Do you have anything in your `init.coffee`?

[2015-06-05 21:43] warethis-dev opened #7131 "Selection no longer visible"
Atom 0.206.0 knows that a selection is made, shown by the character count at the bottom of the window, however there's no visible highlighting - I tried a number of syntax themes - to show what is selected. I'm using Linux Mint 17.1 with Cinnamon, 32-bit.

[2015-06-05 21:45] chuckcarpenter commented on #7122
@mnquintana thanks! That was the magic.

[2015-06-05 21:46] J4G- commented on #7122
@mnquintana The issue was resolved after I disabled seti-monokai, which has deprecated selectors, per my edit above. Thanks for your help. :)

[2015-06-05 21:49] nathansobo commented on #7131
If you have time and interest, could you try building #7127? There's a bug on that branch still but I'm curious if it restores your selections. I think it might.

[2015-06-05 21:51] warethis-dev commented on #7131
I'll give it a shot this evening and let you know how it goes

[2015-06-05 21:51] hawsome opened #7132 "can't comment out <script> tags properly in html"
Whenever I try to `cmd + /` to comment `<script>` tags, it does the following:
[code]
Instead of:
[code]

[2015-06-05 22:04] warethis-dev commented on #7131
Sorry, I gave it a look but I have no idea how to do that.

[2015-06-05 22:08] nathansobo commented on #7131
That's okay. Can you fall back to a previous release for a bit and I'll ping you on this issue when a new release is out with what I hope will be a fix? If it isn't then we can go deeper and figure it out.

[2015-06-05 22:10] warethis-dev commented on #7131
ok thanks

On 06/05/2015 06:08 PM, Nathan Sobo wrote:

[2015-06-05 22:11] Matthew-333 opened #7133 "Uncaught Error: ENOENT: no such file or directory, open '/home/matthew/Android/DU/.repo/local_manifests/sources.xml'"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.207.0
**System**: Ubuntu 15.04
**Thrown From**: Atom Core
### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/home/matthew/Android/DU/.repo/local_manifests/sources.xml'

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-06-05 22:19] 50Wliu commented on #7128
Not too sure, but it looks like [this line](https://github.com/atom/atom/blob/11d1823a37a6eeb2747756ede9dab8d075631cd7/src/browser/auto-updater-win32.coffee#L59) might belong [here](https://github.com/atom/atom/blob/11d1823a37a6eeb2747756ede9dab8d075631cd7/src/browser/auto-updater-win32.coffee#L16) or [here](https://github.com/atom/atom/blob/11d1823a37a6eeb2747756ede9dab8d075631cd7/src/browser/aut

[2015-06-05 22:25] 50Wliu commented on #7132
Duplicate of atom/language-html#4, please subscribe there for updates.

[2015-06-05 22:25] #7132 closed

[2015-06-05 22:28] 50Wliu commented on #7133
Hi there @Matthew-333, could you please describe a bit what you were doing when this happened?  Did you by any chance execute a git command or otherwise change the file outside of Atom before this error occured?  Thanks!

[2015-06-05 23:29] fusion809 opened #7134 "Atom build failed on 32 bit OpenSUSE 13.2"
I was following the build technique outlined [here](https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md), but at the `script/build` line (which I amended to `sudo script/build` due to permission errors) I received an error:

[code]

[here](https://drive.google.com/file/d/0B1_sXH68hMWBR2RvdWVNVXJSdDg/view?usp=sharing)'s my log file.

[2015-06-05 23:35] mafiuss commented on #6867
167 https://github.com/mafiuss/atom-cli-diff - automatic!
[atom-cli-diff]  Fixed

[2015-06-05 23:40] paulcbetts commented on #6681
@nathansobo I believe you own this piece, can you have a look at this? This is really bad on Windows High DPI displays. It seems like https://github.com/atom/atom/issues/6681#issuecomment-104954287 is the root cause, removing it cleans up everything (but obviously breaks scrolling)

[2015-06-06 00:02] russlescai commented on #2209
The https://atom.io/packages/atom-touch-events package now supports pinch to zoom gestures, and handles tap better (doesn't automatically bring up the soft keyboard, sets cursor, and double tap highlights the word).

[2015-06-06 00:04] russlescai commented on #6336
The https://atom.io/packages/atom-touch-events package now supports pinch to zoom gestures, and handles tap events by setting the cursor instead of opening the soft keyboard.

[2015-06-06 00:09] basarat commented on #6982
@p-e-w thanks a lot. Stable link for when I get the time : https://github.com/p-e-w/language-javascript-semantic/blob/b7b61524b0c9cf27fb978a5021da723b4c3a0ea3/lib/javascript-semantic-grammar.coffee#L92

[2015-06-06 03:06] gera2ld opened #7135 "[Windows] updates kept failing and retrying"
`SquirrelSetup.log` says:
[code]

[2015-06-06 03:36] gera2ld commented on #7135
BTW, the registration item `HKEY_CLASSES_ROOT\*\shell\Atom\` and `%LocalAppData%\atom\bin` scripts are never updated once installed.

[2015-06-06 04:34] larsenwork commented on #3821
fwiw I'm also having this issue. I've made a font where e.g. `downloadIcon` gets replaced with an actual download icon icon but the cursor position does not update (should be right after the `d`) - let me know if more details is needed :)

![screen shot 2015-06-06 at 06 32 09](https://cloud.githubusercontent.com/assets/3859425/8018308/d0e949f8-0c15-11e5-8d1a-b7d11b1b5fc6.png)

[2015-06-06 04:51] vincentisambart opened #7136 "The effect of Ctrl+k takes 1 or 2 seconds to appear"
Running Atom 0.207.0 on OSX Yosemite.

Ctrl+k cuts the text from the caret to the end of the line (or the end of the line itself if you are already at the end of the line).

However, with the current Atom 0.207.0, when cutting text with Ctrl+k, the text takes 1 or 2 seconds to disappear from the screen. I would expect it to be instantaneous (like when you select text to the end of the line and cut

[2015-06-06 05:09] larsenwork commented on #3821
Just to clarify: contextual substitution works without problems - so this is only a problem for longer words being shortened in ligatures. The ligatures in Fira Code and Hasklig could be changed to contextual alternates making this a non issue for those fonts but my example above still wouldn't work
![screen shot 2015-06-06 at 07 05 54](https://cloud.githubusercontent.com/assets/3859425/8018403/82

[2015-06-06 05:22] paulcbetts commented on #7135
This error is just a warning, you need to paste more of the log

[2015-06-06 07:13] Qinka opened #7137 "Can't save my files :("
There is a problem . When I sometimes want to save my files , and press down "Save" or "Ctrl+S" , the file wil be empty and it saved! And then all what I had typed is lost .

[2015-06-06 07:18] gera2ld commented on #7135
That's all of the log.
After that, atom-0.207.0-full.nupkg is downloaded again and again.

[2015-06-06 07:19] mark-hahn commented on #7137
How did it get emptied?  What exact seq emptied it?

On Sat, Jun 6, 2015 at 12:13 AM, Qinka <notifications@github.com> wrote:

[2015-06-06 07:25] Zireael07 commented on #7137
I think I saw a report or two that were similar. @Qinka: Is the folder write-protected? Is your disk full? Is this a remote location?

[2015-06-06 08:32] Qinka commented on #7137
I found that when I press down "Ctrl+S" , the editor will be empty . And if I press down "Ctrl+Z" immediately , the file will appear again ,and the file is saved.

[2015-06-06 08:51] frabert commented on #3821
https://github.com/atom/atom/pull/6083 this might solve some issues...

[2015-06-06 08:51] Qinka commented on #7137
This will happen when I select a folder , where I cloned from github or is  my repo , and choice " Open with Atom" . And the files  are haskell source files.

[2015-06-06 11:46] di48l069 opened #7138 "Atom Detected as virus"
Hi there after the new update my avast detected atom as a virus and as blocked it. I tried uninstalling and reinstalling it but continues to block it. What must I do?

See image
![virus](https://cloud.githubusercontent.com/assets/7794777/8019536/07673f9c-0c54-11e5-8d49-2f8a354f1060.PNG)

[2015-06-06 12:43] thiagolucio opened #7139 "The PHP codes are not recognized in HTML files"
The php codes are not recognized in html files. The PHP lines are left with the text colors within the HTML
![phponhtml](https://cloud.githubusercontent.com/assets/5756266/8019668/7c13c762-0c30-11e5-839c-b9cdfb37d36c.jpg)
pages

[2015-06-06 12:45] mnquintana commented on #7138
Thanks for the report! This is a duplicate of https://github.com/atom/atom/issues/3927 – please subscribe there for updates.

[2015-06-06 12:45] #7138 closed

[2015-06-06 12:49] thiagolucio commented on #7139
Sorry, this error had been pointed out a previously interim solution. Closing the Issue. Sorry.

See more:
https://github.com/atom/atom/issues/6936

[2015-06-06 12:49] #7139 closed

[2015-06-06 12:50] iadj opened #7140 "[Windows 7] Atom deleted itself and can't re-install"
I tried to start up Atom today, and the default shortcut was no longer working.
I tried to reinstall Atom, which caused a `Installation Failed` error. I tried removing all leftover files from the AppData and Temp folders and tried to run the installer again, resulting in the same error.

Here's the SquirrelSetup.log:

[code]

[2015-06-06 12:52] Stevo5o commented on #7122
Thanks guys for the help here. I am changing over to Visual Studio Code as of today. I might come back to Atom when it's a bit more stable. I still really like Atom but..

[2015-06-06 13:39] Zireael07 commented on #7140
Did you uninstall first?

[2015-06-06 13:46] mnquintana commented on #7122
@Stevo5o To be clear, this was *not* a problem with Atom core, but a problem with a community package you had installed. That in no way means that Atom is less mature. VS Code would face similar challenges if it had the capacity for community extensions, which it currently does not.

[2015-06-06 13:47] Stevo5o commented on #7122
OK Sorry your right, will edit my comment now.

[2015-06-06 13:50] #7122 closed

[2015-06-06 14:14] ryush00 commented on #3927
![photo_2015-06-06_23-14-37](https://cloud.githubusercontent.com/assets/4997174/8019930/cb244fa4-0ca1-11e5-978c-2b7e90e5212e.jpg)

[2015-06-06 14:20] iadj commented on #7140
Forgot to remove the /username/.atom folder, now it properly reinstalled!

[2015-06-06 14:20] #7140 closed

[2015-06-06 15:42] 50Wliu commented on #7136
Please open the Keybinding Resolver (<kbd>Cmd+.</kbd>) and see what it picks up when you type <kbd>Ctrl+K</kbd>.  Thanks!

[2015-06-06 15:52] paulpflug commented on #5756
Ok. I misunderstood . I thought, that you wrote a atom package with vue..

I tried now to use vue, but it doesn't work. Vue's `object.observe` alternative relies on unsafe eval, so atom refuses to use it - sadly.

On a side node: jade also uses unsafe eval for compilation, which excludes it from using it at runtime - equally sadly.

maybe we should add "no eval" to the requirements list? if it is

[2015-06-06 16:06] vincentisambart commented on #7136
Oops indeed no problem indeed when in safe mode.
The binding resolver seems to say it's because of term2.

[2015-06-06 16:06] #7136 closed

[2015-06-06 16:15] jtauber commented on #1849
This is probably the best example I can come up with of the bug and it's effect:

1) the existence of the macron on the alphas makes every glyph on the line narrower (including all those earlier in the line)
2) the *cursor* placement ignores this narrowing and the cursor's x offset on the second line is where it would be on the first line

![screen shot 2015-06-06 at 2 16 12 am](https://cloud.gith

[2015-06-06 16:17] jtauber commented on #5975
This is probably the best example I can come up with of the bug and it's effect:

1) the existence of the macron on the alphas makes every glyph on the line narrower (including all those earlier in the line)
2) the *cursor* placement ignores this narrowing and the cursor's x offset on the second line is where it would be on the first line

![screen shot 2015-06-06 at 2 16 12 am](https://cloud.gith

[2015-06-06 16:28] jtauber commented on #5975
Note, the reason I'm keeping this ticket updated, even though closed, is because it's only tentatively closed until #1849 is fixed to see if it's a related issue. Because my issue is more specific, I want to make sure all the information is available here in case fixing #1849 doesn't not fix the specific issue described here.

[2015-06-06 16:30] OscarOrSomething commented on #3063
I read somewhere this was waiting on atom/electron#613 , That is closed so is this working now?

[2015-06-06 16:36] OscarOrSomething commented on #6314
From the AUR:

[code]

Try this if you are still getting errors?

[2015-06-06 16:46] Matthew-333 commented on #7133
I found an error, it was completly my fault.. I tryed to save shourtcut instead of file.. Im so sorry, false alert, i will look better next time when i get and error.. (:

[2015-06-06 17:16] ebraminio commented on #1849
You probably hit complex/simple path difference: http://crbug.com/404597

[2015-06-06 17:46] jtauber commented on #1849
So it's upstream in Chromium? I hope it's fixed before Atom 1.0

[2015-06-06 17:48] ebraminio commented on #1849
Yes AFAIK but it won't fix RTL issues merged on this bug which needs local [care](https://github.com/atom/atom/issues/1849#issuecomment-102712443).

[2015-06-06 19:15] di48l069 commented on #3927
Hey guys how can I fix this see image...

![virus](https://cloud.githubusercontent.com/assets/7794777/8021037/15282960-0c91-11e5-9f6a-1f039b4546c2.PNG)

[2015-06-06 19:26] jtauber commented on #1849
@ebraminio I'm wondering if I should reopen #5975 then, if that can be fixed independent of this bug.

[2015-06-06 19:52] ebraminio commented on #1849
Testcase:
[code]
Current situation:
![image](https://cloud.githubusercontent.com/assets/833473/8021164/ea260660-0ca9-11e5-86f1-b4ee4ef492f0.png)
After merge of simple and complex:
![image](https://cloud.githubusercontent.com/assets/833473/8021174/1a7997aa-0caa-11e5-8c41-88e146004b20.png)
(the inconsistency is resolved)

How to trig complex path for all text (the thing will happend after merge of t

[2015-06-06 20:31] jarig commented on #2203
Modified tree-view to support nested git repos, though I'm not 100% familiar with Atom code, so maybe this approach has some flaws or side-effects. Maybe Atom exports can advise.