[2015-02-18 03:11] jasoncavett commented on #5601
@kevinsawicki No, the desktop shortcut did not appear either. I didn't even realize one should. (I typically always tell installers not to install the desktop shortcut.)

[2015-02-18 03:16] russlescai commented on #5595
I noticed the same thing in a coffeescript file.

[2015-02-18 03:23] kevinsawicki commented on #5601
/cc @paulcbetts

[2015-02-18 03:30] mark-hahn commented on #1763
@benogle:  Those are great ideas.  Security at the reputation level is the
only thing that seems possible.  I'm still a skeptic about static analysis
though. If I knew the algorithm used by static analysis I could easily get
around it.

disables.

This would be awesome even if not related to security. I have to decide
what packages to support/improve and if I knew none of the downloads were
being

[2015-02-18 03:37] paulcbetts commented on #5601
No repro on my machine, Atom shows up on both the desktop and start menu. I'll try a clean install and see if it happens

[2015-02-18 03:39] davidpett opened #5603 "Add CORS headers for atom.io API usage"
looking at the api, I would like to create an app to search themes and display them. The api endpoints are there, but I cannot consume them via ajax because of CORS.

Can you add a https://atom.io/crossdomain.xml to allow access?

[2015-02-18 03:40] envygeeks commented on #1763
Just like you are skeptical of static analysis, I think security by reputation is a joke and a game and not only is it a game, but it's a game I could game, setup and win rather quickly but not only is it a game, it's a abusive dictatorial scheme that lends itself to dickery by douche cookies who get a hair up their ass.

I am not saying that is you, I am expressing my utter disdain for fake secur

[2015-02-18 03:43] frankhale commented on #3757
I just updated from 177 to 179 and the release notes updated fine. Thanks for the fix!

[2015-02-18 03:50] mark-hahn commented on #1763
cookies who get a hair up their ass.

So you have an opinion?

On Tue, Feb 17, 2015 at 7:40 PM, Jordon Bedwell <notifications@github.com>
wrote:

[2015-02-18 03:53] thedaniel commented on #1763
Let's keep it civil, folks.

[2015-02-18 04:07] lee-dohm commented on #5592
Duplicate of #4203 *et al*. If you mean that the files are showing in the tree view, there is a separate setting in the Tree View package settings called `Hide VCS Ignored Files`:

![screen shot 2014-11-16 at 9 25 26 am](https://cloud.githubusercontent.com/assets/69169/5062347/980ac00e-6d72-11e4-93e1-8f2b8b237375.png)

And strangely, I do not have the `Hide Git Ignored Files` setting that you're s

[2015-02-18 04:08] paulcbetts commented on #1763
#### What do we want?

Let's focus back on the end goal - that at the end of the day, people can trust the plugins hosted at atom.io to be Legitimate and not do unexpected things (either malicious or otherwise). This is the kind of goal that the Pareto Principal applies to; it doesn't have to be 100% bulletproof, it needs to be a balance between time investment / packages being useful, vs. the con

[2015-02-18 04:13] zephraph commented on #1763
I'm all for that.

I think the worst thing we could possibly do is _nothing_. Anything, no matter how small, is better than what we currently have.

[2015-02-18 04:13] JamesGould123 opened #5604 "Config settings not working."
[In the docs](https://atom.io/docs/api/v0.179.0/Config), various examples of settings you can set for packages are documented. Unfortunately, several of the examples do not work.

The given array and object examples do not work. The array example simply does not show up under the settings under packages > package-name > settings, and the object example throws the error:

<code>package-name.someSet

[2015-02-18 04:20] nick commented on #3002
@steelbrain thanks but I wanted it more sublime style, where it would duplicate the line if there was no selection, otherwise it would duplicate the current selection. Also wanted the buffer selection to be the same as sublime.

I created https://atom.io/packages/duplicate-line-or-selection which basically mirrors sublime duplication functionality.

[2015-02-18 04:25] lee-dohm commented on #5595
This functionality is provided by the [bracket-matcher package](https://github.com/atom/bracket-matcher). Would you mind re-opening this issue on that repository?

[2015-02-18 05:46] a-moses opened #5606 "Change the size of font on atom settings / label Description"
atom setting :  the font size  don't Customizable.

and looks very small and not clearly.

especially the Description labels

[2015-02-18 06:36] NicoTravassos commented on #5581
:+1:

[2015-02-18 06:43] mengzyou commented on #770
+1 want this featrue.

[2015-02-18 07:15] morberg commented on #1890
As mentioned in the now closed duplicate #4637 it works fine under Windows, but not OS X.

[2015-02-18 07:32] mark-hahn commented on #5606
Everything in Atom is customizable.  Just find the CSS selector of the
element(s) you want to change and then put new LESS (CSS) code in your
`~/.atom/styles.less` file.

On Tue, Feb 17, 2015 at 9:46 PM, a-moses <notifications@github.com> wrote:

[2015-02-18 07:57] svsudhir opened #5607 "Untitled file Version 0.180.0"
My Atom installation got updated to 0.180 today. I noticed an issue.

When you start this version, it opens an "Untitled" file automatically. Now, you close Atom without editing anything at all. Open Atom again, now you will see 2 "Untitled" files. Close again and reopen, you will see 3 Untitled files. Looks like Atom keeps on adding more Untitled files if you exit without closing them.

Other iss

[2015-02-18 09:15] muchweb commented on #5606
@a-moses, try adding this to your `~/.atom/styles.less`

[code]

[2015-02-18 09:26] basarat commented on #5459
Fixed with v0.180.0
Closing for now.

[2015-02-18 09:26] #5459 closed

[2015-02-18 09:55] mark-hahn opened #5608 "package names versus folder names"
I get quite confused when packages use names in their repo like `atom-my-package` when the Atom package name is actually `my-package`.  I end up renaming folders several times to clone a repo, work on it, and do a PR.

Enough bitching and on to the problem.  When I had  the `atom-my-package` folder in `~/.atom/packages` then the package listed in settings was`atom-my-package`.  But the settings we

[2015-02-18 10:23] filipesilva commented on #5109
Seems to be fixed on 0.180.0.

[2015-02-18 10:30] Thijs5 commented on #1909
+1
Every other text-editor has this behavior.

[2015-02-18 11:00] pwaring commented on #5607
I've noticed the same problem on 0.180 on a Mac, didn't exist in 0.179. I'm wondering if this is related to Atom remembering which files were open - I've noticed that as of 0.180 if I open a directory Atom now automatically opens all the files I had open when I quit with that directory in the left-hand pane.

[2015-02-18 11:00] izuzak commented on #5608
@mark-hahn Can you provide exact steps which reproduce this behavior? I have a package with the name "pdf-view" which is stored in a repository called "atom-pdf-view" (different name), and I don't see this problem: Settings View show "pdf-view" as the name and the `.atom/packages` folder has `pdf-view` as a subfolder:

https://github.com/izuzak/atom-pdf-view

https://atom.io/packages/pdf-view

![s

[2015-02-18 11:01] postcasio commented on #3821
@frabert The problem is caused by Atom using a custom editor control, not a `<textarea>`. It performs its own character measurements to find out where the cursor should be rendered on screen - enabling ligatures throws the measurements off because the character widths can change depending on surrounding characters, which Atom doesn't account for.

[2015-02-18 11:15] amisarca opened #5609 "Uncaught TypeError: Cannot read property 'onDidDestroy' of null"
Every time I try to open a directory, I get this error:

**Atom Version**: 0.180.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidDestroy' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-18 11:24] larsw1997 opened #5610 "Failed to spawn command clang"
Hello, I just installed atom. I've installed both linter and linter-clang. Every time I try to open a c file, I get the error:

 Uncaught BufferedProcessError: Failed to spawn command `clang`. Make sure `clang` is installed and on your PATH

Does anyone have an idea how to solve this? I am on linux-mint cinnamon

[2015-02-18 11:26] a-moses commented on #5606
Thanks @mark-hahn  @muchweb

i need help to change  the class "setting-description" inside  block

how i change the Relative to force the description looks larger but keep block looks "nice and clean "

.setting-description don't work and bad idea .

[2015-02-18 11:31] larsw1997 commented on #5610
Nevermind, I had to install the clang package.

[2015-02-18 11:31] #5610 closed

[2015-02-18 11:34] izuzak commented on #5609
@amisarca Can you clarify what you mean by this: "Every time I try to open a directory"? How are you opening a directory exactly (from the terminal, from within Atom, ...)? Does this happen for every directory or only for some? Can you reproduce this for a repository on github.com, and if so -- can you share a link to that repository?

:wave: /cc @bolinfest because `git-repository-provider`. :smil

[2015-02-18 11:42] roboen opened #5611 "Atom helper high CPU on Mac"
Using 0.180.0 on Yosemite 10.10.2, I consistently the Atom Helper process run at 80%-100% CPU.

[2015-02-18 11:56] filipesilva commented on #3770
I'm having this problem with 0.180.0 on windows as well, with packages that previously updated with no problem. In my specific case, I did updated Atom from 0.176.0 to 0.180 (interim versions had the 'path too long' error) and then updated all packages.

Updating all showed this error on a couple of them, but apparently updating one by one worked. So I guess it's a concurrency issue.

[2015-02-18 12:12] izuzak commented on #5604
@JamesGould123 I'm able to reproduce the problem with the array example -- I don't see anything in the settings when I use that either:

![screen shot 2015-02-18 at 12 44 09](https://cloud.githubusercontent.com/assets/38924/6246820/3e1d99c8-b76d-11e4-8797-a3c71641e77f.png)

However, if I use this, I see the expected result:

[code]

I'm unable to reproduce the problem with the object example thoug

[2015-02-18 12:12] izuzak commented on #5604
This issue was moved to atom/settings-view#386

[2015-02-18 12:12] #5604 closed

[2015-02-18 12:49] izuzak commented on #5603
@davidpett Just to make sure we understand, would returning CORS headers instead of adding a crossdomain.xml file meet your needs (since that would allow you to make HTTP requests from client-side JS)? Or are you building a flash app?

[2015-02-18 12:51] izuzak commented on #5611
Thanks for the report @roboen -- I'm closing this in favor of https://github.com/atom/atom/issues/3426. If you have any other details you'd like to add -- please add a comment to that issue.

[2015-02-18 12:51] #5611 closed

[2015-02-18 12:53] izuzak commented on #5607
I'm seeing this as well. Not really sure what might have triggered this, perhaps @maxbrunsfeld or @kevinsawicki have an :bulb:?

[2015-02-18 12:57] simurai commented on #5606
To only change the `.setting-description`, this should work:

[code]

[2015-02-18 13:17] emarques opened #5612 "Access denied while installing atom 0.180 on administrator mode"
I've tried to install the atom 0.180 setup on my computer, tried to run it as administrator and install it on windows 7, but got no luck installing it :/

[code]

[2015-02-18 13:32] davidpett commented on #5603
Oh my gosh, yes CORS headers is all I need, sorry.

That's embarrassing.

On Wednesday, February 18, 2015, Ivan Žužak <notifications@github.com>
wrote:

--

*-DP*

[2015-02-18 13:35] 50Wliu commented on #5612
To be clear-are you right-clicking and choosing `Run as Administrator` or just trying to install it under an administrator account?

/cc @paulcbetts

[2015-02-18 13:40] izuzak commented on #5603
Ha, thanks for clarifying :+1: :smile:.

[2015-02-18 13:42] izuzak commented on #4821
@nathansobo I was able to reproduce this in Atom 0.180.0 by following the steps in https://github.com/atom/atom/issues/4821#issuecomment-71965142.

[2015-02-18 13:43] simurai commented on #5596
Ya, the "changing Less variables from the settings" wasn't as easy as initially thought. Still hope there is a way one day.

That would be nice. Also for themes that have light and dark versions. For example the One themes have a light and dark UI version that are almost identical except for the `ui-variables.less`. So in that case, having a shared package would remove the need to always update th

[2015-02-18 13:48] fbender commented on #3426
I experience this issue as well and disabled all community packages (except lang-matlab-octave) and some core packages in v0.180.0 and *still* see an almost constant CPU usage of 5-8% with Atom in the background (window is not visible behind other app windows) and having 5 small to medium large HTML, CSS, and JS files open. Energy Factor is ~7 on my MBA 2012 with OS X 10.9.5. Having the window par

[2015-02-18 13:50] frabert commented on #3821
I see, sorry for the misleading results. Out of curiosity, how does Atom calculate text metrics? Something like a Freetype wrapper?

[2015-02-18 14:06] postcasio commented on #3821
From my understanding it copies lines into an invisible dummy node, then it iterates over each character. For each character It creates a selection and asks the browser for the width of the selection.

[2015-02-18 14:07] emarques commented on #5612
I am an administrator and I am also choosing to run it as administrator

[2015-02-18 14:11] frabert commented on #3821
So the browser is incorrectly calculating the width of such a selection? Is it because the characters making up the ligatures are stored in different elements, tricking the algorithm?

[2015-02-18 14:24] bglick commented on #4767
I got this pasting 209,456 rows of 7 characters per row from LibreOffice Calc.

[2015-02-18 15:07] thomasjo commented on #5608
Similar to @izuzak, I have never experienced this either.

As an example my LaTeX package is named `latex`, but the repository is named `atom-latex` (both on GitHub and locally). APM correctly names the soft-link `latex` for dev mode, and also gives it the correct folder name — `latex` — when installed "proper".

[2015-02-18 15:10] jasoncavett commented on #5601
@paulcbetts I just fired up one of my VMs (Windows 7) and performed the installation there. It, too is not showing anything in the Start Menu or on the Desktop. I don't have access to another Windows 8 VM here, but I will try it out tonight as well.

Side note, I noticed the installer I just used installed 0.179.0 on the Windows 7 installation.

[2015-02-18 15:19] svsudhir commented on #5607
I noticed this too. Is there a config option that can be set to choose this new behaviour or continue with earlier behaviour? Such an option would be nice actually as we can choose how Atom must behave. I wonder what other surprises are present in this updated version.

[2015-02-18 15:22] izuzak commented on #5592
Yeah, there's also an open issue to make it more obvious in Settings View that some options are available in package settings as well:

https://github.com/atom/settings-view/issues/378

@fulldecent Does this explain the behavior you observed?

[2015-02-18 15:23] mrtdoulaty commented on #5121
I'm having this problem using 0.179.0 on Fedora (I used official rpm package to install)
(the path is a network path)

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: linux 3.18.5-101.fc20.x86_64
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Unable to watch path

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2015-02-18 15:24] mgrenier opened #5613 "atom.project.path === undefined"
Windows 8.1
Atom 0.180

Step to reproduce

1. Open Atom
2. Open Folder ...
3. Select a folder
4. Open Developer Tool `CTRL+ALT+I`
5. Type `atom.project.path` (Enter)

Output :
[code]

Expecting output from 0.179
[code]

[2015-02-18 15:27] bolinfest commented on #5613
It was never a public field. Change to atom.project.getPath() for a quick
fix: that is deprecated but still supported.

Long term fix is to use atom.project.getPaths() because Atom is starting to
support multiple root folders. Note that can return an empty array.
On Feb 18, 2015 7:24 AM, "Michael Grenier" <notifications@github.com> wrote:

[2015-02-18 15:29] thomasjo commented on #5613
What @bolinfest said. Closing this since it isn't a bug.

[2015-02-18 15:29] #5613 closed

[2015-02-18 15:43] izuzak commented on #5472
@vscosta I'm still having trouble reproducing this. Here's what I did:

1. installed the language-prolog package: https://atom.io/packages/language-prolog
2. saved the content you provided as ypp.yap
3. opened the file
4. switched the grammar used to parse the file to prolog

This did not throw an exception. Are you still able to reproduce the issue by following those steps or can you clarify what

[2015-02-18 15:46] fulldecent commented on #5592
Posted to https://github.com/atom/tree-view/issues/375 closing here

Atom is package city. Triage here must be a full time job!

[2015-02-18 15:46] #5592 closed

[2015-02-18 15:49] mgrenier commented on #5613
Thanks for your quick reply. Will make changes.

[2015-02-18 16:03] envygeeks commented on #1763
@mark-hahn Yes Dear Leader.  Seriously though, in all seriousness I was not saying that was you, I was simply responding to the idea... never trying to imply that could be or was you, but if you took it that way (personally) that's fair enough and there is nothing I can or will do to resolve that matter because my point on those systems stands and has been proven time and time again.

---

@paulcb

[2015-02-18 16:11] postcasio commented on #5608
I think the issue is with the name on disk, not specifically the repository name. I've seen this happen with development packages mainly. I have a package named `printer` that I develop locally in a directory named `atom-printer`. When it's linked into `~/.atom/dev/packages`, its name is `atom-printer` instead of `printer`.

[2015-02-18 16:13] paulcbetts commented on #1763
@envygeeks You do know that every major desktop and mobile OS also has this capability, right?

[2015-02-18 16:14] danwatco commented on #5556
@kevinsawicki Just tried that, still brings up the same error

[2015-02-18 16:19] izuzak commented on #5608
@postcasio Can you turn that description into a list of steps which reproduce the problem for you, just to make sure I'm following this? I'm seeing this:

[code]

If I understood correctly, you're saying that you observed this:

[code]

[2015-02-18 16:27] envygeeks commented on #1763
@paulcbetts Except, I use Linux and my Android phone does not use Android Market.

[2015-02-18 16:35] zephraph commented on #1763
Eh, you could always go for the best of both worlds. Automatically disable it and give a message saying that it was disabled for x reason. Have a new section in the settings-view packages tab called "banned/blocked/malicious/etc" and give the user the ability to add an exception for a certain package with a big warning sign before the package is actually enabled.

Also, do you think we'd need a sy

[2015-02-18 16:38] postcasio commented on #5608
Ahh, I hadn't actually linked the package. If I do `apm link` it correctly creates the symlink using the name in `package.json`. But I often just clone repositories directly into `~/.atom/dev/packages`. So the steps are:

1. `cd ~/.atom/dev/packages`
2. `git clone https://github.com/postcasio/atom-printer`
3. `atom -d atom-printer`

The package name in the settings view is `atom-printer`, and conf

[2015-02-18 16:48] Joshua-Anderson commented on #2956
They zip up builds of atom and extract it into the deb. It isn't a great solution. Ideally we would have a command the downloads but does not build all dependencies.

[2015-02-18 16:53] envygeeks commented on #1763
I would be fine with that, as long as I was aware and have a reason and can reverse it if I see fit (the idea you had about exceptions.)

I personally think it would be a good idea to have an appeal system just to be sure but that all hinges on Atom dev team not manually auditing anything that gets banned before banning but, that would put a heavy strain on them so since I suggested it, I am oblig

[2015-02-18 16:54] jonathandelgado opened #5615 "Open Folder always creates a new window (Atom 0.180.0)"
In Atom 0.180.0, if you go to `File -> Open Folder`, Atom always creates a new window, even if there isn't a folder for the current window.

To explain further, to open a folder:
- Open window one (with no folder/project specified)
- Click "Open Folder" on window one
- Window two opens
- Close window one
- Switch back to window two and start working

This is in contrast to the previous method whic

[2015-02-18 16:57] jonathandelgado commented on #5607
+1

[2015-02-18 17:12] nathansobo commented on #1650
If someone could hound the Chrome team about using subpixel anti-aliasing on GPU layers with opaque backgrounds, or investigate the source of the issue in the Chromium rendering layer, that would really help. I agree not using subpixel AA is bad, but it represents a pretty big distraction for a core team member to go digging around in the rendering internals at this time. We will end up doing that

[2015-02-18 17:16] #5609 closed

[2015-02-18 17:45] kevinsawicki commented on #5601
@paulcbetts I was able to reproduce on a clean install on my other VM, what debugging information would be helpful for this? The squirrel log is pretty empty, just the updating messages, no errors.

[2015-02-18 17:46] paulcbetts commented on #1763
I think that this will be so rare that it can be ad-hoc; if you're using a ban it's not a "grey area", it's an emergency situation and the violation is probably pretty egregious.

[2015-02-18 17:57] dumle29 opened #5616 "[Windows:chocolatey] No packages search, Install Shell Commmands option"
So I installed atom via chocolatey, it installed to

    [blah]\AppData\Local\atom\

which I assume is correct.

Now if I go to settings packages (clicking my way, or ctrl-), there's no option to search for uninstalled packages, only installed packages, As seen here: ![Image of package tab](http://i.imgur.com/nEjCVuz.png)

Going to the file tab, there's no Install Shell Commmands menu as seen here

[2015-02-18 17:58] kevinsawicki commented on #5616
The Install section on the left side will give you the ability to search for and install packages and themes.

[2015-02-18 17:59] kevinsawicki commented on #5616
`atom` and `apm` shell commands are automatically installed by the installer so this option isn't needed on Windows.

[2015-02-18 18:00] dumle29 commented on #5616
Ah thankyou, I also found [this](http://blog.atom.io/2014/12/10/a-windows-installer-and-updater.html) so yea

[2015-02-18 18:01] #5616 closed

[2015-02-18 18:31] green-mdoerflinger opened #5617 "Tree-view is broken on Windows 8.1 since 0.180.0"
Since Atom updated to 0.180.0 my tree-view only shows the content of the atom folder instead of the project/folder opened (see screenshot below). Opening a new folder does not help, tree-view still shows the content of the atom folder.
I tried reinstalling Atom and i even removed all configuration etc that were left behind. For one session its fine, after restart of Atom is shows the wrong content

[2015-02-18 18:34] amisarca commented on #5609
I tried various ways of opening the folder (through terminal, through project manager), and every time I was given the same error. The error was thrown for every folder I was trying to open (no matter if it was a git repository or not).

Hope that helps.

[2015-02-18 18:47] m1ga commented on #5615
I have the same on linux/KDE https://github.com/atom/atom/issues/4996  perhaps this could be fixed here too. But I had it in the previous versions too (and still have it with the latest version from git)

[2015-02-18 18:53] paulcbetts commented on #5601
@kevinsawicki If I bump grunt-atom-shell-installer to the latest version and build an installer, I seem to get shortcuts, not sure what's going on here

[2015-02-18 19:08] gregersrygg commented on #5163
Good to see you're planning on improving the typing performance :) It can take many seconds to type 1 character when using a few hundred cursors. Not sure you need it, but here is a CPU-profile I saved while typing. The first plateau (in the profiler chart view) is when I pressed <kbd>⌘</kbd><kbd>⇧</kbd><kbd>L</kbd> to convert the selection into multiple cursors. The rest of the plateaus are typin

[2015-02-18 19:08] kevinsawicki commented on #5617
How are you opening Atom? From the command line? Start menu? Shortcut?

[2015-02-18 19:11] jackmaney commented on #5615
On OSX 10.9.5, I have a similar issue: clicking on the Atom icon in the dock always creates a new window, even if I have an Atom window open. Before 0.180.0, clicking on the Atom icon would just go back to a currently-opened Atom window.

[2015-02-18 19:34] kevinsawicki commented on #5601
Yup, looks to be resolved by upgrading to Squirrel 0.8.5.

Fixed by https://github.com/atom/atom/commit/83b27fc93e55522187cb4464830d6ac13f7e80a3

[2015-02-18 19:34] #5601 closed

[2015-02-18 19:34] ScuttleBird commented on #5617
I am having the same issue on windows 7.

The file tree will only show my last opened file tree from version 0.179.0

When selecting a new folder with Open Folder, a new atom window opens with the same file tree. Same if I try to open a file with Open File, or use the context menu Open with Atom, the file opens, but the file tree doesn't change.

No matter what I do the file tree wont change.

I h

[2015-02-18 19:36] Trudko commented on #5617
I have same experience on Windows 8.

[2015-02-18 19:37] #5607 closed

[2015-02-18 19:37] #5615 closed

[2015-02-18 19:38] ericwooley commented on #5617
Seconded for windows 8. Sometimes it also opens the directory C:\Windows

All plugins disabled, using version 0.180.0

[2015-02-18 19:40] kevinsawicki commented on #5617
So if you have Atom completely closed, right click on a folder from the explorer, and select "Open With Atom", the correct folder doesn't get opened?

[2015-02-18 19:40] prange opened #5619 "Uncaught Error: ENOENT, open 'undefined//Users/atlosm/workspace/tech-ex-2015/backend/src/main/scala/techex/cases/project.json'"
[Enter steps to reproduce below:]

1. Openend scala file

**Atom Version**: 0.174.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT, open 'undefined//Users/atlosm/workspace/tech-ex-2015/backend/src/main/scala/techex/cases/project.json'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-18 19:46] ericwooley commented on #5617
@kevinsawicki It does not,

[2015-02-18 19:47] kevinsawicki commented on #5617
What folder does appear in the tree view in that scenario?

[2015-02-18 19:48] ericwooley commented on #5617
C:\Users\<me>\AppData\Local\atom

[2015-02-18 19:48] benogle commented on #5619
This is an issue with save session. Please update atom and save-session to the latest versions.

[2015-02-18 19:48] #5619 closed

[2015-02-18 20:04] nathansobo commented on #5163
@gregersrygg It probably doesn't. Would you be interested in playing around with some optimizations? Sounds like some quick wins are available here.

[2015-02-18 20:13] m1ga commented on #5615
just did a new checkout and in linux its still the same (wrong) behavior

[2015-02-18 20:15] steveoh opened #5620 "Usability with git rebase, amend, etc"
I have been using atom as my default editor when using git. One productivity issue I have is with the `--wait` command where you have to close the entire atom instance for waiting to be done. I know this sounds normal but when rebasing the atom instance needs to opened and closed many times and the load times on windows leave some time for thumb twiddling. My window load time is around 3-4 seconds

[2015-02-18 20:21] gregersrygg commented on #5163
I really wish I had time to contribute, but I don't :(

[2015-02-18 20:33] parlayvu opened #5621 "Can't open any folders after forced update"
Whether you open a folder by 1) selecting File -> Open, 2) dragging from Finder to Atom icon or 3) using atom command line, Atom always opens the same folder, even in safe mode. The folder is the site I was working on before Atom auto-updated to 0.180.

There is no error thrown, just the wrong folder opens. (ex: You select folder Banana to open, it opens folder Apple. You select folder Carrot to o

[2015-02-18 20:36] rpechayr commented on #3928
:+1: , please let us know what are the plans for this issue. Os 10.10.2, and Atom 0.179

[2015-02-18 20:43] mark-hahn commented on #5592
There isn't any triage.  There is another thread about security that is
discussing this topic.

https://github.com/atom/atom/issues/1763

On Wed, Feb 18, 2015 at 7:47 AM, William Entriken <notifications@github.com>
wrote:

[2015-02-18 20:47] mark-hahn commented on #5608
Definitely.

package.json.

That is the "bug" that caused me to create this issue.  Some of Atom uses
the folder name and part uses package.json.

So there is an undocumented rule that package.json should match the folder
name.  The rule should be "fixed" or Atom should show an error and not load
the package.

On Wed, Feb 18, 2015 at 8:38 AM, dominic <notifications@github.com> wrote:

[2015-02-18 20:51] mark-hahn commented on #5616
Chocolatey has always been a problem with Atom.  You should use the
official installer instead.

On Wed, Feb 18, 2015 at 9:57 AM, dumle29 <notifications@github.com> wrote:

[2015-02-18 20:52] a-moses commented on #5606
@simurai

yeah you right ! ! ! ... Thank you.

[2015-02-18 20:52] #5606 closed

[2015-02-18 20:55] mark-hahn commented on #5607
This brings up the age-old question of whether there should be an untitled
tab.  I only use untitled when I'm bringing up an editor for a quick file
creation.  Since Atom has slow startup I use another editor for these
purposes.  I use Atom for programming only.

On Wed, Feb 18, 2015 at 11:37 AM, Max Brunsfeld <notifications@github.com>
wrote:

[2015-02-18 20:57] kevinsawicki commented on #5621
This seems very similar to https://github.com/atom/atom/issues/5617

@maxbrunsfeld any ideas on this? I'm unable to reproduce on both Mac and Windows

[2015-02-18 21:03] kevinsawicki commented on #5621
There are two ways to do this, one is to clone the repo, check out the `v0.179.0` tag, and run `script/build`.

The other is to download `atom-mac.zip` from https://github.com/atom/atom/releases/tag/v0.179.0 and comment out `setFeedUrl` line from `Atom.app/Contents/Resources/app/src/browser/auto-update-manager.js`:

[code]

[2015-02-18 21:04] Dany0 opened #5622 "GCC - Mingw C/Lua build workflow"
Right now I have to have 3 cmd-line windows to debug the C/Lua project. One MSYS window to build the (Makefile) C source (if needed), another to launch the server and another to launch the client (SDL game).

I want to set up a better workflow with atom, a few build/run/debug profiles, a build and run server+client(optionally in gdb, even better if you could integrate gdb into atom), another to ju

[2015-02-18 21:06] maxbrunsfeld commented on #5621
@parlayvu can you try clearing out atom's stored state and trying again? If possible, please keep it around as it might help us debug this issue.

[code]

[2015-02-18 21:14] steelbrain commented on #5621
I hit a similar issue, and had to downgrade my atom. I am on Ubuntu 14.04

[2015-02-18 21:16] 50Wliu commented on #5617
Refs #5212 and #4653.

[2015-02-18 21:18] 50Wliu commented on #5620
#461?

[2015-02-18 21:27] rmartin commented on #274
hey @eddiemonge,

That's correct, I don't have 'Soft Wrap' enabled by default. The good news is that this works just fine as all i'm doing is adjusting the Fluxbox widths. You can see an example of this below.

Soft Wrap Demo:
![resize-panes-soft-wrap](https://cloud.githubusercontent.com/assets/119151/6257028/c166e98e-b771-11e4-8c62-f7d20cd5cff2.gif)

[2015-02-18 21:31] eddiemonge commented on #274
awesome, wanted to make sure it supported both cases. cant wait for this (or something like it) to land

[2015-02-18 21:52] nathansobo commented on #5163
@gregersrygg That's okay, just investigating things is helpful. One big issue is probably that merging intersection selections is N^2, which doesn't having the greatest scaling properties. We do need to merge them because if cursors overlap they need to be merged.

[2015-02-18 22:04] chrisgonzalez commented on #5411
@nathansobo Not sure as this is a new file, new project. Thanks for focusing on this!

[2015-02-18 22:06] fulldecent commented on #5595
Thank you, closing, moved https://github.com/atom/bracket-matcher/issues/109

[2015-02-18 22:06] #5595 closed

[2015-02-18 22:09] fulldecent commented on #5586
Find file is reasonable, I should have found that

[2015-02-18 22:17] martamius commented on #770
Was just wishing for this. Thanks @maxbrunsfeld!

[2015-02-18 22:20] maxbrunsfeld commented on #5621
@steelbrain @parlayvu can you upgrade to Atom v0.181, clear out your `$ATOM_HOME/storage` directory and try again?

[2015-02-18 22:23] parlayvu commented on #5621
@kevinsawicki After these things are sorted out I will try this. Thanks.

@maxbrunsfeld I will try this as well and update on my status. Thanks.

[2015-02-18 22:24] steelbrain opened #5625 "PackageState doesn't change when ProjectPath is changed programitcally"
[code]

[2015-02-18 22:28] nathansobo commented on #5411
@chrisgonzalez This should be resolved in `>=0.180.0`. Please let us know if you have further problems.

[2015-02-18 22:28] maxbrunsfeld commented on #5625
The property `atom.packages.packageStates` isn't part of Atom's public API; it's for internal use only. Can you explain why you're using it? There might be a different way to achieve what you're going for.

[2015-02-18 22:36] steelbrain commented on #5625
I am using it in a package which re-opens the last opened project.
I wanted to use `atom.packages.packageStates` to get the serialized data I have for that project. Opened files for example.

Because I need Opened Files for the Project that I set myself, not the default one, the state I get on activation is useless.

[2015-02-18 22:40] maxbrunsfeld commented on #5625
You shouldn't use `atom.packages.packageStates` for this. It has nothing to do with the project paths. There's no reason for it to change when calling `project.setPaths`.

[2015-02-18 22:40] #5625 closed

[2015-02-18 22:44] bobber205 opened #5626 "Extreme Performance issues after 0.180.0"
First I'd like to say the new text parsing improvements are GREAT. :dancer:

But I can only guess that they've caused a memory leak or something. After opening a few large files in a couple different windows and letting an hour or so pass by, my computer was barely responding.

![image](https://cloud.githubusercontent.com/assets/5841107/6258331/9af9be7e-b77c-11e4-9034-b13d1b3a4c93.png)

That red s

[2015-02-18 23:09] dmnd opened #5627 "join-lines should do the right thing when lines have a prefix (e.g. # or // comments)"
[code]

becomes

[code]

My feature request is for `editor:join-lines` to realize that both lines are comments, that comments have a common prefix, and thus to strip the prefix from the second line. So the result would instead be:

[code]

[2015-02-18 23:11] jackmaney commented on #5615
Just installed 0.181.0 on OS X, and it's working fine again.

[2015-02-18 23:11] kevinsawicki commented on #5617
0.181 is out now, could people try upgrading and see if this issue persists? Thanks :shipit:

[2015-02-18 23:15] maxbrunsfeld commented on #5621
@parlayvu can you report the output of these commands in the dev console?

[code]

[2015-02-18 23:15] maxbrunsfeld commented on #5621
Also, is this happening when you start atom with `atom --safe`?

[2015-02-18 23:25] ScuttleBird commented on #5617
Still the same issue for me, Windows 7, version 0.181.0

[2015-02-18 23:28] kevinsawicki commented on #5617
Can you try running the following from the Console tab in the dev tools (`ctrl-alt-I`):

[code]

[2015-02-18 23:35] ScuttleBird commented on #5617
["c:\Users\<Hide-Path>\Work\Macfarlane\public_html", "C:\Users\<Hide-Path>\Work\HouseSender\public_html"]
["C:\Users\<Hide-Path>\Work\HouseSender\public_html"]

[2015-02-18 23:40] maxbrunsfeld commented on #5617
@ScuttleBird and in that case, how did you open Atom? Which directory did you open?

[2015-02-18 23:41] ericwooley commented on #5617
[code]
still happening in 181, do you not have a windows box to test with?

[2015-02-18 23:44] maxbrunsfeld commented on #5617
@ScuttleBird @ericwooley can you try temporarily removing the contents of your `$ATOM_HOME/storage` directory and restarting Atom?

[2015-02-18 23:50] maxbrunsfeld commented on #5617
@ericwooley @ScuttleBird can you list your installed packages? @ScuttleBird does this happen if you start Atom with `atom --safe`?

[2015-02-18 23:59] ScuttleBird commented on #5617
Ok got it. It is working again as long as this plugin is turned off (https://atom.io/packages/save-session)

In version 0.180.0 I had turned this plugin off, but the file tree still would not update properly. In version 0.181.0 with this plugin off the file tree is working properly.

I had previously emptied the storage folder in version 0.180.0 and just now in 0.181.0, it didn't help in either ca

[2015-02-19 00:04] maxbrunsfeld commented on #5617
Ok that's good news. @green-mdoerflinger @Trudko can you report whether this problem persists in 0.181 with `atom --safe`?

[2015-02-19 00:08] ericwooley commented on #5617
Here is an ls of my packages folder
[code]
and here is my config.cson
[code]

Everything seems to be working with no plugins installed, I am attempting to figure out the circumstances in which things get screwed up.

[2015-02-19 00:14] ericwooley commented on #5617
Its open-last-project that is screwing it up. Unloaded everything works well, as soon as it's enabled it attempts to load the last project and the tree loads C:\Windows\System32, then upon reloading atom (with the plugin installed) it loads up "C:\Users\ewooley\AppData\Local\atom\app-0.181.0"

[2015-02-19 00:19] maxbrunsfeld commented on #5617
The `open-last-project` package [uses a private property](https://github.com/danielmahon/atom-open-last-project/blob/master/lib/open-last-project.js#L13) `atom.project.path`, rather than the public method `atom.project.getPath()`. That property is gone as of Atom 0.180.

[2015-02-19 00:23] ericwooley commented on #5617
Cool, created and issue for it and referenced this, so it should be easy for them to solve.
https://github.com/danielmahon/atom-open-last-project/issues/25

[2015-02-19 00:45] #3184 closed

[2015-02-19 00:45] #5493 closed

[2015-02-19 00:45] #5591 closed

[2015-02-19 00:46] kevinsawicki commented on #3184
I know this issue was initially about node 0.11, but since node 0.12 is out and supported vi #5628 I think this can be closed.

[2015-02-19 00:47] kevinsawicki commented on #5493
io.js and node 0.12 should now be supported via #5628, please comment if you see any issues once you pull that commit.

[2015-02-19 00:47] kevinsawicki commented on #5587
@franktopel Atom should now be buildable with node 0.12 via #5628, please let me know if you still see issues.

[2015-02-19 01:17] 50Wliu commented on #5468
Any updates on when io.js will be updated in Atom to include the linked fix?  I'm still getting this in 0.180.0.

[2015-02-19 01:29] steelbrain commented on #4416
I've created a package `language-hack` for it.

[2015-02-19 01:29] #4416 closed

[2015-02-19 01:34] lee-dohm commented on #5595
Thanks!

[2015-02-19 01:35] kans commented on #3184
@kevinsawicki
Latest master is still subject to the same problems for me. Any thoughts?

[code]

[2015-02-19 01:37] kevinsawicki commented on #3184
@kans can you try removing `apm/node_modules` and build again?

[2015-02-19 01:38] kans commented on #3184
@kevinsawicki
I think that did the trick, thanks!

[2015-02-19 01:39] kevinsawicki commented on #3184
Great, yeah, sorry, should have mentioned that that may be required depending on the state your Atom working directory is in.

[2015-02-19 03:31] basarat commented on #5138
I am getting the same issue. Only happens in some circumstances and its unclear why. E.g. you can see that it *shouldn't happen* in the below case as the path is in the project but yet *it does happen* i.e the file opens in a new window.

![image](https://cloud.githubusercontent.com/assets/874898/6261472/dbcf35d8-b843-11e4-9962-b19bf1d34b9b.png)

refs: https://github.com/TypeStrong/atom-typescript

[2015-02-19 04:58] mehcode opened #5629 "Minor release naming request for linux"
Could we get the version number in the *deb* file that is posted on the github downloads page. It's pretty straight forward for me to grab the next version every time its released but when I need to quickly rollback my folder has a bunch of `atom-amd64(N).deb` files.

Super minor and I'll no longer care once we get an offical PPA going but for the time being it'd be awesome.

[2015-02-19 05:10] telkomsel666 commented on #5411
#1

[2015-02-19 05:10] parlayvu commented on #5621
@maxbrunsfeld Yes this happens in safe mode too

atom.project.getPaths() returns an array with 2 strings ["/Fruity/Apple", "/Fruity/Grape"]
First item: the Apple folder thats always shows in treeview
Second item: the folder I wanted to open

atom.getLoadSettings().initialPaths returns an array with 1 string ["/Fruity/Grape"]
First item: the folder I wanted to open

[2015-02-19 05:17] telkomsel666 commented on #5411
#1

[2015-02-19 05:23] karloluis commented on #5627
This should be tied to some syntax or file-types in specific. This behavior is slightly unwanted in files where this might occur without code affiliation. But I hear you out that comments might benefit from this procedures. Good Catch! +1

[2015-02-19 05:32] basarat commented on #5138
workaround : use https://atom.io/docs/api/v0.181.0/Workspace#instance-open

[2015-02-19 05:38] karloluis opened #5630 "Dragging files into a new window is not possible"
I was trying to replicate the following issue (https://github.com/atom/atom/issues/5590) when I stumbled upon this one.

Dragging a file from window to another was not possible unless a previous file was already open. I had to open another (even if Untitled) file to be able to drag the tab onto the other window. The dragging symbol appeared, instead of the crossed circle for invalid, but after rel

[2015-02-19 05:40] karloluis commented on #5590
In my case the file tab dragging automatically saves the changes to the new window. Also found a new issue with crossing  tabs to other windows. (https://github.com/atom/atom/issues/5630)

Please let us know what OS, Atom version, and Atom theme (if not the default) you are using. This might come in handy.

[2015-02-19 05:44] alex commented on #5590
This was whatever the latest was yesterday 0.179 I think on OS X, One Dark theme with Base16 Tomorrow Dark for syntax.

[2015-02-19 05:49] karloluis commented on #5590
Windows seems to behave differently. I guess we are down to waiting for some of the Mac guys to replicate this.

[2015-02-19 08:18] green-mdoerflinger commented on #5617
Thanks for hunting it down!

[2015-02-19 08:18] #5617 closed

[2015-02-19 09:07] postcasio opened #5631 "New window command creates new file when window has no project path"
In 0.181.0 on OS X. Steps to reproduce:

1. `atom --safe`
2. `cmd-shift-n`
3. `cmd-shift-n` in the new window. A new file is created instead.

If you then open an existing file in the new window, giving it a project path, the new window command starts working again.

[2015-02-19 09:43] mkurde commented on #1603
+1

[2015-02-19 11:06] ricardograca commented on #5629
Duplicate of #4044.

[2015-02-19 11:59] izuzak opened #5632 "Cursor doesn't fully cover hard tabs, but only the first space of a tab"
Taken from: https://github.com/atom/atom/pull/2119

Current: ![image](https://f.cloud.github.com/assets/189989/2461189/6e0b44ca-af74-11e3-8f77-5a3db21c7dcc.png)

Desired: ![image](https://f.cloud.github.com/assets/189989/2461183/56305ce6-af74-11e3-985a-ddc437efae2a.png)

I'm tagging this as a feature request -- I think that even vim covers only the first space?

cc @execjosh

[2015-02-19 12:03] skandasoft opened #5633 "when opening multiple windows the folder name is ignored and open the atom folder - .after 0.181"
when opening multiple windows the folder name is ignored and it opens the atom folder. I think this is only after the forced update. So If I open 1 window with the folder and another with another folder the second window automatically goes to atom's folder. Is there option in window to downgrade.

[2015-02-19 12:27] izuzak commented on #5631
I can reproduce this in `0.182.0-ea7cd51`. cc @maxbrunsfeld

[2015-02-19 12:29] Trudko commented on #5621
Hi:) @maxbrunsfeld , my problem was actually resolved by renaming storage folder and running atom again (from command line at least). I've tried this on Windows 8.

PS: out of curiosity whats storage folder exactly for?

[2015-02-19 13:35] Stevo5o opened #5634 "Uncaught Error: ENOENT, open 'C:\xampp\htdocs\lessCoffee\main.less'"
[Enter steps to reproduce below:]

1. ... save less file
2. ...

**Atom Version**: 0.181.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT, open 'C:\xampp\htdocs\lessCoffee\main.less'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-19 14:21] dbrimeg opened #5635 "Uncaught SyntaxError: Unexpected string"
[Enter steps to reproduce below:]

1. Just opened Atom this morning by clicking the icon in my windows taskbar

**Atom Version**: 0.180.0
**System**: Microsoft Windows 7 Professional
**Thrown From**: Atom Core

### Stack Trace

Uncaught SyntaxError: Unexpected string

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-19 14:33] jeffjarchow commented on #3927
squirrel.exe was just removed from my system today by Symantec.cloud. It is their endpoint protection software. Luckily with Symantec it is an easy restore. I have been using atom for a few weeks now and this is the first time it has been reported as a suspicious item.

Version info:
[code]

Symantec Report:
[code]

[2015-02-19 14:35] ZehCnaS34 opened #5636 "Programmable snippets"
Just wondering if there is any way to make programmable snippets like in yasnippets for emacs.

Kinda like:
[code]

In this example, when typing `BrowserWindow` the text inside the require statement is converted from camel case `browser-window`

This would be awesome.

Anyway I could help?

[2015-02-19 14:37] izuzak commented on #5635
Seems like a problem with the save-session package. Can you try updating to Atom 0.181.0 and report it over at https://github.com/mpeterson2/save-session/issues if you can still reproduce?

You shouldn't be seeing this if you quit Atom and restart in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode). Let me know if you do.

[2015-02-19 14:37] #5635 closed

[2015-02-19 14:53] mehcode commented on #5629
@ricardograca Thank you.

[2015-02-19 14:53] #5629 closed

[2015-02-19 14:57] krtek opened #5637 "Combining One UI Theme with Solarized Syntax Theme results in coloring Atom UI"
Selecting any of the **One** UI Themes together with **Solarized** syntax highlighting results in weird colored Atom UI:

![screen shot 2015-02-19 at 15 49 19](https://cloud.githubusercontent.com/assets/422139/6268718/2e331b68-b84f-11e4-841d-d9573a7b487b.png)

Other combinations looks normal:
![screen shot 2015-02-19 at 15 56 23](https://cloud.githubusercontent.com/assets/422139/6268854/eca2ffaa-b

[2015-02-19 14:58] roonie opened #5638 "Uncaught Error: RegExp is not valid"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.180.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core
### Stack Trace

Uncaught Error: RegExp is not valid

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-02-19 15:04] dbrimeg commented on #5635
I updated but was not able to reproduce.

It only happened once.

[2015-02-19 15:05] mnquintana commented on #5638
Did you get this error while editing an EmberScript file?

[2015-02-19 15:05] postcasio commented on #5637
The One UI themes are designed to adapt to your current syntax theme. From the [README](https://github.com/atom/one-light-ui)...

[2015-02-19 15:06] roonie commented on #5638
No, while editing a rails erb file.
Now getting it constantly :(

[2015-02-19 15:07] krtek commented on #5637
Ooops. Sorry, I didn't realized that. Closing.

[2015-02-19 15:07] #5637 closed

[2015-02-19 15:08] roonie commented on #5638
After restarting atom the issue seems to be gone for now

[2015-02-19 15:18] thomasjo commented on #5636
Should be supported since Atom's snippets is based on TextMate's snippets. I haven't got time to verify, but check out the [relevant TextMate documentation regarding snippet transformations](http://manual.macromates.com/en/snippets#transformations).

[2015-02-19 15:30] conmarap commented on #5545
So far I've only been able to get it to spawn 1 or 2 background processes. Typical commands such as "Open Keymap" will spawn 1 when the window regains focus, but the main background process will use up to 30% of the CPU for 2 to 3 seconds. I'll close for now.

[2015-02-19 15:30] #5545 closed

[2015-02-19 16:21] ibnesayeed opened #5639 "Module Version Mismatch Error At Startup"
On my computer, Atom is failing at startup and throwing errors as shown below. As a result I am unable to use it for last couple of weeks.

OS: Ubuntu 14.10
Atom: 0.181.0
Node: 0.11.15
NPM: 2.5.1

[code]

[2015-02-19 16:39] thomasjo commented on #5639
Have you downloaded a pre-built distribution of Atom from atom.io, or are you building from source? If the latter, make sure you're using Node 0.10.x. Newer versions of Node are not officially supported, so you're likely to run into issues similar to what you've reported.

[2015-02-19 16:39] amiuhle commented on #5583
Same problem on Ubuntu 14.10 with io.js 1.2

[2015-02-19 16:41] 50Wliu commented on #5634
/cc @benogle something seems off with that commands list... :wink:.

[2015-02-19 16:47] ibnesayeed commented on #5639
I am using [WebUpd8 PPA](https://launchpad.net/~webupd8team/+archive/ubuntu/atom) to install and update my Atom. Which means I am not building it from source.

[2015-02-19 16:50] kevinsawicki commented on #5583
@amiuhle what commit did you try and build?

[2015-02-19 16:54] jmm opened #5640 "Uncaught Error: EEXIST, file already exists"
[Enter steps to reproduce below:]

1. Try to save a modified file.

Out of the blue trying to save a file triggered this error, after opening, editing, saving files from the same place for a while. The file is on a samba share. This seems similar to #5518, but in my case there's no sign of the disk having become unavailable. I can open and save other files from the same folder on the same share. B

[2015-02-19 16:55] thomasjo commented on #5639
I guess they are building using an unsupported version of Node. In the past this usually didn't lead to issues like this, but recent changes in atom-shell (IIRC) now means it's important that Atom is built using Node 0.10.x. Instead of using WebUpd8 bits, [download the latest official .deb release](https://github.com/atom/atom/releases/latest).

[2015-02-19 17:02] jmm commented on #5640
I realized it's because the file actually doesn't exist, because a git branch that doesn't contain the file is checked out. But I switch branches all the time and usually Atom automatically closes files that don't exist in the checked out branch. Maybe I accidentally edited the file (without saving) while its branch was checked out and then checked out the other branch. In a case like that, is thi

[2015-02-19 17:21] ibnesayeed commented on #5639
I have purged my installation and installed from the released deb file. It is working fine now. Thanks for the help.

Is there any plan to have an official Atom PPA? It is very convenient to update Atom along with every other package on the system suing the repository instead of downloading deb file and installing manually every time a new version is released.

[2015-02-19 17:21] lee-dohm commented on #5636
Yeah, I don't think the snippets mechanism in Atom is that advanced yet. In any case, this probably belongs on the [snippets package](https://github.com/atom/snippets). Would you mind moving it there @ZehCnaS34?

[2015-02-19 17:25] lee-dohm commented on #5639
#5628 has made Atom buildable by Node v0.12.x and IO.js v1.x on `master` now and should be available in the next release.

#2956 is tracking the desire to have an official PPA for v1.0. You can subscribe to that for updates.

[2015-02-19 17:26] ZehCnaS34 commented on #5636
No problem

[2015-02-19 17:26] #5636 closed

[2015-02-19 17:34] ibnesayeed commented on #5639
Thanks for the pointers @lee-dohm.

[2015-02-19 17:40] charleswhchan commented on #3480
Pasting large amount of plain text (~8000 lines) into a new file is also very slow.
~15-20 seconds on Windows (For comparison, Notepad++ takes <1s)

[2015-02-19 17:46] lee-dohm commented on #3480
#5534 should have helped with copy/pasting large amounts of text. Please try it again and let us know if this is still an issue.

[2015-02-19 18:42] driskell opened #5642 "Copy paste of text aligned with spaces (e.g. asterisk-aligned PHPDoc) sometimes loses the alignment with soft tabs off"
Easiest to reproduce with PHP grammar, and the "doc_f" snippet. Soft tabs needs to be off (it's fine with it on.)

Create a new PHP file and use doc_f snippet. You'll get a PHPDoc block which uses the recommended formatting - the asterisks are aligned vertically using an additional leading space.

When copy and pasting... this space is lost if you paste on an already indented line. ANIGIF below sh

[2015-02-19 19:08] benogle commented on #5634
The actual issue looks like is is probably caused by one of the linters or less processor packages you have installed. Try with `atom --safe` and let me know if it still happens. My money would be on `less-autocompile`

The commands are strange. It's the `moment` functions for formatting time. Maybe https://github.com/atom/notifications/commit/f6e02e9034389d45476b0ba0a9eed8d6e3a9206e has something

[2015-02-19 19:20] fulldecent commented on #5164
Link: https://github.com/atom/atom/search?q=deprecated&type=Code&utf8=%E2%9C%93

[2015-02-19 19:39] fulldecent commented on #863
For me, this is intuitive:

**A file is open and you press Cmd-W:** This closes the last file, and focus returns to the file tree so you can up/down/enter to open another file.

**No file is open and you press Cmd-W:** The full MDI window closes.

[2015-02-19 20:05] charleswhchan commented on #3480
Thanks @lee-dohm! I just upgraded to the latest 0.181.0 and can definitely see a significant improvement.

Subjectively, it is still not as fast as a native app like Notepad++. However I would say the same operation in Atom only takes ~1 to 2s (max) now. Definitely more usable than 0.179.0.

[2015-02-19 22:09] bombless opened #5644 "Search input box should trim carriage return"
I'm new for Atom so I don't have a clue how to fix this.

On Windows, I copy some text that have a trailing carriage return from other application, such as excel, notepad, then try to search the opening doc in Atom. Then I was surprising that there's no match. Because you cannot see the trailing carriage return in any form on the editor, you may not aware the fact that you are actually searching a

[2015-02-19 22:10] kevinsawicki commented on #5644
I believe this is a duplicate of https://github.com/atom/atom/issues/4400

[2015-02-19 22:10] #5644 closed

[2015-02-19 22:19] bombless commented on #5644
God, there _is_ a scroll bar there. Very funny.

[2015-02-19 22:28] bombless commented on #4400
I'd add a checkbox there named "Lock as single line".
But I guess dynamically change style of a DOM node is not our idiom? (I don't know.)

[2015-02-19 22:36] #5631 closed

[2015-02-19 22:37] Taiterio commented on #5612
Getting exactly the same error with versions 0.180 and 0.181, it works perfectly for me when using the installer for 0.179.

[2015-02-19 22:37] maxbrunsfeld commented on #5631
Thanks for catching this @postcasio and @izuzak.

[2015-02-19 22:57] jordanbtucker commented on #3636
This seems to get everything I care about for now:

[code]

[2015-02-19 23:14] #5525 closed

[2015-02-19 23:48] skandasoft commented on #5621
Is there any updates on this

[2015-02-19 23:55] maxbrunsfeld commented on #5621
@skandasoft most users reported that 0.181 in safe mode, plus maybe clearing their storage directory fixed the problem. Does the problem still appear for you? I still would really like to get to the bottom of it, but cannot reproduce the problem.

[2015-02-20 00:27] skandasoft commented on #5621
I am on windows..7 and as mentioned the first time window open with the proper directory..but If another window is opened with another directory it open the atom directory. so to replicate open a folder twice in  2 different windows..and the performance also there is a issue, it takes to put the tab title ..first time atom is loaded

[2015-02-20 05:06] basarat opened #5645 "Clicking on package name in search results does nothing"
![image](https://cloud.githubusercontent.com/assets/874898/6281718/5b0865f0-b91a-11e4-89ab-4eaa51a6a455.png)

Would be great if it opened atom.io/packages so that we can see what the package offers e.g. https://atom.io/packages/git-blame for the given example

[2015-02-20 08:08] miguelchico opened #5646 "Can not start atom on Windows 7"
I just donwloaded atom and installed and an exception appears:

![captura](https://cloud.githubusercontent.com/assets/6106661/6283129/14d8f926-b8e0-11e4-8bda-ece442bdcaf9.PNG)

I have the same problem in safe mode

[2015-02-20 08:43] meventi-stephan opened #5647 "Wrong project path shown"
After updating git-plus and open-last-project (versions are shown below) the wrong project path is shown (view image below). The path is shown now, where atom is installed. I can't change the folder also. This problem happens on 2 pc clients, where atom is installed.

 Image:
![atom](https://cloud.githubusercontent.com/assets/5426291/6283405/a9833862-b8e4-11e4-8eed-8373fd403429.png)

I use followi

[2015-02-20 09:09] amiuhle commented on #5583
Tried on both `v0.180.0` and `v0.181.0`

[2015-02-20 09:32] Globegitter commented on #3673
Yep same here - really like Atom Text editor, but the only thing so far noticeably worse compared to Sublime is performance. Especially startup time, having roughly the same amount of plugins. Hope there is still some room for improvements.

[2015-02-20 11:00] Kev commented on #4095
Hi, has there been any progress on this (still seems to be a bug in the latest), or is there any additional information anyone can give to help?

It's more serious than just not rendering in the sidebar - because Atom thinks these files are ignored, it won't open them in the normal way either.

[2015-02-20 12:16] 50Wliu commented on #5645
This is being handled in atom/settings-view#373.

[2015-02-20 12:16] #5645 closed

[2015-02-20 12:41] 50Wliu commented on #5647
Please upgrade `open-last-project` to the latest version.

[2015-02-20 12:43] thomasjo commented on #5647
This almost surely caused by a bug in either [project-manager](https://github.com/danielbrodin/atom-project-manager), [git-plus](https://github.com/akonwi/git-plus), or [open-last-project](https://github.com/danielmahon/atom-open-last-project). To double check, see if the problem goes away when launching Atom in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-pr

[2015-02-20 13:13] steelbrain commented on #5647
I am using the same version of `Open-Last-Project` and I can confirm that it's not a bug in that package.

[2015-02-20 13:15] thomasjo commented on #5647
@steelbrain Thanks for the info!

This means we've narrowed it down to either project-manager and/or git-plus being the culprit.

[2015-02-20 13:24] TouPye opened #5648 "Can't create a new file"
It seems I can't create a new file on the current Atom window, neither using `FIle > New file` nor `Ctrl+N`

I updated form 0.180.0 to 0.181.0 this morning. No other update nor package install.
After the update, I noticed  a problem with y tree-view (#5617), and re-opened my usual folder.

The only way I found to create a new file is to *open a folder* (wich creates a new Atom window according to

[2015-02-20 13:34] thomashermant opened #5649 "Uncaught TypeError: Cannot read property 'copy' of undefined"
[Enter steps to reproduce below:]
1. Fold some method
2. Select these folded method
3. CUT (cmd+x)
   -> error is displayed

**Atom Version**: 0.181.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core
### Stack Trace

Uncaught TypeError: Cannot read property 'copy' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-02-20 13:39] thomashermant commented on #5649
Hummm ...

Sorry I have unfolded these methods then cut it -> it's working
Then I retry to reproduce the bug : folding these methods and cut it...
but it's working now...

I've got this error 4 times before submit the issue
Sorry guys (and girls)

[2015-02-20 14:02] mnquintana commented on #5648
Can you reproduce this in safe mode? (ie. `atom --safe`)

[2015-02-20 14:17] TouPye commented on #5648
Nice point here @mnquintana :
- when I launch Atom from the console (with or without safe mode) I can create a new file.
- when I launch Atom from my desktop shortcut, I can't create a new file.

[2015-02-20 14:21] meventi-stephan commented on #5647
I opened atom in safe mode, but the problem still exists.

[2015-02-20 14:22] meventi-stephan commented on #5647
And i have already updated to latest version of all installed packages at the moment.

[2015-02-20 14:46] clemorphy commented on #1909
+1
I absolutely need this

[2015-02-20 15:14] hswolff commented on #5621
So I am encountering this issue as well.  I can't find steps to reproduce this however I did realize that if I cleared my `.atom/storage` folder it fixes the issue.

I then looked inside the files in `storage/` and noticed that out of all the files only one of them had its `project` array with two values:

[code]

When I removed the path to the undesiredRepo everything started working again.

Hope

[2015-02-20 15:25] nallie opened #5650 "Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/6to5-core/node_modules/regenerator-6to5/node_modules/commoner/node_modules/iconv-lite/lib/index.js'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/6to5-core/node_modules/regenerator-6to5/node_modules/commoner/node_modules/iconv-lite/lib/index.js'

[code]

### Commands

[code]

### Confi

[2015-02-20 15:28] skandasoft commented on #5621
clear your storage...that worked..:) thanks

[2015-02-20 15:29] skandasoft commented on #5633
clearing storage fixed the issue..

[2015-02-20 15:29] #5633 closed

[2015-02-20 15:49] izuzak commented on #5650
Can you try upgrading to 0.181.0 and see if that helps?

Similar to https://github.com/atom/release-notes/issues/29 and https://github.com/atom/tree-view/issues/377.

[2015-02-20 15:51] izuzak commented on #5650
@atom/core There's a couple of these issues around: atom/release-notes#29, atom/tree-view#377 and this one. All seem to be <0.179.0, I haven't seen a report for 0.180.0 or higher. Not sure if that's relevant. And as far as I can tell, it's not reproducible.

Anyway, I have no idea why this might be happening. Just wondering if you have any :thought_balloon: or :bulb:.

[2015-02-20 15:58] nallie commented on #5650
I currently am using 0.181.0 and that error is not reproducible on my end either. I installed file-icons, restarted atom, then tried to save and it gave me that error. Closed atom, open the file, then saved; I had no problems. Maybe it was just a one time thing? Thanks for the quick response.

[2015-02-20 16:34] izuzak commented on #5608
@mark-hahn As @postcasio said -- you shouldn't really be poking inside Atom's configuration folders and expect it to behave in a certain way. Instead, you should use `apm link` and `apm unlink` to link/unlink your development folder into Atom. Is there a reason why you can't use the workflow for which there are specific apm commands?

1. create a development folder outside `~/.atom`
2. use `apm li

[2015-02-20 16:39] 50Wliu commented on #5647
Please try clearing your storage directory (`~./atom/storage`).

[2015-02-20 16:40] postcasio commented on #5608
Yes, I agree. Would be nice to fix but I don't think it's a pressing issue.

[2015-02-20 16:45] lexicalunit opened #5651 "Tree View "Hide Ignored Names" not working."
![nothidden](https://cloud.githubusercontent.com/assets/1903876/6301517/6ed4b86e-b8ec-11e4-86fe-19111dd53b81.png)

[code]

[code]

[code]

And from within the repository which is being displayed in the screen shot:

[code]

[2015-02-20 16:55] meventi-stephan commented on #5647
I cleaned my storage directory and started atom. But the bug still exists.

[2015-02-20 17:00] mark-hahn commented on #5608
specific apm commands?

Can APM clone a repo and start using it?  What if the repo name doesn't
match the package name?

I'll do some more testing and tell exactly what behavior seems like a bug
to me.

On Fri, Feb 20, 2015 at 8:40 AM, dominic <notifications@github.com> wrote:

[2015-02-20 17:04] postcasio commented on #5608
match the package name?

You can use `apm develop package-name` to clone an Atom package and automatically link it into `~/.atom/dev/packages`. It works regardless of the repository name.

[2015-02-20 17:04] izuzak commented on #5608
Yep:

[code]

See my comment above in which a package I have has a different repo name (atom-pdf-view) from the name in package.json (pdf-view). Everything works. https://github.com/atom/atom/issues/5608#issuecomment-74893315

[2015-02-20 17:07] lexicalunit commented on #5651
Actually, let me open this ticket in the atom/tree-view project.

[2015-02-20 17:07] #5651 closed

[2015-02-20 17:22] maxbrunsfeld commented on #5621
Thanks for the report @hswolff, @skandasoft. Is anyone still experiencing this issue on Atom >= 0.181 with `atom --safe`, after clearing `$ATOM_HOME/storage`?

Sorry for the annoyance; we had to make a change to how we deal with project paths, which apparently caused problems for certain saved editor states.

[2015-02-20 17:27] mark-hahn commented on #5608
I was referring to a community package, not a core package.  Here is the sequence to reproduce one of several bugs.

- cd to ~/.atom/packages
- git clone https://github.com/izuzak/atom-pdf-view.git
- cd atom-pdf-view
- npm install
- atom --dev .
- Open settings
- click on packages
- search for pdf
  - wrong package name of `atom-pdf-view` appears
- click on `atom-pdf-view`
- `atom-pdf-view` settin

[2015-02-20 17:28] kevinsawicki commented on #5608
You want `apm install`

[2015-02-20 17:28] kevinsawicki commented on #5608
That is why the incompatible native module icon is shown in the status bar

[2015-02-20 17:35] izuzak commented on #5608
I was referring to a community package as well.

@mark-hahn Can you explain the _need_ to manually create/change things in Atom's ~/.atom/packages folder? Why is cloning to a folder **outside** the ~/.atom folder and using `apm link` not a workflow you can use?

1. cd ~
2. git clone https://github.com/izuzak/atom-pdf-view.git
3. cd atom-pdf-view
4. apm link or apm link --dev
5. apm install
6. star

[2015-02-20 17:35] steelbrain commented on #5651
Finally someone who moved their issue themselves, Yayyyy! :smile:

[2015-02-20 17:36] mark-hahn commented on #5608
I originally tried apm install and got the error below so I switch to npm install.

[code]

[2015-02-20 17:38] izuzak commented on #5608
Can you try a different package? That's exception is different issue, related to https://github.com/atom/apm/pull/292

[2015-02-20 17:40] mark-hahn commented on #5608
I've never used an external folder because `apm link` didn't work in windows when I first used Atom.  I'll reverse the question.  Why is using the projects folder a workflow I can't use?  I've used it for 9 months.

[2015-02-20 17:40] izuzak commented on #5608
Ahh it's not related to that, but it's definitely a different issue.

[2015-02-20 17:42] mark-hahn commented on #5608
You use the dev folder for community packages?  I thought that was for core packages.

So we have three locations to consider.  The dev folder, the packages folder, and an external folder.  What are the rules about these folders?

[2015-02-20 17:44] izuzak commented on #5608
Because you're having expectation outside of officially supported behavior. The ~/.atom folder is folder for Atom, a program, not you, a human. If you want to use those folders as a human - you should follow the same rules followed by Atom when it uses that folder. If you don't follow the rules, then you're on your own.

[2015-02-20 17:46] izuzak commented on #5608
The recommendation is: use `apm link` and `apm link --dev` to link folders from outside of `~/.atom` into it.

[2015-02-20 17:53] mark-hahn commented on #5608
I repeated the test with `atom-the-closer`.  Showing the steps after Atom opened ...

- click on packages
- search for `closer`
  - wrong package name of `atom-the-closer` appears
- click on `atom-the-closer`
- `atom-the-closer` settings appear, again with wrong name
- click on `atom-pdf-view` at top

This time there was no error in the console but nothing happened.

OK, let's assume I'm breaking

[2015-02-20 17:56] izuzak commented on #5608
Do what `apm link` does -- it uses the name of the package from package.json as the name of the folder in `~/.atom/packages` or `~/.atom/dev/packages`.

[2015-02-20 18:06] mark-hahn commented on #5608
That worked.  So now I know the rule.  User package folders must be outside of `~/.atom`.  I will remember that.

I'm sorry for the trouble but you can see how it looked broken.  Especially after using Atom for so long with everything in the packages folder.

[2015-02-20 18:06] #5608 closed

[2015-02-20 18:08] mark-hahn commented on #5608
BTW, it still bugs me that the name of the folder doesn't match the package name.  It makes looking for them harder.  Looking for `atom-xxx` after not finding it where it belongs isn't very hard.  But the developer could name the folder something totally unrelated.  Oh well.

[2015-02-20 18:14] jmm commented on #5640
Atom has also gotten really flaky in general about updating files that have changed on disk, e.g. when switching git branches. I would prefer that there be an option to prompt before updating a file that has changed on disk, but now it often just silently doesn't do anything (update or prompt) when a file has changed on disk. And there's *still* not even a `File > Revert` command. I think I starte

[2015-02-20 18:15] mnquintana opened #5652 "Latest release (0.182.0) includes old .nupkg downloads"
![image](https://cloud.githubusercontent.com/assets/823545/6306554/68494abc-b902-11e4-8d03-6d88ea593783.png)

Not sure what happened with this build, but it's showing 0.181.0 `.nupkg` files in addition to the latest release's files.

[2015-02-20 18:23] calekennedy opened #5653 "FSPathMakeRef(/Applications/Atom.app) failed with error -43."
I suddenly started getting this error -- after using atom without issue for over a year.

I just completely uninstalled and reinstalled atom following these steps
Delete the app from the Applications folder
rm -rf ~/.atom
rm /usr/local/bin/atom
rm /usr/local/bin/apm
rm ~/Library/Preferences/com.github.atom.plist
rm ~/Library/Application Support/com.github.atom.ShipIt
rm -rf ~/Library/Application S

[2015-02-20 18:27] lexicalunit commented on #2203
:+1: would use this feature every day!

[2015-02-20 18:30] lexicalunit commented on #5651
I feel bad for even having opened the ticket in the wrong project >.<

[2015-02-20 18:37] maxbrunsfeld commented on #5648
@TouPye can you try removing the contents of your `$ATOM_HOME/storage` directory and restarting Atom?  Also, we've noticed problems with the `open-last-project` package after 0.180.0. An issue has been created for this: https://github.com/danielmahon/atom-open-last-project/issues/25.

[2015-02-20 18:41] parlayvu commented on #5621
@maxbrunsfeld It seems to be working now on 0.182 Mac 10.9.5. I haven't had time to fully test but I'll see how it goes the next day or two as I work.

[2015-02-20 18:46] izuzak commented on #5608
I wouldn't say it's a must. The recommendation is more general: use supported tools and workflows instead of manually creating/changing things within Atom's ~/.atom folder. The bump in the road you hit might be a bug and Atom really should use the name from package.json if it's available. But there might be other bumps. That's why I'm encouraging you to use supported tools and workflows -- you avo

[2015-02-20 19:01] kevinsawicki commented on #5652
Thanks so much for reporting this, I think the CI machines failed to delete these, I've removed them manually.

[2015-02-20 19:01] #5652 closed

[2015-02-20 19:04] TouPye commented on #5648
@maxbrunsfeld emptying `/storage` didn't change anything, but disabling `open-last-project` seems to fix it.

I guess the problem comes from `open-last-project` then. I'll follow the issue you linked.

[2015-02-20 19:10] paulcbetts commented on #5612
Can you try this on 0.182?

[2015-02-20 19:13] paulcbetts opened #5654 "Atom Versioning Scheme will fall over in ~70 releases on Windows"
On Windows, every block of the version number (i.e. X.Y.A.B) is limited to the range [0-255]. Currently this number is a monotonically increasing number on the minor version on Windows, which will eventually fail once we hit 0.256.0. Plenty of time to fix this, but that's precisely why I wanted to bring it up *now* and not *later* :)

[2015-02-20 19:25] maxbrunsfeld commented on #5648
Alright thanks for the report @TouPye.

[2015-02-20 19:25] #5648 closed

[2015-02-20 19:31] kevinsawicki commented on #5654
Thanks for the heads up :+1:

[2015-02-20 19:50] mystickphoenix opened #5655 "Atom 0.180+ Detected as Malware via Comodo"
On install of the .deb package (from 0.180.0 on), Comodo determines that the following file is malware under the **Heur.Deual.Extensions@@4294967295** name.

    /tmp/temp-lintian-lab-EZeXThRA8O/pool/a/atom/atom_0.182.0_amd64_binary/unpacked/usr/share/atom/resources/app/node_modules/6to5-core/node_modules/core-js/src/core.log.js

[2015-02-20 20:04] gregmac commented on #4944
Generally speaking, code etiquette is to maintain the original style of the code. When using Atom to edit other people's code, because of the defaults in the whitespace plugin, you end up inadvertently doing changes that would be just as offensive in a PR as changing to tabs, or changing variables to `underscore_case`, or changing line endings to Windows format.

I think this is actually so harmfu

[2015-02-20 20:07] quozd commented on #1737
+1

[2015-02-20 20:20] fundon opened #5656 "File autoload and append a newline when disabling whitespace.ensureSingleTrailingNewline"
The `whitespace.ensureSingleTrailingNewline` was disabled.
But it still appends a newline.

My steps:

0. open `package.json` in Atom
0. exec command `$ npm i xx@latest --save` in Terminal

[2015-02-20 20:37] jeremy-engel opened #5657 "Different character widths in OS X and Linux"
Using Atom 0.182.0 in OS X and Mint 16 produces different results for the same file. In the screenshots below, the top figure is on the linux version and the bottom is in OS X. The width of the non-breaking hyphen (‑) differs, as you can see from the alignment towards the end of that row.

![screenshot from 2015-02-20 12 27 28](https://cloud.githubusercontent.com/assets/4955347/6308803/3b65c382-b8

[2015-02-20 20:49] 50Wliu commented on #5656
Can you reproduce this using `atom --safe`?
What Atom version are you using?

[2015-02-20 20:54] fundon commented on #5656
The latest version v0.182.0.
And using `atom --safe`, it's also happend.

[2015-02-20 20:58] 50Wliu commented on #5656
This issue was moved to atom/whitespace#58

[2015-02-20 20:58] #5656 closed

[2015-02-20 21:32] jmm commented on #5640
I also now often have to collapse and expand folders in the tree view to get new files to show up.

[2015-02-20 22:29] emarques commented on #5612
Got the same error in the same file

[code]

[2015-02-20 22:33] paulcbetts commented on #5612
@emarques Do you have an Antivirus app installed?

[2015-02-20 22:51] charleswhchan commented on #3673
On my PC:
- Notepad++ starts up <1s
- Atom v0.181.0 starts up ~3-5s (clean install)

Noticeably improvement! Keep up the good work.

[2015-02-20 23:15] emarques commented on #5612
@paulcbetts I have Comodo Internet Security Premium installed, I've disabled it and everything went smooth while installing :+1: thanks

you may close this issue :smile:

[2015-02-20 23:17] maxbrunsfeld commented on #5647
@meventi-stephan does this bug still occur if you clear your storage directory and then immediately open Atom with `atom --safe`?

[2015-02-20 23:41] kevinsawicki commented on #5646
Can you include the text if you expand the arrow on the `Error` line?

[2015-02-20 23:46] kevinsawicki commented on #5626
What platform are you on? Is this happening consistently for you? If so, for all projects or only certain projects? If it occurs consistently for a specific project, could you share a link to its repository so I can try and reproduce?

[2015-02-21 00:40] maxbrunsfeld commented on #770
* [x] Tree view
* [x] Fuzzy finder
* [x] Git diff
* [ ] Find and Replace (`atom.workspace.scan`)
* [ ] Open on GitHub

[2015-02-21 00:57] lee-dohm commented on #5657
Can you post the test file here or as a Gist?

[2015-02-21 01:08] grizzilus commented on #5657
This isn't the same file but it a nice simple example to make it clear.

[code]

First line is non-breaking hyphen and a pipe. The second line is a space and a pipe. The pipes are just there so show the placement of the second column differs from the first line to the second (on linux).

[2015-02-21 01:35] 50Wliu commented on #5657
I can confirm on Atom 0.181.0, Ubuntu 14.10.

[2015-02-21 03:50] sebmck commented on #5655
It's a false positive, see babel/babel#801.

[2015-02-21 04:20] Taiterio commented on #5612
Had Comodo aswell, but Atom didnt show up in any of the antivirus events, disabling it worked though; should have checked that out earlier :D

[2015-02-21 06:57] meventi-stephan commented on #5647
@maxbrunsfeld: If i clear my storage directory and open atom with ```atom --safe``` it works normally again. And i can open for example another folder.

[2015-02-21 07:14] maxbrunsfeld commented on #5647
@meventi-stephan Ok that's good. If you're interested in helping further to track this down, it'd be great to get more facts about exactly *which* package (`open-last-project`, `project-manager`, etc) or combination of packages caused this, as a number of people have reported similar issues.

In any case, sorry for the trouble. We had to make a change to how we deal with project paths internally,

[2015-02-21 07:24] mMerlin opened #5661 "Error: Could not locate the bindings file for pickle.node"
Environment 32 bit Fedora 21 3.18.7-200.fc21.i686
running as a guest VM in VirtualBox on Windows 7
atom repository tag v0.182.0

both .script/build and .script/grunt install finish with the "Done, without errors" message, but before that report:

[code]

where {pickle path} is build/node_modules/grunt-atom-shell-installer/node_modules/asar/node_modules/chromium-pickle

{pickle path} exists, but no

[2015-02-21 07:27] meventi-stephan commented on #5647
@maxbrunsfeld: No problem. In my initial bug description i mentioned that after updating git-plus and open-last-project the wrong project path is shown (update time was 18/19 February 2015). I hope this can help you.

[2015-02-21 07:37] meventi-stephan commented on #5647
@maxbrunsfeld: Another info for you. A colleague uses Atom IDE with an Apple Laptop, but he hasn't got this problem at the moment. But he was wondering, why my Atom IDE versions on Windows are now 0.180 and 0.181 (i have two Atom IDE installations) and his Atom IDE version is still 0.179.

[2015-02-21 08:27] nikolaydyankov opened #5662 "Can't add a subfolder of a root folder as another root folder"
Example:

Folder_A
----- Folder_B
----- Folder_C
----- Folder_D
---------- Folder_E
---------- Folder_F

In this situation Folder_D can't be added as a root folder. Desired result:

Folder_A
----- Folder_B
----- Folder_C
----- Folder_D
---------- Folder_E
---------- Folder_F
Folder_D
----- Folder_E
----- Folder_F

[2015-02-21 08:27] maxbrunsfeld commented on #5647
The Mac version should auto-update just like the windows one. You can force Atom to check for an update from the `Atom` menu.

[2015-02-21 08:30] nikolaydyankov opened #5663 "When adding a Root Folder all other root folders are expanded"
When adding a Root Folder all other root folders are expanded.

[2015-02-21 08:34] karloluis commented on #5662
Well you ARE trying to access already locked memory space. This would be conflicting to keep files uncorrupt upon saves. Is there anything specific that you wish to perform? It seems there would be no need for this level of functionality since the folder is already in the scope of Atom's process.

[2015-02-21 08:37] nikolaydyankov commented on #5662
For example I have my "Work" folder as my root folder and I have a WordPress installation within that folder. I would like to add the "wp-plugins" as a second Root Folder for easy access.

You could do that in Sublime and I found it very convenient.

[2015-02-21 08:39] batjko commented on #5662
As far as I know multiple root folders are not supported yet.
It's an often-requested feature and on the list though.

[2015-02-21 08:42] nikolaydyankov commented on #5662
It's in version 0.182.0

[2015-02-21 08:44] karloluis commented on #5662
I was about to write something along the lines of what @batjko just said but it seems that there is such a functionality. I figured what you ment by this post and wil be coming up with something shortly. In the meanwhile check out the v1.0 goals because there might be some information about this on there.

[2015-02-21 08:44] batjko commented on #5626
Also, to cover the basics... Is it reproducible in safe mode (`atom --save`) and how many tabs / files do you have open while it happens?

[2015-02-21 08:50] batjko commented on #5662
Ah! There is an "Add Root folder" feature now.
Wow, that completely passed me by.

[2015-02-21 08:51] nikolaydyankov commented on #5662
Sorry @karloluis I didn't understand... "wil be coming up with something shortly" - so this feature will be added soon?

[2015-02-21 08:55] karloluis commented on #5662
It seems there is a mechanism to this, it is able to root parent directories but not sub's. I do not know for sure but I am fairly certain it is a safety method. Managing the scope of the accessed files is tricky when you have multiple instances on callback.

Think of it like this.
Folder_A
----- Folder_B
----- Folder_C
----- Folder_D
---------- Folder_E
---------- Folder_F

If you where to open A

[2015-02-21 09:04] karloluis commented on #5663
Unreplicable on my end. Any further info that you can provide?

Start with OS and current version of Atom please.

[2015-02-21 09:17] nikolaydyankov commented on #5662
Thanks, that worked!

[2015-02-21 09:23] nikolaydyankov commented on #5663
Atom 0.182.0
OSX 10.10.2 (14C109)
![untitled-3](https://cloud.githubusercontent.com/assets/1205055/6313566/0147f312-b9bc-11e4-86f4-e61cbe96761c.png)

[2015-02-21 09:23] karloluis commented on #5662
Glad to help.

[2015-02-21 09:30] karloluis commented on #5663
Well that's silly and easily replicable. Just confirmed it on my end, this is probably some iffy line of coding in the action button. Hopefully it get's patch very fast, should be an easy fix.

Good catch.

[2015-02-21 10:15] miguelchico commented on #5646
I updated to version 0.182

[2015-02-21 11:02] lmartins commented on #4293
Thank you, this does improve things for me too.

[2015-02-21 11:37] nesmyslny commented on #4254
Just want to let you know, that this issue is fixed (at least in my case). I'm using 0.182.0, but skipped 180 and 181. Version 0.180.0 included a fix regarding key bindings, so maybe that also fixed this issue.

@autochthe Can you confirm, that the issue is fixed?

[2015-02-21 11:44] zsgalusz commented on #3426
I disabled every package including the default ones (save for settings-view) and AtomHelper was still gnawing 1-2% while idling in the background. Just switching to Atom and scrolling the settings spawns another AtomHelper using 30-50% CPU that stays until I switch away again. This is on a 2013 rMBP, Atom 0.182.0.

[2015-02-21 12:14] chrippa commented on #3622
@artiifix's workaround works great for the regular cursor, but this issue also causes vim-mode's command mode cursor to disappear. Here is a workaround for vim-mode aswell:

[code]

[2015-02-21 14:39] bric3 opened #5664 "markdown miss-hightlight "bash" when there's the word "until""
I was writing a simple git documentation for some colleagues, with bash hightlighted snippet, but Atom miss-highlight if there's the `until` word and only with the bash style.

[code]
[code]

[2015-02-21 15:06] izuzak commented on #5664
This issue was moved to atom/language-gfm#78

[2015-02-21 15:06] #5664 closed

[2015-02-21 15:39] #5662 closed

[2015-02-21 15:40] 50Wliu commented on #5663
/cc @maxbrunsfeld

[2015-02-21 16:10] #5647 closed

[2015-02-21 17:04] TheKing42 commented on #1603
Temporary Work Around, run it from the terminal in the folder. It should remember enough stuff for it not to be annoying, and it won't block the terminal.

[2015-02-21 17:27] LinusU commented on #5527
Happend to me as well. I opened an empty document pasted in some text. Then marked part of that text and removed it. Upon pressing command + Z to undo, the error presented itself.

[code]

[2015-02-21 19:16] johnkors opened #5665 "Uncaught Error: EROFS, read-only file system '/Volumes/RECOVERY/recovery.cmdline'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.174.0
**System**: Mac OS X 10.8.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: EROFS, read-only file system '/Volumes/RECOVERY/recovery.cmdline'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-21 19:36] 50Wliu commented on #5665
Please upgrade Atom to the latest version (currently 0.182.0).

[2015-02-21 19:36] #5665 closed

[2015-02-21 19:53] johnkors commented on #5665
Thanks, that works :)

[2015-02-21 20:38] composer22 opened #5666 "Do we really need 3 dot releases in three days?"
How about a little temperament on the release cycle so we can actually work with the tool @ stability,  acceptance test it out, digest functional changes and the like, instead of continually having to sync builds?

End of Comment

[2015-02-21 20:47] 50Wliu commented on #5666
Those new releases were to improve stability and dramatically increase performance in certain areas.  In addition, unless you're on Linux, those new versions shouldn't be interrupting your workflow.

[2015-02-21 22:11] vks commented on #3826
I also have huge, unusable menus.

How does Atom decide how large the menu bar is rendered? I have a high dpi display, and increasing `Xft.dpi` in `~/.Xresources` makes Atom's menu huge and unusable. It seems it uses some custom way to draw the menus and screws it up.

[2015-02-21 22:19] composer22 commented on #5666
The point: Its sloppy development and deployment.  All the "improved stability and dramatically increased performance" should have been included in the original *official* build.

If you are unsure about the stability or performance of a public release, release it with an alpha or beta designator so we can bypass our acceptance process and wait for something more rock solid.

[2015-02-21 22:21] dantreasure opened #5667 "Uncaught Error: No line exists for row 18. Last screen row: 17"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.180.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: No line exists for row 18. Last screen row: 17

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-21 22:26] 50Wliu commented on #5666
Atom *is* currently in alpha right now, hence `0.x.y`.
If this release cycle continues when it hits v1, then there's a problem.  But alpha/beta users should be prepared to be hit with many new versions as the product stabilizes.

[2015-02-21 22:29] 50Wliu commented on #5323
@BrandonDusseau can you still reproduce this?  I just updated to 0.182.0 and no new shortcut appeared (I didn't have a shortcut before updating, either).

[2015-02-21 22:32] 50Wliu commented on #4653
This is back.  Just updated to 0.182.0 from 0.179.0, though I'm pretty sure it also happened 0.174.0-->0.179.0.

![bad](https://cloud.githubusercontent.com/assets/2766036/6316282/8d190ae2-b9ef-11e4-8a66-81dc24bf6395.png)

[2015-02-21 22:32] composer22 commented on #5666
I'm not using it as an alpha, but it's a fair-enough point and response.

Closing ticket.

[2015-02-21 22:32] #5666 closed

[2015-02-21 22:32] russlescai opened #5668 "after update install directory is opened"
Minor issue, but happened a few times, so I thought I would raise it.

Whenever an update is downloaded, the menu item "Install Update and Restart" appears.

When I do this, it reopens, with the treeview showing the newly installed application files (e.g. for windows:
C:\Users\AppData\Local\atom\app-0.181.0
After the restart, I would prefer it either reopen the treeview I had previously opened, or

[2015-02-21 22:34] 50Wliu commented on #5667
Hi @dantreasure, can you please try to reproduce this in safe mode (`atom --safe`)?  What were you doing when this happened?  Does this happen in the latest Atom version (currently 0.182.0)?

/cc @nathansobo

[2015-02-21 22:35] 50Wliu commented on #5668
Welp, I just re-opened my old ticket as well :P.

[2015-02-21 22:36] 50Wliu commented on #5668
Going to close this and keep discussion over at #4653.

[2015-02-21 22:36] #5668 closed

[2015-02-21 22:37] russlescai commented on #5668
sure thing :)

[2015-02-21 22:54] cyphunk opened #5669 "Remove Spyware features please"
You can only avoid having your constant call backs to google analytics or atom.io servers described as something other than spyware when you ask the user first if they would like you to turn on these features.

Your access to google analytics should only be enabled with the "send anonymous statistics to improve product" button, as most half decent non-spyware applications do.

Your access to atom.

[2015-02-21 23:00] 50Wliu commented on #5669
For the first part of your question (about Metrics), please see [this comment](https://github.com/atom/metrics/issues/16#issuecomment-36307675) for why it is currently enabled by default.

In addition, the installer that Atom is currently using is also in beta, and I don't believe it has a UI that allows you to check/uncheck certain features yet (@paulcbetts, can you confirm?).

[2015-02-21 23:15] mark-hahn commented on #5666
I don't understand what alpha and beta mean in the context of a programming
utility.  You are either using it or not.  It's not like it gets installed
on a server.

On Sat, Feb 21, 2015 at 2:33 PM, Bryan-Kirk Reinhardt <
notifications@github.com> wrote:

[2015-02-21 23:16] 50Wliu opened #5670 "Atom icon is still pixelated in certain occasions"
This was mentioned in a different issue (https://github.com/atom/atom/issues/5500#issuecomment-73915709) but its own dedicated issue was never opened, so here we are.

The Atom icon still shows as pixelated (#4811) when the "No Update Available" box appears:
![image](https://cloud.githubusercontent.com/assets/2766036/6316455/58492bb6-b9f5-11e4-9ee4-c0452663dc72.png)

Something interesting to note

[2015-02-21 23:23] cyphunk commented on #5669
Beta, aha. Well if beta is the excuse make sure the installer has a glaring warning explaining that "metrics will be collected" and asking the user to give their "ok" before continuing installation. Or add an option in the preferences to turn this option off

[2015-02-21 23:27] 50Wliu commented on #5669
There is at least an option in Settings (albeit a bit hard to find, but that's another issue that's being tracked).  Settings (<kbd>Ctrl</kbd>+<kbd>,</kbd>)-->Packages-->Metrics-->Disable.

In addition, the first file that gets shown when Atom is first installed (`Welcome.md`) contains a notice warning you about Metrics, but not about auto-updates (at least I don't think so).

[2015-02-21 23:34] mark-hahn commented on #5669
BTW, Atom metrics do not fit the definition of spyware.  From wikipedia ...

"*Spyware* is software <http://en.wikipedia.org/wiki/Software> that aids in
gathering information about a person or organization without their
knowledge and that may send such information to another entity without the
consumer's consent, or that asserts control over a computer without the
consumer's knowledge".

It does n

[2015-02-21 23:52] Quantum64 opened #5671 "Can't install Atom"
Atom became horribly broken to the point where I couldn't open it, so I uninstalled it from the Add/Remove programs menu, and attempted to reinstall it, bit I get this error: https://gist.github.com/Quantum64/ac67c7fd4d8cec4a08bc

Running OS Windows 10 Build 9926

I have also tired deleting the atom folder in AppData.

[2015-02-21 23:53] cyphunk commented on #5669
It absolutely fits the definition of without their knowledge and without their consent. There is no request that the user allow this and no clear information given to the user that this is happening.

[2015-02-21 23:56] mark-hahn commented on #5669
For some reason I was well aware of it when I first found Atom but I don't
remember why.  I thought I learned it from the docs.

On Sat, Feb 21, 2015 at 3:53 PM, Nathan Fain <notifications@github.com>
wrote:

[2015-02-21 23:58] cyphunk commented on #5669
@50Wliu indeed welcome.md has as its verify first item a description of metrics gathering. So at least the user might be informed. But it seems to me that there is no future in sight of when this will not be the default and placing this information amongst a slew of other details makes it easy to ignore. It should simply be off by default. Or very easy to turn off during install. It's just horribl

[2015-02-22 00:01] mark-hahn commented on #5669
According to whom?  Manners are defined by social convention and almost
every website collects metrics.  You are projecting your own convention
(and hacker news') on everyone else.

On Sat, Feb 21, 2015 at 3:58 PM, Nathan Fain <notifications@github.com>
wrote:

[2015-02-22 00:08] cyphunk commented on #5669
Yes, I'm projecting my convention. That's how feedback and criticism often works. I hope the developers of this product at Github make note of it and choose to improve the privacy awareness of their product.

[2015-02-22 00:13] mark-hahn commented on #5669
Definitely.  I was just objecting to the use of the word "manners".  It is
a bit of a slur.  But I understand you care a lot about this and
exaggerate. I have flamed much worse on this very board.

On Sat, Feb 21, 2015 at 4:09 PM, Nathan Fain <notifications@github.com>
wrote:

[2015-02-22 00:27] csaket opened #5672 "Win 8.1 atom 0.179.0 Check for Update missing"
I am running atom 0.179.0 installed via choclatey on Win 8.1 64bit.
I am not getting any "check for update" option in the help menu.
Running atom -f does not give any errors.

C:\>atom -f
App load time: 521ms
[3164:0221/181955:INFO:renderer_main.cc(211)] Renderer process started
[192:0221/182000:INFO:CONSOLE(79)] "Window load time: 3744ms", source: file:///C
:/Users/asiddiqui/AppData/Local/atom/ap

[2015-02-22 00:32] mark-hahn commented on #5672
Switch to the default installer.  You won't regret it.

On Sat, Feb 21, 2015 at 4:27 PM, csaket <notifications@github.com> wrote:

[2015-02-22 00:39] 50Wliu commented on #5671
Errors in the Gist file:
`CheckForUpdateImpl: Failed to load local releases, starting from scratch: System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Users\Dylan\AppData\Local\atom\packages\RELEASES'.`
followed by `CheckForUpdateImpl: First run or local directory is corrupt, starting from scratch`
followed by `IEnableLogger: Failed to copy Update.exe to C:\Users\Dylan\App

[2015-02-22 00:42] 50Wliu commented on #5672
To add onto what @mark-hahn said:  Uninstalling and replacing your Chocolatey install with the new Squirrel installer is very worth it ;).  Atom cannot check for new versions under Chocolatey, only under the new installer.
Find out how [here](http://blog.atom.io/2014/12/10/a-windows-installer-and-updater.html).

[2015-02-22 00:42] #5672 closed

[2015-02-22 00:45] mark-hahn opened #5673 "Atom and packages aren't upgrading"
I don't know if it started on an Atom upgrade but  my Atom version is stuck at 0.177.0 and `apm upgrade` always says zero.  This happened several days ago (just noticed).

windows 8.1
Atom 177
apm  0.140.0
npm  2.5.1
node 0.10.35
python 2.7.9
git 1.9.5.msysgit.0
visual studio 2013

[2015-02-22 00:50] composer22 commented on #5666
It's software, period, and by that token it needs a solid revision process - regardless of end use or platform. Plenty of utils and tools follow this dictum.

[2015-02-22 00:55] mark-hahn commented on #5673
BTW, I erased what I could in `~/.atom` with no luck.

[2015-02-22 01:06] paulcbetts commented on #5666
@composer22 We intentionally designed both the Windows and OS X updater to be as silent and transparent to the user as possible - we don't *want* updates to be a Big Event that takes time out of your day.

We want events to be quiet and never interrupt your work, like how a website updates and you never need to know about it. Because of that, we can ship far more updates than Traditional Software(

[2015-02-22 01:17] paulcbetts commented on #5671
@Quantum64 Hey Dylan, the easiest thing to do is to just delete all of `C:\Users\Dylan\AppData\Local\atom` via Explorer, then try again. If files are locked, reboot then try that.

[2015-02-22 01:20] paulcbetts commented on #5669
@50Wliu Squirrel does no automated checking of its own in Atom, the code in atom/atom explicitly invokes it on a timer (i.e. it controls update policy). Squirrel will indeed not (nor will it ever) add options in the installer.

[2015-02-22 01:37] Quantum64 commented on #5671
@paulcbetts I deleted the Local/atom folder, restarted my computer (for good measure), ran the installer again, and got the same error. https://gist.github.com/Quantum64/45c265291a5c401fe883

[2015-02-22 01:38] mark-hahn commented on #5673
BTW again, I recently moved all my packages to an external folder and put symlinks in the actual packages folder.  There are now only symlinks there.  Could this have something to do with it?

[2015-02-22 01:40] paulcbetts commented on #5671
@Quantum64 That's super bizarre, it's basically saying we can't create a temp file. Google says that your `C:\Windows\Temp` folder might have bajillions of files in it.

[2015-02-22 01:43] Quantum64 commented on #5671
@paulcbetts The Temp folder looks fine.  It has 57 items in total.  I did have to give myself "access" to it in the security properties to view the files.

I also tried redownloading the installer from the website, as well as an older installer that I had from about a month ago.  All fail with the same result.

[2015-02-22 01:53] 50Wliu commented on #5671
They're temp files, so it shouldn't matter that much if you delete them (or if you don't feel safe doing that run the Disk Cleanup tool that's included with Windows).

[2015-02-22 01:57] Quantum64 commented on #5671
Ok then, It's deleting 4 million files and it's going to take 26 min.  Most of the files have a size of 0 bytes. :confused:

[2015-02-22 02:05] 50Wliu commented on #5671
Was the 19th the day you tried to install Atom?  (Asking this because I saw an issue on the Squirrel repo that might be related to this)

[2015-02-22 02:11] Quantum64 commented on #5671
No.  The only thing I installed on the 19th was an update to GitHub for Windows, but I doubt that's what caused it.

I think this overload of temporary files caused other issues with Atom as well.  For instance, I could not open any files at all. The program would launch, but simply refuse to open files.  Perhaps it needs to create a temporary file to do so?  That's why I did a reinstall in the fi

[2015-02-22 02:18] bouzuya opened #5674 "'core:copy' does not work when it is assigned to another key"
I want to copy text and keep it in buffer. But 'core:copy' delete text from buffer.

Atom: 0.182.0
OS: Ubuntu 14.04
1. Change keymap

[code]
1. Run Atom with safe option.

[code]
1. Input "foobar" and select all.

buffer:

[code]
1. Press "y" key (I want to copy "foobar" and **keep text in buffer**) .

buffer:

[code]

Note: `ctrl-*` key mapping works well.

[code]

[2015-02-22 02:42] Quantum64 commented on #5671
After deleting the files, I reinstalled Atom and everything is working perfectly.

[2015-02-22 02:42] #5671 closed

[2015-02-22 02:42] composer22 commented on #5666
""we don't want updates to be a Big Event that takes time out of your day."

Ahh, but thats the big post-modern lie here because you are by nature announcing releases and doing automatic updates down to the users platform not *your* own web platform. This is also typical of mobile apps as well, where users cannot keep up with the latest changes and become frustrated with recurrent new versions tyi

[2015-02-22 02:45] paulcbetts commented on #5666
Thanks for your thoughts, but this wasn't really a point up for debate. Thanks though!

[2015-02-22 03:01] bolinfest commented on #5666
As someone who upstreams changes to Atom, I'm a big fan of the fast release
cycle.

On Saturday, February 21, 2015, Paul Betts <notifications@github.com> wrote:

[2015-02-22 03:03] kans opened #5675 "Single Equals in Conditional - likely :bug:"
I ran into the some [odd code](https://github.com/atom/atom/blob/master/src/package.coffee#L526
) trying to fix a different bug in atom.

[code]
I can't believe the ```else if``` does what was intended-  *packageMain* isn't used anywhere, and the expression evaluates to true when *@getMainModulePath* returns something truthy.

edit:
This sort of stuff is everywhere in atom...  please consider not

[2015-02-22 03:12] sadlerdavid commented on #5504
Sorry the the lag on the response @ izuzak.  I believe the fix for this was closing, and re-opening Atom after installing the update.  I have not encountered this problem again.

[2015-02-22 05:06] lee-dohm commented on #5674
The reason mapping the <kbd>Y</kbd> key to `core:copy` doesn't work is because of specificity:

https://atom.io/docs/latest/advanced/keymaps#specificity-and-cascade-order

You're setting `core:copy` to <kbd>Y</kbd> on `atom-workspace`. But I'm pretty certain that `atom-text-editor` has the native key bindings set. Since, when you're in a text editor view, `atom-text-editor` is more specific than `

[2015-02-22 05:08] BrandonDusseau commented on #5323
Just updated from 0.179.0 to 0.182.0. Can confirm that the icon does not come back.

[2015-02-22 06:11] aridlehoover opened #5676 "Uncaught Error: getaddrinfo ENOTFOUND circleci.com circleci.com:443"
Steps to reproduce:

1. Launch Atom
2. Put computer to sleep
3. Wake computer and sign in

Note: I uninstalled the circle ci extension and am still receiving this error.

**Atom Version**: 0.182.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: getaddrinfo ENOTFOUND circleci.com circleci.com:443

[code]

### Commands

[code]

### Config

[code]

### Instal

[2015-02-22 06:29] nathansobo commented on #5667
@50Wliu This is most likely legit.

[2015-02-22 07:28] bouzuya commented on #5674
@lee-dohm

I changed `keymap.cson`, but it does not work.

[code]

See "Key Binding Resolver" screenshot.

![2015-02-22-atom](https://cloud.githubusercontent.com/assets/1221346/6317812/a06f8132-baaf-11e4-955a-ccb4f8d77200.png)

[2015-02-22 09:38] meventi-stephan commented on #5647
@maxbrunsfeld: Now it is better, but the problem isn't still solved. If i open Atom 0.182 i see Atom IDE, which is looking like the image in the initial description. If i'm opening a folder, two projects (not one!!!) are now shown (see image below). Once the folder, where atom is installed (marked with 1 in image) and otherwise the folder is shown now, which I have openend (marked with 2 in image)

[2015-02-22 11:42] bouzuya commented on #5674
It does not occur to be using the debugger... :cry:
I think the timing of dispatchEvent is causing .

I give it up and add `setTimeout` to `atom.commands.add ...` in `init.coffee`.

[2015-02-22 11:44] thomasjo commented on #5675
You are of course entitled to that opinion — and I strongly disagree with it. This construct can make CoffeeScript code cleaner and easier to read. It certainly isn't always the case however, so it needs to be used carefully since it *can* make code harder to understand.

For the specific code block in question, since `packageMain` is never actually used, it should perhaps be changed to avoid conf

[2015-02-22 16:10] 50Wliu commented on #5504
Thanks @sadlerdavid-in that case, I'm going to close this issue.  If you experience it again, please be sure to comment here!

[2015-02-22 16:10] #5504 closed

[2015-02-22 16:13] 50Wliu commented on #5647
@meventi-stephan I believe the bug you are now describing is being partly tracked in #4653, except usually the install folder goes away when you restart Atom.

[2015-02-22 16:46] izuzak commented on #5504
Thanks @sadlerdavid and @50Wliu.

I was just looking into this and noticed a similar but old report: https://github.com/joyent/node/issues/6556. In https://github.com/joyent/node/issues/6556#issuecomment-29897424, it's said that this problem has been fixed in Node 0.11.9.

However, @sadlerdavid s running 0.177.0, which means that he's running the [version which runs on top of io.js](https://github

[2015-02-22 17:00] hdmi opened #5680 "Uncaught Error: ENOENT, open '/home/ipdfh/2_semester/AAV/Memory.md'"
<h3>Explanation

This error always pops up when I try to convert some Markdown file to .pdf
It might be a bug or something because I have tried the conversion y two different operate systems and always happens the same.

In both OS a new "user" folder is created out of the blue. As you can appreciate in the ENOENT appears a user ipdfh which is not mine.
* In linux the created path for the output i

[2015-02-22 17:01] XiaoSK opened #5681 "When the single line is very long, atom will run slowly"
https://discuss.atom.io/t/when-the-single-line-is-very-long-atom-will-run-slowly/9316

It's serious.

I'm using Windows 8.1 x64.

[2015-02-22 17:06] tulushev commented on #3204
Confirmed on 0.182.0 as well, still no services.

[2015-02-22 17:10] 50Wliu commented on #5680
This issue was moved to travs/markdown-pdf#43

[2015-02-22 17:10] #5680 closed

[2015-02-22 17:33] izuzak commented on #5681
Yeah, it's a known issue -- see https://github.com/atom/atom/issues/979.

[2015-02-22 17:33] #5681 closed

[2015-02-22 18:48] lee-dohm commented on #5674
That screenshot is showing that `core:copy` *is* being called. Did you have anything selected?

![goofy-keybinding](https://cloud.githubusercontent.com/assets/1038121/6319829/4743e6f4-ba80-11e4-8d06-3c79eaa120db.gif)

[2015-02-22 19:06] lee-dohm commented on #5675
My personal opinion is that if the code is working properly and there are specs covering the code in question then, while it may be an issue for readability or maintainability, it isn't a bug.

On the other hand, CoffeeScript doesn't (commonly) use `==` or `===` for equality. [CoffeeScript uses the keyword `is` for equality](http://coffeescript.org/#operators), specifically to deal with this kind

[2015-02-22 19:49] csnover commented on #4467
Also using sshfs, also seeing this error randomly. I’ve also seen garbage `^@` characters dumped at EOF, or truncated end of a file, when this error occurs. I never had this problem with sshfs when using TextMate, Komodo Edit, or Sublime Text.

[2015-02-22 19:49] csnover commented on #4467
Oh, I am using OS X 10.9.5, sshfs from homebrew, and Atom 0.182.0.

[2015-02-22 19:59] batjko commented on #5675
I can see how that kind of thing could easily be confused, but only on first sight for someone who isn't used to it. So it does seem to be a personal style issue.
While the use of `is` is not mandated for equality it is very much in the spirit of CoffeeScript, and should be recommended in potentially ambiguous constructs like this.

I'm glad this came up though, it's an educational example.

[2015-02-22 20:18] izuzak commented on #5527
Happened to me as well, but can't reproduce it. What I was doing: pasted text from an external app into Atom, used find and replace to replace some text in the document, selected all lines, tried cutting the text. The text was copied to my clipboard, but it wasn't removed from the editor (which would be expected since I used `cut` not `copy`) and the exception was thrown.

**Atom Version**: 0.183.

[2015-02-22 20:28] mark-hahn commented on #5673
Update: Sometime since the original post atom has upgraded from 177 to 182.  However `apm upgrade` is still broken.  It always returns zero when there are known packages to upgrade.

[2015-02-22 20:40] VirtualOverride opened #5682 "omnisharp-atom toggle"
![error](https://cloud.githubusercontent.com/assets/6830923/6320369/64e4b53a-bb16-11e4-8487-54ccb5e24fdb.png)

i install atom via brew cask then install packages like omnisharp-atom and autocomple-plus. then when i toggle the omnisharp-atom i have this error.

"Omnisharp Atom needs the package `language-csharp` (version ^0.3.0) to be installed. You have an older version 0.5.0."

Note: language-csh

[2015-02-22 21:17] bouzuya commented on #5674
Yes, I did. The selected text was replaced by "y".

![20150223_061518](https://cloud.githubusercontent.com/assets/1221346/6320530/90a3d950-bb23-11e4-87a0-be80fec1aeab.gif)

[2015-02-22 21:27] bouzuya commented on #5674
@lee-dohm Could you re-open this issue? I think this is a bug to be corrected.

[2015-02-22 21:39] 50Wliu commented on #5674
@bouzuya, I can't reproduce either on Atom 0.182.0 on Windows.  I'll try later on Ubuntu 14.10.

[2015-02-22 21:56] bouzuya commented on #5674
fmm... Maybe I will not reproduce in Mac OS X. I'll try today.

[2015-02-22 22:14] lee-dohm commented on #5674
Looks like it may be OS-specific. I'll re-open and tag with Linux.

[2015-02-22 22:47] lee-dohm commented on #5673
Which packages are you wanting to upgrade? I once found an issue with a package that had a broken engine version specification and it was causing it to be unable to be upgraded.

[2015-02-22 22:50] lee-dohm commented on #5682
This message is from code in the [omnisharp-atom package](https://github.com/OmniSharp/omnisharp-atom) because Atom doesn't have the concept of package dependencies like this. Specifically here:

https://github.com/OmniSharp/omnisharp-atom/blob/master/lib/omnisharp-atom/dependency-checker.coffee

Please file a bug on the omnisharp-atom package for this.

[2015-02-22 22:50] #5682 closed

[2015-02-23 02:02] grizzilus commented on #2728
Just in case anyone else comes across this issue, I made a package to get around the original problem called [unicode-input](https://atom.io/packages/unicode-input). I found it easier to use this than to switch keyboard types, and it makes entering Unicode on Windows a lot less painful.

[2015-02-23 02:40] mark-hahn commented on #5673
It would be quite hard for me to go through the 50 or so packages to find which need upgrading.  Would it be enough to say your `bug-report` is at 0.6.1 and atom.io says it is 0.6.2 and I just checked apm upgrade and got zero?

[2015-02-23 03:11] thedaniel commented on #5654
Windows is HILARIOUS.

[2015-02-23 03:20] semplon opened #5683 "Atom is so Heavy, blue screen when install it."
I'm using windows 8.1 and install Atom the latest version. Just open it and try to edit my code. But the application load is so heavy. There are some delays when accessing my files and even moving my pointers :( so sad. Notepad++ is still fast to load. And when installing Atom, it's consume more memory and make my laptop blue screen and need restart.

It's a great editor, but i had to uninstall it

[2015-02-23 03:48] bouzuya commented on #5674
I can't reproduce on Mac OS X 10.9.5. :cry:

[2015-02-23 03:58] paulcbetts commented on #5654
I think that shit goes all the way back to Windows 3.1 at least, probably earlier. Eight bits ought to be enough for anybody!

[2015-02-23 04:09] nubestra opened #5684 "Uncaught Parse error in `.ftpconfig` JSON : SyntaxError: Unexpected token /"
[Enter steps to reproduce below:]

1. First i created a proyect
2. Then i created a .ftpconfig file to connect via ftp with the ftp package

**Atom Version**: 0.182.0
**System**: Mac OS X 10.10.1
**Thrown From**: Atom Core

### Stack Trace

Uncaught Parse error in `.ftpconfig` JSON : SyntaxError: Unexpected token /

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-23 04:27] skandasoft opened #5685 "is there an editor.on 'focus' event"
is there an editor.on 'focus' event

[2015-02-23 04:37] #5685 closed

[2015-02-23 05:21] steelbrain commented on #5683
Note: BSOD (Blue Screen of Death) not always appears because of low memory. It usually appears when something in windows's core crashes.

[2015-02-23 05:23] steelbrain commented on #5674
Guys, a side question :stuck_out_tongue: How do you generate all those fancy gifs?

[2015-02-23 05:44] lee-dohm commented on #5673
What does `apm outdated --verbose bug-report` say?

[2015-02-23 05:54] lee-dohm commented on #5674
@steelbrain There's a [FAQ on Discuss](https://discuss.atom.io/t/draft-faq-lets-improve-it-together/14981) that covers this, I use the tool recommended there, [LICEcap](http://www.cockos.com/licecap).

[2015-02-23 06:10] mark-hahn commented on #5673
Package Updates Available (0)

On Sun, Feb 22, 2015 at 9:44 PM, Lee Dohm <notifications@github.com> wrote:

[2015-02-23 06:35] thedaniel commented on #5684
I think that this issue belongs on the repo for the remote-FTP package: https://github.com/mgrenier/remote-ftp

[2015-02-23 06:35] #5684 closed

[2015-02-23 06:37] lee-dohm commented on #5673
It doesn't have a bunch of spew before that about requests and responses?

[2015-02-23 06:59] mark-hahn commented on #5673
Nope.

On Sun, Feb 22, 2015 at 10:37 PM, Lee Dohm <notifications@github.com> wrote:

[2015-02-23 07:02] mark-hahn commented on #5673
I guess I'll try a fresh install.

On Sun, Feb 22, 2015 at 10:59 PM, Mark Hahn <mark@hahnca.com> wrote:

[2015-02-23 07:31] steelbrain commented on #5684
@thedaniel Looking at the number of issues you guys have to route to package repositories, I think You guys should create a bot that checks the first line of the newly opened exception issues and matches `/packages/.*/` in the trace and then forwards that issue to that package's repo.
It'll make the moderation a lot easier for you guys.

[2015-02-23 07:48] izuzak commented on #5673
As far as I can tell, packages which are symbolic links are intentionally skipped in `apm upgrade`:

https://github.com/atom/apm/blob/b1523b22d7422b5be637242f38e3acc47c74732f/src/upgrade.coffee#L59

Are those packages you are _using_ or packages you are _developing_? Here's my understanding of the recommended workflow for those two.

If you are just using packages - you should be installing them w

[2015-02-23 08:32] picibucor commented on #3757
fixed. Thx :+1:

[2015-02-23 09:10] ludwighogstrom opened #5686 "File tab not working"
I have an issue/inconsistency with file tabs. Most files doesn't spawn a file tab (with the file name). Instead the tab of the current file stays. However, the content of the file shows.

It seems related to being able to open files with single / double click? Files that for some reason needs double click doesn't get a tab. Single click files works as expected.

Can't detect any pattern for file t

[2015-02-23 09:28] tokejepsen commented on #5109
happening in latest 0.182.0

[2015-02-23 10:00] silvenon opened #5687 "Cursor blinking distracting in the inspector"
When I open the Atom web inspector, the class `blink-off` is constantly being added and removed as the cursor blinks, which often pushes and pulls everything by one line. This makes inspecting very hard, is there a workaround?

![cursor](https://cloud.githubusercontent.com/assets/471278/6325806/8e9d96aa-bb4b-11e4-90ea-70b0a59bcbf3.gif)

[2015-02-23 10:17] emarques commented on #5109
I can confirm that this problem is solved with 0.182

[2015-02-23 10:23] stefan-baumann opened #5688 "Backslash (\) and At (@) characters do not work in editor"
When using the Editor on Windows 8.1, I'm not able to write backslashes and at-signs. Every other application works just fine.
I'm using a german (QUERTZ) keyboard, so the key combinations are `Alt Gr + Q` for `@` and `Alt Gr + ß` for `\`. Interestingly I am still able to write them with the Alt + Numpad combinations (`Alt + 6 + 4` for `@` and `Alt + 9 + 2` for `\`).

[2015-02-23 10:49] jutaz opened #5689 "Uncaught TypeError: Cannot read property 'getScopeDescriptor' of undefined"
[Enter steps to reproduce below:]

1. Save a HTML file

I had 3 open panes at the time. (top left, bottom left, single right)

it looks like it only happens when I save a HTML (only HTML) file in bottom left pane (only in this pane).

**EDIT:**

After the error happens in described pane, moving the file to other panes will cause the same error.

**Atom Version**: 0.178.0
**System**: Mac OS X 10.10

[2015-02-23 10:52] seangarner opened #5690 "apm upgrade broken in linux deb"
[code]

Version is 0.182.0 but I believe this broke with the switch to iojs.

[2015-02-23 11:05] seangarner commented on #5690
I've seen on discuss that last year this was happening because of the version number in `/usr/share/atom/resources/app/package.json` was the commit id, but my version in that file is `0.182.0`.

[2015-02-23 11:42] TreyTaylor commented on #770
https://discuss.atom.io/t/multiple-root-folders/15033?u=treytaylor

^This guy has sussed it!

[2015-02-23 11:44] batjko commented on #5688
Yea this is a known issue with some international keyboard layouts, related to the `Alt-Gr` key.

'Fraid this is a dupe of [this issue](https://github.com/atom/atom-keymap/issues/35). Follow that one for updates...

[2015-02-23 11:48] batjko commented on #5683
Agreed, Atom _is_ more resource-intensive than N++, but it certainly won't crash your system, unless something else is already very wrong with it.

Delays can come from installed community packages (try running it without them: `atom --safe`), or from huge files which is a known limitation.

[2015-02-23 11:56] postcasio commented on #5686
What packages do you have installed? Does the problem occur in [safe mode](https://atom.io/docs/latest/debugging#check-if-the-problem-shows-up-in-safe-mode)?

[2015-02-23 12:00] semplon commented on #5683
Okay, I'll try it again. I hope atom more more lighter.
So it can handle more more and more tabs like i always do.

[2015-02-23 12:47] 50Wliu commented on #5689
This:
[code]
But...this:
[code]
?

[2015-02-23 12:48] #5688 closed

[2015-02-23 12:48] 50Wliu commented on #5683
What version of Atom are you using?

[2015-02-23 12:50] jutaz commented on #5689
oh, that\`s a nice find!

I have no idea, how this happened, though.
I disabled this plugin just a few minutes before this error started popping out

[2015-02-23 13:16] semplon commented on #5683
version 0.182.0
I download it from atom.io website.

and fyi, I'm using 64bit windows.

[2015-02-23 13:32] Zireael07 commented on #5295
0.182.0 on Windows 7 x64 installed with no issues today.

[2015-02-23 13:34] Zireael07 commented on #5259
How about just giving people an option where to install? It's pretty standard...

[2015-02-23 13:39] Zireael07 commented on #307
Some kind of an error message on trying to open >2 MB files would be helpful while you're working on fixing the underlying issue.

[2015-02-23 13:41] Zireael07 opened #5691 "language-lua should be installed by default"
Many other programming languages are supported out-of-the-box, but not Lua.
This led me to think for a moment that there is no syntax highlighting in Atom.

Please include language-lua package in core in future versions.
Thanks in advance.

[2015-02-23 13:51] ludwighogstrom commented on #5686
Ok! Works fine in safe mode (i.e. package error?). Noticed an error with linter. I guess I report the issue with them instead. Thanks for putting me in the right direction.

----
Could not resolve 'project-palette-finder' to a package path
/Users/ludwigh/.atom/packages/linter-csslint/lib/init.coffee:11 activate linter-csslint
/Users/ludwigh/.atom/packages/linter-htmlhint/lib/init.coffee:11 activat

[2015-02-23 14:08] ludwighogstrom commented on #5686
Just noticed: the first warning is still present when disabling all linter packages.

Could not resolve 'project-palette-finder' to a package path - /Applications/Atom.app/Contents/Resources/app/src/package-manager.js:387

Could it be Atom core related anyway?

[2015-02-23 14:15] avdg commented on #3757
Seems like we have consensus, great :-)

[2015-02-23 14:17] postcasio commented on #5686
Yeah, if it doesn't happen in safe mode (which only loads core packages), it's a problem with a third party package.

This message is generated by `atom-color-highlight` but it's nothing to worry about. It attempts to load the `project-palette-finder` package to provide more features if you have it installed.

[2015-02-23 14:19] #5686 closed

[2015-02-23 14:23] ludwighogstrom commented on #5686
Ok! Thanks!

[2015-02-23 14:35] sevin7676 commented on #5295
0.182.0 also worked for me on Windows 8.1 x64

[2015-02-23 14:55] 50Wliu commented on #5295
All right, closing as fixed.
If anyone is still experiencing this please comment below!

[2015-02-23 14:55] #5295 closed

[2015-02-23 15:09] joshvickerson opened #5692 "Restart and Update Doesn't from Release Notes Page"
Using the Restart and Update button on the release notes view doesn't properly restart and update. Atom closes, but it never restarts. When launched again, it hasn't updated. Restart and update from the Atom Menu works fine.

2010 iMac, OSX 10.10.2

[2015-02-23 15:11] mnquintana commented on #5692
Which version of Atom?

[2015-02-23 15:13] lloeki opened #5693 "nextAction called even in case of error"
This contradicts the comment:

[code]

The call should probably be in the `else` clause of the `try` block, if CS supported that.

https://github.com/atom/atom/blob/dcbff35ef5dce9b69fdb7f6dd485dbdd6d22d6fe/src/pane.coffee#L488
https://github.com/atom/atom/blob/dcbff35ef5dce9b69fdb7f6dd485dbdd6d22d6fe/src/pane.coffee#L508

[2015-02-23 15:16] joshvickerson commented on #5692
I've noticed this on the past few releases and have just gotten around to submitting the issue.

In the most recent case I was trying to update from .181 to .182

[2015-02-23 15:37] lee-dohm commented on #5687
If you widen the view then it won't bounce like you're seeing in the above graphic. I agree it can be distracting, but the alternatives I can come up with are:

1. The inspector to not reflect reality
1. Stop cursor blinking when the inspector is open

Neither of which seem like a good solution.

[2015-02-23 16:02] postcasio commented on #5689
Yes this looks like a problem with `go-format`. It persists despite deactivation because the package does not clean up its subscriptions when it's deactivated.

It's quite old and hasn't been updated for almost a year. I recommend uninstalling it and trying [go-plus](https://atom.io/packages/go-plus) instead, it offers formatting and a few other features as well.

[2015-02-23 16:05] postcasio commented on #5689
The existing issue for this is https://github.com/lsegal/atom-go-format/issues/9

[2015-02-23 16:05] #5689 closed

[2015-02-23 16:05] silvenon commented on #5687
I tried widening before, but I guess I didn't widen enough, so I thought the width is locked somehow.

Widening is an acceptable workaround for me.

[2015-02-23 16:05] #5687 closed

[2015-02-23 16:07] silvenon commented on #5687
What about making it blink with a repeating CSS animation?

[2015-02-23 16:10] rbcmhelpdesk commented on #5259
When we run the installation program there is no point where there is a choice on where to install it.

If you know of a switch or something similar we could use that would be very helpful

Thanks,

From: Zireael07 [mailto:notifications@github.com]
Sent: Monday, February 23, 2015 5:35 AM
To: atom/atom
Cc: rbcmhelpdesk
Subject: Re: [atom] Install to computer instead of user profile (#5259)

How abo

[2015-02-23 16:29] ricsdeol commented on #770
After last update are not showing unversioned files by git, example database.yml
![screenshot from 2015-02-23 13 26 03](https://cloud.githubusercontent.com/assets/719970/6331777/013cb920-bb60-11e4-82be-14e1366300d8.png)

[2015-02-23 16:51] lee-dohm commented on #307
@Zireael07 I'm pretty sure @benogle added some kind of error message in recent versions of Atom. He can correct me if I'm wrong though.

[2015-02-23 16:59] maxbrunsfeld commented on #770
@ricsdeol Can you open a separate issue for this, and explain a little more?

[2015-02-23 16:59] slackboxster commented on #4388
This still occurs for me with Atom 0.182 in i3 4.2 on my funky debian system. Atom 0.182 does not have issues in KDE on said debian system, or in i3 4.7.2 on my laptop running ubuntu 14.04.2 LTS. The problematic debian system, in addition to being subject to debain's stability motivated package lag, is in a state where some, but not all of the packages are on testing, with the remainder lagging on

[2015-02-23 17:00] lee-dohm commented on #5687
I can't find the reference but @probablycorey mentioned at one point that the CSS animation approach was tried, but had a noticeable negative impact to performance.

[2015-02-23 17:06] paulcbetts commented on #5259
Nope, we won't do that, sorry.

[2015-02-23 17:07] vimes1984 commented on #2122
and for me on Ubuntu 14... It's weird Sublime used to do the same...

[2015-02-23 17:12] damonkreft opened #5694 "Finding a file (⌘+p or ctrl+p) doesn't work across multiple root directories"
Hey,

Attempting to take advantage of the new "Atom's tree-view can now contain multiple root directories" feature. When using ⌘+p or ctrl+p to find a file, it seems only the first open root directory is searched...

![image](https://cloud.githubusercontent.com/assets/4972683/6332539/0fb90e86-bb7e-11e4-8091-31a141b255bc.png)

I'm using Ubuntu 14.10 and Atom 0.182.0

[2015-02-23 17:12] ricsdeol commented on #770
@maxbrunsfeld Ok Thks!!!

[2015-02-23 17:13] nathansobo commented on #5667
Looking into this today. The fundamental question I need to answer is how the number of lines can change without the `endRow` being recalculated in the presenter. This bug is being caused by our `endRow` in the presenter getting out of sync with the actual content in the editor.

[2015-02-23 17:15] silvenon commented on #5687
Ok, that was probably the only alternative.

[2015-02-23 17:20] syndbg commented on #2122
@vimes1984 http://askubuntu.com/questions/8494/prevent-windows-from-stealing-focus

The problem is loss of focus.

[2015-02-23 17:25] vimes1984 commented on #2122
@syndbg GENIUS! thank you that fixed it for me:D on day 3 of atom and lovely it so far...

[2015-02-23 17:40] mystickphoenix commented on #5655
Disabling Comodo temporarily allows install of Atom package.  Wish there was a better fix considering the pace of Atom releases...

[2015-02-23 17:40] #5655 closed

[2015-02-23 17:42] syndbg commented on #2122
@vimes1984 You're welcome! :)

[2015-02-23 17:57] nathansobo commented on #5675
If we aren't actually using the variable then there's no reason to assign it. But I'm not ready to prohibit combined conditional tests and assignments. It's subjective, but I like the compactness it can bring to certain patterns and I'm not convinced it's incomprehensible. Obviously, local discretion needs to be applied.

[2015-02-23 18:07] benogle commented on #307
Yeah there is a nicer error that points back to this issue since like v0.178 or so.

[2015-02-23 18:10] edrex commented on #5439
Confirmed.

 - Delete should fall back to direct delete instead of move to trash when the filesystem doesn't support trash.
 - Confirmation dialog button should change from "Move to trash" to "Delete" in this case.

[2015-02-23 18:13] maxbrunsfeld commented on #5694
This (as well as multi-folder support in the git-diff package) is implemented on master and will ship in Atom 0.183. Thanks!

[2015-02-23 18:13] #5694 closed

[2015-02-23 18:14] benogle commented on #5684
@steelbrain in most cases it does. It checks the stack trace for the package. This one doesnt have a stack trace, and the `line` isnt parsed for package quite yet: https://github.com/atom/notifications/blob/master/lib/main.coffee#L38

In most other cases it's from another package that we're not catching, the package is failing on some async method (like file operations) and providing no stack.

I

[2015-02-23 18:21] nathansobo commented on #5527
These errors should be replaced by errors resembling #5667 now that an assertion has been added to the code. I'll leave this open until that issue is solved however.

[2015-02-23 18:21] kevinsawicki commented on #5690
This is troublesome, are you sure this `atom` is the one loading from `/usr/share/atom`?

[2015-02-23 18:25] Lednerb opened #5695 "git status colors are missing in split view"
Just an error on my side, sorry.

[2015-02-23 18:26] #5695 closed

[2015-02-23 18:35] steelbrain commented on #5690
`which atom` would be helpful.

[2015-02-23 18:39] jskjons commented on #5092
Any traction on getting this fixed? I've noticed that it also kills my path when it updates as well which happens pretty frequently, it's getting painful having to save my path in a text file and reset it every time

[2015-02-23 18:51] #5527 closed

[2015-02-23 18:53] nathansobo commented on #5527
I just eliminated one category of this error, which was associated with trying to preserve the target of the most recent mousewheel event for a window of time, even after it had been deleted. There still remains one case in #5667 which used to throw this exception and now throws a more specific error message. Trying to figure that one out still.

[2015-02-23 18:58] nathansobo commented on #5667
Any information about reproducing this one would be most helpful.

[2015-02-23 19:01] bblack opened #5696 ""Line removed" indicator duplicated on wrapped line"
In this example, a line has been removed after line 13:

![screen shot 2015-02-23 at 2 01 26 pm](https://cloud.githubusercontent.com/assets/1072131/6334722/862032d0-bb64-11e4-8404-45b71c9ec587.png)

[2015-02-23 19:39] danielbayley opened #5697 "`New File` doesn't work any more."
For some reason I can't create a new file at all within Atom, only open existing ones.

Neither `⌘N` or clicking the menu item work. This behaviour started with the last couple of updates.

[2015-02-23 19:43] izuzak commented on #5697
Which version of Atom are you using and which OS? Can you reproduce the problem in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-02-23 19:58] mark-hahn commented on #5673
In another thread dealing with folder names not matching the package.json
name I was told that it must be installed outside and linked to.  This may
be specific to installing directly from a repo.

https://github.com/atom/atom/issues/5608

I may be an idiot but this is all confusing.  I'm guessing these are the
rules ...

- If developing a package it should be outside with `npm link` used.
- If in

[2015-02-23 20:13] Code-Vortex opened #5698 "Edit tab's drop list not rendered correctly"
I have an issue with Edit tab when i select it the list is not rendered correctly the list should be under Edit word but its not , however the other tabs working perfect. my problem with Edit only

OS: Linux
Distro: Fedora 21

Screenshots:
![screenshot from 2015-02-23 22 06 04](https://cloud.githubusercontent.com/assets/4104127/6336094/e54db496-bba8-11e4-9727-970b584d5dad.png)
![screenshot from 20

[2015-02-23 20:28] NatalieWolfe commented on #3525
:+1:

[2015-02-23 20:35] mark-hahn commented on #5697
This and other tree problems are happening to me also.  I've been jumping
out to notepad++ to manage files and folders.  I've been meaning to open
issue on `atom/tree-view`.

Windows 8.1
Atom 0.182.0

On Mon, Feb 23, 2015 at 11:43 AM, Ivan Žužak <notifications@github.com>
wrote:

[2015-02-23 20:41] 50Wliu commented on #5696
Hi, what version of Atom is this?  Can you reproduce it in safe mode (`atom --safe`)?

[2015-02-23 20:41] 1j01 opened #5699 "Follow shortcut links (*.lnk) on Windows"
Atom should support following the shortcuts/"shell links" Windows uses.
Currently when dragging a file to Atom, or when selecting a shortcut in the tree view, the binary file is opened directly. ([format ![msdn](http://bits.wikimedia.org/static-1.25wmf17/skins/Vector/images/external-link-ltr-icon.png?2015-02-11T19:35:00Z)](https://msdn.microsoft.com/en-us/library/dd891294.aspx))

[2015-02-23 20:42] seangarner commented on #5690
I'm guessing it's a local problem because I've just spun up a new ubuntu vm
and installed a fresh atom and it's working fine.  I don't have access to
that computer again until Wednesday so I'll report back later this week.

On Mon Feb 23 2015 at 18:36:09 Steel Brain <notifications@github.com> wrote:

[2015-02-23 20:47] bblack commented on #5696
0.182.0, on Mac OSX Mavericks. behaves identically with `--safe`.

[2015-02-23 20:48] 50Wliu commented on #5697
I can't reproduce on Atom 0.182.0, Ubuntu 14.10.

[2015-02-23 20:56] backspaces commented on #307
Just a FYI: The GeoJson preview package is rendered pretty useless by this limit: most map files are quite large.

@mark-hahn makes a good point .. packages dealing with huge files, especially read-only files, might consider a strategy that converts to a nifty view.

The geojson package, however, was designed as a previewer of an existing file with its own editor for json files which are edited wi

[2015-02-23 21:02] jurgenmehja opened #5700 "Uncaught Error: Atom can only handle files < 2MB for now."
Uncaught Error: Atom can only handle files < 2MB for now.

**Atom Version**: 0.153.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

[2015-02-23 21:03] 50Wliu commented on #5700
Please update your Atom version (the latest is currently 0.182.0) and see #307 for more details.  Thanks.

[2015-02-23 21:03] #5700 closed

[2015-02-23 21:04] 50Wliu commented on #5674
I can reproduce on Ubuntu 14.10.  Pressing <kbd>y</kbd> to copy will copy the selected text but also delete said text and replace it with a `y`.

[2015-02-23 21:06] jurgenmehja commented on #5700
Hello,
I am downloading it from https://atom.io/
Thank you

[2015-02-23 21:39] danielbayley commented on #5697
Atom 0.182.0 (0.182.0)
OS X Yosemite 10.10.2 (14C109)

It works ok in safe mode, and I actually managed to narrow it down to the linter package thanks to that guide. So i'll create an issue on there. Thanks.

[2015-02-23 21:39] #5697 closed

[2015-02-23 21:40] fernandopasik commented on #5621
I'm on 0.182 and cleared `$ATOM_HOME/storage` and still doesn't work.

[2015-02-23 21:41] autochthe commented on #4254
I just tested this in 0.182.0.  The issue seems to have been fixed with the update.

[2015-02-23 21:41] #4254 closed

[2015-02-23 21:46] maknoll commented on #3928
seems to be resolved in 0.180

[2015-02-23 21:48] #5673 closed

[2015-02-23 21:52] philipgiuliani commented on #5626
I had today 4 atom processes with 1GB/each :o my pc has 16gb. After restarting atom everything was responsive again. :)

[2015-02-23 21:54] mark-hahn commented on #5697
Mine is also fixed in safe mode but I don't use linter.  Sorry for not
checking first.

On Mon, Feb 23, 2015 at 1:39 PM, Daniel <notifications@github.com> wrote:

[2015-02-23 22:25] lee-dohm commented on #5602
As I commented on your pull request, packages in `~/.atom/dev/packages` are not supposed to be loaded *unless* you're in Dev Mode. So all of the behavior you mention like the activation events not being available, `atom.packages.resolvePath` not resolving, etc are expected if those packages are not also installed in the `~/.atom/packages` directory.

If you think that the "Development Packages" se

[2015-02-23 22:28] sedabull commented on #5602
If this is in fact the intended behavior, then I'm fine with both this issue and my related pull request being closed. But this has been open for almost a week, without any discussion, so I figured I'd look into it myself.

[2015-02-23 22:30] brandonweiss commented on #3928
I don't think so. I'm on 0.182 and still seeing it.

[2015-02-23 22:32] lee-dohm commented on #5602
Thank you for your tenacity in pushing for this to be resolved. I realize I'm a little late to the party and don't have the full context, I just wanted to give more information ... including for others that might stumble on this Issue or Pull Request later through searches :grinning:

[2015-02-23 22:35] sedabull commented on #5602
@lee-dohm, I'm happy to do whatever small things I can to help Atom succeed. I love this project, and the community behind it! Closing this in favor of an issue on atom/settings-view.

[2015-02-23 22:35] #5602 closed

[2015-02-23 23:57] batjko commented on #5259
In future versions, a Program Files-compatible version might exist but that's a long way off.

Why is that exactly? I was surprised to see it when the install location changed to the user directory. It's unusual and confusing to most Windows users.

What's the difficulty to just put it either into the Program Files, or any random location of the user's choice?

[2015-02-24 00:14] ybounya opened #5702 "Uncaught TypeError: Cannot read property 'id' of undefined"
[Enter steps to reproduce below:]

1. Select the last line of document
2. hit backspace to delete it
3. Do it again even though there is nothing else to delete on the line

**Atom Version**: 0.181.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught TypeError: Cannot read property 'id' of undefined

[code]

### Commands

[code]

### Config

[code]

### Instal

[2015-02-24 00:56] benbalter opened #5703 "Open-Apple F should allow you to search packages list when viewing installed packages"
I went to the packages list, looking to change a particular packages setting, and expected Command-F to allow me to search the list (thinking it was just an Atom view). Turns out that's not the case (I had to click into the search filter box, despite the native search dialog popping up).

It'd be awesome if either native search worked, or hitting Command-F hijacked the native functionality and dro

[2015-02-24 01:01] 50Wliu commented on #5259
I believe installing to Program Files requires administrator permissions, which is a no no.

* ...installs to the local user account (i.e. under %LocalAppData%)

[2015-02-24 01:01] 50Wliu commented on #5702
/cc @nathansobo was this the same error that you fixed earlier today?

[2015-02-24 01:11] 50Wliu commented on #5703
I'd actually consider the find box popping up a bug (the best behavior would be to put focus into the filter dialog).

[2015-02-24 01:26] lee-dohm commented on #3525
@postcasio created a [package for printing from Atom](https://discuss.atom.io/t/printing-support/760/24?u=leedohm).

[2015-02-24 01:42] paulcbetts commented on #5259
If we put it in Program Files, we can no longer update silently, since changing those files requires us to pop a UAC dialog. This also prevents users who aren't Administrator from installing the app at all.

I do want to solve the case that @rbcmhelpdesk describes, where they want to provision an entire lab with Atom and manage it via GP, but I want that to be a special-case scenario, not the main

[2015-02-24 01:43] maxbrunsfeld opened #5705 "Opening a file in an existing window shouldn't add a project path"
Right now, if I run `atom some-directory` then `atom another-directory/some-file.txt`, the directory `another-directory` is added to the project as a new root directory. This is wrong.

[2015-02-24 01:43] paulcbetts commented on #5699
This is super inconsistent with what any other editor would do with .lnk files - I don't know of any editor that would try to follow the link.

[2015-02-24 01:47] basarat commented on #2887
What is weird is that I get `C:\Users\basaratsyed\AppData\Local\atom\app-0.177.0>hello world
` instead of just `hello world` and it does not exit untill I press *enter*:

[code]

[2015-02-24 01:49] basarat commented on #2887
@csnover can you try similar commands for a mac. Does it hang after `atom test.js`?

[2015-02-24 01:55] bolinfest opened #5706 "Upgrade pathwatcher to ^4.0.1."
The main problem with upgrading `pathwatcher` is that the semantics of `exists()` have changed from 3.x to 4.x. Previously, it returned a boolean synchronously. In 4.x, `existsSync()` should be used to return a boolean synchronously and `exists()` will return a `Promise` that resolves to a boolean.

Here are PRs to upgrade known uses of `exists()` in the wild in third-party Atom packages:

https:/

[2015-02-24 01:58] basarat commented on #2887
Here is a bit more context. Using *atom as a node REPL* behaves weird compared to the standard node REPL. It seems confused about the *prompt*.

![asnode](https://cloud.githubusercontent.com/assets/874898/6341923/bc437dd4-bc24-11e4-84b0-f2e42702d199.gif)

[2015-02-24 01:58] simurai commented on #3636
"ackalker" in [this discuss](https://discuss.atom.io/t/how-to-set-the-font-for-the-settings-ui-and-the-command-browser/13498/5) post:

[code]

Save the file, restart Atom and enjoy

Works fine for me to just "scale up" the whole UI. I think it's the same as zooming in a browser. Not sure if it has some side effects on performance or so. A zoom factor like `1.4` works too, but "1px" lines sometimes

[2015-02-24 02:09] simurai commented on #5670
Ya, consistency would be nice. The white border isn't added only to very small sizes.. I think `16px + 32px`. The reason is so that it leaves more space for the actual "atom" icon that is kinda complex and looks fuzzy when it's very small. Also, a white border almost needs a shadow so you would see it on a white background, which would leave even less room for the "atom".

[2015-02-24 02:14] paulcbetts commented on #3636
Yep, it's the same as zooming in the browser. fwiw, OS X Retina displays have this set to 2.0, and Windows / Linux usually sets this to 1.5 for 4K displays

[2015-02-24 02:32] matthewd92 commented on #5584
I am getting an error as well but different issue, my output is:

Node: v0.10.36
npm: v1.4.28
Installing build modules...
Installing apm...
/bin/sh: 1: /home/pi/atom/build/node_modules/.bin/npm: not found

[2015-02-24 03:17] csnover commented on #2887
[code]

[2015-02-24 03:19] jordanbtucker commented on #3636
[code]

This is perfect for me. Thanks @simurai.

[2015-02-24 03:23] ginus commented on #5683
win 8.1 64 bit, works well.

[2015-02-24 04:47] basarat commented on #2887
@zcbenz why is conversion done to utf8 *only on windows*: https://github.com/atom/atom-shell/blob/master/atom/app/atom_main.cc#L105-L137 (this is based on my rusty understanding of C)

[2015-02-24 09:46] damonkreft commented on #5694
Thank you sir :)

[2015-02-24 09:50] Eagerestwolf opened #5709 "JavaScript files do not open new tab"
I am running Version 0.182.0 of Atom on Mac OS X 10.10, and I have encountered a bug where opening a JavaScript file does not open the file in a new tab, which I would assume is the expected behavior. To the best of my knowledge, only JavaScript files with the .js extension are affected.

![screenshot 2015-02-24 04 46 39 copy](https://cloud.githubusercontent.com/assets/3085408/6346758/92626c30-bbe

[2015-02-24 10:19] adicirstei opened #5710 "apm install --check TypeError: Cannot read property 'config' of undefined"
Hi,

When I try to check if everything is installed and configured properly for `apm` to run, I get the bellow error. Any Idea what is going wrong?

Thanks!

[code]

[2015-02-24 10:23] topmotiveret commented on #5468
Get the same/simllar error on OS X 10.10.2

n
![screen shot 2015-02-24 at 11 23 07](https://cloud.githubusercontent.com/assets/7926595/6347350/9b5d9288-bc17-11e4-855c-691d66ef253a.png)

[2015-02-24 10:29] steelbrain commented on #5710
You might want to open this issue on this repo https://github.com/atom/apm

[2015-02-24 10:29] vumaasha commented on #3887
+1 I have the same issue.  It is taking more than a quarter to get this fixed on a next gen Editor? Come on guys

[2015-02-24 10:29] mark-hahn commented on #1909
**It is now possible to drag and drop text.**

https://atom.io/packages/drag-drop-text

Besides the normal drag/drop it supports cut/copy/paste using the mouse and no keys, not even modifier keys.

This is brand new so please get me feedback on the design and of course report bugs.

[2015-02-24 10:36] adicirstei commented on #5710
Hi,

sorry, I wasn't aware that there are two separate projects.

[2015-02-24 10:36] #5710 closed

[2015-02-24 10:37] jbt commented on #5584
Judging by atom/node-minidump#5 this has already been fixed over on the minidump module, but [build/package.json](https://github.com/atom/atom/blob/e3d4d07baf43d71bd9e249c35c6e7c45ecc2adb8/build/package.json) is still requiring `~0.8`. Changing that to `~0.9` seems to fix it for me and then I run into #3783.

[2015-02-24 10:46] pdgago commented on #4505
**Atom Version**: 0.180.0
**System**: linux 3.13.0-45-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: spawn /opt/atom/atom (deleted) ENOENT

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-24 10:53] steelbrain commented on #5709
@Eagerestwolf Listing the package you've installed would be very helpful.

[2015-02-24 11:00] lee-dohm commented on #5709
What would be most helpful is if you could include repro steps. Every way I've tried to open a JavaScript file has succeeded in opening it in a tab. Also, could you give the following information?

* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?

[2015-02-24 11:02] pwaring commented on #5584
Same here, bumping up minidump to 0.9 gets the build process a bit further but then bombs out with the error in #3783.

[2015-02-24 11:03] pwaring commented on #3783
Would the contents of `apm/npm-debug.log` assist with fixing this bug? I was going to post it before realising that it was 1.3Mb in size.

[2015-02-24 11:15] jbt commented on #3783
[hmm I swear I commented this just now, before opening that issue on apm but it appears to have vanished. Maybe I never hit submit]

As I mentioned in atom/apm#312 this looks to be happening because apm is trying to grab node v0.10.35, which doesn't distribute a prebuilt armv7l binary, and it's trying to grab http://nodejs.org/dist/v0.10.35/node-v0.10.35-linux-armv7l.tar.gz which is a 404 and is c

[2015-02-24 11:23] postcasio commented on #5698
Isn't this the intended behaviour by your window manager? Displaying the menu directly below the Edit label would cut it off at the bottom of the screen because it is too long, so it moves it up (and over, so it doesn't overlap the label) until it will fit.

[2015-02-24 11:55] phawxby opened #5711 "Opening and closing Uncaught error stack trace results in duplication"
When an uncaught exception occurs opening and closing the stack trace results in the "Open stack trace", "Close stack trace" labels being duplicated.

![capture](https://cloud.githubusercontent.com/assets/1090602/6348858/dc518e30-bc1b-11e4-867d-d691d3ce3788.PNG)

[2015-02-24 12:57] 50Wliu commented on #3887
@vumaasha what Atom version are you using?  Are you on Ubuntu as well?  Can you reproduce this in safe mode (`atom --safe`)?

[2015-02-24 13:20] scwe commented on #1743
This doesn't quite work yet. When opening a file to line 0, Atom will just try to open a file called "filename.txt:0" rather than just defaulting to the top of the file.

[2015-02-24 13:43] izuzak commented on #1743
Thanks for reporting this, @scwe -- I can reproduce this as well. I'm pretty sure this was working, so it's probably a regression. /cc @maxbrunsfeld @kevinsawicki for more :eyes:

[2015-02-24 14:06] markchagers commented on #1909
First-off a big thank-you for implementing this feature!
I do have a few remarks though:
- In the current implementation it is somewhat confusing: sometimes the selected text is copied, sometimes it is moved or even just removed. I can't really tell what is going to happen.
- when I make a selection and then click and hold on the selected text, it hides the selection, although it seems to be retai

[2015-02-24 15:12] stijnsanders opened #5712 "Ctrl-shift-right at end of line doesn’t select EOL and next line whitespace up to first word"
I expect that a ctrl-shift-right with the cursor at the end of the line, selects the end-of-line and the white-space at the beginning of the next line, but it doesn't.

[see also](https://discuss.atom.io/t/ctrl-right-at-end-of-line-doesnt-select-eol-and-next-line-whitespace-up-to-first-word/14889)

[2015-02-24 15:13] stijnsanders opened #5713 "Add selection above/below all the way"
Keycodes `ctrl-alt-up/down` are linked to `editor:add-selection-above/below`, but is there also an editor command to add the selection above/below on all the lines all the way to the top/bottom? I've tried `ctrl-alt-pgup/pgdn/home/end` and had a look in the command pallette (`ctrl-shift-p`) but haven't found it.

[see also](https://discuss.atom.io/t/add-selection-above-below-all-the-way/14245)

[2015-02-24 15:25] pives commented on #3928
+1

[2015-02-24 15:35] fernandopasik commented on #5621
If I right-click on the home folder and do "remove root folder" and then I can add any root folder I want.

[2015-02-24 15:50] sryze opened #5715 "Atom won't start on Fedora"
I think I might have messed something up by installed a locally built RPM package of Atom on top of existing installation, but I'm not sure. Here's what I did:

1. Built Atom from git
2. Built an RPM package by running `script/grunt mkrpm`
3. Installed the package with `rpm -i`, at that time both official package and mine were installed
4. None on the two Atoms wanted to start, so I deleted both v

[2015-02-24 15:57] as-cii commented on #5025
Bringing the discussion from #5678 (that's a nice number! :wink:)

@nathansobo: first off, let me thank you for your kind words. They're part of the reason why I enjoy contributing to open source: they really make my day.

Definitely :smile: Before your reply, I was collecting some benchmarks to check where the time was being spent while moving multiple cursors or typing a character on many lines.

[2015-02-24 16:14] thomasjo commented on #5698
This is indeed related to a *Window Manager*. The only other way to fix this would be to "scroll" the menu, but I believe that is/should be handled by the *WM*. Regardless, this issue should be moved to [atom-shell](https://github.com/atom/atom-shell) since that's where the Menu Magic™ happens.

@Code-Vortex Please open a [new issue for atom-shell](https://github.com/atom/atom-shell/issues) and cl

[2015-02-24 17:32] sryze commented on #5715
Don't know what I did but it's working again :)

[2015-02-24 17:32] #5715 closed

[2015-02-24 17:39] Trudko commented on #5387
What about built in debbuger can't that be used for JavaScript?

[2015-02-24 17:46] kevinsawicki opened #5716 "Editor doesn't horizontally scroll"
* Open this content in an editor:

[code]

* Delete line 1 using `ctrl-shift-k`
* Editor no longer scrolls horizontally

[2015-02-24 17:55] izuzak commented on #5716
Strange, I can't seem to reproduce this. I'm on 0.183.0-3e439f3, here's a GIF:

![5](https://cloud.githubusercontent.com/assets/38924/6355466/91fd4faa-bc56-11e4-8587-97da00ac0387.gif)

[2015-02-24 17:58] kevinsawicki commented on #5716
@izuzak weird, I am in safe mode, using source code pro font at size 13 just for more context.

[2015-02-24 17:59] nathansobo commented on #5716
I can reproduce.

[2015-02-24 18:19] mxa opened #5718 "reopen last item not working"
"reopen last item" from the menu is not working after a restart. There should be "recent files" in the menu.

[2015-02-24 18:22] #5675 closed

[2015-02-24 18:31] izuzak commented on #5718
Hey @mxa,

Yeah, that reopen the last closed tab within an Atom session, not across session. See https://github.com/atom/atom/issues/3085 for a similar issue and a package suggestion.

That would be neat, yeah -- there's already an open issue for this: https://github.com/atom/atom/issues/4241.

Does this answer your questions?

[2015-02-24 18:34] vumaasha commented on #3887
atom version 0.182.0
*No. it does not happen in safe mode.*
Ubuntu version: ( with all latest updates)
============
Distributor ID:	Ubuntu
Description:	Ubuntu 12.04.5 LTS
Release:	12.04
Codename:	precise

[2015-02-24 18:36] #5716 closed

[2015-02-24 18:38] thedaniel commented on #3783
Atom-shell recently switched to io.js, and so did Atom as of https://github.com/atom/atom/releases/tag/v0.177.0

[2015-02-24 18:40] thedaniel commented on #3928
This issue is that the process appears to be not responding in activity monitor, but performance & responsiveness is not actually affected. Furthermore it appears to be a Chromium bug, so the plans are to do nothing until it's fixed upstream. I'm with @paulcbetts, a little frustrated at all the +1 comments because they don't add anything to the issue other than spamming everyone that's subscribed

[2015-02-24 18:45] mxa commented on #5718
Yes, thanks!

[2015-02-24 18:49] jbt commented on #3783
Not in https://github.com/atom/apm/blob/master/script/download-node.js it didn't, which is what's causing this error.

[2015-02-24 19:09] thedaniel commented on #3783
Ah, the node bundled with apm, of course.

[2015-02-24 19:10] #5349 closed

[2015-02-24 19:14] nathansobo commented on #5349
This was caused by complications handling combining characters following spaces, of which ` ̋` is an example. We always consider a character followed by a combining character to be a "paired" character, meaning we treat it as 1 character on screen but 2 characters in the buffer. However, in the case of a combining character following leading whitespace, the two components paired character were get

[2015-02-24 19:15] izuzak commented on #5713
I don't think there's a command for that, @stijnsanders. I think that most of these commands were inspired by commands in SublimeText. Do you know if such a command exists in Sublime and what's it called? I haven't noticed it myself, but I'm definitely not a power-user. If you didn't either, did you notice it in a different editor?

Also, this might be a neat idea to develop a package for -- would

[2015-02-24 19:22] izuzak commented on #5718
@mxa Cool, I'm going to close this out then. My recommendation would be to try some of the packages created by the community and see if one of those meets your needs for now.

[2015-02-24 19:22] #5718 closed

[2015-02-24 19:40] 1j01 commented on #5699
The current behavior is inconsistent with Windows applications. I'm not surprised if other editors have the same issue. Surely there's no argument for opening a binary file instead following the links, so I think this "inconsistency" would definitely be an improvement regardless.

[2015-02-24 19:44] kevinsawicki commented on #5699
I believe this is a duplicate of https://github.com/atom/atom/issues/2985

[2015-02-24 19:44] #5699 closed

[2015-02-24 19:48] fmsedrez opened #5719 "Markdown Preview display error"
# Markdown Preview display error

Markdown Preview windows does not display the last cell on last line if it is empty.
View line **Show Available Snippets** in print screen.

* Ubuntu 14.10
* Atom 0.182.0
* [Markdown file] (https://github.com/fmsedrez/atom-keyboard-shortcuts/blob/master/README.md)

Atom: Code View and Markdown Preview             | GitHub Site View
:-------------------------:|:---

[2015-02-24 19:52] izuzak commented on #5712
@stijnsanders Can you share more details about why you expected that to happen? Is that the default behavior in some other editors? Normally, selections don't happen if you don't hold `shift` (there are exceptions, though), so I'm wondering if you're asking about `ctrl-shift-right`? Also, which OS are you using -- different OSes have different keybindings for some commands.

`ctrl+right` and `ctrl

[2015-02-24 19:54] izuzak commented on #5719
This issue was moved to atom/markdown-preview#206

[2015-02-24 19:54] #5719 closed

[2015-02-24 20:03] krainboltgreene commented on #5119
This still seems to be an issue in the latest atom releases. Should this be re-opened?

[2015-02-24 20:07] 50Wliu commented on #3887
All right, since it doesn't happen in safe mode, that means that one of your installed community packages is causing the issue.  You could try out the [package-cop](https://atom.io/packages/package-cop) package by @mark-hahn to try to resolve your issue or just manually disable packages to find the culprit.

[2015-02-24 20:11] 50Wliu commented on #5119
This issue was closed because it was a duplicate, not because it was fixed.  Please follow the links that @izuzak provided.

[2015-02-24 20:27] #5705 closed

[2015-02-24 20:48] krainboltgreene commented on #5119
One of the links is closed and the other seems to describe an different context (and is still open 10 months later).

[2015-02-24 20:58] nathansobo commented on #5025
I like your thinking on making all incremental updates as minimal and optimal as possible first. The whole reason I switched to the synchronous design was to make it easier to compute a minimal update, so it would definitely be good to take full advantage of that.

As for emitting some kind of explicit batching event, here's where it gets fuzzy for me. We already have the concept of a transaction,

[2015-02-24 21:06] nathansobo commented on #5702
@50Wliu There were a couple distinct issues that both threw this same exception. One of them was fixed in 2e8c5855d406cf939191964a803580cf39b75fd0. The other situation I haven't figured out, but I replaced with a more informative exception in e739444800d09be71cf767caab2ea53a07476055. I'm going to close this for now as I don't expect to see it again, at least in this form. Hope I'm right.

[2015-02-24 21:06] #5702 closed

[2015-02-24 21:12] nathansobo commented on #5025
@as-cii Another thought... I noticed that the `add-selection-below` command is really slow as the number of cursors increases. That's because for every selection, we're adding a selection below it, then merging. We should probably check before adding a selection below that there isn't already a selection in that location. If there is we can skip the step of adding it to begin with which will proba

[2015-02-24 21:18] ijuma commented on #3928
An interesting question is why does Chrome not show the problem anymore while Atom still does? (that's the case for me, at least).

[2015-02-24 21:20] stijnsanders commented on #5713
I don't have experience with SublimeText, but with Notepad++. There you can switch to 'rectangular selection' with Shift, Alt and the arow keys. But also with Home, End, PgUp and PgDn, and their combinations with Ctrl (*). So there I could do Shift-Alt-Ctrl-End to 'rectangular select' all the way to the bottom.

In switching to Atom, it takes a bit of getting used to this different concept of 'add

[2015-02-24 21:27] stijnsanders commented on #5712
I'm on Windows. Yeah just try it on a plain textarea here: write this

    aaa
    bbb
    ccc

then put the keyboard cursor right of `aaa`, press Ctrl-Shift once, and the EOL between `aaa` and `bbb` is selected, press again and `bbb` and its EOL is selected as well, press again to add `ccc` to the selection. (I don't know if this is different on Mac)

So in other words, I guess I'm asking that `e

[2015-02-24 21:27] batjko commented on #3928
@ijuma If that's the case there's hope that it will just take a Chromium update to atom-shell sometime soon.

[2015-02-24 21:30] rpechayr commented on #3928
I'd be happy to +1 the chromium issue if I'd be pointed to it.

Sent from my iPhone

[2015-02-24 21:31] nathansobo opened #5721 "Investigate memory consumption with large files"
I have some radical design changes in mind to support files of arbitrary size, but first we should perform a basic accounting of where memory is going and look for any quick wins.

[2015-02-24 21:34] ijuma commented on #3928
@batjko Unlikely, this has been fixed since Chrome 39 and atom-shell has been using Chrome 40 for a while. @rpechayr, the Chromium issue is https://code.google.com/p/chromium/issues/detail?id=397642 (it was mentioned in this same thread).

[2015-02-24 21:44] benogle commented on #5721
:heart:

[2015-02-24 21:50] philipgiuliani commented on #5666
I also like the current release cycle, but i always want to try everything out as fast as possible ;)

[2015-02-24 22:53] nathansobo commented on #5721
I spent some time exploring the heap snapshot with `benchmark/fixtures/huge.js`, a copy of jQuery with 9246 lines. The bulk of the memory is spent on objects that are allocated and stored in `DisplayBuffer` and `TokenizedBuffer`. As you can see below, the retained size of the `DisplayBuffer` alone is nearly 30mb just for `huge.js`, a 247kb file:

![screenshot 2015-02-24 15 44 53](https://cloud.git

[2015-02-24 22:53] #5721 closed

[2015-02-24 23:22] gldnspud commented on #5160
I am running into this too. Same screenshot & symptoms. I can't find anything Atom related in console except for "App load time" messages. I ended up installing from fresh ZIP file as @paulcruse3 resorted to.

Of note is that I use three different user accounts on my system, for different contexts. I try to keep updates happening in only a single account, but sometimes auto-update mechanisms trigg

[2015-02-25 00:01] mMerlin opened #5723 "Uncaught Error: Can't undo with an open transaction"
Looks like https://github.com/atom/atom/issues/4817 has resurfaced.

Additional environment details: This is a guest VM running in VirtualBox for host OS Windows 7 64-bit.  At the time the error occurred, I had a momentary slow down, where atom / the VM was not responding quickly.  I **think** what happened, is I did &lt;ctrl>x a second time on a highlighted word before the first had been processe

[2015-02-25 00:09] Eagerestwolf commented on #5709
@steelbrain
### List of Packages installed
* Stylus
* linter
* linter-coffeelint
* linter-csslint
* linter-jscs
* linter-jshint
* linter-less
* linter-htmlhint (disabled)
* linter-scss-lint (disabled)
* linter-tidy (disabled)

@lee-dohm Opening the application in safe mode does open a new tab, I am therefore closing this as a package related bug.

[2015-02-25 00:09] #5709 closed

[2015-02-25 00:20] wvanlint opened #5724 "Atoms opens the union of the given paths and the paths specified by the project"
I normally start Atom using its icon which runs it without arguments under the home path.
I can then remove the home path as the root folder and add some other root folders that I am working on.
However, when I restart Atom, the home path will be re-added as a root folder which seems unexpected.

As far as I can tell from the code, projects/workspaces are uniquely identified under ~/.atom/storage

[2015-02-25 00:37] maxbrunsfeld commented on #5724
@wvanlint Atom shouldn't be opening your home directory when you run it from the app icon; that's a bug either in Atom or some package. It seems related to a bug that a few people have reported (#5621, #5617).

What OS are you on? Also, does it happen if you clear your `~/.atom/storage` directory and open Atom with `atom --safe`?

[2015-02-25 01:02] alexjurkiewicz opened #5725 "Using proxy server with Atom is very complex"
You can configure Atom (OSX) to use a HTTP proxy as follows:
1. Add proxy info to APM:

[code]
2. Run `HTTP_PROXY="http://127.0.0.1:9999" HTTPS_PROXY="http://127.0.0.1:9999" atom --proxy-server="http://127.0.0.1:9999"`
3. You can now update Atom & packages/themes from within Atom.

(sidenote: git clones still won't work and require proxy configuration in `$HOME/.gitconfig` or `$HOME/.ssh/config`.)

[2015-02-25 01:06] wvanlint commented on #5724
I looked into it before, could it maybe be related to the following code at https://github.com/atom/atom/blob/master/src/browser/main.coffee#L136?
[code]
I'm running Atom 0.182.0 on Ubuntu 14.04, it happens when clearing `~/.atom/storage` and running `atom --safe` too.
I can check if it happens from the latest commit later too.

So am I correct in that your state is saved by the hash of the given

[2015-02-25 01:08] jlord opened #5726 "Tracking Issue: Decouple Services API versioning from package versioning"
Changing the `status-bar` Services API versioning:

- [x] Change `status-bar` Services API current version to `1.0.0` https://github.com/atom/status-bar/pull/57
 - [x] Create a legacy method to depreciate with Grim
 - [x] fix branch spec bug https://github.com/atom/status-bar/pull/58
- [x] Update atom/atom with new `status-bar` version https://github.com/atom/atom/pull/5755
- [x] Update consuming

[2015-02-25 01:10] maxbrunsfeld commented on #5724
I think that `executedFrom` should be undefined unless you're running the `atom` executable from the command-line.

[2015-02-25 01:16] kevinsawicki commented on #5725
Your `.apmrc` file should go in `$HOME/.atom/.apmrc`, `$HOME/.atom/.apm/.apmrc` is the path to the global file that is a fallback.

[2015-02-25 01:16] CentaurWarchief opened #5727 "`Add File` horizontal scrolling with long paths"
Hi!
As yours guys and gals can see:

![screenshot from 2015-02-24 22 15 13](https://cloud.githubusercontent.com/assets/967317/6363069/a47a1e3a-bc72-11e4-9909-39f3b12374f5.png)

Maybe a bug?
Thanks.

[2015-02-25 01:17] maxbrunsfeld commented on #5724
Currently, we don't yet have a concept of a 'project identifier' that is separate from a root folder. What we're working on currently is getting multi-folder support working consistently across all of Atom's built-in packages. But then, we may need to rethink our flows for working with multiple root folders. Maybe you can help us to think about the ideal flow.

I'd love it if you wanted to work on

[2015-02-25 01:21] mark-hahn commented on #1909
Thanks very much for the comments.  I have worried about the same things.  Let me explain how it ended up this way and then maybe people can help me redesign the UX.

This is due to my getting carried away with features.  While working on it I discovered it would be easy to replace `ctrl-x`, `ctrl-c`, and `ctrl-v` with mouse-only actions.  I am a heavy mouse-user and I have already gotten hooked o

[2015-02-25 01:22] 50Wliu commented on #5727
Fixed in the latest Atom version (currently 0.182.0), please update.

[2015-02-25 01:22] #5727 closed

[2015-02-25 01:23] CentaurWarchief commented on #5727
@50Wliu Cool, I didn't see.

:beers:

[2015-02-25 01:25] maxbrunsfeld opened #5728 "Improve Atom's multi-folder workflow"
Once all of Atom's bundled packages have basic support for multiple root folders, we should step back and consider how Atom's multi-folder support could be improved. Atom users, if you have observations or ideas about how we could better support working on multiple projects concurrently, please share them here.

Note that even basic multi-folder support isn't complete yet. To track that, see https

[2015-02-25 01:26] maxbrunsfeld commented on #770
Everyone, now that some multi-folder support is shipped, if you want to talk about how we can improve Atom's multi-folder UX, please comment on this issue: #5728.

[2015-02-25 01:35] maxbrunsfeld commented on #5724
@wvanlint see #5728. I'd like to consolidate our meta-level discussion about multi-folder UX there as much as possible.

[2015-02-25 01:38] 50Wliu commented on #5728
I was too late to comment on the original tree view PR, but I guess I'll do so now here.

Would the following naming changes 'flow' better?
* Renaming `Add root folder` to `Add folder`
* Renaming `Add folder` to `New folder` (and ditto with `Add file`)

`Add root folder` just sounds a bit scary to me ;P.

Also, I don't know if this is done in any other editors or even if it's possible, but I have

[2015-02-25 01:42] maxbrunsfeld commented on #5728
@50Wliu Yeah, I agree with your naming suggestions. The `New {File,Folder}` bit is already done, and `Add Root Folder` does kind of makes it sound like you're adding `/`.

[2015-02-25 01:51] lee-dohm commented on #5728
[Mentioned this on Discuss](https://discuss.atom.io/t/rfc-multiple-root-folders/15096).

[2015-02-25 02:00] jglovier commented on #274
@rmartin this is looking :sparkles:!!! Nice work. :heart_eyes:

[2015-02-25 02:16] NickWhiu opened #5730 "Files are scrolled to top when updated externally"
steps to reproduce
1. open a log file in atom
2. scroll part way down the file
3. add new line to end of log file with an external tool/editor and save
4. go back and view the log file in atom

expected
- log file is reloaded
- log file scroll position is still part way down (same as in step 2 above)

actual
- log file is reloaded (PASS)
- log file scroll position goes back to top (FAIL)

Every ti

[2015-02-25 02:23] alexjurkiewicz commented on #5725
Ah, thanks, edited my original comment.

[2015-02-25 02:36] alexjurkiewicz commented on #5725
It appears the http_proxy/https_proxy env vars are used by whatever grabs the avatar icons, so you do need to specify those. Edited original comment again.

[2015-02-25 03:39] lee-dohm commented on #5730
Related atom/markdown-preview#178

[2015-02-25 04:23] wvanlint commented on #5724
It looks like I was indirectly calling the wrong executable through the Ubuntu Dash (the one that is also called from the command line).
Sorry but thanks for the help! I'll take a look at the other issue.

[2015-02-25 04:23] #5724 closed

[2015-02-25 05:28] wvanlint commented on #5728
This might only be tangentially related but when I was trying out multi-folders, I was surprised the following state got saved.

* Ran  `atom dir-a` and added another root folder `dir-b` and closed atom again.
* Ran `atom dir-a` again and it remembered the root folder that I added.

I wanted to figure out where it saved its state which led me to `~/.atom/storage` where there are files named by the

[2015-02-25 07:05] gliurn commented on #2177
@juanchaur  the discussion is about atom-shell not NW. Your solution work for both?

[2015-02-25 07:53] zachradtka opened #5731 "Unable to build on CentOS 6.5"
This issue may be related to issue #2177.

My system is
- Cent OS 6.5
- node v0.10.36
- npm 1.4.28

It is important to note that **libgnome-keyring-dev** is not available from the Cent OS 6 repos, so I was unable to install it. I was able to **install gnome-keyring**, but that obviously doesn't have the development headers.

I originally tried to download and run the latest rpm, but I was given th

[2015-02-25 08:02] pre commented on #3928
To the people who want to +1 this problem:

Please [bump the Chromium issue](https://code.google.com/p/chromium/issues/detail?id=397642), the last comment there is "I'm going to call this Fixed now" from November 2014. So if I understood correctly, Chromium project considers this fixed and Atom considers this a Chromium bug.

[2015-02-25 08:31] pbihler commented on #1909
First: Thanks for your initiative on the topic!

From the UX expert perspective, you should strive for consistency as default (First of [Shneiderman's "Eight Golden Rules of Interface Design"](http://faculty.washington.edu/jtenenbg/courses/360/f04/sessions/schneidermanGoldenRules.html)).

If I remember correctly, the default behavior for drag'n' drop in editors, you have:
* Drag'n'Drop for block m

[2015-02-25 08:43] KeitIG commented on #5728
I noticed some bugs, not sure If I have to create a separate issue or if it is ok here.

[code]

- When I rename myfile.js to something else, it goes in myrootfolder-1 root.
- There is no find and replace per root folder (but I think this is already known)
- When you create a new root folder or when you start your editor, all root folders are expanding thelelves.

[2015-02-25 08:45] bglass commented on #3593
Atom version 0.181.0
OS: Ubuntu 14.10
Desktop: KDE 4.14.1

Same behaviour (crash when dragging Firefox Tab) with KDE.

[2015-02-25 08:48] varemenos commented on #1909
+1 to @pbihler 's thoughts

[2015-02-25 09:08] willogden commented on #5384
Had the same issue and removing `text-rendering: optimizeLegibility;` from my user stylesheet fixed it for me.

[2015-02-25 09:54] rpechayr commented on #3928
@ijuma @pre thank you. I've starred the issue on chromium.

[2015-02-25 10:01] Trudko opened #5732 "SetTextInBufferRange resseting range column to zero"
Hi guys  :),

I have question about setTextInBufferRange. I would like to create wrap in tag functionality so I want to indent selected text and put opening and closing tag one line before and one line after the selection. Problem is that if line before and line after are empty (their length is set to zero) column in range is set to zero too.

For example text which i want to surround starts at 8t

[2015-02-25 10:39] gliurn commented on #5731
I have same errors, it came from atom-shell but it seems like there is nobody who find solutions . I hope some people will help us.

[2015-02-25 10:48] nikolaydyankov commented on #5728
@KeitIG

I have experienced the first issue, but I can't figure out what exactly is happening.

[2015-02-25 10:57] stijnsanders opened #5734 "delete EOL: remove preceding whitespace of line"
In the case where you have the cursor at the end of the line, and press delete to remove then EOL, any whitespace at the beginning of the following line should be removed before it is added to the line where the cursor is on. Perhaps only the bit of whitespace that matches with the start of the line the cursor is in (indentation).
This behaviour would act reversly of when enter is pressed and the

[2015-02-25 11:53] seangarner commented on #5690
Thanks @steelbrain for pointing me in the correct direction.
[code]

dpkg -S returned that they weren't installed by a deb so it must have been a hangover from when I tried compiling from source though I don't recall ever installing that way (always used opt myself).

Anyway, now `atom --version` returns the correct version and `apm upgrade` runs.

Apologies for what turned out to be a support tic

[2015-02-25 11:53] #5690 closed

[2015-02-25 12:26] 50Wliu commented on #5731
Isn't this the same issue as #2177?

[2015-02-25 13:01] simurai opened #5735 "Variable UI font-size"
This issue acts as the "umbrella" for everything related to a variable UI font-size. Other related issues: https://github.com/atom/styleguide/pull/25, #4342, #3792,  https://github.com/atom/settings-view/issues/307, https://github.com/atom/atom-dark-ui/issues/24

#### Problem:
Unlike the Syntax font size, there isn't an easy way to change the font size for the UI.

#### Current options:

__1. Styl

[2015-02-25 13:03] Yajo commented on #5712
I think I understand what he means.

Let's suppose `|` is the caret:

    somevar = (|
        this)

Now press `Ctrl+right`. Happens:

    somevar = (
        this|)

I would prefer:

    somevar = (
        |this)

The same with `Ctrl+Del` and `Ctrl+Shift+Right`, etc.

[2015-02-25 13:04] phawxby commented on #5725
+1
Also my system uses a .pac file for internet access meaning when I'm not on the corporate network everything still works. Having a fixed proxy means I need to keep adding and removing depending on where I am. It would be nice for it to fallback if the proxy servers fails to respond

[2015-02-25 13:09] abe33 commented on #5728
@KeitIG @nikolaydyankov I believe it's because the rename operation may do something like `atom.project.getDirectories()[0]` to build the final path.

[2015-02-25 13:15] mathie opened #5736 "Background CPU usage"
I'm running Atom 0.182.0 on Mac OS X 10.10.3. Atom is launched, and with a (Ruby on Rails) project open, but it's in the background while I'm doing something entirely unrelated to it, or the files that it currently has open. (I'm in Safari, submitting a new GitHub issue!) Yet Atom is still chewing through the CPU in the background. iStat Menus is reporting it at ~40% CPU usage on one of the cores.

[2015-02-25 13:52] Phorce opened #5737 "Change "Do you want to quit" buttons"
Basically, this is quite annoying me. Whenever I go to quite an application the buttons are:

"Save", "Cancel", "Don't Save"

I am so used to having:

"Save", "Don't Save", "Cancel"

From switching from Text Sublime. This problem is slightly annoying as whenever I don't want to save, I end up clicking cancel and having to do the process again.

Apologies if this has already been brought up!

![ann

[2015-02-25 14:27] gliurn commented on #5731
Really? this issue end without solution, just a lost guy who speak about NW, don t think i haven t search, all existing issues about atom or atom-shell on CentOS aren t solved they are just close because "CentOS isn t the most popular linux distribution so we don t care"

[2015-02-25 14:28] izuzak opened #5738 "Clicking the gutter for soft-wrapped lines selects the physical line instead of the logical line"
Take from https://github.com/atom/atom/pull/5567#issuecomment-75758499.

When I click on the line's number in the gutter, I expected to see the whole logical line to be selected (that's the behavior in Sublime, for example). Instead, only the physical line is selected (kind of, it strange):

![1](https://cloud.githubusercontent.com/assets/38924/6350264/964de4e4-bc32-11e4-8e79-e7f61220a2c5.gif)

[2015-02-25 14:30] izuzak opened #5739 "Fold icon shown in gutter for all physical lines of soft-wrapped line"
Taken from https://github.com/atom/atom/pull/5567#issuecomment-75758499

Each physical line has a fold icon if the soft-wrapped line has nested lines. Instead, I expected only the first physical line to have the fold icon (that's also the behavior in Sublime).

![2](https://cloud.githubusercontent.com/assets/38924/6350280/af5dd9da-bc32-11e4-9e2d-83b5c07c9373.gif)

[2015-02-25 14:34] izuzak opened #5740 "Folding a soft-wrapped line un-soft-wraps the line"
Taken from https://github.com/atom/atom/pull/5567#issuecomment-75758499.

![3](https://cloud.githubusercontent.com/assets/38924/6350291/c9cb4974-bc32-11e4-9f93-b02e6cc0abfd.gif)

Notice that the paragraphs are soft-wrapped, but after the fold -- the first paragraph is un-soft-wrapped.

[2015-02-25 14:37] zachradtka commented on #5731
Ubuntu is a popular Linux distro, so if software is developed on dependencies that exist in Ubuntu and don't exist in CentOS, then the software being developed will not work on CentOS. I am sure that CentOS 7 would have the dependencies needed to build Atom, but as far as popularity goes, CentOS 6 is much more popular than CentOS 7 because most of the industry is is still using RHEL 6.

It is kind

[2015-02-25 14:43] izuzak commented on #5737
@Phorce Changing the button order now might be equally confusing for all users of Atom that are used to the current behavior (and might have never used Sublime). Do you have any suggestions about minimizing impact for these users?

Also, as far as I can tell, the button order is the same in Atom and Sublime on OSX.

Atom:

![screen shot 2015-02-25 at 15 39 52](https://cloud.githubusercontent.com/a

[2015-02-25 14:49] izuzak commented on #5736
Thanks for the report, @mathie!

There's already a similar issue about this: https://github.com/atom/atom/issues/3426. Could you share more details in that other issue in a comment? Specifically, is this happening consistently for you? If so, is it happening for all projects or only certain projects? If it occurs consistently for a specific project, could you share a link to its repository so we c

[2015-02-25 14:50] izuzak commented on #5736
And please let me know if your report is different than that other one so that we can keep this open (and provide more details about in what way it's different). Thanks!

[2015-02-25 14:50] #5736 closed

[2015-02-25 14:52] Phorce commented on #5737
@izuzak

I've never really noticed it on other operating systems. At work I have to use Windows (Not through choice!)

So in Microsoft Word (Windows):

![annoying2](https://cloud.githubusercontent.com/assets/878780/6372633/89d76d0e-bcfd-11e4-9f49-4ac7b73653a2.png)

In Notepad (Windows)

![annoying2](https://cloud.githubusercontent.com/assets/878780/6372688/cb4cf902-bcfd-11e4-8b45-ab24d76a23df.png)

[2015-02-25 14:58] stijnsanders commented on #5712
Yes, that's it. Thank you.

[2015-02-25 15:26] izuzak commented on #5737
Thanks, @Phorce. If this is the default in most other Windows apps (especially editors), I'd be :+1: on changing the behavior in Atom as well.

[2015-02-25 15:34] Phorce commented on #5737
@izuzak - Aha! Thanks. It was just that I was working on a project today and found it really annoying when I was just trying to click "Don't save"

[2015-02-25 16:03] h-svab commented on #2203
+1

[2015-02-25 16:06] izuzak commented on #5712
@stijnsanders @Yajo -- thanks for explaining. :bow: Could you please also answer these other questions I asked above?

Basically, could you explain the motivation for changing this behavior (some users might be used to this behavior already)?

Also, would adding a new command which you could bind to a keystroke be a solution you could use as well, instead of changing the behavior of the current co

[2015-02-25 16:06] Phorce opened #5741 "Packages not "Clickable" to find out more"
So when you want to find more about a particular package, it is not possible.

For example:

![annoying3](https://cloud.githubusercontent.com/assets/878780/6374348/2e1a24a6-bd08-11e4-95a6-bcbca37e15fd.png)

If I want to know what "color-picker" is, I can't since it won't allow me to go into the pane to find out more. This also does not work for many other packages and means I have to sometimes ins

[2015-02-25 16:19] izuzak commented on #5741
Closing as a duplicate of https://github.com/atom/settings-view/issues/328.

Also, please :eyes: the notes on submitting issues, they offer some useful advice on creating bug reports and feature requests (in this case, advice on opening the issue in the issue tracker for the package you have feedback on):

https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues

[2015-02-25 16:19] #5741 closed

[2015-02-25 16:23] izuzak commented on #5734
Can you explain _why_ this should be done? I'm not seeing that behavior in SublimeText, for example, and I'm not sure I understand the motivation.

Also, would using a package which provides this feature be something you'd consider instead of making this a default for all users?

[2015-02-25 17:01] stijnsanders commented on #5712
It is the default behaviour in most, if not all, other editors. I doubt any users are used to this behaviour already (but those things are hard to get metrics on, aren't they.)

In case you disagree, yes a new command would do fine.

[2015-02-25 17:08] Trudko opened #5742 "Debugging JavaScript files by built in debugger"
Hi :),

I couldn't find a way how to debug any random javascript file in built in developer tool bar. It is possible to debug packages but not the any other files? What am I missing?

[2015-02-25 17:08] izuzak commented on #5712
For completeness, could you give a few examples of popular text editors where this is the behavior?

[2015-02-25 17:21] izuzak commented on #5723
Thanks for the report, @mMerlin.

I tried really hard, but couldn't reproduce this. @maxbrunsfeld @nathansobo I'm guessing you might have :thought_balloon:/:bulb: about this since you've been working on [this part of text-buffer](https://github.com/atom/text-buffer/blob/72bd8f55a708c76d02c149445614b0e90ce42430/src/history.coffee#L43).

What would need to happen for this to be triggered during norm

[2015-02-25 17:30] wvanlint commented on #5663
If you haven't started working on it, would you mind if I take a look?
It also seems that the directory expansion states are not maintained over restarts since they got stored as a list.

I tried something out here: https://github.com/wvanlint/tree-view/compare/save_expansions
It seems to work when I try it out but I'm still working on getting the tests to pass.
Due to the data structure, root fol

[2015-02-25 17:50] benogle commented on #5735
Thanks for pulling all these things together it's definitely a problem. I think maybe we could have a ui font size config option. There are really 2 UI font sizes:

* UI text: tree-view, status-bar, fnr, tabs, etc.
* Pane item content: markdown preview, styleguide, settings view

Maybe we would set an option for one of them, say, UI text, and pane item content text is derivative of that option.

[2015-02-25 17:50] 1j01 commented on #2985
:+1: If I have projects in my favorites bar, I would like to be able to drag them to atom to open them.

[2015-02-25 17:55] izuzak commented on #5703
This issue was moved to atom/settings-view#394

[2015-02-25 17:55] #5703 closed

[2015-02-25 18:02] izuzak commented on #5696
I was able to reproduce this:

![double](https://cloud.githubusercontent.com/assets/38924/6376850/bb31991a-bd20-11e4-9233-746613a9eed2.gif)

[2015-02-25 18:09] izuzak commented on #5693
cc @nathansobo @benogle for :eyes: -- is this a bug or should we change the docs?

[2015-02-25 18:12] benogle commented on #5693
I think it's a bug. We could just move that line into the try.

[2015-02-25 18:16] izuzak commented on #5691
Thanks for the suggestion, please see my reply on a similar issue https://github.com/atom/atom/issues/3716.

If it was hard for you to discover that it's possible to add Lua support with a package, I'd suggest opening another issue with a suggestion about how to improve the documentation or the first-run experience so that it's easier to discover.

[2015-02-25 18:16] #5691 closed

[2015-02-25 18:18] as-cii commented on #5025
That's an objective we should pursue whenever possible and, for sure, there are some events which are eligible for such improvement. On the other hand, I have made several experiments (and reasoned a bit better about the code) and it turns out that such improvements won't solve many of the repetitive updates that we currently perform. Let's take multi-line insertions as an example and pretend for

[2015-02-25 18:27] crucialfelix opened #5743 "Failed to activate package - can we improve user notification ?"
I am the developer of a package https://atom.io/packages/supercollider

Recently the package stopped working due to 6to5 raising an issue with unsafe use of eval in a dependency of a dependency of a dependency of atom-supercollider. Its functionality that is not even being used in atom-supercollider

1. The user isn't informed that the package failed to activate, has to look in console
2. There is

[2015-02-25 18:32] izuzak commented on #5676
@aridlehoover This definitely seems to be related to the circle ci extension. I'm guessing that it didn't clean up after itself correctly, and you just need to restart Atom to make it go away. Let us know if you can reproduce this in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode), though!

[2015-02-25 18:32] #5676 closed

[2015-02-25 18:36] maxbrunsfeld commented on #5663
@wvanlint that'd be awesome; I'd definitely merge a PR fixing this issue. Can you add a test for this too? I can give you some guidance if you have any issues working w/ our test suite. Thanks!

[2015-02-25 18:45] nathansobo commented on #5025
You may be right that it's not worth the complexity, but we shouldn't need to mess with *every* row. I would imagine the routine looking like this:

* Remove lines in the old range
* Insert lines in the new range
* Insert or remove lines at the end to fill or spill based on lines being inserted or removed.

Not sure how big a savings that represents over just scanning all the lines, but in simple

[2015-02-25 19:10] lee-dohm commented on #5743
/cc @kevinsawicki @bolinfest

[2015-02-25 19:19] kevinsawicki commented on #5743
Yeah, I think notifications for packages that fail to load/activate is the right first step here.

[2015-02-25 19:28] D-side commented on #5728
My suggestions are related to `atom` CLI helper:

* when multiple paths are given to `atom`, all of them should be opened in a single window (works for files so far, not for folders)
  * right now it reacts really weirdly: opens given files in an existing window and opens a new window for each given folder
  * it's not obvious how it should be affected by `--new-window` (if should be)
* when an ex

[2015-02-25 19:33] Zireael07 commented on #5622
There's a linter package and two lua linting scripts. Maybe that's what you want?

[2015-02-25 19:33] fulldecent opened #5745 "Code highlight issue -- support Jekyll front matter"
Jekyll front matter may be added to the top of any file and it is signified by `---` and `---` to contain extra content.

This is erroneously being interpreted as HTML by Atom. In this example you can see the `&` symbol showing an error because it is not valid HTML.

![screen shot 2015-02-25 at 2 31 36 pm](https://cloud.githubusercontent.com/assets/382183/6378706/12f8eb60-bcfb-11e4-8620-770c889f07

[2015-02-25 19:36] Zireael07 commented on #5554
Regarding install, I would like to see the progress data shown in some way.

Regarding updates, clicking update tells me 0.182 is the latest one, which is not true as of an hour ago.

[2015-02-25 19:36] maxbrunsfeld commented on #5728
@D-side I believe all of your suggestions are implemented in Atom's latest release.

[2015-02-25 19:39] fpcorso opened #5746 "Uncaught Error: ENOENT"
I received this error message:
Uncaught Error: ENOENT, open 'C:\Users\Frank\Google Drive\My_Local_webstop\Clients\VVIS\1.0\main.less'
C:\Users\Frank\.atom\packages\atom-compile-less\lib\atom-compile-less.coffee:15

Here is the stack trace:
Error: ENOENT, open 'C:\Users\Frank\Google Drive\My_Local_webstop\Clients\VVIS\1.0\main.less'
  at Error (native)

This is what it said:
This is likely a bug in

[2015-02-25 19:41] maxbrunsfeld commented on #5728
@KeitIG Thanks for the report. This is fixed on master.

[2015-02-25 19:42] fpcorso commented on #5746
Hmmm, now the package is throwing its own error :Uncaught Error: Unrecognised input which I created an issue for in its repository.

[2015-02-25 19:42] jimgraham commented on #5737
This is an MS design pattern. For example https://msdn.microsoft.com/en-ca/library/windows/apps/hh738363.aspx

This is the opposite of the Mac.

[2015-02-25 19:43] izuzak commented on #5746
Which version of Atom are you using, @fpcorso, and can you reproduce the problem in the latest version? 0.183.0 -- https://github.com/atom/atom/releases/latest

https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues

Can you reproduce the problem in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)? Can you post t

[2015-02-25 19:45] Phorce commented on #5737
I think that it should be the same on a PC but obviously leave it for Mac
Linux etc..

I assume that you can edit, this anyway? I have not had chance to grab the
source as of yet but might look into it at the weekend!
On 25 Feb 2015 15:26, "Ivan Žužak" <notifications@github.com> wrote:

[2015-02-25 19:46] mark-hahn commented on #1909
Yes that sounds correct for when my crazy cut/copy/paste features are disabled.  The behavior is going to be very different with that setting set.  It should almost be different packages.

[2015-02-25 19:47] izuzak commented on #5745
You opened an HTML file as far as I can tell, so Atom interpreted it as HTML. What did you expect would happen instead and why?

[2015-02-25 19:51] bucaran commented on #5460
There should be both `.atomrc.cson` and `.atomkey` files with configuration that is applied after Atom loads `.atom/config.cson` and `.atom/keymap.cson`.

[2015-02-25 19:52] fpcorso commented on #5746
Ah, I should have included much more information indeed.

OS: Windows 7
Atom: 0.182.0 --says latest version when checking for updates
Picture of the error:
![atom_errors](https://cloud.githubusercontent.com/assets/9730040/6379086/8c433ece-bcfd-11e4-9652-578a77d6e848.png)
The only errors listed in the dev tools are the two shown here.
No errors are shown when saving the .less in safe mode

[2015-02-25 19:54] fpcorso commented on #5746
I have already created a separate issue in the package's repository for the error shown underneath which says is from the package.

[2015-02-25 19:54] izuzak commented on #5745
Can you share some links to language specifications which back this up (e.g. HTML, which you use in the screenshot)? The fact that Jekyll (a single specific tool) can interpret that doesn't mean that every language grammar should report it as a valid string (because it's not).

You might consider building a package which adds support for that, though (since it's related to a specific tool and use-

[2015-02-25 19:56] izuzak commented on #5746
@fpcorso Is there are reason why you didn't use the "Create issue on atom/atom" button to create the issue? That would have included much more debugging information which would be helpful. Can you do that now, please, and close this?

[2015-02-25 20:01] mark-hahn commented on #5554
The delay can be up to a day or two.

On Wed, Feb 25, 2015 at 11:36 AM, Zireael07 <notifications@github.com>
wrote:

[2015-02-25 20:02] fpcorso commented on #5746
I have tried. I clicked on it and it doesn't do anything.

[2015-02-25 20:02] fpcorso commented on #5746
I tried on numerous instances of this error thinking that perhaps it was one-time not working. It has not worked any time that I have clicked on it.

[2015-02-25 20:03] fpcorso commented on #5746
I have switched packages to less-autocompile instead and the error is no longer shown so it is more than likely a compatibility issue with the original atom-compile-less package that I was using.

[2015-02-25 20:03] ewhitebloom opened #5747 "Uncaught InvalidCharacterError: Failed to execute 'add' on 'DOMTokenList': The token provided ('highlight-selected background') contains HTML space characters, which are not valid in tokens."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.183.0
**System**: Mac OS X 10.10.2
**Thrown From**: Atom Core

### Stack Trace

Uncaught InvalidCharacterError: Failed to execute 'add' on 'DOMTokenList': The token provided ('highlight-selected background') contains HTML space characters, which are not valid in tokens.

[code]

### Commands

[code]

### Config

[code]

### Inst

[2015-02-25 20:06] izuzak commented on #5747
@nathansobo Is this a problem in the `highlight-selected` package? Seeing it for the first time in 0.183, so just want to double-check.

[2015-02-25 20:06] jimgraham commented on #5670
This error occurs at:
https://github.com/atom/atom/blob/master/src/browser/auto-update-manager.coffee#L92

and

https://github.com/atom/atom/blob/master/src/browser/auto-update-manager.coffee#L103

Commenting out those lines in the corresponding `.js` files in my 0.183 install gives the correct icon look (since the change made to `atom-shell`)

![atom](https://cloud.githubusercontent.com/assets/43

[2015-02-25 20:07] fulldecent commented on #5745
Yes, language is specified here:

http://jekyllrb.com/docs/frontmatter/

Front matter can be prepended to any text file.

I do note that it is correctly detected and highlighted in this markdown file. Architecture-wise I am not sure where/how this should be implemented in Atom.

![screen shot 2015-02-25 at 3 05 58 pm](https://cloud.githubusercontent.com/assets/382183/6379380/db0de5de-bcff-11e4-9b1

[2015-02-25 20:11] benogle commented on #5747
Yes. They are probably passing in `'highlight-selected background'` as a className for some decoration, which is not allowed by `element.classList.add`. We could check for this, though, and throw a warning?

[2015-02-25 20:11] D-side commented on #5728
@maxbrunsfeld okay, just installed the latest build. Yeah, great!

One thing is missing though, if `--multi-folders` is given a file, its enclosing folder is added too. Sometimes. Sometimes not. Failing to find the cause of this so far. The only clue I currently have is that if I open the first folder in Atom for the first time, enclosing folder is added.

---

UPD: hey, that's interesting. I may

[2015-02-25 20:13] ender3 opened #5748 "Allow Saving in UTF-* with BOM"
Leaving aside all arguments about whether a Byte Order Marker is a good thing or a bad thing (I don't much care) there are situations in which software which will be reading the files produced by atom require it to be there. This should be an option in the encodings menu.

Further if a Byte Order Mark is present in a file, it should not be displayed (it currently is), and should be kept in its cur

[2015-02-25 20:14] izuzak commented on #5745
That's Jekyll's documentation, which is a single specific tool. Does the HTML spec allow front matter?

I'm :-1: on adding support for this in all languages as something that should be included by default. If anything, it should be supported by a package. That's why packages are here. Otherwise, would we be discussing adding support for every type of such extensions which can be added to any file

[2015-02-25 20:17] maxbrunsfeld commented on #5728
Yeah @D-side I'm glad you brought that up. That's the current expected behavior, as our logic is currently very simple: window states are restored from the last window that was opened with the same combination of paths. I'd really like to get more people's feedback on this. Maybe there should be additional logic where we always make sure that all paths provided as arguments are added, even if they

[2015-02-25 20:22] mehcode commented on #5728
That would be amazing if all state was serialized into explicit project files (that could be implicitly created from the initial root folder).